<div class="container" style="padding: 1rem !important; margin-bottom: 1rem !important;">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 d-flex justify-content-between"
            style="border-bottom: 1px solid #d5d5d5;">
            <div class="my-3">
                <img src="./assets/icons/logo.png" style="width: auto !important; height: 40px !important;">
            </div>
            <div class="my-3 d-flex align-items-center">
                <div
                    style="background-color: #7C7BAD !important; color: #fff !important; font-weight: 600 !important; padding: 5px 15px 8px !important; margin: 0 5px !important;">
                    <i class="fa fa-check mr-1"></i>Community
                </div>
                <div
                    style="background-color: #875A7B !important; color: #fff !important; font-weight: 600 !important; padding: 5px 15px 8px !important; margin: 0 5px !important;">
                    <i class="fa fa-check mr-1"></i>Enterprise
                </div>

            </div>
        </div>
    </div>
</div>

<div class="container" style="padding: 0rem 1.5rem 4rem !important">
    <div class="row" style="height: 900px !important;">
        <div class="col-sm-12 col-md-12 col-lg-12"
            style="padding: 4rem 1rem !important; background-color: #714B67 !important; height: 600px !important; border-radius: 20px !important;">
            <h1
                style="font-family: 'Montserrat', sans-serif !important; font-weight: 600 !important; color: #FFFFFF !important;  font-size: 3.5rem !important; text-align: center !important;">
                Time Picker Field</h1>
            <p
                style="font-family: 'Montserrat', sans-serif !important; font-weight: 300 !important; color: #FFFFFF !important;  font-size: 1.4rem !important; text-align: center !important;">
                Add Time Picker Widget That Can Be Used With Character Type Fields In Odoo
            </p>
            <img src="./assets/screenshots/hero.png" class="img-responsive" width="100%" height="auto" />
        </div>
    </div>

    <div class="row">
        <div class="col-md-12" style="border-bottom: 1px solid #d5d5d5 !important; margin-bottom: 2rem !important">
            <h2
                style="font-family: 'Montserrat', sans-serif !important; font-weight: 600 !important; color: #714B67 !important; font-size: 1.5rem !important;">
                <i class="fa fa-compass mr-2"></i>Explore this module
            </h2>
        </div>
        <div class="col-md-6">
            <a href="#overview" style="text-decoration: none !important;">
                <div class="row"
                    style="background-color: #f5f2f5 !important; border-radius: 10px !important; margin: 1rem !important; padding: 1.5em !important; height: 100px !important;">
                    <div class="col-8">
                        <h3
                            style="font-family: 'Montserrat', sans-serif !important; font-weight: 600 !important; color: #714B67 !important; font-size: 1.2rem !important;">
                            Overview</h3>
                        <p
                            style="font-family: 'Roboto', sans-serif !important; font-weight: 400 !important; color: #714B67 !important; font-size: 0.9rem !important;">
                            Learn more about this module</p>
                    </div>
                    <div class="col-4 text-right d-flex justify-content-end align-items-center">
                        <i class="fa fa-chevron-right" style="color: #714B67 !important;"></i>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-6">
            <a href="#features" style="text-decoration: none !important;">
                <div class="row"
                    style="background-color: #f5f2f5 !important; border-radius: 10px !important; margin: 1rem !important; padding: 1.5em !important; height: 100px !important;">
                    <div class="col-8">
                        <h3
                            style="font-family: 'Montserrat', sans-serif !important; font-weight: 600 !important; color: #714B67 !important; font-size: 1.2rem !important;">
                            Features</h3>
                        <p
                            style="font-family: 'Roboto', sans-serif !important; font-weight: 400 !important; color: #714B67 !important; font-size: 0.9rem !important;">
                            View features of this module</p>
                    </div>
                    <div class="col-4 text-right d-flex justify-content-end align-items-center">
                        <i class="fa fa-chevron-right" style="color: #714B67 !important;"></i>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-6">
            <a href="#screenshots" style="text-decoration: none !important;">
                <div class="row"
                    style="background-color: #f5f2f5 !important; border-radius: 10px !important; margin: 1rem !important; padding: 1.5em !important; height: 100px !important;">
                    <div class="col-8">
                        <h3
                            style="font-family: 'Montserrat', sans-serif !important; font-weight: 600 !important; color: #714B67 !important; font-size: 1.2rem !important;">
                            Screenshots</h3>
                        <p
                            style="font-family: 'Roboto', sans-serif !important; font-weight: 400 !important; color: #714B67 !important; font-size: 0.9rem !important;">
                            See key screenshots of this module</p>
                    </div>
                    <div class="col-4 text-right d-flex justify-content-end align-items-center">
                        <i class="fa fa-chevron-right" style="color: #714B67 !important;"></i>
                    </div>
                </div>
            </a>
        </div>
    </div>


    <div class="row" id="overview">
        <div class="col-md-12" style="border-bottom: 1px solid #d5d5d5 !important; margin: 2rem 0 !important">
            <h2
                style="font-family: 'Montserrat', sans-serif !important; font-weight: 600 !important; color: #714B67 !important; font-size: 1.5rem !important;">
                <i class="fa fa-pie-chart mr-2"></i>Overview
            </h2>
        </div>

        <div class="col-mg-12 pl-3">
            <p
                style="font-family: 'Roboto', sans-serif !important; font-weight: 400 !important; color: #282F33 !important; font-size: 1rem !important; line-height: 30px !important;">
                The module allows the user to add time picker widget that can be used with character type fields in
                Odoo
                using the jQuery plugin 'Wickedpicker'.
            </p>

        </div>
    </div>


    <div class="row" id="features">
        <div class="col-md-12" style="border-bottom: 1px solid #d5d5d5 !important; margin: 2rem 0 !important">
            <h2
                style="font-family: 'Montserrat', sans-serif !important; font-weight: 600 !important; color: #714B67 !important; font-size: 1.5rem !important;">
                <i class="fa fa-star mr-2"></i>Features
            </h2>
        </div>

        <div class="col-md-6 pl-3 d-flex">
            <div>
                <img src="assets/icons/check.png">
            </div>
            <div>
                <h4
                    style="font-family: 'Roboto', sans-serif !important; font-weight: 600 !important; color: #282F33 !important; font-size: 1.3rem !important;">

                    Time picker for character fields</h4>

            </div>
        </div>

        <div class="col-md-6 pl-3 d-flex">
            <div>
                <img src="assets/icons/check.png">
            </div>
            <div>
                <h4
                    style="font-family: 'Roboto', sans-serif !important; font-weight: 600 !important; color: #282F33 !important; font-size: 1.3rem !important;">

                    Time picker in 24 hour format</h4>

            </div>
        </div>

    </div>

    <div class="row" id="screenshots">
        <div class="col-md-12" style="border-bottom: 1px solid #d5d5d5 !important; margin: 2rem 0 !important">
            <h2
                style="font-family: 'Montserrat', sans-serif !important; font-weight: 600 !important; color: #714B67 !important; font-size: 1.5rem !important;">
                <i class="fa fa-image mr-2"></i>Screenshots
            </h2>
        </div>
        <div class="col-lg-12 my-2">
            <h4 class="mt-2"
                style="font-family: 'Roboto', sans-serif !important; font-weight: 600 !important; color: #282F33 !important; font-size: 1.3rem !important;">
                Time Picker Field</h4>
            <p
                style="font-family: 'Roboto', sans-serif !important; font-weight: 400 !important; color: #282F33 !important; font-size: 1rem !important;">
                Once the widget is linked with the field, you will see a picker for time selection. Note that the
                picker will be in 24 hours format.
            </p>
            <img src="assets/screenshots//screenshot-1.png" class="img-responsive img-thumbnail border" width="100%"
                height="auto" />
        </div>
    </div>

    <!-- SUGGESTED PRODUCTS -->
    <div class="row">
        <div class="col-lg-12 d-flex flex-column justify-content-center"
            style="text-align: center; padding: 2.5rem 1rem !important;">
            <h2 style="color: #212529 !important;">Suggested Products</h2>
            <hr
                style="border: 3px solid #714B67 !important; background-color: #714B67 !important; width: 80px !important; margin-bottom: 2rem !important;" />

            <div id="demo1" class="row carousel slide" data-ride="carousel">
                <!-- The slideshow -->
                <div class="carousel-inner">
                    <div class="carousel-item active" style="min-height:0px">
                        <div class="col-xs-12 col-sm-4 col-md-4 mb16 mt16" style="float:left">
                            <a href="https://apps.odoo.com/apps/modules/14.0/employee_orientation/" target="_blank">
                                <div style="border-radius:10px">
                                    <img class="img img-responsive center-block"
                                        style="border-top-left-radius:10px; border-top-right-radius:10px"
                                        src="./assets/modules/1.png">
                                </div>
                            </a>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-4 mb16 mt16" style="float:left">
                            <a href="https://apps.odoo.com/apps/modules/14.0/employee_documents_expiry/"
                                target="_blank">
                                <div style="border-radius:10px">
                                    <img class="img img-responsive center-block"
                                        style="border-top-left-radius:10px; border-top-right-radius:10px"
                                        src="./assets/modules/2.png">
                                </div>
                            </a>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-4 mb16 mt16" style="float:left">
                            <a href="https://apps.odoo.com/apps/modules/14.0/automatic_payroll/" target="_blank">
                                <div style="border-radius:10px">
                                    <img class="img img-responsive center-block"
                                        style="border-top-left-radius:10px; border-top-right-radius:10px"
                                        src="./assets/modules/3.png">
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="carousel-item" style="min-height:0px">
                        <div class="col-xs-12 col-sm-4 col-md-4 mb16 mt16" style="float:left">
                            <a href="https://apps.odoo.com/apps/modules/14.0/product_return_pos/" target="_blank">
                                <div style="border-radius:10px">
                                    <img class="img img-responsive center-block"
                                        style="border-top-left-radius:10px; border-top-right-radius:10px"
                                        src="./assets/modules/4.png">
                                </div>
                            </a>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-4 mb16 mt16" style="float:left">
                            <a href="https://apps.odoo.com/apps/modules/14.0/point_of_sale_logo" target="_blank">
                                <div style="border-radius:10px">
                                    <img class="img img-responsive center-block"
                                        style="border-top-left-radius:10px; border-top-right-radius:10px"
                                        src="./assets/modules/5.png">
                                </div>
                            </a>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-4 mb16 mt16" style="float:left">
                            <a href="https://apps.odoo.com/apps/modules/14.0/invoice_format_editor/" target="_blank">
                                <div style="border-radius:10px">
                                    <img class="img img-responsive center-block"
                                        style="border-top-left-radius:10px; border-top-right-radius:10px"
                                        src="./assets/modules/6.png">
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- Left and right controls -->
                <a class="carousel-control-prev" href="#demo1" data-slide="prev"
                    style="left:-25px;width: 35px;color: #000;"> <span class="carousel-control-prev-icon"><i
                            class="fa fa-chevron-left" style="font-size:24px"></i></span> </a> <a
                    class="carousel-control-next" href="#demo1" data-slide="next"
                    style="right:-25px;width: 35px;color: #000;">
                    <span class="carousel-control-next-icon"><i class="fa fa-chevron-right"
                            style="font-size:24px"></i></span>
                </a>
            </div>
        </div>
    </div>
    <!-- END OF SUGGESTED PRODUCTS -->

    <!-- OUR SERVICES -->
    <section class="container" style="margin-top: 6rem !important;">
        <div class="row">
            <div class="col-lg-12 d-flex flex-column justify-content-center align-items-center">
                <h2 style="color: #212529 !important;">Our Services</h2>
                <hr
                    style="border: 3px solid #714B67 !important; background-color: #714B67 !important; width: 80px !important; margin-bottom: 2rem !important;" />
            </div>

            <div class="col-lg-4 d-flex flex-column justify-content-center align-items-center my-4">
                <div class="d-flex justify-content-center align-items-center mx-3 my-3"
                    style="background-color: #1dd1a1 !important; border-radius: 15px !important; height: 80px; width: 80px;">
                    <img src="assets/icons/cogs.png" class="img-responsive" height="48px" width="48px">
                </div>
                <h6 class="text-center" style="font-family: Montserrat, 'sans-serif' !important; font-weight: bold;">
                    Odoo
                    Customization</h6>
            </div>

            <div class="col-lg-4 d-flex flex-column justify-content-center align-items-center my-4">
                <div class="d-flex justify-content-center align-items-center mx-3 my-3"
                    style="background-color: #ff6b6b !important; border-radius: 15px !important; height: 80px; width: 80px;">
                    <img src="assets/icons/wrench.png" class="img-responsive" height="48px" width="48px">
                </div>
                <h6 class="text-center" style="font-family: Montserrat, 'sans-serif' !important; font-weight: bold;">
                    Odoo
                    Implementation</h6>
            </div>

            <div class="col-lg-4 d-flex flex-column justify-content-center align-items-center my-4">
                <div class="d-flex justify-content-center align-items-center mx-3 my-3"
                    style="background-color: #6462CD !important; border-radius: 15px !important; height: 80px; width: 80px;">
                    <img src="assets/icons/lifebuoy.png" class="img-responsive" height="48px" width="48px">
                </div>
                <h6 class="text-center" style="font-family: Montserrat, 'sans-serif' !important; font-weight: bold;">
                    Odoo
                    Support</h6>
            </div>


            <div class="col-lg-4 d-flex flex-column justify-content-center align-items-center my-4">
                <div class="d-flex justify-content-center align-items-center mx-3 my-3"
                    style="background-color: #ffa801 !important; border-radius: 15px !important; height: 80px; width: 80px;">
                    <img src="assets/icons/user.png" class="img-responsive" height="48px" width="48px">
                </div>
                <h6 class="text-center" style="font-family: Montserrat, 'sans-serif' !important; font-weight: bold;">
                    Hire
                    Odoo
                    Developer</h6>
            </div>

            <div class="col-lg-4 d-flex flex-column justify-content-center align-items-center my-4">
                <div class="d-flex justify-content-center align-items-center mx-3 my-3"
                    style="background-color: #54a0ff  !important; border-radius: 15px !important; height: 80px; width: 80px;">
                    <img src="assets/icons/puzzle.png" class="img-responsive" height="48px" width="48px">
                </div>
                <h6 class="text-center" style="font-family: Montserrat, 'sans-serif' !important; font-weight: bold;">
                    Odoo
                    Integration</h6>
            </div>

            <div class="col-lg-4 d-flex flex-column justify-content-center align-items-center my-4">
                <div class="d-flex justify-content-center align-items-center mx-3 my-3"
                    style="background-color: #6d7680 !important; border-radius: 15px !important; height: 80px; width: 80px;">
                    <img src="assets/icons/update.png" class="img-responsive" height="48px" width="48px">
                </div>
                <h6 class="text-center" style="font-family: Montserrat, 'sans-serif' !important; font-weight: bold;">
                    Odoo
                    Migration</h6>
            </div>


            <div class="col-lg-4 d-flex flex-column justify-content-center align-items-center my-4">
                <div class="d-flex justify-content-center align-items-center mx-3 my-3"
                    style="background-color: #786fa6 !important; border-radius: 15px !important; height: 80px; width: 80px;">
                    <img src="assets/icons/consultation.png" class="img-responsive" height="48px" width="48px">
                </div>
                <h6 class="text-center" style="font-family: Montserrat, 'sans-serif' !important; font-weight: bold;">
                    Odoo
                    Consultancy</h6>
            </div>

            <div class="col-lg-4 d-flex flex-column justify-content-center align-items-center my-4">
                <div class="d-flex justify-content-center align-items-center mx-3 my-3"
                    style="background-color: #f8a5c2 !important; border-radius: 15px !important; height: 80px; width: 80px;">
                    <img src="assets/icons/training.png" class="img-responsive" height="48px" width="48px">
                </div>
                <h6 class="text-center" style="font-family: Montserrat, 'sans-serif' !important; font-weight: bold;">
                    Odoo
                    Implementation</h6>
            </div>

            <div class="col-lg-4 d-flex flex-column justify-content-center align-items-center my-4">
                <div class="d-flex justify-content-center align-items-center mx-3 my-3"
                    style="background-color: #e6be26 !important; border-radius: 15px !important; height: 80px; width: 80px;">
                    <img src="assets/icons/license.png" class="img-responsive" height="48px" width="48px">
                </div>
                <h6 class="text-center" style="font-family: Montserrat, 'sans-serif' !important; font-weight: bold;">
                    Odoo
                    Licensing Consultancy</h6>
            </div>
        </div>
    </section>
    <!-- END OF END OF OUR SERVICES -->

    <!-- OUR INDUSTRIES -->
    <section class="container" style="margin-top: 6rem !important;">
        <div class="row">
            <div class="col-lg-12 d-flex flex-column justify-content-center align-items-center">
                <h2 style="color: #212529 !important;">Our Industries</h2>
                <hr
                    style="border: 3px solid #714B67 !important; background-color: #714B67 !important; width: 80px !important; margin-bottom: 2rem !important;" />
            </div>

            <div class="col-lg-3">
                <div class="my-4 d-flex flex-column justify-content-center"
                    style="background-color: #f6f8f9 !important; border-radius: 10px; padding: 2rem !important; height: 250px !important;">
                    <img src="./assets/icons/trading-black.png" class="img-responsive mb-3" height="48px" width="48px">
                    <h5
                        style="font-family: Montserrat, sans-serif !important; color: #000 !important; font-weight: bold;">
                        Trading
                    </h5>
                    <p style="font-family: Montserrat, sans-serif !important; font-size: 0.9rem !important;">
                        Easily procure
                        and
                        sell your products</p>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="my-4 d-flex flex-column justify-content-center"
                    style="background-color: #f6f8f9 !important; border-radius: 10px; padding: 2rem !important; height: 250px !important;">
                    <img src="./assets/icons/pos-black.png" class="img-responsive mb-3" height="48px" width="48px">
                    <h5
                        style="font-family: Montserrat, sans-serif !important; color: #000 !important; font-weight: bold;">
                        POS
                    </h5>
                    <p style="font-family: Montserrat, sans-serif !important; font-size: 0.9rem !important;">
                        Easy
                        configuration
                        and convivial experience</p>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="my-4 d-flex flex-column justify-content-center"
                    style="background-color: #f6f8f9 !important; border-radius: 10px; padding: 2rem !important; height: 250px !important;">
                    <img src="./assets/icons/education-black.png" class="img-responsive mb-3" height="48px"
                        width="48px">
                    <h5
                        style="font-family: Montserrat, sans-serif !important; color: #000 !important; font-weight: bold;">
                        Education
                    </h5>
                    <p style="font-family: Montserrat, sans-serif !important; font-size: 0.9rem !important;">
                        A platform for
                        educational management</p>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="my-4 d-flex flex-column justify-content-center"
                    style="background-color: #f6f8f9 !important; border-radius: 10px; padding: 2rem !important; height: 250px !important;">
                    <img src="./assets/icons/manufacturing-black.png" class="img-responsive mb-3" height="48px"
                        width="48px">
                    <h5
                        style="font-family: Montserrat, sans-serif !important; color: #000 !important; font-weight: bold;">
                        Manufacturing
                    </h5>
                    <p style="font-family: Montserrat, sans-serif !important; font-size: 0.9rem !important;">
                        Plan, track and
                        schedule your operations</p>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="my-4 d-flex flex-column justify-content-center"
                    style="background-color: #f6f8f9 !important; border-radius: 10px; padding: 2rem !important; height: 250px !important;">
                    <img src="./assets/icons/ecom-black.png" class="img-responsive mb-3" height="48px" width="48px">
                    <h5
                        style="font-family: Montserrat, sans-serif !important; color: #000 !important; font-weight: bold;">
                        E-commerce &amp; Website
                    </h5>
                    <p style="font-family: Montserrat, sans-serif !important; font-size: 0.9rem !important;">
                        Mobile
                        friendly,
                        awe-inspiring product pages</p>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="my-4 d-flex flex-column justify-content-center"
                    style="background-color: #f6f8f9 !important; border-radius: 10px; padding: 2rem !important; height: 250px !important;">
                    <img src="./assets/icons/service-black.png" class="img-responsive mb-3" height="48px" width="48px">
                    <h5
                        style="font-family: Montserrat, sans-serif !important; color: #000 !important; font-weight: bold;">
                        Service Management
                    </h5>
                    <p style="font-family: Montserrat, sans-serif !important; font-size: 0.9rem !important;">
                        Keep track of
                        services and invoice</p>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="my-4 d-flex flex-column justify-content-center"
                    style="background-color: #f6f8f9 !important; border-radius: 10px; padding: 2rem !important; height: 250px !important;">
                    <img src="./assets/icons/restaurant-black.png" class="img-responsive mb-3" height="48px"
                        width="48px">
                    <h5
                        style="font-family: Montserrat, sans-serif !important; color: #000 !important; font-weight: bold;">
                        Restaurant
                    </h5>
                    <p style="font-family: Montserrat, sans-serif !important; font-size: 0.9rem !important;">
                        Run your bar or
                        restaurant methodically</p>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="my-4 d-flex flex-column justify-content-center"
                    style="background-color: #f6f8f9 !important; border-radius: 10px; padding: 2rem !important; height: 250px !important;">
                    <img src="./assets/icons/hotel-black.png" class="img-responsive mb-3" height="48px" width="48px">
                    <h5
                        style="font-family: Montserrat, sans-serif !important; color: #000 !important; font-weight: bold;">
                        Hotel Management
                    </h5>
                    <p style="font-family: Montserrat, sans-serif !important; font-size: 0.9rem !important;">
                        An
                        all-inclusive
                        hotel management application</p>
                </div>
            </div>

        </div>
    </section>

    <!-- END OF END OF OUR INDUSTRIES -->

    <!-- FOOTER -->
    <!-- Footer Section -->
    <section class="container" style="margin: 5rem auto 2rem;">
        <div class="row" style="max-width:1540px;">
            <div class="col-lg-12 d-flex flex-column justify-content-center align-items-center">
                <h2 style="color: #212529 !important;">Need Help?</h2>
                <hr
                    style="border: 3px solid #714B67 !important; background-color: #714B67 !important; width: 80px !important; margin-bottom: 2rem !important;" />
            </div>
        </div>

        <!-- Contact Cards -->
        <div class="row d-flex justify-content-center align-items-center"
            style="max-width:1540px; margin: 0 auto 2rem auto;">

            <div class="col-lg-12" style="padding: 0rem 3rem 2rem; border-radius: 10px; margin-right: 3rem; ">

                <div class="row mt-4">
                    <div class="col-lg-6">
                        <a href="mailto:odoo@cybrosys.com" target="_blank" class="btn btn-block mb-2 deep_hover"
                            style="text-decoration: none;  background-color: #4d4d4d; color: #FFF;  border-radius: 4px;"><i
                                class="fa fa-envelope mr-2"></i>odoo@cybrosys.com</a>
                    </div>
                    <div class="col-lg-6">
                        <a href="https://api.whatsapp.com/send?phone=918606827707" target="_blank"
                            class="btn btn-block mb-2 deep_hover"
                            style="text-decoration: none;  background-color: #25D366; color: #FFF;  border-radius: 4px;"><i
                                class="fa fa-whatsapp mr-2"></i>WhatsApp</a>
                    </div>
                </div>
            </div>

        </div>
        <!-- End of Contact Cards -->
    </section>
    <!-- Footer -->
    <section class="oe_container" style="padding: 2rem 3rem 1rem;">
        <div class="row" style="max-width:1540px; margin: 0 auto; margin-right: 3rem; ">
            <!-- Logo -->
            <div class="col-lg-12 d-flex justify-content-center align-items-center" style="margin-top: 3rem;">
                <img src="https://www.cybrosys.com/images/logo.png" width="200px" height="auto" />
            </div>
            <!-- End of Logo -->
            <div class="col-lg-12">
                <hr
                    style="margin-top: 3rem;background: linear-gradient(90deg, rgba(2,0,36,0) 0%, rgba(229,229,229,1) 33%, rgba(229,229,229,1) 58%, rgba(0,212,255,0) 100%); height: 2px; border-style: none;">
                <!-- End of Footer Section -->
            </div>
        </div>
    </section>
    <!-- END OF FOOTER -->

</div>