
        
        
        
        <section class="container" style="font-size:18px;">
            <div class="col-lg-12 col-md-12">
                
                    <div class="row">
                        
                
        <div class="col-lg-12 col-md-12 mt16" style="padding:0;">
            <div class="panel-group mb0 mt0" role="tablist" id="priceAccordeon" style="padding:0;">
                <div class="panel-heading collapsed mb0 mt0" role="tab" data-toggle="collapse" data-parent="#priceAccordeon" data-target="#priceAccordeon_area" aria-expanded="false" style="margin-left:0;padding:0 0 2px 0;text-align:right;border:none;">
                    <strong>
                        
        <div style="background-color:#21B799 !important;color:white !important;padding:5px;margin-bottom:3px;text-align:center;border-radius:5px;white-space:nowrap;display:inline-block;">
            <strong title="Click to observe details">
                <i class="fa fa-tags ml4"> </i>
                
                <span class="ml4">
                    447
                    <i class="fa fa-euro" style="font-size:14px;"> </i>
                </span>
                <i class="fa fa-angle-down ml4"> </i>
            </strong>
        </div>
    
                        
        
            
            
            <div style="background-color:#0D6759 !important;color:white !important;padding:5px;margin-bottom:3px;text-align:center;border-radius:5px;white-space:nowrap;display:inline-block;">
                <strong title="The tool is compatible with the Odoo Enterprise version" style="color:white !important;">
                    <i class="fa fa-check ml4"> </i>
                    Enterprise
                </strong>
                
            </div>           
            <div style="background-color:#0D6759 !important;color:white !important;padding:5px;margin-bottom:3px;text-align:center;border-radius:5px;white-space:nowrap;display:inline-block;">
                <strong title="The tool is compatible with the Odoo Community version" style="color:white !important;">
                    <i class="fa fa-check ml4"> </i>
                    Community
                </strong>
                
            </div>
            <div style="background-color:#0D6759 !important;color:white !important;padding:5px;margin-bottom:3px;text-align:center;border-radius:5px;white-space:nowrap;display:inline-block;;">
                <strong title="The tool might be installed to Odoo.sh if you have a linked private git repository" style="color:white !important;">
                    <i class="fa fa-check ml4"> </i>
                    Odoo.sh
                </strong>
            </div>
        
    
                    </strong>
                </div>
                <div class="panel-collapse collapse" role="tabpanel" id="priceAccordeon_area" aria-expanded="false" style="padding:0;border:1px dotted #ddd;">
                    <div class="panel-body">
                        
        
    
                        
        <div class="col-12 mt8">
            <span>
                The price includes all necessary dependencies =
                
                <span data-oe-type="float" data-oe-expression="tool.price">20</span><i class="fa fa-euro" style="font-size:14px;"> </i> (own price)
                <span class="ml4">
                    
                        +
                        
                        <span data-oe-type="float" data-oe-expression="app_dep.price">399</span><i class="fa fa-euro" style="font-size:14px;"> </i>
                        (<a target="_blank" href="https://apps.odoo.com/apps/modules/14.0/business_appointment">
                            <span>Universal Appointments and Time Reservations</span>
                        </a>)
                    
                        +
                        
                        <span data-oe-type="float" data-oe-expression="app_dep.price">28</span><i class="fa fa-euro" style="font-size:14px;"> </i>
                        (<a target="_blank" href="https://apps.odoo.com/apps/modules/14.0/custom_fields">
                            <span>Custom Fields: Core</span>
                        </a>)
                    .
                </span>
            </span>
        </div>
    
                    </div>
                </div>
            </div>
        </div>
    
                    </div>
                    <div class="row">
                        
        <div class="col-lg-12 col-md-12 mt8" style="padding:0;">
            <ul role="tablist" class="nav nav-tabs mb16 mt16 justify-content-center" data-tabs="tabs" style="background:unset !important;">
                <li class="nav-item mb4" style="background-color: #21B799;border-top-left-radius: 6px;border-top-right-radius: 6px;margin-right:2px;padding-bottom:3px;min-width:150px;">
                    <a href="#features" data-toggle="tab" class="nav-link active" aria-expanded="true" style="color:black !important;border-top-left-radius: 6px;border-top-right-radius: 6px;">
                        Features
                    </a>
                </li>
                
                
                <li class="nav-item mb4" style="background-color: #21B799;border-top-left-radius: 6px;border-top-right-radius: 6px;margin-right:2px;padding-bottom:3px;min-width:150px;">
                    <a href="#screenshots" data-toggle="tab" class="nav-link" aria-expanded="true" style="color:black !important;border-top-left-radius: 6px;border-top-right-radius: 6px;">
                       Screenshots
                    </a>
                </li>
                <li class="nav-item mb4" style="background-color: #21B799;border-top-left-radius: 6px;border-top-right-radius: 6px;margin-right:2px;padding-bottom:3px;min-width:150px;">
                    <a href="#support_info" data-toggle="tab" class="nav-link" style="color:black !important;border-top-left-radius: 6px;border-top-right-radius: 6px;">
                       Support
                       <span>
                       & Demo <sup><small style="color:#BA3C3D !important;"><i>free</i></small></sup>
                       </span>
                    </a>
                </li>
            </ul>
        </div>
    
                    </div>
                    <div class="row">
                        <div class="tab-content w-100">
                            <div id="features" class="tab-pane active">
                                
        
    
                                
        <div class="row">
            <div class="row col-lg-12 col-md-12 mt8 mb8">
                <div class="text-left mb16 col-lg-12 col-md-12">
                    
                    
                    <div class="mt8 mb8">
                        
                        
                        
                        This is an extension to the tool
                        <a href="https://apps.odoo.com/apps/modules/14.0/business_appointment">Universal Appointments and Time Reservations</a>.
                        
                        Read the full description of the features and optional modules on 
                        <a href="https://apps.odoo.com/apps/modules/14.0/business_appointment">the core module page.</a>
                    </div>   
                </div>
                
            </div>
            
        </div>
    
                                
        <div class="mt8">
            
                <div class="row mt8 mb16">
                    
                    <section class="w-100">
                        <div class="col-lg-12 col-md-12 mb8" style="line-height:1.5"><div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12">
    <div class="h-100" style="margin:0">
      <ul class="list-unstyled" style="padding-left:0;list-style:none;">
        <li class="mb16" style="display: flex !important; align-items: baseline !important">
          <div class="mr8"><i class="fa fa-check-square-o text-primary"></i></div>
          <div>The tool let prepare new fields for resource types, resources, services, and reservations</div> 
        </li>
        <li class="mb16" style="display: flex !important; align-items: baseline !important">
          <div class="mr8"><i class="fa fa-check-square-o text-primary"></i></div>
          <div>Custom attributes' creation does not require any technical knowledge. In order to show a new property, just add a new field and enter details</div> 
        </li>
        <li class="mb16" style="display: flex !important; align-items: baseline !important">
          <div class="mr8"><i class="fa fa-check-square-o text-primary"></i></div>
          <div>It is possible to add custom fields of the following types: single line text (char), simple text without formatting (text), rich text (HTML-formatted text), integer or float numbers, drop-down choice with your own options (selection), checkbox (boolean), date or date and time, binary (a file to upload), reference to another Odoo document (e.g. for a sale order, contact; many2one)</div> 
        </li>
        <li class="mb16" style="display: flex !important; align-items: baseline !important">
          <div class="mr8"><i class="fa fa-check-square-o text-primary"></i></div>
          <div>The tool let you comfortably select an interface position of a custom field from a closed list of options. Optionally make fields required</div> 
        </li>        
        <li class="mb16" style="display: flex !important; align-items: baseline !important">
          <div class="mr8"><i class="fa fa-check-square-o text-primary"></i></div>
          <div>Have different resource fields depending on resource type (for example, dentists details differ from car details).</div> 
        </li>
      </ul>
    </div>
  </div>
</div></div>
                        <div class="col-lg-12 col-md-12 mb16">
                            <div class="s_faq">
                                <div id="features_extras" class="panel-group" role="tablist">
                                    
                                    
                                        <div class="panel panel-default bg-white">
                                            <div class="panel-heading">
                                                <span class="panel-title">
                                                    <a href="#" role="tab" data-toggle="collapse" class="card-header collapsed" data-parent="#features_extras" aria-expanded="false" style="color:black;" data-target="#noteAccordeon_2414_screenshots">
                                                        Screenshots
                                                    </a>
                                                </span>
                                            </div>
                                            <div class="panel-collapse collapse" role="tabpanel" id="noteAccordeon_2414_screenshots">
                                                <div class="col-lg-12 col-md-12 mt8">
                                                    <div>
                                                        
                                                            
        <div class="mb32">
            <h4 style="background-color:rgba(33, 183, 153, 0.3);padding:4px;">List of Odoo appointment custom fields</h4>
            <img class="img img-fluid mx-auto" alt="Appointment: full list of custom details" src="list_of_appointment_custom_fields.png"/>
        </div>
    
                                                        
                                                            
        <div class="mb32">
            <h4 style="background-color:rgba(33, 183, 153, 0.3);padding:4px;">Add custom details for appointment</h4>
            <img class="img img-fluid mx-auto" alt="Appointment: new custom field" src="appointment_custom_field.png"/>
        </div>
    
                                                        
                                                            
        <div class="mb32">
            <h4 style="background-color:rgba(33, 183, 153, 0.3);padding:4px;"><i class='fa fa-gears'></i> Booking with custom fields: backend form view</h4>
            <img class="img img-fluid mx-auto" alt="Appointment custom form view" src="appointment_form_with_custom_fields.png"/>
        </div>
    
                                                        
                                                            
        <div class="mb32">
            <h4 style="background-color:rgba(33, 183, 153, 0.3);padding:4px;">Unlimited number of custom fields for resources</h4>
            <img class="img img-fluid mx-auto" alt="Custom resource fields list" src="resources_custom_fields_list.png"/>
        </div>
    
                                                        
                                                            
        <div class="mb32">
            <h4 style="background-color:rgba(33, 183, 153, 0.3);padding:4px;">Backend custom details for resource types, resources, and services</h4>
            <img class="img img-fluid mx-auto" alt="Custom booking details in Odoo backend" src="resources_custom_fields_backend.png"/>
        </div>
    
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                        </div>                                    
                                    
                                </div>
                            </div>
                        </div>
                         
                    </section>
                </div>
            
        </div>        
    
                            </div>
                            
                            
                            <div id="screenshots" class="tab-pane">
                                
        <div class="row ">
            <div class="col-lg-12 col-md-12 mb16">
                
                    <div class="col-lg-12 col-md-12">
                        
        <div class="mb32">
            <h4 style="background-color:rgba(33, 183, 153, 0.3);padding:4px;">List of Odoo appointment custom fields</h4>
            <img class="img img-fluid mx-auto" alt="Appointment: full list of custom details" src="list_of_appointment_custom_fields.png"/>
        </div>
    
                    </div>
                
                    <div class="col-lg-12 col-md-12">
                        
        <div class="mb32">
            <h4 style="background-color:rgba(33, 183, 153, 0.3);padding:4px;">Add custom details for appointment</h4>
            <img class="img img-fluid mx-auto" alt="Appointment: new custom field" src="appointment_custom_field.png"/>
        </div>
    
                    </div>
                
                    <div class="col-lg-12 col-md-12">
                        
        <div class="mb32">
            <h4 style="background-color:rgba(33, 183, 153, 0.3);padding:4px;"><i class='fa fa-gears'></i> Booking with custom fields: backend form view</h4>
            <img class="img img-fluid mx-auto" alt="Appointment custom form view" src="appointment_form_with_custom_fields.png"/>
        </div>
    
                    </div>
                
                    <div class="col-lg-12 col-md-12">
                        
        <div class="mb32">
            <h4 style="background-color:rgba(33, 183, 153, 0.3);padding:4px;">Unlimited number of custom fields for resources</h4>
            <img class="img img-fluid mx-auto" alt="Custom resource fields list" src="resources_custom_fields_list.png"/>
        </div>
    
                    </div>
                
                    <div class="col-lg-12 col-md-12">
                        
        <div class="mb32">
            <h4 style="background-color:rgba(33, 183, 153, 0.3);padding:4px;">Backend custom details for resource types, resources, and services</h4>
            <img class="img img-fluid mx-auto" alt="Custom booking details in Odoo backend" src="resources_custom_fields_backend.png"/>
        </div>
    
                    </div>
                
            </div>
        </div>
    
                            </div>
                            <div id="support_info" class="tab-pane">
                                
        <div class="row mt8">
            <div class="col-md-12">
                <div class="mb32">
                    <h3>Odoo demonstration databases (live previews)</h3>
                    <p>For this app we might provide a <i>free</i> personalized demo database.</p>
                    <p>To demand such database: press the button "Live Preview" on the top of this page or copy the link <span class="bg-primary" style="border-radius:5px;padding:5px">https://faotools.com/s/whufxc</span></p>
                    <p>No phone number or credit card are required to contact us: only a short email sign up which does not take more than 30 seconds.</p>
                    <p>By your request we will prepare an individual live preview database, where you would be able to apply any tests and to check assumptions during 14 days.</p>
                </div>
                <div class="mb16">
                    <h3>Bug reporting</h3>
                    <p>In case you have faced any bugs or inconsistent behavior, do not hesitate to contact us. We guarantee to provide fixes during 60 days after a purchase, while even after this period we are strongly interested to improve our tools.</p>
                    <p>To send us a bug report: press the "Website" link on the top of this page and push the button "Bug Report" (the tab Support). Alternatively, copy the link <span class="bg-primary" style="border-radius:5px;padding:5px">https://faotools.com/s/16l3gy</span></p>
                    <p>No phone number or credit card are required to contact us: only a short email sign up which does not take more than 30 seconds.</p>
                    <p>Please include in your request as many details as possible: screen shots, Odoo server logs, full description of how to re-produce your problem, and so on. Usually it takes a few business days to prepare a working plan by an issue (if a bug is confirmed) or provide you with guidelines what should be done (otherwise).</p>
                </div>
                <div class="mt16 mb16">
                    <h3>Public features request and module ideas (free development)</h3>
                    <p>We are strongly motivated to improve our tools and would be grateful for any sort of feedback. In case your requirements are of public use and might be efficiently implemented, the team would include those into our to-do list.</p>
                    <p>Such to-do list is processed on a regular basis and does not assume extra fees. Altough we cannot promise deadlines and final design, it might be a good way to get desired features without investments and risks.</p>
                    <p>To share ideas: press the "Website" link on the top of this page and push the button "Share Features Ideas" (the tab Support). Alternatively, copy the link <span class="bg-primary" style="border-radius:5px;padding:5px">https://faotools.com/s/b86lnv</span></p>
                    <p>No phone number or credit card are required to contact us: only a short email sign up which does not take more than 30 seconds.</p>
                </div>
                <div class="mt16 mb16">
                    <h3>New features and extra Odoo services (individual development)</h3>
                    <p>Each of our apps might be customized and extended to suit your specific requirements.</p>
                    <p>Our customization team (itlibertas.com) fulfills not only such jobs but it also provides a full range of Odoo services. From simple modifications and consultations to complex enterprise projects. The team has completed over 100 implementations since 2012, and might help with any technical or business needs.</p>
                    <p>To contact us for details and conditions: press the "Website" link on the top of this page and push the button "Request Individual Customization" (the tab Support). Alternatively, copy the link <span class="bg-primary" style="border-radius:5px;padding:5px">https://faotools.com/s/zve5lb</span></p>
                    <p>No phone number or credit card are required to contact us: only a short email sign up which does not take more than 30 seconds.</p>
                </div>
                <div class="mt16 mb16">
                    <h3>Questions and misc issues</h3>
                    <p>Feel free to contact us by any other concerns, doubts, or questions: press the "Website" link on the top of this page and push the button "Raise Question" (the tab Support). Alternatively, copy the link <span class="bg-primary" style="border-radius:5px;padding:5px">https://faotools.com/s/mvgbwp</span></p>
                </div>
                <div class="mt16 mb16">
                    <h3>About the team</h3>
                    <p>faOtools (faotools.com, former odootools.com) is the team of developers and business analysts to help you extend Odoo potential. We have been communicating with end users to whom the software became the main business tool since 2012. As a result, we are proud of dozens of successful Odoo apps developed. We are open for new ideas and challenges to create the best Odoo apps for business needs all over the world.</p>
                </div>
                
            </div>
        </div>
    
                            </div>
                        </div>
                    </div>
                    <div class="row">
                                
        
        <div class="col-md-12 col-lg-12 mt16 mb16">
            <div class="row">
                <div class="col-lg-12 col-md-12 mb8">
                    <h3>You may like the tools</h3>
                </div>
            </div>
            <div class="row">            
                
                    
                    <div class="col-lg-4 col-md-4 mb32">
                        <div class="row">
                            <div class="col-lg-3 col-md-5">
                                <a href="https://apps.odoo.com/apps/modules/14.0/knowsystem">
                                    <img class="img img-fluid" src="app_icon_1.png" alt="KnowSystem: Knowledge Base System"/>
                                </a>
                            </div>
                            <div class="col-lg-9 col-md-7">
                                <a href="https://apps.odoo.com/apps/modules/14.0/knowsystem">
                                    KnowSystem: Knowledge Base System
                                </a>
                                <p class="mb0">The tool to build deep and structured knowledge base for internal and external use. Knowledge System. KMS</p>
                                <strong class="pull-right">
                                    
                                        
                                        <span>
                                            298<i class="fa fa-euro" style="font-size:14px;"> </i>
                                        </span>
                                    
                                </strong>
                            </div>
                        </div>
                    </div>
                
                    
                    <div class="col-lg-4 col-md-4 mb32">
                        <div class="row">
                            <div class="col-lg-3 col-md-5">
                                <a href="https://apps.odoo.com/apps/modules/14.0/business_appointment">
                                    <img class="img img-fluid" src="app_icon_2.png" alt="Universal Appointments and Time Reservations"/>
                                </a>
                            </div>
                            <div class="col-lg-9 col-md-7">
                                <a href="https://apps.odoo.com/apps/modules/14.0/business_appointment">
                                    Universal Appointments and Time Reservations
                                </a>
                                <p class="mb0">The tool for time-based service management from booking appointment to sale and reviews</p>
                                <strong class="pull-right">
                                    
                                        
                                        <span>
                                            399<i class="fa fa-euro" style="font-size:14px;"> </i>
                                        </span>
                                    
                                </strong>
                            </div>
                        </div>
                    </div>
                
                    
                    <div class="col-lg-4 col-md-4 mb32">
                        <div class="row">
                            <div class="col-lg-3 col-md-5">
                                <a href="https://apps.odoo.com/apps/modules/14.0/odoo_password_manager">
                                    <img class="img img-fluid" src="app_icon_3.png" alt="Password Manager"/>
                                </a>
                            </div>
                            <div class="col-lg-9 col-md-7">
                                <a href="https://apps.odoo.com/apps/modules/14.0/odoo_password_manager">
                                    Password Manager
                                </a>
                                <p class="mb0">The tool to safely keep passwords in Odoo for shared use</p>
                                <strong class="pull-right">
                                    
                                        
                                            <del style="color:#BA3C3D !important;">
                                                188<i class="fa fa-euro" style="font-size:14px;"> </i>
                                            </del>
                                        
                                        <span>
                                            159<i class="fa fa-euro" style="font-size:14px;"> </i>
                                        </span>
                                    
                                </strong>
                            </div>
                        </div>
                    </div>
                
                    
                    <div class="col-lg-4 col-md-4 mb32">
                        <div class="row">
                            <div class="col-lg-3 col-md-5">
                                <a href="https://apps.odoo.com/apps/modules/14.0/kpi_scorecard">
                                    <img class="img img-fluid" src="app_icon_4.png" alt="KPI Balanced Scorecard"/>
                                </a>
                            </div>
                            <div class="col-lg-9 col-md-7">
                                <a href="https://apps.odoo.com/apps/modules/14.0/kpi_scorecard">
                                    KPI Balanced Scorecard
                                </a>
                                <p class="mb0">The tool to set up KPI targets and control their fulfillment by periods</p>
                                <strong class="pull-right">
                                    
                                        
                                        <span>
                                            198<i class="fa fa-euro" style="font-size:14px;"> </i>
                                        </span>
                                    
                                </strong>
                            </div>
                        </div>
                    </div>
                
                    
                    <div class="col-lg-4 col-md-4 mb32">
                        <div class="row">
                            <div class="col-lg-3 col-md-5">
                                <a href="https://apps.odoo.com/apps/modules/14.0/documentation_builder">
                                    <img class="img img-fluid" src="app_icon_5.png" alt="Odoo Documentation Builder"/>
                                </a>
                            </div>
                            <div class="col-lg-9 col-md-7">
                                <a href="https://apps.odoo.com/apps/modules/14.0/documentation_builder">
                                    Odoo Documentation Builder
                                </a>
                                <p class="mb0">The tool to create website documentation based on your knowledge base</p>
                                <strong class="pull-right">
                                    
                                        
                                        <span>
                                            437<i class="fa fa-euro" style="font-size:14px;"> </i>
                                        </span>
                                    
                                </strong>
                            </div>
                        </div>
                    </div>
                
                    
                    <div class="col-lg-4 col-md-4 mb32">
                        <div class="row">
                            <div class="col-lg-3 col-md-5">
                                <a href="https://apps.odoo.com/apps/modules/14.0/joint_calendar">
                                    <img class="img img-fluid" src="app_icon_6.png" alt="Joint Calendar"/>
                                </a>
                            </div>
                            <div class="col-lg-9 col-md-7">
                                <a href="https://apps.odoo.com/apps/modules/14.0/joint_calendar">
                                    Joint Calendar
                                </a>
                                <p class="mb0">The tool to combine different Odoo events in a few configurable super calendars. Shared calendar. Common calendar.</p>
                                <strong class="pull-right">
                                    
                                        
                                        <span>
                                            74<i class="fa fa-euro" style="font-size:14px;"> </i>
                                        </span>
                                    
                                </strong>
                            </div>
                        </div>
                    </div>
                
                    
                    <div class="col-lg-4 col-md-4 mb32">
                        <div class="row">
                            <div class="col-lg-3 col-md-5">
                                <a href="https://apps.odoo.com/apps/modules/14.0/onedrive">
                                    <img class="img img-fluid" src="app_icon_7.png" alt="OneDrive / SharePoint Odoo Integration"/>
                                </a>
                            </div>
                            <div class="col-lg-9 col-md-7">
                                <a href="https://apps.odoo.com/apps/modules/14.0/onedrive">
                                    OneDrive / SharePoint Odoo Integration
                                </a>
                                <p class="mb0">The tool to automatically synchronize Odoo attachments with OneDrive files in both ways</p>
                                <strong class="pull-right">
                                    
                                        
                                        <span>
                                            394<i class="fa fa-euro" style="font-size:14px;"> </i>
                                        </span>
                                    
                                </strong>
                            </div>
                        </div>
                    </div>
                
                    
                    <div class="col-lg-4 col-md-4 mb32">
                        <div class="row">
                            <div class="col-lg-3 col-md-5">
                                <a href="https://apps.odoo.com/apps/modules/14.0/google_drive_odoo">
                                    <img class="img img-fluid" src="app_icon_8.png" alt="Google Drive Odoo Integration"/>
                                </a>
                            </div>
                            <div class="col-lg-9 col-md-7">
                                <a href="https://apps.odoo.com/apps/modules/14.0/google_drive_odoo">
                                    Google Drive Odoo Integration
                                </a>
                                <p class="mb0">The tool to automatically synchronize Odoo attachments with Google Drive files in both ways</p>
                                <strong class="pull-right">
                                    
                                        
                                        <span>
                                            394<i class="fa fa-euro" style="font-size:14px;"> </i>
                                        </span>
                                    
                                </strong>
                            </div>
                        </div>
                    </div>
                
                    
                    <div class="col-lg-4 col-md-4 mb32">
                        <div class="row">
                            <div class="col-lg-3 col-md-5">
                                <a href="https://apps.odoo.com/apps/modules/14.0/owncloud_odoo">
                                    <img class="img img-fluid" src="app_icon_9.png" alt="OwnCloud / NextCloud Odoo Integration"/>
                                </a>
                            </div>
                            <div class="col-lg-9 col-md-7">
                                <a href="https://apps.odoo.com/apps/modules/14.0/owncloud_odoo">
                                    OwnCloud / NextCloud Odoo Integration
                                </a>
                                <p class="mb0">The tool to automatically synchronize Odoo attachments with OwnCloud / NextCloud files in both ways</p>
                                <strong class="pull-right">
                                    
                                        
                                        <span>
                                            394<i class="fa fa-euro" style="font-size:14px;"> </i>
                                        </span>
                                    
                                </strong>
                            </div>
                        </div>
                    </div>
                
            </div>
        </div>
        <div class="col-md-12 mb8 text-center hidden-xs">
            <div style="background-color:#0D6759 !important;padding:5px 20px 7px 20px;text-align:center;border-radius:5px;display: inline-block;">
                <a href="https://apps.odoo.com/apps/modules/browse?author=faOtools" style="color:white !important;text-decoration:none;">
                    <i class="fa fa-long-arrow-right"> </i> More Apps by faOtools
                </a>
            </div>
        </div>
    
                    </div>
                
            </div>
        </section>
    