/*sh_footer*/
#sh_footer{background: #464646;border: 0;padding: 50px 0 30px;}
#sh_footer .sh_first_column h4{font-size: 24px;font-weight: 600;margin-bottom: 25px;color: $-color-Primary;}
#sh_footer .sh_first_column p{margin: 0;color: #fff;font-size: 16px;}
#sh_footer .sh_column h4{font-size: 24px;font-weight: 600;margin-bottom: 25px;color: #ffffff;}
#sh_footer .sh_column ul li a{color: #fff;text-transform: capitalize;font-size: 16px;padding-bottom: 5px;display: block;}
#sh_footer .sh_column ul{padding: 0px;list-style: none;}
#sh_footer .sh_column.sh_third_column h4{height: 28px;}
#sh_footer .sh_first_column img{max-height: 30px;max-width: 160px;object-fit: contain;margin-bottom: 20px;}
#sh_footer .sh_fourth_column ul li{display: flex;color: #fff;margin-bottom: 15px;}
#sh_footer .sh_fourth_column ul li span{font-size: 24px;padding-right: 10px;}
#sh_footer .sh_fourth_column ul li p {padding-top: 3px;}