#sh_footer .sh_main{background: #fff;display: flex;justify-content: space-between;margin-top: -50px;padding: 40px;border-radius: 10px;box-shadow: 0 2px 5px 0 rgba(0,0,0,.25), 0 3px 10px 0 rgba(0,0,0,.2);margin-bottom: 0px;position: relative;top: -60px;}
#sh_footer .sh_main .sh_text h2{color: #000;margin: 0;font-size: 20px;font-weight: 600;text-transform: capitalize;}
#sh_footer .sh_main .js_subscribe{justify-content: flex-end;}
#sh_footer .sh_main .js_subscribe input{height: 50px;max-width: 55%;border-top-left-radius: 5px;border-bottom-left-radius: 5px;font-size: 14px;padding-left: 20px;}
#sh_footer .sh_main .js_subscribe .input-group-append a{height: 50px;line-height: 50px;padding-top: 0;padding-bottom: 0;padding-left: 20px;padding-right: 20px;border-top-right-radius: 5px;border-bottom-right-radius: 5px;box-shadow: none;}

#sh_footer .sh_logo_part h6{margin-bottom: 20px;}
#sh_footer .sh_logo_part h6 a{padding-top: 0;}
#sh_footer .sh_logo_part p{display: -webkit-box;-webkit-line-clamp: 4;-webkit-box-orient: vertical;overflow: hidden;margin-top: 0px;margin-bottom: 0;color: #ddd;}
#sh_footer .sh_logo_part ul{padding: 0;margin: 0;list-style: none;display: flex;margin-top: 30px;margin-bottom: 30px;}
#sh_footer .sh_logo_part ul li a{width: 40px;height: 40px;border-radius: 0;color: #ddd;margin-right: 10px;border: 0px solid #ddd;border-radius: 5px;padding: 0;line-height: 39px;transition: all .4s;}
#sh_footer .sh_link h4{font-size: 20px;text-transform: capitalize;font-weight: 600;letter-spacing: 1px;margin-bottom: 40px;color: #fff;}
#sh_footer .sh_link ul{padding: 0;margin: 0;list-style: none;}
#sh_footer .sh_link ul li a{color: #ddd;text-transform: capitalize;padding-bottom: 5px;display: inline-block;transition: all .4s;}
#sh_footer .sh_logo_part .sh_cm_copyright_9_website_logo img{height: 50px;object-fit: contain;}
#sh_footer{background: theme-color('gamma');border-radius: 0;padding: 50px 0;}
footer#bottom{margin-top: 50px;}
#sh_footer .sh_logo_part .navbar-brand img{width: 100%;height: 2.3125rem;max-width: none;object-fit: contain;}

#sh_footer .sh_link3 li .sh_icon{display: flex;margin-bottom: 30px;}
#sh_footer .sh_link3 li .sh_icon span{font-size: 26px;color: $-color-Primary;}
#sh_footer .sh_link3 li .sh_icon p{margin: 0;padding-left: 20px;color: #ddd;font-size: 14px;}
#sh_footer .sh_link3 li .sh_icon span.fa-envelope{font-size: 20px;}
#sh_footer .sh_link3 li .sh_icon span.fa-phone{font-size: 22px;}


#sh_footer .sh_subscribe{width: 50%;margin: 0 0 0 auto;padding-left: 15px;position: relative;top: -10px;}
#sh_footer .sh_subscribe input{height: 46px;background: rgba(0,0,0,0.4);color: #ddd;box-shadow: none;border: none;font-size: 12px;letter-spacing: 1px;}
#sh_footer .sh_subscribe .input-group-append a{border-top-right-radius: 5px;border-bottom-right-radius: 5px;padding: 10px 20px;}
#sh_footer .sh_logo_part ul li a:hover{background: $-color-Primary;border-color: $-color-Primary;}
#sh_footer .sh_link ul li a:hover{color: $-color-Primary;}

#sh_footer .sh_subscribe .input-group-prepend .btn, .input-group-append .btn {
  position: relative;
  z-index: 1 !important;
}


@media (max-width: 991px){
	#sh_footer .sh_subscribe{width: 100%; top: 0;padding-left: 0;}
}


@media (max-width: 768px){
   .navbar-light .navbar-toggler-icon{background-image: none;position: relative;}
   .navbar-light .navbar-toggler-icon:after{content: "\f0c9";font-family: FontAwesome;right:0px;position:absolute;top: 50%;color: #fff;transform: translateY(-50%);font-size: 26px;}
	#sh_footer .sh_link h4{margin-top: 30px;margin-bottom: 20px;}
}
@media (max-width: 576px){
  header #top_menu_container .oe_structure.oe_structure_solo{display: none;}
}




