.sh_footer_17{background: rgba(0,0,0,1) !important; padding: 50px 0 20px;position: relative;}
.sh_footer_17{background-color:rgba(0,0,0,1);color: #FFFFFF;}
.sh_footer_17 footer{ display: block;background: #051030;}
.sh_footer_17 .footer-logo h6{padding-bottom: 0px; margin-bottom:0px;}
.sh_footer_17 .footer-logo img.footer-logo-img{ max-width: 70% !important; height: auto !important;}
.sh_footer_17 .footer-logo .footer-img-sub-title{margin-top: -12px;margin-bottom: 1rem;text-align: left; margin-left: 30px;font-size: 15px; color: $-color-Primary;}
.sh_footer_17 .footer-services-content{text-align: left; padding:0px 10px;}
.sh_footer_17 .footer-services-content .footer-services-icon{padding:10px 0px;}
.sh_footer_17 .footer-services-content .footer-services-icon img{ height: 50px; width:50px;}
.sh_footer_17 .footer-services-content .footer-service-title{width:100%; text-align: left;}
.sh_footer_17 .footer-services-content .footer-service-title h5{color:#dedede; font-size: 18px; font-weight: bold;}
.sh_footer_17 .footer-service-btn {padding-bottom: 10px;}
.sh_footer_17 .footer-service-btn  .footer-service-btn-icon span{height: 25px; width: 25px;text-align: center;line-height: 25px;color:#383e45;font-size: 15px;border-radius: 30px;margin-top: 10px; background:$-color-Primary;}
.sh_footer_17 .footer-service-btn .footer-service-btn-icon .footer-service-link a{color: #dedede;background:rgba(0,0,0,1); padding-left:5px;}
.sh_footer_17 .footer-content-about-us{text-align: left; padding:10px 0px;}
.sh_footer_17 .footer-content-about-us h3 {font-weight:bold;text-transform: uppercase; padding-bottom:0px; margin-bottom: 0px;}
.sh_footer_17 .footer-content-about-us .shape img{height:15px; width:15%; object-fit: contain; text-align: center; margin-top:0px;}
.sh_footer_17 .footer-content-about-us .footer-content-about-us-text{width:100%; padding-right:50px;margin-top:20px;}
.sh_footer_17 .footer-content-about-us .footer-content-about-us-text p{font-size: 15px; line-height:30px;}
.sh_footer_17 .footer-content-about-us .footer-content-about-us-icons{width:100%; margin-left:-70px; margin-top: 20px;}
.sh_footer_17 .footer-content-about-us .footer-content-about-us-icons ul {list-style-type: none; display: flex;justify-content:center; margin:0px 0px 0px 20px;}
.sh_footer_17 .footer-content-about-us .footer-content-about-us-icons a{color: #919191; transition: 1s;}
.sh_footer_17 .footer-content-about-us .footer-content-about-us-icons span:hover a{color: #dedede !important;}
.sh_footer_17 .footer-content-about-us .footer-content-about-us-icons span{height:30px; width:30px; transition: 1s; margin-left:10px; background:#fff; border-radius:30px; font-size:15px; line-height:30px; text-align: center;}
.sh_footer_17 .footer-content-about-us .footer-content-about-us-icons span:hover{background: $-color-Primary; color: #fff;}
.sh_footer_17 .footer-explore-link{width:100%; text-align: left;}
.sh_footer_17 .footer-explore-link .footer-explore-content-link{margin-top:0px;}
.sh_footer_17 .footer-explore-link .footer-explore-content-link ul{margin: 0;padding: 0;list-style: none;display: inline-block;width: 100%;vertical-align: top;}
.sh_footer_17 .footer-explore-link .footer-explore-content-link ul li{padding-top:5px;}
.sh_footer_17 .footer-explore-link .footer-explore-content-link ul li:hover a{color: $-color-Primary;}
.sh_footer_17 .footer-explore-link .footer-explore-content-link ul li a{color: #dedede;text-transform:  capitalize; transition:1s; padding:10px; margin-bottom: 5px;transition: all .4s;font-size: 15px;}
.sh_footer_17 .footer-content-inputs{width:100%; border:2px solid #919191; padding:13px; display: flex; flex-direction: column; justify-content: center; align-items: center; margin-top: 17px;}
.sh_footer_17 .footer-content-inputs input{padding:15px 10px; border-radius:0px;}
.sh_footer_17 .footer-content-inputs .input-text{font-size:14px; color:#dedede;  width:100%;}
.sh_footer_17 .footer-content-inputs .input-group-append{height: 80%;margin-top: 8px;margin-left: -20px;}
.sh_footer_17 .footer-content-inputs .subscribe-button{background:$-color-Primary; color:#dedede; z-index:3; height: 100%;width: 40px;border: none; border-radius: 0; padding:8px 0px;}
.sh_footer_17 .company-address{ min-height: 125px; padding:0px 5px; background:#292b2d;  transition:1s; color:#dedede; display:flex; justify-content: space-between; align-items:center;}
.sh_footer_17 .company-address-icon{width:20%; color:#dedede; font-size:20px; display: flex; justify-content: center; align-items: center;}
.sh_footer_17 .company-address-icon span{height:50px; width:50px; color: #dedede; transition: 1s; background:#383e45; border-radius:50px; line-height:50px; text-align: center;}
.sh_footer_17 .company-address .company-address-text{width:80%;margin-bottom: 0px;}
.sh_footer_17 .company-address .company-address-text h6{font-size: 18px; font-weight: bold;}
.sh_footer_17 .company-address .company-address-text p{margin:0px 0px; transition: 1s; text-transform: capitalize; font-size:14px !important; display: -webkit-box;max-width: 100%;-webkit-line-clamp: 2;-webkit-box-orient: vertical;overflow: hidden; color: #fff;}
.sh_footer_17 .company-address .company-address-text .sh_des{font-size: 14px;}
.sh_footer_17 .company-address .company-address-text p:hover{color: $-color-Primary;}
.sh_footer_17 .company-address .company-email-text{width:80%;margin-bottom: 0px;}
.sh_footer_17 .company-address .company-email-text h6{font-size: 18px; font-weight: bold;}
.sh_footer_17 .company-address .company-email-text p{margin:0px 0px; text-transform: capitalize; font-size:14px; color: #dedede;}
.sh_footer_17 .company-address .company-email-text p a{color:#dedede; transition: 1s;}
.sh_footer_17 .company-address .company-email-text p:hover a{color: $-color-Primary;}
.sh_footer_17 .company-address:hover{background:#05103b;}
.sh_footer_17 .company-address:hover .company-address-icon span{background:#05103b;}





@media screen and (max-width:1024px) {
    .sh_footer_17 .footer-services-content .footer-service-title h5 {  color: #dedede;font-size: 12px;font-weight: bold;}
    .sh_footer_17 .footer-content-about-us h3 { font-weight: bold;text-transform: uppercase;padding-bottom: 0px;margin-bottom: 0px;font-size: 15px;}
    .sh_footer_17 .footer-content-about-us .footer-content-about-us-icons ul {list-style-type: none; display: flex;justify-content:flex-start; margin:0px 0px 0px 60px;}
    .sh_footer_17 .footer-content-about-us .footer-content-about-us-icons {width:100%; margin-top: 20px;}
    .sh_footer_17 .footer-content-about-us .footer-content-about-us-text {width: 100%;padding-right: 0px;margin-top: 10px;}
    .sh_footer_17 .footer-content-about-us .footer-content-about-us-text p {font-size: 12px; line-height: 30px;}
    .sh_footer_17 .company-address .company-address-text .sh_des{font-size: 12px;}

    }

@media screen and (max-width:800px){
   .sh_footer_17 .footer-content-about-us .footer-content-about-us-icons{width:100%; margin-top: 20px;}
   .sh_footer_17 .footer-content-about-us .footer-content-about-us-text {width: 100%;padding-right: 0px;margin-top: 10px;}
   .sh_footer_17 .footer-content-about-us .footer-content-about-us-text p {font-size: 12px; line-height: 30px;}
   .sh_footer_17 .footer-explore-link .footer-explore-content-link ul li a {color: #dedede;text-transform: capitalize;  transition: 1s;  padding: 10px;margin-bottom: 5px;transition: all .4s;font-size: 12px;}
   .sh_footer_17 .footer-content-inputs {width: 100%; border: 1px solid #919191;  padding: 11px;display: -webkit-box;display: -webkit-flex; display: flex;-webkit-box-orient: vertical;   -webkit-box-direction: normal;-webkit-flex-direction: column;flex-direction: column;justify-content: center;align-items: center;  margin-top: 17px;}
   .sh_footer_17 .footer-content-inputs .input-text {font-size: 12px;  color: #dedede;width: 100%;}
   .sh_footer_17 .footer-content-inputs input {padding: 15px 10px;border-radius: 0px;font-size: 12px;}
   .sh_footer_17 .sh_footer_17 .footer-content-about-us .footer-content-about-us-text{width:100%; padding-right:0px;margin-top:20px;}
   .sh_footer_17 .company-address{ min-height: 120px; background:#292b2d;  transition:1s; color:#dedede; display:flex; padding:0px 5px; justify-content: space-between; align-items:center;}
   .sh_footer_17 .footer-content-inputs .subscribe-button {background:#f55d2c; color: #dedede; top: -4px; z-index: 1;  height: 100%;width: 35px;border: none; border-radius:0px;}
   .sh_footer_17 .footer-content-about-us .footer-content-about-us-icons span {height: 25px;width: 25px;transition: 1s;margin-left: 5px;background: #fff;border-radius: 25px;font-size: 15px;line-height: 25px;text-align: center;}
   .sh_footer_17 .company-address .company-address-text{width:80%;margin-bottom: 0px; padding:0px 9px;}
   .sh_footer_17 .company-address .company-email-text{width:80%;margin-bottom: 0px; padding:0px 9px;}
   .sh_footer_17 .company-address .company-address-text .sh_des{font-size: 12px;}
   .sh_footer_17 .footer-content-about-us .footer-content-about-us-icons ul {list-style-type: none; display: flex;justify-content:flex-start; margin:0px 0px 0px 60px;}
   .sh_footer_17 .footer-content-about-us .shape img{height:5px; width:15%; object-fit: contain; text-align: center; margin-top:0px;}
   .sh_footer_17 .company-address .company-email-text p{margin:0px 0px; text-transform: capitalize; font-size:9px; color: #dedede;}
}
@media screen and (max-width:767px){
    .sh_footer_17 .footer-content-about-us .footer-content-about-us-icons ul {list-style-type: none; display: flex;justify-content:flex-start; margin:0px 0px 0px 60px;}
    .sh_footer_17 .footer-content-about-us .footer-content-about-us-icons{width:100%; margin-top: 20px;}
    .sh_footer_17 .company-address .company-email-text p{margin:0px 0px; text-transform: capitalize; font-size:12px; color: #dedede;}
}
@media screen and (max-width:576px){
    .sh_footer_17  .company-address{ min-height: 120px; background:#292b2d;  transition:1s; color:#dedede; display:flex; justify-content: space-between; align-items:center;}
    .sh_footer_17 .footer-services-content .footer-services-icon img{ height: 50px; width:50px;}
    .sh_footer_17 .footer-services-content .footer-service-title h5{color:#dedede; font-size: 18px; font-weight: bold;}
}



