#sh_footer .sh_main{background: #fff;display: flex;justify-content: space-between;margin-top: -50px;padding: 40px;border-radius: 10px;box-shadow: 0 2px 5px 0 rgba(0,0,0,.25), 0 3px 10px 0 rgba(0,0,0,.2);margin-bottom: 0px;position: relative;top: -60px;}
#sh_footer .sh_main .sh_text h2{color: #000;margin: 0;font-size: 20px;font-weight: 600;text-transform: capitalize;}
#sh_footer .sh_main .js_subscribe{justify-content: flex-end;}
#sh_footer .sh_main .js_subscribe input{height: 50px;max-width: 55%;border-top-left-radius: 5px;border-bottom-left-radius: 5px;font-size: 14px;padding-left: 20px;}
#sh_footer .sh_main .js_subscribe .input-group-append a{height: 50px;line-height: 50px;padding-top: 0;padding-bottom: 0;padding-left: 20px;padding-right: 20px;border-top-right-radius: 5px;border-bottom-right-radius: 5px;box-shadow: none;}
#sh_footer .sh_main .js_subscribe .input-group-append .btn{z-index: 1!important;}


#sh_footer .sh_logo_part p{display: -webkit-box;-webkit-line-clamp: 4;-webkit-box-orient: vertical;overflow: hidden;margin-top: 0px;margin-bottom: 0;color: #fff;}
#sh_footer .sh_logo_part ul{padding: 0;margin: 0;list-style: none;display: flex;margin-top: 30px;margin-bottom: 30px;}
#sh_footer .sh_logo_part ul li a{background: rgba(0,0,0,0.4);width: 40px;height: 40px;border-radius: 0;color: #fff;margin-right: 10px;padding: 0;line-height: 40px;transition: all .4s;}
#sh_footer .sh_link h4{font-size: 20px;text-transform: capitalize;font-weight: 600;letter-spacing: 1px;margin-bottom: 40px;color: #fff;}
#sh_footer .sh_link ul{padding: 0;margin: 0;list-style: none;}
#sh_footer .sh_link ul li a{color: #fff;text-transform: capitalize;padding-bottom: 5px;display: inline-block;transition: all .4s;}
#sh_footer .sh_logo_part .sh_cm_copyright_9_website_logo img{height: 50px;object-fit: contain;}
#sh_footer{background: $-color-secondary;border-radius: 50% / 15%;border-bottom-left-radius: 0;border-bottom-right-radius: 0;}

#sh_footer .sh_link ul li a:hover{color: $-color-Primary;}
#sh_footer .sh_link.sh_link3 ul li a:hover{color: #fff;}

footer#bottom{margin-top: 100px;background: transparent;}

#sh_footer .sh_logo_part ul li a:hover{background: $-color-Primary;}
#sh_footer .sh_logo_part .navbar-brand img{width: auto;height: 2.3125rem;max-width: none;}


@media (max-width: 576px){
	#sh_footer .sh_main{display: block;}
	#sh_footer .sh_main .js_subscribe{justify-content: center;}
	#sh_footer .sh_main .sh_text h2{margin-bottom: 30px;}
	#sh_footer .sh_main .js_subscribe input{max-width: 100%;}
   #sh_footer .sh_main{padding: 20px;}
   #sh_footer .sh_link h4{margin-bottom: 20px;}
   #sh_footer .sh_link {margin-bottom: 30px;}
}

