/*sh_footer*/
#sh_footer{background: #f2f5f8;border: 0;padding: 50px 0;}
#sh_footer .sh_first_column h4{font-size: 24px;font-weight: 600;margin-bottom: 25px;color: $-color-Primary;}
#sh_footer .sh_first_column p{margin: 0;color: #737373;font-size: 16px;margin-bottom: 20px;}
#sh_footer .sh_column h4{font-size: 24px;font-weight: 600;margin-bottom: 25px;color: $-color-Primary;}
#sh_footer .sh_column ul li a{color: #737373;text-transform: capitalize;font-size: 16px;padding-bottom: 5px;display: block;}
#sh_footer .sh_column ul{padding: 0px;list-style: none;}
#sh_footer .sh_column.sh_third_column h4{height: 28px;}