footer .sh_call_to_action{background: $-color-Primary;padding: 30px 0;}
footer .sh_call_to_action .sh_main{display: flex;justify-content: space-between;align-items: center;color: #fff;}
footer .sh_call_to_action .sh_main .sh_left{display: flex;align-items: center;}
footer .sh_call_to_action .sh_main .sh_left .sh_icon span{font-size: 36px;}
footer .sh_call_to_action .sh_main .sh_left .sh_des{padding-left: 25px;}
footer .sh_call_to_action .sh_main .sh_left .sh_des h4{margin-bottom: 5px;font-weight: 600;text-transform: capitalize;font-size: 22px;}
footer .sh_call_to_action .sh_main .sh_left .sh_des p{margin: 0;font-size: 15px;}
footer .sh_call_to_action .sh_main .sh_right input{padding: 10px 55px 10px 20px;height: auto;}
footer .sh_call_to_action .sh_main .sh_right span a{padding: 10px 15px;border-top-right-radius: 5px;border-bottom-right-radius: 5px;}

#sh_footer{background: #ebebeb;padding: 50px 0 20px;position: relative;}
#sh_footer .sh_content .sh_icon_box{display: flex;align-items: center;}
#sh_footer .sh_content .sh_icon_box .sh_icon span{font-size: 36px;color: #031b4e;}
#sh_footer .sh_content .sh_icon_box .sh_add{padding-left: 25px;}
#sh_footer .sh_content .sh_icon_box .sh_add h5{text-transform: capitalize;font-weight: 600;font-size: 20px;color: #031b4e;margin-bottom: 10px;}
#sh_footer .sh_content .sh_icon_box .sh_add p{margin: 0;color: #919191;font-size: 15px;}
#sh_footer .sh_icon_box{display: flex;align-items: center;border-right: 1px solid #ccc;padding-right: 10px;height: 100%;}
#sh_footer .col-lg-4:last-child .sh_icon_box{border-right: 0;}
#sh_footer .sh_icon_box .sh_icon span{font-size: 36px;color: #031b4e;}
#sh_footer .sh_icon_box .sh_add{padding-left: 25px;}
#sh_footer .sh_icon_box .sh_add h5{text-transform: capitalize;font-weight: 600;font-size: 20px;color: #031b4e;margin-bottom: 10px;}
#sh_footer .sh_icon_box .sh_add p{margin: 0;color: #919191;}
#sh_footer .sh_icon_box .sh_add p a{margin: 0;color: #919191;transition: all .4s;font-size: 15px;}
#sh_footer .sh_content .sh_icon_box .sh_add p a{margin: 0;color: #919191;trnasition: all .4s;}
#sh_footer .sh_logo_part{margin-top: 50px;border-right: 1px solid #ccc;}
#sh_footer .sh_logo_part img{width: auto;object-fit: contain;height: 2.3125rem;max-width: 200px;}
#sh_footer .sh_logo_part p{color: #919191;margin: 0;padding-top: 20px;display: -webkit-box;-webkit-line-clamp: 4;-webkit-box-orient: vertical;overflow: hidden;font-size: 15px;}
#sh_footer .sh_logo_part .sh_btn a{border: 2px solid $-color-Primary;text-transform: capitalize;color: $-color-Primary;padding: 10px 30px;margin-top: 30px;font-weight: 600;transition: all .4s;}
#sh_footer .sh_content .sh_usefull_link{margin-top: 70px;border-right: 1px solid #ccc;}
#sh_footer .sh_content .sh_usefull_link h3{color: #031b4e;font-weight: 600;text-transform: capitalize;font-size: 20px;margin-bottom: 30px;}
#sh_footer .sh_content .sh_usefull_link ul{margin: 0;padding: 0;list-style: none;display: inline-block;width: 49%;vertical-align: top;}
#sh_footer .sh_content .sh_usefull_link ul li a{color: #919191;text-transform: capitalize; margin-bottom: 5px;display: block;transition: all .4s;font-size: 15px;}
#sh_footer .sh_recent_post{padding-top: 70px;}
#sh_footer .sh_recent_post h3{color: #031b4e;font-weight: 600;text-transform: capitalize;font-size: 20px;margin-bottom: 30px;}
#sh_footer .sh_recent_post .sh_img img{width: 100%;margin-bottom: 30px;height: 90px;object-fit: cover;}
#sh_footer:after{content: '';position: absolute;top: 30%;left: 0;background: #ccc;width: 100%;height: 1px;}
footer .sh_call_to_action .sh_main .sh_right span a{border-top-right-radius: 5px !important;border-bottom-right-radius: 5px !important;}


footer .sh_call_to_action .sh_main .sh_right span a{background: $-color-secondary;border-color: $-color-secondary;}

#sh_footer .sh_logo_part .sh_btn a:hover{background:$-color-secondary;color:#fff;border-color:$-color-secondary;}

#sh_footer .sh_icon_box .sh_add p a:hover{color: $-color-Primary;}
#sh_footer .sh_content .sh_icon_box .sh_add p a:hover{color: $-color-Primary;}
#sh_footer .sh_content .sh_usefull_link ul li a:hover{color: $-color-Primary;}



@media (max-width: 991px){
	#sh_footer .sh_content{margin-bottom: 50px;}
	#sh_footer:after{display: none;}
	#sh_footer .sh_logo_part{border-right: 0px;}
	#sh_footer .sh_content .sh_usefull_link{border-right: 0px;}
	#sh_footer .col-lg-4:nth-child(2) .sh_icon_box{border-right: 0;}
	#sh_footer .col-lg-4:last-child .sh_icon_box{margin-top: 30px;}
}

@media (min-width: 576px) and (max-width: 991px){
	#sh_footer .sh_content{margin-bottom: 0;}
	#sh_footer .sh_content .sh_usefull_link{margin-top: 50px;}
	#sh_footer .sh_recent_post{padding-top: 50px;}
}

@media (max-width: 768px){
	header #top_menu_container:before,
	header #top_menu_container:after{display: none;}
}


@media (max-width: 576px){
	footer .sh_call_to_action .sh_main .sh_left{margin-bottom: 20px;}
	footer .sh_call_to_action .sh_main{display: block;}
	#sh_footer .col-lg-4:nth-child(2) .sh_icon_box{margin-top: 30px;border:0;}
	#sh_footer .sh_icon_box{border: 0;}
	#sh_footer .sh_recent_post{padding-top: 40px;}
	#sh_footer .sh_content{margin-bottom: 0;}
	#sh_footer .sh_content .sh_usefull_link{margin-top: 40px;}
}