.cardoo{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0);
  max-width: 400px;
  margin: auto;
  text-align: center;
  font-family: arial;
}
.modal-notify .modal-header {
  border-radius: 3px 3px 0 0;
}
.modal-notify .modal-content {
  border-radius: 3px;
}
.profile-title {
  color: grey;
  font-size: 18px;
}

.color_style{
  color: #337ab7;
}
.popover {
    
  width: 100%;
}
.my_pictures
{

    margin-left: -2px;
    margin-bottom: 99px;
    margin-top: 22px;
    display: none;
}
/* a > img {
  display: none;
  position: absolute;
  top: 10px;
  left: 150px;
}
a:hover > img {
  display: block;
} */
h4 {
  font-size: 18px;
  text-align: left;
}
blockquote {
  padding: 0px 8px;
  margin: 0 0 20px;
  font-size: 12.5px;
  border-left: 5px solid #eeeeee;
  text-align: left;

}

body {
  /* padding: 30px 0; */
  position: relative;
}

.tz-gallery {

  display: none;
  /* margin-bottom: 124px;
  margin-top: -79px;
  margin-left: 135px; */
  /* //position: relative; */
}
.gallery2 {
  width: 600px;
  margin: auto;
  border-radius: 3px;
  overflow: hidden;
  display: none;
  margin-bottom: 124px;
  margin-top: -79px;
  margin-left: 135px;
  /* //position: relative; */
}
