<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h1 style="padding-top: 0%;font-weight: 300;color: #3d3d3d !important;margin-bottom:18px;">
            <center>Equipment Stock Product</center>
        </h1>
    </div>
</section>


<section class="oe_container ">
    <div class="oe_row oe_spaced">
        <div class="col-md-12 text-center" style="background-color:#841c25;border-radius:5px;margin-bottom:10px">
            <span style="font-size:25px;color:#fff"><b>Overview</b></span>
        </div>
        <div class="col-md-12">
            <p class=""
               style="font-size: 20px;font-family:Noto Sans CJK TC Thin;">
                This module help you to create equipment from stock products either from inventory adjustments
                or from purchase orders shipments.
            </p>
        </div>
    </div>
</section>

<section class="oe_container ">
    <div class="oe_row oe_spaced">
        <div class="col-md-12 text-center" style="background-color:#841c25;border-radius:5px;margin-bottom:10px">
            <span style="font-size:25px;color:#fff"><b>Features</b></span>
        </div>

        <div class="col-md-12" style="font-size: 20px;font-family:Noto Sans CJK TC Thin;">
            <img src="arrow.png" style="margin-right:5px;width:10px;margin-top:-2px"/>By installing this module,
            Inventory Lot/Serial number feature will be enabled automatically (if it's not already enabled.).<br/>
            <img src="arrow.png" style="margin-right:5px;width:10px;margin-top:-2px"/>Ability to mark a product as
            equipment, and fill the default fields to be used in creating equipment.<br/>
            <img src="arrow.png" style="margin-right:5px;width:10px;margin-top:-2px"/>Product tracking per serial number
            will enabled for each product marked as equipment.<br/>
            <img src="arrow.png" style="margin-right:5px;width:10px;margin-top:-2px"/>Equipment will be created
            automatically either from inventory adjustments or from purchase orders received shipments.<br/>
            <img src="arrow.png" style="margin-right:5px;width:10px;margin-top:-2px"/>Ability to view all Equipments
            linked to the product.<br/>
            <img src="arrow.png" style="margin-right:5px;width:10px;margin-top:-2px"/>Ability to track the Equipment
            movement history.<br/>
            <img src="arrow.png" style="margin-right:5px;width:10px;margin-top:-2px"/>Ability to track the current stock
            location for equipment.<br/>
            <img src="arrow.png" style="margin-right:5px;width:10px;margin-top:-2px"/>Ability to view equipment linked
            to inventory serial number <br/>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="col-md-12 text-center" style="background-color:#841c25;border-radius:5px;margin-bottom:10px">
            <span style="font-size:25px;color:#fff"><b>How it works</b></span>
        </div>

        <!--        <div class="col-md-12" style="margin-top:10px;font-size: 20px;font-family:Noto Sans CJK TC Thin;">-->
        <!--            <h4 class="oe_slogan">-->
        <!--                <a href="https://youtu.be/DHqE2wOMcrk" target="_blank"-->
        <!--                   style="color: #FFFFFF !important; border-radius: 0; background-color: #841c25; border-color: #005ca7; padding: 15px; font-weight: bold;">-->
        <!--                    <i class="fa fa-youtube"></i>-->
        <!--                    Watch on YouTube-->
        <!--                </a>-->
        <!--            </h4>-->
        <!--        </div>-->


        <div class="col-md-12 text-center" style="margin-top:10px;font-size: 20px;font-family:Noto Sans CJK TC Thin;">
            <h4 class="oe_slogan"
                style="margin-top:10px;font-size:30px;color:#333;font-family:LatoOpen Sans !important;">Product
                Configuration</h4>
            <img src="equipment_product.png"
                 style="width:90%; display: block; margin-left: auto;margin-right: auto;"/>
            <p>Once you mark the product as equipment, tracking per serial number will be set automatically.</p>
            <img src="equipment_product_tracking.png"
                 style="width:90%; display: block; margin-left: auto;margin-right: auto;"/>
        </div>

        <div class="col-md-12" style="margin-top:10px;font-size: 20px;font-family:Noto Sans CJK TC Thin;">
            <h4 class="oe_slogan"
                style="margin-top:10px;font-size:30px;color:#333;font-family:LatoOpen Sans !important;">Create equipment
                from inventory adjustment</h4>
        </div>
        <div class="col-md-12 text-center" style="font-size: 20px;font-family:Noto Sans CJK TC Thin;">
            <p>You will enter the serial number of the equipment product and check "Create Equipment" check box. <br/>
            </p>
            <img src="equipment_product_adjustment.png"
                 style="width:90%; display: block; margin-left: auto;margin-right: auto;"/>
            <p>
                Once you click "Validate Inventory" button, equipment will be created as below.
            </p>
            <img src="equipment_created_from_adjustment.png"
                 style="width:90%; display: block; margin-left: auto;margin-right: auto;"/>
            <img src="equipment_created_from_adjustment1.png"
                 style="width:90%; display: block; margin-left: auto;margin-right: auto;"/>
            <p>
                Equipment also linked to inventory serial number as below
            </p>
            <img src="equipment_serail_number.png"
                 style="width:90%; display: block; margin-left: auto;margin-right: auto;"/>
        </div>

        <div class="col-md-12" style="margin-top:10px;font-size: 20px;font-family:Noto Sans CJK TC Thin;">
            <h4 class="oe_slogan"
                style="margin-top:10px;font-size:30px;color:#333;font-family:LatoOpen Sans !important;">Create equipment
                from Shipment Receiving</h4>
        </div>
        <div class="col-md-12 text-center" style="font-size: 20px;font-family:Noto Sans CJK TC Thin;">
            <p>You will enter the serial number of the equipment product and check "Create Equipment" check box. <br/>
            </p>
            <img src="equipment_product_receive_shipment.png"
                 style="width:90%; display: block; margin-left: auto;margin-right: auto;"/>
            <p>
                Once you click "Validate" button of stock shipment, equipment will be created as below.
            </p>
            <img src="equipment_created_from_shipment.png"
                 style="width:90%; display: block; margin-left: auto;margin-right: auto;"/>
            <img src="equipment_created_from_shipment1.png"
                 style="width:90%; display: block; margin-left: auto;margin-right: auto;"/>
        </div>

        <div class="col-md-12 text-center" style="margin-top:10px;font-size: 20px;font-family:Noto Sans CJK TC Thin;">
            <h4 class="oe_slogan"
                style="margin-top:10px;font-size:30px;color:#333;font-family:LatoOpen Sans !important;">Show Equipment
                Linked to Product</h4>
            <img src="equipment_product_track.png"
                 style="width:90%; display: block; margin-left: auto;margin-right: auto;"/>
        </div>

        <div class="col-md-12 text-center"
             style="margin-top:10px;font-size: 20px;font-family:Noto Sans CJK TC Thin;">
            <h4 class="oe_slogan"
                style="margin-top:10px;font-size:30px;color:#333;font-family:LatoOpen Sans !important;">Equipment
                Moves history</h4>
            <img src="equipment_history_move.png"
                 style="width:90%; display: block; margin-left: auto;margin-right: auto;"/>

        </div>

        <div class="col-md-12 text-center"
             style="margin-top:10px;font-size: 20px;font-family:Noto Sans CJK TC Thin;">
            <h4 class="oe_slogan"
                style="margin-top:10px;font-size:30px;color:#333;font-family:LatoOpen Sans !important;">Tacking Equipment
                Current Stock location</h4>
            <p>If you do internal transfer for the equipment to another location <br/>
            </p>
            <img src="equipment_internal_transfer.png"
                 style="width:90%; display: block; margin-left: auto;margin-right: auto;"/>
            <img src="equipment_current_location.png"
                 style="width:90%; display: block; margin-left: auto;margin-right: auto;"/>
        </div>

    </div>

</section>

<section class="oe_container ">
    <div class="oe_row oe_spaced">
        <div class="col-md-12 text-center" style="background-color:#841c25;border-radius:5px;margin-bottom:10px">
            <span style="font-size:25px;color:#fff"><b>Complimentary Support</b></span>
        </div>
        <div class="col-md-12" style="font-size: 20px;font-family:Noto Sans CJK TC Thin;">
            <p class="text-center">You will get 60 days free support for any doubt, queries, and bug fixing
                <i>(excluding data recovery)</i> or any type of issue related to this module.</p>
            <p class="text-center"><b>This is applicable from the date of purchase</b></p>
            <p class="text-center">Please note that it's not allowed to distribute this module after purchase!</p>
        </div>
    </div>
</section>

<section class="oe_container ">
    <div class="oe_row oe_spaced">
        <div class="col-md-12 text-center" style="background-color:#841c25;border-radius:5px;margin-bottom:10px">
            <span style="font-size:25px;color:#fff"><b>Help and Support</b></span>
        </div>
        <div class="col-md-12" style="font-size: 20px;font-family:Noto Sans CJK TC Thin;">
            <p class="text-center">
                For any support or help related to Odoo Implementation, customization or development, please feel
                free to mail
                us on <a href="mailto:sales@cortexsolutions.net">Our Sales Email</a>.
            </p>
            <div class="col-md-12 mb8 text-center" style="font-size: 20px;font-family:Noto Sans CJK TC Thin;">
                <a
                        class="btn btn-primary mt8 text-center" title="More Odoo Apps"
                        style="background-color: #841c25; color: #FFFFFF !important;"
                        href="https://www.odoo.com/apps/modules/browse?author=CorTex IT Solutions Ltd."
                        target="_blank"><span
                        style="font-size: 20px;font-family:Noto Sans CJK TC Thin;padding:5px 20px 7px 20px;text-align:center;border-radius:5px;display: inline-block;">More Apps by CorTex IT Solutions Ltd. </span>
                </a>
            </div>
            <div class="col-md-12" style="font-size: 15px;color:#333;font-family:LatoOpen Sans;">
                <div class="oe_slogan oe_spaced text-center">
                    <a
                            class="btn btn-info mt8" title="Support"
                            style="background-color: #841c25; color: #FFFFFF !important;"
                            href="mailto:support@cortexsolutions.net"> Support </a>
                    <a
                            class="btn btn-info mt8" title="Request New Features now !"
                            style="background-color: #841c25; color: #FFFFFF !important;"
                            href="mailto:support@cortexsolutions.net"> Request New Features </a>

                </div>
            </div>
        </div>
    </div>
</section>
