<section class="oe_container">
    <div class="oe_row oe_centered">
        <div class="oe_span_10 oe_centered">
            <h4 class="oe_slogan" style="margin-left: 120px;"><b><span class="fa fa-star fa-spin"></span>
                    User Activity Log </span></b></h4>
        </div>
    </div>

    <p align="left">With this module user can easily track their work history they have performed. Have a look at its features:</p>

    <div class="oe_centered">
        <ul>
            <li>Admin has the rights to track user activity for every individual user. While every individual can’t track other user’s activity.</li>
            <li>The activity can be creating and editing any record.</li>
            <li>What changes were made and who made them can be easily known with this module. Again, the users other than admin can’t deleted records stored in user activity log.</li>
        </ul>
    </div>

    <div class="oe_row oe_centered">
        <div class="oe_span_10 oe_centered">
            <h4 class="oe_slogan" style="margin-left: 120px;"><b><span class="fa fa-star fa-spin"></span>
                    Prerequisites before Installation </span></b></h4>
        </div>
    </div>
    <p align="left">No prerequisites are required before the installation.</p>

    <div class="oe_row oe_centered">
        <div class="oe_span_10 oe_centered">
            <h4 class="oe_slogan" style="margin-left: 120px;"><b><span class="fa fa-star fa-spin"></span>
                    Configurations </span></b></h4>
        </div>
    </div>
    <p align="left">No configurations.</p>

    <div class="oe_centered">
        <p>Below displayed is the menu page of this module. Click on the “Action” button and select “Recent Logs” from the dropdown menu to view the recent activities performed by user.</p>
    </div>
    <div class="oe_row oe_centered">
        <div class="oe_span12">
            <img src="img/menu.png" style="width: 100%;"/>
        </div>
    </div>

    <div class="oe_centered">
        <p>After selecting the recent log action, you will be displayed with number of records and you can easily choose from the list for which record you want to get a detailed information. By clicking on the arrow button of any particular record you will be redirected to that record and you can gain a detailed idea of what changes were made on that record.</p>
    </div>
    <div class="oe_row oe_centered">
        <div class="oe_span12">
            <img src="img/user-log-screen.png" style="width: 100%;"/>
        </div>
    </div>

    <div class="oe_centered">
        <p>After getting redirected to any particular record page admin can easily track down what modifications were made by user. As shown in the image admin can view the name of user, record name, last seen of the user visiting this record, and user activity.</p>
    </div>
    <div class="oe_row oe_centered">
        <div class="oe_span12">
            <img src="img/config.png" style="width: 100%;"/>
        </div>
    </div>
</section>

<!-- You may also like -->
<section class="oe_row">    
    <div class="oe_span12">
        <h2 class="col-mg-12 col-lg-12 oe_slogan">
            <a style="color: #000000;">
                You may also like
            </a>
        </h2>
        <div class="mb-4" style="margin-bottom: 1rem;">
            <div class="row">
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <a class="mt8" target="_blank" href="https://apps.odoo.com/apps/modules/13.0/user_location/" style="box-shadow: 0px 3px 12px rgba(0,0,0,0.2);">
                        <img src="img/user_location_banner.jpg" style="max-width: 100%;"/>
                    </a>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <a class="mt8" target="_blank" href="https://apps.odoo.com/apps/modules/13.0/deleted_records_info/" style="box-shadow: 0px 3px 12px rgba(0,0,0,0.2); padding-left: 0px;">
                        <img src="img/track_delete_records_banner.jpg" style="max-width: 100%;"/>
                    </a>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <a class="mt8" target="_blank" href="https://apps.odoo.com/apps/modules/13.0/mass_cancel_journal_entries/" style="box-shadow: 0px 3px 12px rgba(0,0,0,0.2); padding-left: 0px;">
                        <img src="img/mass_cancel_journal_entries_banner.png" style="max-width: 100%;"/>
                    </a>
                </div>
            </div>
        </div>
        <div class="mb-4" style="margin-bottom: 1rem;">
            <div class="row">
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <a class="mt8" target="_blank" href="https://apps.odoo.com/apps/modules/10.0/auto_signup/" style="box-shadow: 0px 3px 12px rgba(0,0,0,0.2); padding-left: 0px;">
                        <img src="img/auto_signup_banner.jpg" style="max-width: 100%;"/>
                    </a>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <a class="mt8" target="_blank" href="https://apps.odoo.com/apps/modules/11.0/product_wise_sales_filter/" style="box-shadow: 0px 3px 12px rgba(0,0,0,0.2); padding-left: 0px;">
                        <img src="img/product_wise_sales_report_banner.jpeg" style="max-width: 100%;"/>
                    </a>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <a class="mt8" target="_blank" href="https://apps.odoo.com/apps/modules/11.0/payment_acquirer_report/" style="box-shadow: 0px 3px 12px rgba(0,0,0,0.2); padding-left: 0px;">
                        <img src="img/payment_acquirer_report_banner.jpeg" style="max-width: 100%;"/>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Get Help & Support -->
<section class="oe_row">
    <div class="oe_span12">
        <h2 class="col-mg-12 col-lg-12 oe_slogan">
            <a href="mailto:sales@aktivsoftware.com"
               style="color: #000000 !important;">
                Get Help &amp; Support
            </a>
        </h2>
        <div class="oe_slogan oe_spaced text-center">
            <a class="btn btn success mt8" title="website" target="new"
               style="background-color:#ff4040;  color: #ffffff; !important; position:relative; overflow: hidden;"
               href="http://aktivsoftware.com/"><b>Website</b></a>
            <a class="btn btn success mt8" title="Contact Us"
               style="background-color:#ff4040; color: #ffffff; !important; position:relative; overflow: hidden;"
               href="mailto:sales@aktivsoftware.com"><b>Contact Us</b></a>
            <a class="btn btn success mt8"
               title="Request New Features Now!"
               style="background-color:#ff4040; color: #ffffff; !important; position:relative; overflow: hidden;"
               href="mailto:sales@aktivsoftware.com"><b>Request For New
                Features</b></a>
                <br/>
            <a class="btn btn success mt8" title="Aktiv Apps"
               style="background-color:#ff4040; color: #ffffff; !important; position:relative; overflow: hidden;" href="https://apps.odoo.com/apps/modules/browse?search=aktiv_software" target="_blank"><i class="fa fa-list-alt mr-1"></i> <span class=" d-sm-inline">Aktiv</span> All Apps</a>
            <a class="btn btn success mt8" title="Migrate to latest version?"
               style="background-color:#ff4040; color: #ffffff; !important; position:relative; overflow: hidden;" href="http://www.aktivsoftware.com/get-started/" target="_blank"><i class="fa fa-list-alt mr-1"></i> <span class=" d-sm-inline">Migrate</span> To Latest version</a>
        </div>
        <h2 class="oe_slogan">
            <a href="http://aktivsoftware.com/" target="new">
                <img src="aktiv-logo.png"/>
            </a>
            <br/>
            <a href="https://www.facebook.com/AktivSoftware/" > <i class="fa fa-facebook fa-4x" style="color:white;background: #4c4a8a;width:35px; ;height: 35px;padding-top: 7px;font-size: 21px;margin-right: 6px;border-radius: 100%;"></i> </a>
            <a href="https://twitter.com/aktiv_software"> <i style="color:white;background: #47bee2;width:35px;height: 35px;padding-top: 7px;font-size: 21px;margin-right: 6px;border-radius: 100%;" class="fa fa-twitter fa-4x"></i></a>
            <a href="https://www.linkedin.com/company/aktiv-software/"
            ><i class="fa fa-linkedin fa-4x" style="color:white;background: #1f9dd6;width:35px;padding-left: 3px;height: 35px;padding-top: 7px;font-size: 21px;margin-right: 6px;border-radius: 100%;"></i> </a>
            <a href="https://youtu.be/CwPwh4sKylo" > <i class="fa fa-youtube-play" style="color:white;background: #ef4800;width:35px; ;height: 35px;padding-top: 7px;font-size: 21px;margin-right: 6px;border-radius: 100%;"></i> </a>
        </h2>
    </div>
</section>