<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2 class="oe_slogan">POS Mirror</h2>
        </div>
        <div class="oe_span12">
            <div class="oe_demo oe_picture oe_screenshot">
                <a href="https://youtu.be/7hk08PsCls0">
                    <img src="v_0_2.png">
                </a>
                <div class="oe_demo_footer oe_centeralign">Demo POS Mirror</div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="oe_row">
        <div class="container-fluid">
            <div class="oe_row">
                <div class="col-md-12 col-xs-12 col-sm-12 mt32 mb32 text-center">
                    <img src="logo.png" style="height:100px;">
                </div>
            </div>
            <div class="oe_row oe_screenshot" style="box-shadow: 3px 4px 25px 6px rgba(0, 0, 0, 0.2);;border-radius: 8px; background: #ECEDF0;">
                <div class="col-sm-12">
                <div class="text-center">
                <a href="https://kanakinfosystems.com/kanak_aboutus"><h3 class="oe_slogan" style="border-bottom: 1px solid #123246; margin-top: 8px; font-size:33px; color:#123246; opacity:1;  font-family:segoeuib">About kanak Infosystems</h3></a>
                </div>
                </div>
                 <div class="col-sm-12">
                <h5 class="oe_slogan" style="margin-top: -9px; color:#123246;margin-bottom: 12px; opacity: 0.6; font-family:segoeuiz;"><i><b>"We are groupies wrapped in Creativity, Skills and Innovation"</b></i></h5>
                <p style="font-family:segoeui">We are authorized IT company to offer advanced, hight quality and affordable IT solutions. We have years of rich experience in the field of ODOO Development, ERP Solutions, Web Development, Mobile Apps, Web Designing and Digital marketing. Around a decade are offering quality assured and 100% customer satisfaction services to global clientele.</p>

                <p style="font-family:segoeui">Our highly experienced and devoted team of professionals works with there heart, passion and talent to provide the most dedicated IT Business Solutions to our valuable clients globally. Our team works on the real words "Dedication,"Timely Deliverables",And "Happy Clients"!</p>
                </div>
            </div>
            <div class="oe_row col-md-12 col-sm-12">
                <div class="text-center">
                    <h2 style="color:#123246;font-family:segoeuib"> What We Do</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 col-sm-2">
                    <img src="icon1.png">
                    <h6 style="margin-top: -10px;font-size: 9px;color:#123246;font-family:">Odoo Customization</h6>
                </div>
                <div class="col-md-2 col-sm-2">
                    <img src="icon-2.png">
                    <h6 style="margin-top: -1px;font-size: 9px;color:#123246;font-family:">Odoo Code Migration</h6>
                </div>
                <div class="col-md-2 col-sm-2">
                    <img src="icon-3.png">
                    <h6 style="margin-top: -1px;font-size: 9px;color:#123246;font-family:">Odoo Mobile App</h6>
                </div>
                <div class="col-md-2 col-sm-2">
                    <img src="icon-4.png">
                    <h6 style="margin-top: -1px;font-size: 9px;color:#123246;font-family:">Odoo DB Migration</h6>
                </div>
                <div class="col-md-2 col-sm-2">
                    <img src="icon-5.png">
                    <h6 style="margin-top: -1px;font-size: 9px;color:#123246;font-family:">Odoo Web Development</h6>
                </div>
                <div class="col-md-2 col-sm-2">
                    <img src="icon-6.png">
                    <h6 style="margin-top: -1px;font-size: 9px;color:#123246;font-family:">Odoo Themes</h6>
                </div>
            </div>
            <div class="oe_row">
                <div class="text-center" style="text-align: center;">
                    <a style="color:#dc1d1d; border:1px solid #dc1d1d; width:170px;" class="btn btn-lg" rel="nofollow" href="https://kanakinfosystems.com/contactus" target="_blank">
                         Contact Us
                    </a>
                </div>
            </div>
            <div class="oe_row" style="box-shadow: 3px 5px 18px 6px rgba(0, 0, 0, 0.2);;border-radius: 8px; background: #ECEDF0; height:50px">

            <div class="oe_row">
                <div class="col-md-12 col-sm-12" style="padding-top: 10px;padding-left: 40px;">
                    <div class="col-md-4 col-sm-4" style="float: left; text-align: center;">
                        <span><img src="call-icon.png"/></span>
                        <span>Help</span>
                    </div>
                    <div class="col-md-4 col-sm-4" style="float: left; text-align: center;">
                        <span><img src="support-icon.png"/></span>
                        <span>Support</span>
                    </div>
                    <div class="col-md-4 col-sm-4" style="float: left; text-align: center;">
                        <span><img src="features-icon.png"/></span>
                        <span>Request New Features</span>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</section>