<section class="oe_container oe_dark">
    <div class="col-md-12">
        <h2 class="oe_slogan" style="font-size: 35px;color:#2C0091"><b>Payroll Email/Mass Email</b></h2>
    </div>
</section>
<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2 class="oe_slogan" style="color:#875A7B">Employee Payslip</h2>
            <h3 class="oe_slogan">Creating Payslip for Employee </h3>
            <div class="oe_demo oe_picture oe_screenshot">
                <img src="images/1.png" style="height:400px;">
            </div>
        </div>
    </div>
</section>
<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2 class="oe_slogan" style="color:#875A7B">Sending Mass Payslips by Mail</h2>
            <h3 class="oe_slogan"></h3>
            <div style="margin-left:50px;margin-right:50px">
                <p class="oe_mt32" style="text-align:center;font-size:18px">
                    Select Employee Payslip and send email through using "send payroll by mail" action
                </p>
            </div>
            <div class="oe_demo oe_picture oe_screenshot">
                <img src="images/2.png" style="height:400px;">
            </div>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2 class="oe_slogan" style="color:#875A7B">For Individual Mail</h2>
            <div style="margin-left:50px;margin-right:50px">
                <p class="oe_mt32" style="text-align:center;font-size:18px">
                    Payslips can be sent to individual employees by opening payslip and clicking the Send button.
                </p>
            </div>
            <div class="oe_demo oe_picture oe_screenshot">
                <img src="images/3.png" style="height:400px;">
            </div>
        </div>
    </div>
</section>


<section class="oe_container" style="padding: 0% 0% 6% 0%;">
    <center>
        <div class="col-md-12" style="margin: auto !important;
         width: 70%;
         padding: 30px;">
            <h2 style="font-weight: 600;text-align: center;width: 100%;"> Need Any Assistance? </h2>
            <hr style="margin-top: 0px;margin-bottom: 2%;border: 0;text-align: center;border-top: 3px solid #d21c22;width: 5%;">
            <h4 style="font-size:16px;"> Regards Any queries, please feel free to contact Us.We are here to support
                you. </h4>
            <div class="col-md-4" style="float:left; padding:20px;">
                <h4><i class="fa fa-envelope"></i> Email us </h4>
                <p><a href="mailto:erp@nexusgurus.com">erp@nexusgurus.com</a></p>
            </div>
            <div class="col-md-4" style="float:left; padding:20px;">
                <h4><i class="fa fa-phone"></i> Contact Us </h4>
                <a href="https://nexusgurus.com/contactus"> nexusgurus.com/contact-us </a>
            </div>
            <div class="col-md-4" style="float:left; padding:20px;">
                <h4><i class="fa fa-phone"></i> Customer Care </h4>
                <a href="https://nexusgurus.com/customer-care"> nexusgurus.com/customer-care </a>
            </div>
        </div>
    </center>
</section>
<section class="oe_container" style="padding: 0% 0% 6% 0%;">
    <div class="oe_slogan" style="margin-bottom: 0px;">
        <div style=" display: flex; justify-content: center; flex-wrap: wrap; ">
        </div>
        <br>
        <img src="footer_logo.jpg" style="width: 190px; margin-bottom: 25px;margin-top: 30px;" class="center-block">
        <div style=" display: flex; justify-content: center; flex-wrap: wrap; ">
            <a href="https://www.linkedin.com/company/nexusincorporation" target="_blank"><i
                    class="fa fa-2x fa-linkedin"
                    style="color:white;background: #31a3d6;width:35px;height: 35px;padding-top: 7px;font-size: 21px;margin-right: 6px;border-radius: 100%;"></i></a>
            </td>
            <a href="https://www.facebook.com/nexusgurus" target="_blank"><i class="fa fa-2x fa-facebook"
                                                                             style="color:white;background: #3b5998;width:35px;  height: 35px;padding-top: 7px;font-size: 21px;margin-right: 6px;border-radius: 100%;"></i></a>
            </td>
            <a href="https://nexusgurus.com/" target="_blank"><i class="fa fa-2x fa-globe"
                                                                 style="color:white;background: #ac0f18;width:35px;height: 35px;padding-top: 7px;font-size: 21px;margin-right: 6px;border-radius: 100%;"></i></a>
            </td><a href="https://www.instagram.com/nexus.incorporation/" target="_blank"><i
                class="fa fa-2x fa-instagram"
                style="color:white;background: #ac0f18;width:35px;height: 35px;padding-top: 7px;font-size: 21px;margin-right: 6px;border-radius: 100%;"></i></a>
            </td>
        </div>
    </div>
</section>
