
        
        
        
        <section class="container" style="font-size:18px;">
            <div class="col-lg-12 col-md-12">
                
                    <div class="row">
                        
                
        <div class="col-lg-12 col-md-12 mt16" style="padding:0;">
            <div class="panel-group mb0 mt0" role="tablist" id="priceAccordeon" style="padding:0;">
                <div class="panel-heading collapsed mb0 mt0" role="tab" data-toggle="collapse" data-parent="#priceAccordeon" data-target="#priceAccordeon_area" aria-expanded="false" style="margin-left:0;padding:0 0 2px 0;text-align:right;border:none;">
                    <strong>
                        
        <div style="background-color:#21B799 !important;color:white !important;padding:5px;margin-bottom:3px;text-align:center;border-radius:5px;white-space:nowrap;display:inline-block;">
            <strong title="Click to observe details">
                <i class="fa fa-tags ml4"> </i>
                
                <span class="ml4">
                    498
                    <i class="fa fa-euro" style="font-size:14px;"> </i>
                </span>
                <i class="fa fa-angle-down ml4"> </i>
            </strong>
        </div>
    
                        
        
            
            
            <div style="background-color:#0D6759 !important;color:white !important;padding:5px;margin-bottom:3px;text-align:center;border-radius:5px;white-space:nowrap;display:inline-block;">
                <strong title="The tool is compatible with the Odoo Enterprise version" style="color:white !important;">
                    <i class="fa fa-check ml4"> </i>
                    Enterprise
                </strong>
                
            </div>           
            <div style="background-color:#0D6759 !important;color:white !important;padding:5px;margin-bottom:3px;text-align:center;border-radius:5px;white-space:nowrap;display:inline-block;">
                <strong title="The tool is compatible with the Odoo Community version" style="color:white !important;">
                    <i class="fa fa-check ml4"> </i>
                    Community
                </strong>
                
            </div>
            <div style="background-color:#0D6759 !important;color:white !important;padding:5px;margin-bottom:3px;text-align:center;border-radius:5px;white-space:nowrap;display:inline-block;;">
                <strong title="The tool might be installed to Odoo.sh if you have a linked private git repository" style="color:white !important;">
                    <i class="fa fa-check ml4"> </i>
                    Odoo.sh
                </strong>
            </div>
        
    
                    </strong>
                </div>
                <div class="panel-collapse collapse" role="tabpanel" id="priceAccordeon_area" aria-expanded="false" style="padding:0;border:1px dotted #ddd;">
                    <div class="panel-body">
                        
        
    
                        
        <div class="col-12 mt8">
            <span>
                The price includes all necessary dependencies =
                
                <span data-oe-type="float" data-oe-expression="tool.price">99</span><i class="fa fa-euro" style="font-size:14px;"> </i> (own price)
                <span class="ml4">
                    
                        +
                        
                        <span data-oe-type="float" data-oe-expression="app_dep.price">399</span><i class="fa fa-euro" style="font-size:14px;"> </i>
                        (<a target="_blank" href="https://apps.odoo.com/apps/modules/14.0/business_appointment">
                            <span>Universal Appointments and Time Reservations</span>
                        </a>)
                    .
                </span>
            </span>
        </div>
    
                    </div>
                </div>
            </div>
        </div>
    
                    </div>
                    <div class="row">
                        
        <div class="col-lg-12 col-md-12 mt8" style="padding:0;">
            <ul role="tablist" class="nav nav-tabs mb16 mt16 justify-content-center" data-tabs="tabs" style="background:unset !important;">
                <li class="nav-item mb4" style="background-color: #21B799;border-top-left-radius: 6px;border-top-right-radius: 6px;margin-right:2px;padding-bottom:3px;min-width:150px;">
                    <a href="#features" data-toggle="tab" class="nav-link active" aria-expanded="true" style="color:black !important;border-top-left-radius: 6px;border-top-right-radius: 6px;">
                        Features
                    </a>
                </li>
                
                
                <li class="nav-item mb4" style="background-color: #21B799;border-top-left-radius: 6px;border-top-right-radius: 6px;margin-right:2px;padding-bottom:3px;min-width:150px;">
                    <a href="#screenshots" data-toggle="tab" class="nav-link" aria-expanded="true" style="color:black !important;border-top-left-radius: 6px;border-top-right-radius: 6px;">
                       Screenshots
                    </a>
                </li>
                <li class="nav-item mb4" style="background-color: #21B799;border-top-left-radius: 6px;border-top-right-radius: 6px;margin-right:2px;padding-bottom:3px;min-width:150px;">
                    <a href="#support_info" data-toggle="tab" class="nav-link" style="color:black !important;border-top-left-radius: 6px;border-top-right-radius: 6px;">
                       Support
                       <span>
                       & Demo <sup><small style="color:#BA3C3D !important;"><i>free</i></small></sup>
                       </span>
                    </a>
                </li>
            </ul>
        </div>
    
                    </div>
                    <div class="row">
                        <div class="tab-content w-100">
                            <div id="features" class="tab-pane active">
                                
        
    
                                
        <div class="row">
            <div class="row col-lg-12 col-md-12 mt8 mb8">
                <div class="text-left mb16 col-lg-12 col-md-12">
                    
                    
                    <div class="mt8 mb8">
                        
                        
                        
                        This is an extension to the tool
                        <a href="https://apps.odoo.com/apps/modules/14.0/business_appointment">Universal Appointments and Time Reservations</a>.
                        
                        Read the full description of the features and optional modules on 
                        <a href="https://apps.odoo.com/apps/modules/14.0/business_appointment">the core module page.</a>
                    </div>   
                </div>
                
            </div>
            
        </div>
    
                                
                                
                                

                                
        <div class="mt8">
            
                <div class="row mt8 mb16">
                    
                    <section class="w-100">
                        <div class="col-lg-12 col-md-12 mb16" style="line-height:1.5"><div class="row">
  <div class="col-lg-6 col-md-6 col-sm-12 mt8 mb16">
    <div class="row h-100 shadow" style="margin:0;border-radius:20px; padding:16px 0; box-shadow:-40px 40px 160px 0 rgba(0, 0, 0, 0.08), -8px 8px 15px 0 rgba(120, 120, 120, 0.04), 3px 3px 30px 0 rgba(0, 0, 0, 0.04) !important">
      <div class="col-lg-3 col-md-3 col-sm-3">
        <i class="fa fa-5x fa-check-square-o text-primary"> </i>
      </div>
      <div class="col-lg-9 col-md-9 col-sm-9">
        <h4>Clear website bookings</h4>
        <p>Let portal partners and website visitors to schedule an appointment through configurable multi-step process of checkout and confirmation</p>
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-12 mt8 mb16">
    <div class="row h-100 shadow" style="margin:0;border-radius:20px; padding:8px 0; box-shadow:-40px 40px 160px 0 rgba(0, 0, 0, 0.08), -8px 8px 15px 0 rgba(120, 120, 120, 0.04), 3px 3px 30px 0 rgba(0, 0, 0, 0.04) !important">
      <div class="col-lg-3 col-md-3 col-sm-3">
        <i class="fa fa-5x fa-check-square-o text-primary"> </i>
      </div>
      <div class="col-lg-9 col-md-9 col-sm-9">
        <h4>Full service management details</h4>
        <p>Publish resource types, resources, and services details in portal and website</p>     
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-12 mt8 mb16">
    <div class="row h-100 shadow" style="margin:0;border-radius:20px; padding:16px 0; box-shadow:-40px 40px 160px 0 rgba(0, 0, 0, 0.08), -8px 8px 15px 0 rgba(120, 120, 120, 0.04), 3px 3px 30px 0 rgba(0, 0, 0, 0.04) !important;">
      <div class="col-lg-3 col-md-3 col-sm-3">
        <i class="fa fa-5x fa-check-square-o text-primary"> </i>
      </div>
      <div class="col-lg-9 col-md-9 col-sm-9">
        <h4>Customizable website and portal pages</h4>
        <p>Turn on/off optional layout elements. Introduce own titles and welcome texts. Exclude booking steps</p>       
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-12 mt8 mb16">
    <div class="row h-100 shadow" style="margin:0;border-radius:20px; padding:16px 0; box-shadow:-40px 40px 160px 0 rgba(0, 0, 0, 0.08), -8px 8px 15px 0 rgba(120, 120, 120, 0.04), 3px 3px 30px 0 rgba(0, 0, 0, 0.04) !important">
      <div class="col-lg-3 col-md-3 col-sm-3">
        <i class="fa fa-5x fa-check-square-o text-primary"> </i>
      </div>
      <div class="col-lg-9 col-md-9 col-sm-9">
        <h4>Portal control over reservations</h4>
        <p>Allow portal users control planned and done reservations</p>        
      </div>
    </div>
  </div>
</div>

</div>
                        
                        
        
    
                         
                    </section>
                </div>
            
                <div class="row mt8 mb16">
                    <div class="col-lg-12 col-md-12">
                        <h2>Universal website bookings</h2>
                    </div>
                    <section class="w-100">
                        <div class="col-lg-12 col-md-12 mb8" style="line-height:1.5"><div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 mt8 mb16">
    <div class="h-100 shadow" style="margin:0;border-radius:20px; padding:16px 16px; box-shadow:-40px 40px 160px 0 rgba(0, 0, 0, 0.08), -8px 8px 15px 0 rgba(120, 120, 120, 0.04), 3px 3px 30px 0 rgba(0, 0, 0, 0.04) !important">      <ul class="list-unstyled" style="padding-left:0;list-style:none;">
        <li class="mb8" style="display: flex !important; align-items: baseline !important">
          <div class="mr8"><i class="fa fa-check-square-o text-primary"></i></div>
          <div>Scheduling an appointment through Odoo portal and website is organized as multi steps checkout process</div> 
        </li>
        <li class="mb8" style="display: flex !important; align-items: baseline !important">
          <div class="mr8"><i class="fa fa-check-square-o text-primary"></i></div>
          <div>A customer searches among resource types and selects a required one. For example, "Beauty salon" or "Class C Cars". The step would not be shown if there is a single published resource type for this website</div> 
        </li>
        <li class="mb8" style="display: flex !important; align-items: baseline !important">
          <div class="mr8"><i class="fa fa-check-square-o text-primary"></i></div>
          <div>A customer navigates over available for this type resources and chooses one, a few, or apply any (all). For example, "Hair Dresser John Brown" or "Opel Astra 1234". The step is missed in case there is a single published resource, or a chosen resource type assumes automatic allocation</div> 
        </li>
        <li class="mb8" style="display: flex !important; align-items: baseline !important">
          <div class="mr8"><i class="fa fa-check-square-o text-primary"></i></div>
          <div>A customer chooses a desired service among provided by selected resources. For example, "Classic Hair Cutting" or "Car Rent Class C". Clients would not be asked to choose a service, if there is only one published for this website</div> 
        </li>
        <li class="mb8" style="display: flex !important; align-items: baseline !important">
          <div class="mr8"><i class="fa fa-check-square-o text-primary"></i></div>
          <div>A customer is shown available time slots. The interface let adopt time frames for search, change time zone, insert duration (for services with manual duration). Each action results in slots recalculation. Website visitors might be optionally allowed to book a few time slots for a chosen service</div> 
        </li>
        <li class="mb8" style="display: flex !important; align-items: baseline !important">
          <div class="mr8"><i class="fa fa-check-square-o text-primary"></i></div>
          <div>Slots selection is required and might be not missed. As soon as pre-reservation is done, nobody else can book the same slot. Simultaneously, clients have limited time to make confirmation after which pre-reservation would be canceled (the exact time is up to you)</div> 
        </li>
        <li class="mb8" style="display: flex !important; align-items: baseline !important">
          <div class="mr8"><i class="fa fa-check-square-o text-primary"></i></div>
          <div>A customer should enter contact details, set of which might be configured per website. By default required ones are name and email. Previously registered (portal) users would have fields auto populated. Optionally add here a checkbox to agree with terms and conditions</div> 
        </li>
        <li class="mb8" style="display: flex !important; align-items: baseline !important">
          <div class="mr8"><i class="fa fa-check-square-o text-primary"></i></div>
          <div>Optionally ask customers to confirm email / mobile or phone number. If confirmation option is turned on, website visitors would be obliged to insert received codes. In case a correct code is not introduced in time (set up on the configuration page), appointments would be canceled. If you selected SMS confirmation (depends on Odoo SMS IAP), but you balance is not sufficient, a confirmation code would be forwarded by email</div> 
        </li>
        <li class="mb8" style="display: flex !important; align-items: baseline !important">
          <div class="mr8"><i class="fa fa-check-square-o text-primary"></i></div>
          <div>As soon as all steps are done, a customer receives a confirmation email and is redirected to the success page. For not yet registered users, Odoo would offer to enter the password for Odoo portal</div> 
        </li>
        <li class="mb8" style="display: flex !important; align-items: baseline !important">
          <div class="mr8"><i class="fa fa-check-square-o text-primary"></i></div>
          <div>During the whole process customers might see the progress bar (if you have not purposefully turned it off). Progress bar let safely return to any previous step.</div> 
        </li>
      </ul>
    </div>
  </div>
</div></div>
                        
                        
        <div class="col-lg-12 col-md-12 row mb16 mt16">
            
                <div class="col-lg-12 col-md-12 mb16 mt8">
                    <img class="img img-fluid mx-auto" alt="Website list of businesses for appointments" src="website_full_list_of_appointment_businesses.png"/>
                </div>
            
                <div class="col-lg-12 col-md-12 mb16 mt8">
                    <img class="img img-fluid mx-auto" alt="Odoo website resource booking page" src="website_appointments_resources.png"/>
                </div>
            
                <div class="col-lg-12 col-md-12 mb16 mt8">
                    <img class="img img-fluid mx-auto" alt="Website service reservation page" src="website_appointment_services.png"/>
                </div>
            
                <div class="col-lg-12 col-md-12 mb16 mt8">
                    <img class="img img-fluid mx-auto" alt="Website time booking page" src="website_appointments_time_slots.png"/>
                </div>
            
                <div class="col-lg-12 col-md-12 mb16 mt8">
                    <img class="img img-fluid mx-auto" alt="Website suggested products popup" src="website_reservation_complementaries.png"/>
                </div>
            
                <div class="col-lg-12 col-md-12 mb16 mt8">
                    <img class="img img-fluid mx-auto" alt="Odoo reservation contact details" src="website_full_contact_details.png"/>
                </div>
            
                <div class="col-lg-12 col-md-12 mb16 mt8">
                    <img class="img img-fluid mx-auto" alt="Confirmation code email to schedule appointment" src="website_full_confirmation_code.png"/>
                </div>
            
                <div class="col-lg-12 col-md-12 mb16 mt8">
                    <img class="img img-fluid mx-auto" alt="Interactive booking progress bar" src="appointment_progress_steps_safe.png"/>
                </div>
            
                <div class="col-lg-12 col-md-12 mb16 mt8">
                    <img class="img img-fluid mx-auto" alt="Success appointment page" src="website_successful_appointment.png"/>
                </div>
            
        </div>
    
                         
                    </section>
                </div>
            
                <div class="row mt8 mb16">
                    <div class="col-lg-12 col-md-12">
                        <h2>Configurable appointment pages</h2>
                    </div>
                    <section class="w-100">
                        <div class="col-lg-12 col-md-12 mb8" style="line-height:1.5"><div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 mt8 mb16">
    <div class="h-100 shadow" style="margin:0;border-radius:20px; padding:16px 16px; box-shadow:-40px 40px 160px 0 rgba(0, 0, 0, 0.08), -8px 8px 15px 0 rgba(120, 120, 120, 0.04), 3px 3px 30px 0 rgba(0, 0, 0, 0.04) !important">
      <ul class="list-unstyled" style="padding-left:0;list-style:none;">
        <li class="mb8" style="display: flex !important; align-items: baseline !important">
          <div class="mr8"><i class="fa fa-check-square-o text-primary"></i></div>
          <div>Show / hide progress bar. Introduce your own names for progress steps</div> 
        </li>
        <li class="mb8" style="display: flex !important; align-items: baseline !important">
          <div class="mr8"><i class="fa fa-check-square-o text-primary"></i></div>
          <div>Show / hide introduction block, images, short description for resource types, resources, and services</div> 
        </li>
        <li class="mb8" style="display: flex !important; align-items: baseline !important">
          <div class="mr8"><i class="fa fa-check-square-o text-primary"></i></div>
          <div>Prepare own full details pages for resource types, resources, and service using Odoo standard website builder. Show / hide links for those pages</div> 
        </li>
        <li class="mb8" style="display: flex !important; align-items: baseline !important">
          <div class="mr8"><i class="fa fa-check-square-o text-primary"></i></div>
          <div>Show / hide pre-reservation and confirmation timers</div> 
        </li>
        <li class="mb8" style="display: flex !important; align-items: baseline !important">
          <div class="mr8"><i class="fa fa-check-square-o text-primary"></i></div>
          <div>Choose contact details fields required to be entered</div> 
        </li>
        <li class="mb8" style="display: flex !important; align-items: baseline !important">
          <div class="mr8"><i class="fa fa-check-square-o text-primary"></i></div>
          <div>Define filters and sorting criteria for resource types, resources, and service pages</div> 
        </li>
        <li class="mb8" style="display: flex !important; align-items: baseline !important">
          <div class="mr8"><i class="fa fa-check-square-o text-primary"></i></div>
          <div>Show / hide agreement with terms and conditions for portal / public users. Introduce your own text and link for that agreement</div> 
        </li>
      </ul>
    </div>
  </div>
</div></div>
                        
                        
        <div class="col-lg-12 col-md-12 row mb16 mt16">
            
                <div class="col-lg-12 col-md-12 mb16 mt8">
                    <img class="img img-fluid mx-auto" alt="Website builder to describe reservation process" src="website_appointments_add_intro.png"/>
                </div>
            
                <div class="col-lg-12 col-md-12 mb16 mt8">
                    <img class="img img-fluid mx-auto" alt="Show / hide introduction for time slots" src="website_time_slots_customization.png"/>
                </div>
            
                <div class="col-lg-12 col-md-12 mb16 mt8">
                    <img class="img img-fluid mx-auto" alt="Configuration page: website-specific options" src="website_specific_options_part1.png"/>
                </div>
            
                <div class="col-lg-12 col-md-12 mb16 mt8">
                    <img class="img img-fluid mx-auto" alt="Configuration page: Odoo website-specific options part 2" src="website_specific_options_part2.png"/>
                </div>
            
        </div>
    
                         
                    </section>
                </div>
            
                <div class="row mt8 mb16">
                    <div class="col-lg-12 col-md-12">
                        <h2>Portal control of reservations</h2>
                    </div>
                    <section class="w-100">
                        <div class="col-lg-12 col-md-12 mb8" style="line-height:1.5"><div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 mt8 mb16">
    <div class="h-100 shadow" style="margin:0;border-radius:20px; padding:16px 16px; box-shadow:-40px 40px 160px 0 rgba(0, 0, 0, 0.08), -8px 8px 15px 0 rgba(120, 120, 120, 0.04), 3px 3px 30px 0 rgba(0, 0, 0, 0.04) !important">
      <h3>Portal control of reservations</h3>
      <ul class="list-unstyled" style="padding-left:0;list-style:none;">
        <li class="mb8" style="display: flex !important; align-items: baseline !important">
          <div class="mr8"><i class="fa fa-check-square-o text-primary"></i></div>
          <div>Customers may control their appointments right in the Odoo portal</div> 
        </li>
        <li class="mb8" style="display: flex !important; align-items: baseline !important">
          <div class="mr8"><i class="fa fa-check-square-o text-primary"></i></div>
          <div>Portal users observe the list of planned and done appointments, and may check any of those</div> 
        </li>
        <li class="mb8" style="display: flex !important; align-items: baseline !important">
          <div class="mr8"><i class="fa fa-check-square-o text-primary"></i></div>
          <div>The Odoo portal allows to schedule new or repeat existing reservation, cancel or re-schedule planned ones</div> 
        </li>
        <li class="mb8" style="display: flex !important; align-items: baseline !important">
          <div class="mr8"><i class="fa fa-check-square-o text-primary"></i></div>
          <div>Each appointment has chatter box which allows direct communication with resource manager and other followers</div> 
        </li>
      </ul>
    </div>
  </div>
</div></div>
                        
                        
        <div class="col-lg-12 col-md-12 row mb16 mt16">
            
                <div class="col-lg-12 col-md-12 mb16 mt8">
                    <img class="img img-fluid mx-auto" alt="Portal control of reservations" src="portal_list_of_appointments.png"/>
                </div>
            
                <div class="col-lg-12 col-md-12 mb16 mt8">
                    <img class="img img-fluid mx-auto" alt="Appointment portal full details" src="portal_appointment_form.png"/>
                </div>
            
        </div>
    
                         
                    </section>
                </div>
            
        </div>
    
                            </div>
                            
                            
                            <div id="screenshots" class="tab-pane">
                                
        <div class="row ">
            <div class="col-lg-12 col-md-12 mb16">
                
                    <div class="col-lg-12 col-md-12">
                        
        <div class="mb32">
            <h4 style="background-color:rgba(33, 183, 153, 0.3);padding:4px;">Choose resource type for reservation</h4>
            <img class="img img-fluid mx-auto" alt="Website list of businesses for appointments" src="website_full_list_of_appointment_businesses.png"/>
        </div>
    
                    </div>
                
                    <div class="col-lg-12 col-md-12">
                        
        <div class="mb32">
            <h4 style="background-color:rgba(33, 183, 153, 0.3);padding:4px;">Choose resource for reservation</h4>
            <img class="img img-fluid mx-auto" alt="Odoo website resource booking page" src="website_appointments_resources.png"/>
        </div>
    
                    </div>
                
                    <div class="col-lg-12 col-md-12">
                        
        <div class="mb32">
            <h4 style="background-color:rgba(33, 183, 153, 0.3);padding:4px;">Choose service for reservation</h4>
            <img class="img img-fluid mx-auto" alt="Website service reservation page" src="website_appointment_services.png"/>
        </div>
    
                    </div>
                
                    <div class="col-lg-12 col-md-12">
                        
        <div class="mb32">
            <h4 style="background-color:rgba(33, 183, 153, 0.3);padding:4px;">Choose time slot for reservation</h4>
            <img class="img img-fluid mx-auto" alt="Website time booking page" src="website_appointments_time_slots.png"/>
        </div>
    
                    </div>
                
                    <div class="col-lg-12 col-md-12">
                        
        <div class="mb32">
            <h4 style="background-color:rgba(33, 183, 153, 0.3);padding:4px;">Choose complementaries for reservation</h4>
            <img class="img img-fluid mx-auto" alt="Website suggested products popup" src="website_reservation_complementaries.png"/>
        </div>
    
                    </div>
                
                    <div class="col-lg-12 col-md-12">
                        
        <div class="mb32">
            <h4 style="background-color:rgba(33, 183, 153, 0.3);padding:4px;">Odoo customer contact details for appointment</h4>
            <img class="img img-fluid mx-auto" alt="Odoo reservation contact details" src="website_full_contact_details.png"/>
        </div>
    
                    </div>
                
                    <div class="col-lg-12 col-md-12">
                        
        <div class="mb32">
            <h4 style="background-color:rgba(33, 183, 153, 0.3);padding:4px;">Confirm email address / mobile number by entering code</h4>
            <img class="img img-fluid mx-auto" alt="Confirmation code email to schedule appointment" src="website_full_confirmation_code.png"/>
        </div>
    
                    </div>
                
                    <div class="col-lg-12 col-md-12">
                        
        <div class="mb32">
            <h4 style="background-color:rgba(33, 183, 153, 0.3);padding:4px;">Safely move forward and back through progress steps</h4>
            <img class="img img-fluid mx-auto" alt="Interactive booking progress bar" src="appointment_progress_steps_safe.png"/>
        </div>
    
                    </div>
                
                    <div class="col-lg-12 col-md-12">
                        
        <div class="mb32">
            <h4 style="background-color:rgba(33, 183, 153, 0.3);padding:4px;">Successful Odoo appointment</h4>
            <img class="img img-fluid mx-auto" alt="Success appointment page" src="website_successful_appointment.png"/>
        </div>
    
                    </div>
                
                    <div class="col-lg-12 col-md-12">
                        
        <div class="mb32">
            <h4 style="background-color:rgba(33, 183, 153, 0.3);padding:4px;">Custom introduction per all booking steps</h4>
            <img class="img img-fluid mx-auto" alt="Website builder to describe reservation process" src="website_appointments_add_intro.png"/>
        </div>
    
                    </div>
                
                    <div class="col-lg-12 col-md-12">
                        
        <div class="mb32">
            <h4 style="background-color:rgba(33, 183, 153, 0.3);padding:4px;">Time slots page customization</h4>
            <img class="img img-fluid mx-auto" alt="Show / hide introduction for time slots" src="website_time_slots_customization.png"/>
        </div>
    
                    </div>
                
                    <div class="col-lg-12 col-md-12">
                        
        <div class="mb32">
            <h4 style="background-color:rgba(33, 183, 153, 0.3);padding:4px;">Appointment configuration per Odoo website</h4>
            <img class="img img-fluid mx-auto" alt="Configuration page: website-specific options" src="website_specific_options_part1.png"/>
        </div>
    
                    </div>
                
                    <div class="col-lg-12 col-md-12">
                        
        <div class="mb32">
            <h4 style="background-color:rgba(33, 183, 153, 0.3);padding:4px;">Fully configurable website booking</h4>
            <img class="img img-fluid mx-auto" alt="Configuration page: Odoo website-specific options part 2" src="website_specific_options_part2.png"/>
        </div>
    
                    </div>
                
                    <div class="col-lg-12 col-md-12">
                        
        <div class="mb32">
            <h4 style="background-color:rgba(33, 183, 153, 0.3);padding:4px;">List of appointments in Odoo portal</h4>
            <img class="img img-fluid mx-auto" alt="Portal control of reservations" src="portal_list_of_appointments.png"/>
        </div>
    
                    </div>
                
                    <div class="col-lg-12 col-md-12">
                        
        <div class="mb32">
            <h4 style="background-color:rgba(33, 183, 153, 0.3);padding:4px;">Manage appointment in portal</h4>
            <img class="img img-fluid mx-auto" alt="Appointment portal full details" src="portal_appointment_form.png"/>
        </div>
    
                    </div>
                
            </div>
        </div>
    
                            </div>
                            <div id="support_info" class="tab-pane">
                                
        <div class="row mt8">
            <div class="col-md-12">
                <div class="mb32">
                    <h3>Odoo demonstration databases (live previews)</h3>
                    <p>For this app we might provide a <i>free</i> personalized demo database.</p>
                    <p>To demand such database: press the button "Live Preview" on the top of this page or copy the link <span class="bg-primary" style="border-radius:5px;padding:5px">https://faotools.com/s/0ynhk3</span></p>
                    <p>No phone number or credit card are required to contact us: only a short email sign up which does not take more than 30 seconds.</p>
                    <p>By your request we will prepare an individual live preview database, where you would be able to apply any tests and to check assumptions during 14 days.</p>
                </div>
                <div class="mb16">
                    <h3>Bug reporting</h3>
                    <p>In case you have faced any bugs or inconsistent behavior, do not hesitate to contact us. We guarantee to provide fixes during 60 days after a purchase, while even after this period we are strongly interested to improve our tools.</p>
                    <p>To send us a bug report: press the "Website" link on the top of this page and push the button "Bug Report" (the tab Support). Alternatively, copy the link <span class="bg-primary" style="border-radius:5px;padding:5px">https://faotools.com/s/o89ehb</span></p>
                    <p>No phone number or credit card are required to contact us: only a short email sign up which does not take more than 30 seconds.</p>
                    <p>Please include in your request as many details as possible: screen shots, Odoo server logs, full description of how to re-produce your problem, and so on. Usually it takes a few business days to prepare a working plan by an issue (if a bug is confirmed) or provide you with guidelines what should be done (otherwise).</p>
                </div>
                <div class="mt16 mb16">
                    <h3>Public features request and module ideas (free development)</h3>
                    <p>We are strongly motivated to improve our tools and would be grateful for any sort of feedback. In case your requirements are of public use and might be efficiently implemented, the team would include those into our to-do list.</p>
                    <p>Such to-do list is processed on a regular basis and does not assume extra fees. Altough we cannot promise deadlines and final design, it might be a good way to get desired features without investments and risks.</p>
                    <p>To share ideas: press the "Website" link on the top of this page and push the button "Share Features Ideas" (the tab Support). Alternatively, copy the link <span class="bg-primary" style="border-radius:5px;padding:5px">https://faotools.com/s/xd0f20</span></p>
                    <p>No phone number or credit card are required to contact us: only a short email sign up which does not take more than 30 seconds.</p>
                </div>
                <div class="mt16 mb16">
                    <h3>New features and extra Odoo services (individual development)</h3>
                    <p>Each of our apps might be customized and extended to suit your specific requirements.</p>
                    <p>Our customization team (itlibertas.com) fulfills not only such jobs but it also provides a full range of Odoo services. From simple modifications and consultations to complex enterprise projects. The team has completed over 100 implementations since 2012, and might help with any technical or business needs.</p>
                    <p>To contact us for details and conditions: press the "Website" link on the top of this page and push the button "Request Individual Customization" (the tab Support). Alternatively, copy the link <span class="bg-primary" style="border-radius:5px;padding:5px">https://faotools.com/s/d6wrn4</span></p>
                    <p>No phone number or credit card are required to contact us: only a short email sign up which does not take more than 30 seconds.</p>
                </div>
                <div class="mt16 mb16">
                    <h3>Questions and misc issues</h3>
                    <p>Feel free to contact us by any other concerns, doubts, or questions: press the "Website" link on the top of this page and push the button "Raise Question" (the tab Support). Alternatively, copy the link <span class="bg-primary" style="border-radius:5px;padding:5px">https://faotools.com/s/wnun59</span></p>
                </div>
                <div class="mt16 mb16">
                    <h3>About the team</h3>
                    <p>faOtools (faotools.com, former odootools.com) is the team of developers and business analysts to help you extend Odoo potential. We have been communicating with end users to whom the software became the main business tool since 2012. As a result, we are proud of dozens of successful Odoo apps developed. We are open for new ideas and challenges to create the best Odoo apps for business needs all over the world.</p>
                </div>
                
            </div>
        </div>
    
                            </div>
                        </div>
                    </div>
                    <div class="row">
                                
        
        <div class="col-md-12 col-lg-12 mt16 mb16">
            <div class="row">
                <div class="col-lg-12 col-md-12 mb8">
                    <h3>You may like the tools</h3>
                </div>
            </div>
            <div class="row">            
                
                    
                    <div class="col-lg-4 col-md-4 mb32">
                        <div class="row">
                            <div class="col-lg-3 col-md-5">
                                <a href="https://apps.odoo.com/apps/modules/14.0/knowsystem">
                                    <img class="img img-fluid" src="app_icon_1.png" alt="KnowSystem: Knowledge Base System"/>
                                </a>
                            </div>
                            <div class="col-lg-9 col-md-7">
                                <a href="https://apps.odoo.com/apps/modules/14.0/knowsystem">
                                    KnowSystem: Knowledge Base System
                                </a>
                                <p class="mb0">The tool to build deep and structured knowledge base for internal and external use. Knowledge System. KMS</p>
                                <strong class="pull-right">
                                    
                                        
                                        <span>
                                            298<i class="fa fa-euro" style="font-size:14px;"> </i>
                                        </span>
                                    
                                </strong>
                            </div>
                        </div>
                    </div>
                
                    
                    <div class="col-lg-4 col-md-4 mb32">
                        <div class="row">
                            <div class="col-lg-3 col-md-5">
                                <a href="https://apps.odoo.com/apps/modules/14.0/business_appointment">
                                    <img class="img img-fluid" src="app_icon_2.png" alt="Universal Appointments and Time Reservations"/>
                                </a>
                            </div>
                            <div class="col-lg-9 col-md-7">
                                <a href="https://apps.odoo.com/apps/modules/14.0/business_appointment">
                                    Universal Appointments and Time Reservations
                                </a>
                                <p class="mb0">The tool for time-based service management from booking appointment to sale and reviews</p>
                                <strong class="pull-right">
                                    
                                        
                                        <span>
                                            399<i class="fa fa-euro" style="font-size:14px;"> </i>
                                        </span>
                                    
                                </strong>
                            </div>
                        </div>
                    </div>
                
                    
                    <div class="col-lg-4 col-md-4 mb32">
                        <div class="row">
                            <div class="col-lg-3 col-md-5">
                                <a href="https://apps.odoo.com/apps/modules/14.0/odoo_password_manager">
                                    <img class="img img-fluid" src="app_icon_3.png" alt="Password Manager"/>
                                </a>
                            </div>
                            <div class="col-lg-9 col-md-7">
                                <a href="https://apps.odoo.com/apps/modules/14.0/odoo_password_manager">
                                    Password Manager
                                </a>
                                <p class="mb0">The tool to safely keep passwords in Odoo for shared use</p>
                                <strong class="pull-right">
                                    
                                        
                                            <del style="color:#BA3C3D !important;">
                                                188<i class="fa fa-euro" style="font-size:14px;"> </i>
                                            </del>
                                        
                                        <span>
                                            159<i class="fa fa-euro" style="font-size:14px;"> </i>
                                        </span>
                                    
                                </strong>
                            </div>
                        </div>
                    </div>
                
                    
                    <div class="col-lg-4 col-md-4 mb32">
                        <div class="row">
                            <div class="col-lg-3 col-md-5">
                                <a href="https://apps.odoo.com/apps/modules/14.0/kpi_scorecard">
                                    <img class="img img-fluid" src="app_icon_4.png" alt="KPI Balanced Scorecard"/>
                                </a>
                            </div>
                            <div class="col-lg-9 col-md-7">
                                <a href="https://apps.odoo.com/apps/modules/14.0/kpi_scorecard">
                                    KPI Balanced Scorecard
                                </a>
                                <p class="mb0">The tool to set up KPI targets and control their fulfillment by periods</p>
                                <strong class="pull-right">
                                    
                                        
                                        <span>
                                            198<i class="fa fa-euro" style="font-size:14px;"> </i>
                                        </span>
                                    
                                </strong>
                            </div>
                        </div>
                    </div>
                
                    
                    <div class="col-lg-4 col-md-4 mb32">
                        <div class="row">
                            <div class="col-lg-3 col-md-5">
                                <a href="https://apps.odoo.com/apps/modules/14.0/documentation_builder">
                                    <img class="img img-fluid" src="app_icon_5.png" alt="Odoo Documentation Builder"/>
                                </a>
                            </div>
                            <div class="col-lg-9 col-md-7">
                                <a href="https://apps.odoo.com/apps/modules/14.0/documentation_builder">
                                    Odoo Documentation Builder
                                </a>
                                <p class="mb0">The tool to create website documentation based on your knowledge base</p>
                                <strong class="pull-right">
                                    
                                        
                                        <span>
                                            437<i class="fa fa-euro" style="font-size:14px;"> </i>
                                        </span>
                                    
                                </strong>
                            </div>
                        </div>
                    </div>
                
                    
                    <div class="col-lg-4 col-md-4 mb32">
                        <div class="row">
                            <div class="col-lg-3 col-md-5">
                                <a href="https://apps.odoo.com/apps/modules/14.0/joint_calendar">
                                    <img class="img img-fluid" src="app_icon_6.png" alt="Joint Calendar"/>
                                </a>
                            </div>
                            <div class="col-lg-9 col-md-7">
                                <a href="https://apps.odoo.com/apps/modules/14.0/joint_calendar">
                                    Joint Calendar
                                </a>
                                <p class="mb0">The tool to combine different Odoo events in a few configurable super calendars. Shared calendar. Common calendar.</p>
                                <strong class="pull-right">
                                    
                                        
                                        <span>
                                            74<i class="fa fa-euro" style="font-size:14px;"> </i>
                                        </span>
                                    
                                </strong>
                            </div>
                        </div>
                    </div>
                
                    
                    <div class="col-lg-4 col-md-4 mb32">
                        <div class="row">
                            <div class="col-lg-3 col-md-5">
                                <a href="https://apps.odoo.com/apps/modules/14.0/onedrive">
                                    <img class="img img-fluid" src="app_icon_7.png" alt="OneDrive / SharePoint Odoo Integration"/>
                                </a>
                            </div>
                            <div class="col-lg-9 col-md-7">
                                <a href="https://apps.odoo.com/apps/modules/14.0/onedrive">
                                    OneDrive / SharePoint Odoo Integration
                                </a>
                                <p class="mb0">The tool to automatically synchronize Odoo attachments with OneDrive files in both ways</p>
                                <strong class="pull-right">
                                    
                                        
                                        <span>
                                            394<i class="fa fa-euro" style="font-size:14px;"> </i>
                                        </span>
                                    
                                </strong>
                            </div>
                        </div>
                    </div>
                
                    
                    <div class="col-lg-4 col-md-4 mb32">
                        <div class="row">
                            <div class="col-lg-3 col-md-5">
                                <a href="https://apps.odoo.com/apps/modules/14.0/google_drive_odoo">
                                    <img class="img img-fluid" src="app_icon_8.png" alt="Google Drive Odoo Integration"/>
                                </a>
                            </div>
                            <div class="col-lg-9 col-md-7">
                                <a href="https://apps.odoo.com/apps/modules/14.0/google_drive_odoo">
                                    Google Drive Odoo Integration
                                </a>
                                <p class="mb0">The tool to automatically synchronize Odoo attachments with Google Drive files in both ways</p>
                                <strong class="pull-right">
                                    
                                        
                                        <span>
                                            394<i class="fa fa-euro" style="font-size:14px;"> </i>
                                        </span>
                                    
                                </strong>
                            </div>
                        </div>
                    </div>
                
                    
                    <div class="col-lg-4 col-md-4 mb32">
                        <div class="row">
                            <div class="col-lg-3 col-md-5">
                                <a href="https://apps.odoo.com/apps/modules/14.0/owncloud_odoo">
                                    <img class="img img-fluid" src="app_icon_9.png" alt="OwnCloud / NextCloud Odoo Integration"/>
                                </a>
                            </div>
                            <div class="col-lg-9 col-md-7">
                                <a href="https://apps.odoo.com/apps/modules/14.0/owncloud_odoo">
                                    OwnCloud / NextCloud Odoo Integration
                                </a>
                                <p class="mb0">The tool to automatically synchronize Odoo attachments with OwnCloud / NextCloud files in both ways</p>
                                <strong class="pull-right">
                                    
                                        
                                        <span>
                                            394<i class="fa fa-euro" style="font-size:14px;"> </i>
                                        </span>
                                    
                                </strong>
                            </div>
                        </div>
                    </div>
                
            </div>
        </div>
        <div class="col-md-12 mb8 text-center hidden-xs">
            <div style="background-color:#0D6759 !important;padding:5px 20px 7px 20px;text-align:center;border-radius:5px;display: inline-block;">
                <a href="https://apps.odoo.com/apps/modules/browse?author=faOtools" style="color:white !important;text-decoration:none;">
                    <i class="fa fa-long-arrow-right"> </i> More Apps by faOtools
                </a>
            </div>
        </div>
    
                    </div>
                
            </div>
        </section>
    