#sh_wq_website_quote_model .whatsapp {
    clear: both;
    /*padding: 10px 0;*/
    border-radius: 4px;
}

#sh_wq_website_quote_model .whatsapp:focus {
    border: 0;
    outline: none !important;
}

#sh_wq_website_quote_model .whatsapp span {
    border-radius: 4px;
    background: #25d366;
    color: #fff;
    font-size: 13px;
    padding: 6px 8px;
    display: inline-block;
    outline: none;
}

#sh_wq_website_quote_model .whatsapp a:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
}

#sh_wq_website_quote_model .whatsapp i.icon-whatsapp {
    font-size: 21px;
    line-height: 21px;
    padding-right: 7px;
}

#sh_wq_website_quote_model .whatsapp.left {
    position: fixed;
    top: 0%;
    background: none !important;
    left: 0;
    -webkit-transform-origin: 0 50%;
    -moz-transform-origin: 0 50%;
    -ms-transform-origin: 0 50%;
    -o-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transform: rotate(-90deg) translate(-50%, 50%);
    -moz-transform: rotate(-90deg) translate(-50%, 50%);
    -ms-transform: rotate(-90deg) translate(-50%, 50%);
    -o-transform: rotate(-90deg) translate(-50%, 50%);
    transform: rotate(-90deg) translate(-50%, 50%);
}

#sh_wq_website_quote_model .whatsapp.center {
    position: fixed;
    background: none !important;
    text-align: center;
    margin: -35px -80px 0 0;
    top: 50%;
    right: 50%;
}

#sh_wq_website_quote_model .whatsapp.right {
    position: fixed;
    right: 5px;
    top: 40%;
    background: none !important;
}
#sh_wq_website_quote_model .whatsapp.right {
    position: fixed;
    right: 0;
    top: 0;
    background: none !important;
    -webkit-transform-origin: 100% 50%;
    -moz-transform-origin: 100% 50%;
    -ms-transform-origin: 100% 50%;
    -o-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    -webkit-transform: rotate(90deg) translate(50%, 50%);
    -moz-transform: rotate(90deg) translate(50%, 50%);
    -ms-transform: rotate(90deg) translate(50%, 50%);
    -o-transform: rotate(90deg) translate(50%, 50%);
    transform: rotate(90deg) translate(50%, 50%);
}

#sh_wq_website_quote_model .whatsapp.bottom-left {
    left: 0;
}

#sh_wq_website_quote_model .whatsapp.bottom-right {
    right: 0;
}

#sh_wq_website_quote_model .whatsapp.bottom-center {
    right: 45%;
}

#sh_wq_website_quote_model .whatsapp.top-left {
    top: 0;
    left: 0;
    bottom: auto;
}

#sh_wq_website_quote_model .whatsapp.top-right {
    top: 0;
    right: 0;
    bottom: auto;
}

#sh_wq_website_quote_model .whatsapp.top-center {
    top: 0;
    right: 45%;
    bottom: auto;
}

#sh_wq_website_quote_model .whatsapp-hookDisplayFooter {
    clear: none;
}

#sh_wq_website_quote_model .whatsapp-hookDisplayNav {
    clear: none;
    float: left;
    margin-left: 15px;
    padding: 0;
}

#sh_wq_website_quote_model .whatsapp-hookDisplayNav span {
    float: left;
    padding: 5px 0 10px;
    line-height: 18px;
    background: none;
}

#sh_wq_website_quote_model .whatsapp-hookDisplayNav i.icon-whatsapp {
    vertical-align: 0;
}

#sh_wq_website_quote_model .whatsapp-badge {
    position: fixed;
    bottom: 0;
    z-index: 1050;
    margin: 0px;
    width: auto !important;
}

#sh_wq_website_quote_model .whatsapp-widget {
    bottom: 0;
    z-index: 999999;
    margin: 10px;
    width: auto !important;
}

#sh_wq_website_quote_model .whatsapp-topWidth {
    padding: 0;
    text-align: center;
}

#sh_wq_website_quote_model .whatsapp-sticky {
    position: fixed;
    bottom: 0;
    z-index: 999999;
    margin: 0;
    padding: 0;
    width: 100% !important;
    text-align: center;
    border-radius: 0;
}

#sh_wq_website_quote_model .whatsapp-sticky.bottom-right {
    text-align: right;
}

#sh_wq_website_quote_model .whatsapp-sticky.bottom-left {
    text-align: left;
}

#sh_wq_website_quote_model .whatsapp-sticky.bottom-center {
    right: auto;
}

#sh_wq_website_quote_model .whatsapp-sticky.top-right {
    text-align: right;
}

#sh_wq_website_quote_model .whatsapp-sticky.top-left {
    text-align: left;
}

#sh_wq_website_quote_model .whatsapp-sticky.top-center {
    right: auto;
}

#sh_wq_website_quote_model .whatsapp-sticky.right {
    text-align: right;
    bottom: 46%;
}

#sh_wq_website_quote_model .whatsapp-sticky.left {
    text-align: left;
    bottom: 46%;
}

#sh_wq_website_quote_model .whatsapp-sticky.center {
    right: auto;
    bottom: 46%;
}

/** FLOATING BUTTON **/

.label-container {
    position: fixed;
    bottom: 35px;
    right: 90px;
    display: table;
    visibility: hidden;
}

.label-container-top-right {
    position: fixed;
    top: 34px;
    right: 90px;
    display: table;
    visibility: hidden;
}

.label-container-top-left {
    position: fixed;
    top: 34px;
    left: 90px;
    display: table;
    visibility: hidden;
}

.label-container-top-center {
    position: fixed;
    top: 0px;
    left: 45%;
    display: table;
    visibility: hidden;
}

.label-container-bottom-left {
    position: fixed;
    bottom: 35px;
    left: 90px;
    display: table;
    visibility: hidden;
}

.label-container-bottom-center {
    position: fixed;
    bottom: 13%;
    left: 48%;
    display: table;
    visibility: hidden;
}

.label-container-left {
    top: 47.5%;
    position: fixed;
    bottom: 30px;
    left: 85px;
    display: table;
    visibility: hidden;
}

.label-container-right {
    top: 47.5%;
    position: fixed;
    bottom: 30px;
    right: 85px;
    display: table;
    visibility: hidden;
}

.label-container-center {
    position: fixed;
    bottom: 46%;
    left: 51.5%;
    display: table;
    visibility: hidden;
}

.label-text {
    display: table-cell;
    vertical-align: middle;
    padding: 10px;
    border-radius: 3px;
}

.label-arrow {
    display: table-cell;
    vertical-align: middle;
    color: #333;
    opacity: 0.5;
}

#sh_wq_website_quote_model .my-float {
    font-size: 24px;
    margin-top: 18px;
}

a.float + div.label-container {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s ease;
}

a.float:hover + div.label-container {
    visibility: visible;
    opacity: 1;
}

.float .fa-whatsapp:before {
    font-size: xx-large;
    top: 14px;
    left: 1px;
    position: relative;
}

#sh_wq_website_quote_model .whatsapp-offline {
    background-color: #ff0000 !important;
}

#sh_wq_website_quote_model .modal-dialog {
    display: flex;
    align-items: center;
    position: relative;
    width: auto;
    pointer-events: none;
    min-height: calc(100% - 3.5rem);
    margin: 1.75rem auto;
}
#sh_wq_website_quote_model .modal-header {
    text-align: center;
    margin: 0px;
    padding: 1.5rem;
    border: none;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    background: o-color("o-color-1");
    color: #fff !important;
    border-top-left-radius: 0.125rem;
    border-top-right-radius: 0.125rem;
}
#sh_wq_website_quote_model .modal-header .close {
    color: #fff;
    opacity: 1;
}
#sh_wq_website_quote_model .modal-header .close h6 {
    font-size: 1.2em;
}
#sh_wq_website_quote_model .modal-content {
    border-radius: 5px;
    border: 0;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}
#sh_wq_website_quote_model .modal-title {
    margin-bottom: 0;
    line-height: 1.5;
    font-weight: 700;
    font-size: 1.5em;
}
#sh_wq_website_quote_model .modal-title i {
    margin-right: 15px;
}
#sh_wq_website_quote_model .modal-body {
    color: #616161;
    padding: 25px;
}
#sh_wq_website_quote_mb_form .form-group .offset-lg-3 {
    margin-left: 28% !important;
}
#sh_wq_website_quote_mb_form .form-group .offset-md-4 {
    text-align: center;
}
#sh_wq_website_quote_mb_form .form-group .offset-md-4 input {
    font-size: 15px;
    padding: 0.85rem 2.13rem;
    margin: 30px 0px 0px;
    border-radius: 2px;
    border: 0;
    -webkit-transition: 0.2s ease-out;
    transition: 0.2s ease-out;
    white-space: normal !important;
    cursor: pointer;
    background-color: #33b5e5 !important;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
#sh_wq_website_quote_model .modal-body textarea {
    display: block;
    height: 70px;
    width: 90%;
    margin: 0 auto;
    border: none;
}
#sh_wq_website_quote_model .modal-body textarea::placeholder {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-transition: 0.5s;
    transition: 0.5s;
}
#sh_wq_website_quote_model .modal-body textarea:hover,
.modal-body textarea:focus,
.modal-body textarea:active:focus {
    color: o-color("o-color-1");
    outline: none;
    border-bottom: 1px solid o-color("o-color-1") !important;
}
#sh_wq_website_quote_model .modal-body textarea:hover::placeholder,
#sh_wq_website_quote_model .modal-body textarea:focus::placeholder,
#sh_wq_website_quote_model .modal-body textarea:active:focus::placeholder {
    color: o-color("o-color-1");
    position: relative;
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
}
#sh_wq_website_quote_model .modal-body input {
    display: block;
    height: 50px;
    width: 90%;
    margin: 0 auto;
    border: none;
}
#sh_wq_website_quote_model .modal-body input::placeholder {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-transition: 0.5s;
    transition: 0.5s;
}
#sh_wq_website_quote_model .modal-body input:hover,
#sh_wq_website_quote_model .modal-body input:focus,
#sh_wq_website_quote_model .modal-body input:active:focus {
    color: o-color("o-color-1");
    outline: none;
    border-bottom: 1px solid o-color("o-color-1") !important;
}
#sh_wq_website_quote_model .modal-body input:hover::placeholder,
#sh_wq_website_quote_model .modal-body input:focus::placeholder,
#sh_wq_website_quote_model .modal-body input:active:focus::placeholder {
    color: o-color("o-color-1");
    position: relative;
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
}
#sh_wq_website_quote_model .YourName,
#sh_wq_website_quote_model .PhoneNumber,
#sh_wq_website_quote_model .email,
#sh_wq_website_quote_model .YourCompany,
#sh_wq_website_quote_model .Subject,
#sh_wq_website_quote_model .Yourquestion {
    position: relative;
    z-index: 1;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1) !important;
    padding-left: 0px;
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
    color: #858585;
    font-weight: lighter;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}
#sh_wq_website_quote_model .link {
    text-decoration: none;
    display: inline-block;
    margin: 27px 28%;
    text-transform: uppercase;
    color: #858585;
    font-weight: lighter;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}
#sh_wq_website_quote_model .close:not(:disabled):not(.disabled):hover,
#sh_wq_website_quote_model .close:not(:disabled):not(.disabled):focus {
    color: #fff;
}
#sh_wq_website_quote_form .form-group {
    margin-bottom: 1rem;
    display: inline-block;
}
#sh_wq_website_quote_mb_form .form-group .col-lg-7 {
    display: inline-block;
    flex: 0 0 58.33333333%;
    max-width: 100%;
}
#sh_wq_website_quote_model .form-group input:hover {
    color: #fff;
}
.mt32 {
    margin-top: 0px !important;
}
#sh_wq_website_quote_model .modal-dialog {
    max-width: 500px;
}
#sh_wq_website_quote_model .form-group {
    margin-bottom: 0rem;
}
#sh_wq_website_quote_model .close:not(:disabled):not(.disabled) {
    cursor: pointer;
    color: #fff !important;
    opacity: 1;
}
#sh_wq_website_quote_model .form-group .submit {
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    padding: 0.84rem 2.14rem;
    font-size: 0.81rem;
    -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    -o-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    margin-top: 25px;
    border: 0;
    -webkit-border-radius: 0.125rem;
    border-radius: 0.125rem;
    cursor: pointer;
    text-transform: uppercase;
    white-space: normal;
    word-wrap: break-word;
    color: #fff;
    background-color: o-color("o-color-1") !important;
}
#sh_wq_website_quote_model .form-group .submit:hover {
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    outline: 0;
}
#sh_wq_website_quote_model .form-group .cancel {
    border: 2px solid o-color("o-color-1") !important;
    background-color: transparent !important;
    color: o-color("o-color-1") !important;
    webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    padding: 0.75rem 2.14rem;
    font-size: 0.81rem;
    -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    -o-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    margin-left: 5px;
    border: 0;
    -webkit-border-radius: 0.125rem;
    border-radius: 0.125rem;
    cursor: pointer;
    text-transform: uppercase;
    white-space: normal;
    word-wrap: break-word;
}
#sh_wq_website_quote_model .form-group .cancel:hover {
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    outline: 0;
}
#sh_wq_website_quote_model .modal-body .col-lg-8 .alert-success {
    color: #616161;
    background-color: #ffffff;
    border-color: #ffffff;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    line-height: 26px;
}
#sh_wq_website_quote_model .modal-body .col-lg-8 {
    max-width: 100%;
}
#sh_wq_website_quote_model .form-group p {
    margin-bottom: 0px;
}
#sh_wq_website_quote_model h1,
#sh_wq_website_quote_model h3,
#sh_wq_website_quote_model h3,
#sh_wq_website_quote_model h4,
#sh_wq_website_quote_model h5,
#sh_wq_website_quote_model h6,
#sh_wq_website_quote_model p {
    margin: 0px;
}

@media only screen and (max-width: 576px) {
    #sh_wq_website_quote_mb_form .form-group .offset-lg-3 {
        margin-left: 0 !important;
    }
}
.quote-btn {
    text-transform: uppercase;
    white-space: normal;
    border: 0;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    padding: 0.84rem 2.14rem;
    font-size: 0.81rem;
    border-radius: 3px;
    z-index: 9;
}
.quote-img {
    z-index: 9;
}
.quote-btn:hover {
    outline: 0;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}
/*--madhavi--*/

.quote-btn.float-top-left {
    top: 1%;
    left: 0;
    position: absolute;
}

.quote-btn.float-top-center {
    top: 1%;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
}

.quote-btn.float-top-right {
    top: 1%;
    right: 0;
    position: absolute;
}

.quote-btn.float-left {
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    position: absolute;
}

.quote-btn.float-center {
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    position: absolute;
}

.quote-btn.float-right {
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    position: absolute;
}

.quote-btn.float-bottom-left {
    bottom: 0;
    left: 0;
    position: absolute;
}

.quote-btn.float-bottom-center {
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
}

.quote-btn.float-bottom-right {
    bottom: 0;
    right: 0;
    position: absolute;
}



.quote-img.float-top-left {
    top: 1%;
    left: 0;
    position: absolute;
}

.quote-img.float-top-center {
    top: 1%;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
}

.quote-img.float-top-right {
    top: 1%;
    right: 0;
    position: absolute;
}

.quote-img.float-left {
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    position: absolute;
}

.quote-img.float-center {
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    position: absolute;
}

.quote-img.float-right {
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    position: absolute;
}

.quote-img.float-bottom-left {
    bottom: 0;
    left: 0;
    position: absolute;
}

.quote-img.float-bottom-center {
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
}

.quote-img.float-bottom-right {
    bottom: 0;
    right: 0;
    position: absolute;
}
