.advanced_search_scroll {
  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    border: 3px solid transparent;
    background-clip: content-box;
    background-color: theme-color('primary');
  }
}

.advanced_list_search_thead {
  tr {
    th {
      position: relative;
      border: none !important;

      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 1px;
        height: 100%;
        background-color: #dee2e6;
      }

      th:first-child {
        &:before {
          content: none;
        }
      }
    }

    &:first-child {
      th {
        padding-top: 0.5rem !important;
        padding-bottom: 0.3rem !important;
      }
    }

    &:nth-child(2) {
      th {
        padding-top: 0.3rem !important;
        padding-bottom: 0.5rem !important;
      }
    }
  }

  .advanced_search_th {
    overflow: visible !important;
  }

  .advanced_search_field_input_block {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0.3rem 2px;
    border: 1px solid theme-color('primary');
    background-color: #FFFFFF;

    input {
      border: none;
      background-color: #FFFFFF;
    }
  }

  .advanced_search_field_btn {
    margin-left: 3px;
    border: 1px solid theme-color('primary');
    color: theme-color('text');
    outline: none;
    transition: all 0.3s;

    &:hover {
      background-color: theme-color('primary');
      color: #FFFFFF;
    }
  }

  .advanced_search_simple_field {
    display: flex;
    align-items: stretch;

    &_input_block {
      display: flex;
      align-items: center;

      input {
        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }

        &[type=number] {
          -moz-appearance: textfield;
        }
      }

      span {
        margin: 0 0.3rem;
        transition: all 0.3s;
        cursor: pointer;

        &:hover {
          color: theme-color('primary');
        }
      }
    }
  }

  .advanced_search_selection_field {
    position: relative;
    display: flex;
    align-items: stretch;

    .advanced_search_selection_field_input_block {
      flex-flow: row wrap;

      .advanced_search_selection_query_item {
        margin-left: 2px;
        margin-bottom: 2px;
        padding: 0 3px;
        border: 1px solid theme-color('primary');
        background-color: $gray-200;
        white-space: break-spaces;
        overflow-wrap: anywhere;

        i {
          margin-left: 3px;
          cursor: pointer;

          &:hover {
            color: theme-color('primary');
          }
        }
      }

      .advanced_search_selection_input {
        width: 100%;
        display: flex;
        align-items: center;

        input {
          display: block;
        }
      }
    }

    .advanced_search_selection_autocomplete_list {
      position: absolute;
      top: calc(100% + 3px);
      left: 0;
      width: 100%;
      max-height: 300px;
      border: 1px solid theme-color('primary');
      background-color: #FFFFFF;
      z-index: 99;
      overflow-y: auto;
      overflow-x: hidden;
      box-shadow: 0 1rem 1.1rem rgba(0, 0, 0, 0.1);

      &:focus {
        outline: none;
      }

      &_item {
        padding: 4px;
        cursor: pointer;

        &:hover, &:focus {
          background-color: theme-color('primary');
          color: #FFFFFF;
          outline: none;
        }
      }

      &_empty {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 4px;
        font-style: italic;
        font-weight: 400;
      }
    }
  }
}

.advanced_search_spinner_container {
  display: flex;
  align-items: center;
  justify-content: center;

  .advanced_search_spinner {
    display: inline-block;
    width: 20px;
    height: 20px;

    &:after {
      content: ' ';
      display: block;
      width: 16px;
      height: 16px;
      margin: 2px;
      border-radius: 50%;
      border: 2px solid theme-color('primary');
      border-color: theme-color('primary') transparent theme-color('primary') transparent;
      animation: advanced_search_spinner_frame 1.2s linear infinite;
    }
  }

  @keyframes advanced_search_spinner_frame {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

.advanced_list_search_thead_sticky {
  position: -webkit-sticky !important;
  position: sticky !important;
  top: 0 !important;
  background: #FFFFFF;
  z-index: 5;
  box-shadow: 0 5px 10px -4px rgba(0, 0, 0, 0.1);

  &:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: #dee2e6;
  }

  td {
    border-top: none;
  }

  & + tbody {
    tr:first-child:not(.o_group_header) {
      box-shadow: none !important;

      td {
        border-top: none;
      }
    }
  }
}
