
/****** ================= Theme 13 ============ ********/
/* Snippet 314 */
#sh_corpomate_theme_section_314{width: 100%;}
#sh_corpomate_theme_section_314 figure{position: relative;margin-bottom: 0;}
#sh_corpomate_theme_section_314 figure .sh_content{position: absolute;top: 0;left: 0;width: 100%;height: 100%;color: #fff;background: rgba(0,0,0,.6);display: flex;align-items: center;-webkit-box-align: center;}
#sh_corpomate_theme_section_314 figure .sh_content .sh_content_text{width: 60%;}
#sh_corpomate_theme_section_314 figure .sh_content .sh_content_text h3{font-size: 50px;font-weight: normal;display: -webkit-box;-webkit-line-clamp: 1;-webkit-box-orient: vertical;overflow: hidden;font-family: 'Lato', sans-serif;color: #fff;}
#sh_corpomate_theme_section_314 figure .sh_content .sh_content_text h1{font-size: 70px;display: -webkit-box;-webkit-line-clamp: 1;-webkit-box-orient: vertical;overflow: hidden;font-family: 'Lato', sans-serif;font-weight: bold;margin-bottom: 25px;}
#sh_corpomate_theme_section_314 figure .sh_content .sh_content_text p{margin-bottom: 50px;font-weight: 500;font-size: 18px;letter-spacing: 1px;display: -webkit-box;-webkit-line-clamp: 3;-webkit-box-orient: vertical;overflow: hidden;color: #fff;font-family: 'Lato', sans-serif;}
#sh_corpomate_theme_section_314 figure .sh_content .sh_content_text a.sh_btn_make{display: inline-block;vertical-align: middle;-webkit-transform: perspective(1px) translateZ(0);transform: perspective(1px) translateZ(0);box-shadow: 0 0 1px transparent;border-radius: 0px;padding: 14px 30px 14px;position: relative;overflow: hidden;-webkit-transition-property: color;transition-property: color;-webkit-transition-duration: 0.3s;transition-duration: 0.3s;font-size: 15px;border: none;background: $-color-Primary;color: #fff;font-size: 15px;}
#sh_corpomate_theme_section_314 figure .sh_content .sh_content_text a span{padding-left: 10px;}
#sh_corpomate_theme_section_314 figure img{max-height: 600px;object-fit: cover;min-height: 600px;width: 100%;}
#sh_corpomate_theme_section_314 figure figcaption{pointer-events:none;}
#sh_corpomate_theme_section_314 figure figcaption .sh_content_text{pointer-events: all;}

#sh_corpomate_theme_section_314 .carousel-item.active .sh_content_text h1{-webkit-animation-duration: 1s;animation-duration: 1s;-webkit-animation-fill-mode: both;animation-fill-mode: both;animation-name: fadeInUp !important;animation-delay: 0.3s;}
#sh_corpomate_theme_section_314 .carousel-item.active .sh_content_text p{-webkit-animation-duration: 1s;animation-duration: 1s;-webkit-animation-fill-mode: both;animation-fill-mode: both;animation-name: fadeInDown !important;animation-delay: 0.3s;} 
#sh_corpomate_theme_section_314 .carousel-item.active .sh_content_text a{-webkit-animation-duration: 1s;animation-duration: 1s;-webkit-animation-fill-mode: both;animation-fill-mode: both;animation-name: fadeInDown !important;animation-delay: 0.3s;}  
  
#sh_corpomate_theme_section_314 .owl-dots{display:none;}  

#sh_corpomate_theme_section_314 [aria-hidden="true"],#sh_corpomate_theme_section_314 [aria-hidden="1"]{display: block !important;}

@media only screen and (max-width: 825px){
   #sh_corpomate_theme_section_314 figure .sh_content .sh_content_text{width: 85%;}
}  
@media only screen and (max-width: 585px){
  #sh_corpomate_theme_section_314 .owl-item.active .sh_content_text h1{font-size: 60px;}
}
@media only screen and (max-width: 500px){
   #sh_corpomate_theme_section_314 figure img{min-height:400px;max-height: none;}
   #sh_corpomate_theme_section_314 figure .sh_content .sh_content_text h1{font-size: 35px !important;}
   #sh_corpomate_theme_section_314 figure .sh_content .sh_content_text p{font-size: 14px;}
}


/* snippet 315 */
#sh_corpomate_theme_section_315{padding: 150px 0px;}
#sh_corpomate_theme_section_315 .sh_image_text_13{text-align: left;}
#sh_corpomate_theme_section_315 .sh_image_text_13 .right_text{padding-right: 20px;padding-top: 30px;}
#sh_corpomate_theme_section_315 .sh_image_text_13 .right_text h5{color: #616161;font-size: 25px;font-weight: normal;margin-bottom: 12px;font-family: 'Lato', sans-serif;}
#sh_corpomate_theme_section_315 .sh_image_text_13 .right_text h3{color: #212121;font-size: 32px;font-weight: bold;margin-bottom: 35px;font-family: 'Lato', sans-serif;}
#sh_corpomate_theme_section_315 .sh_image_text_13 .right_text p{color: $-color-secondary;font-size: 15px;margin-bottom: 35px;line-height:1.8;display: -webkit-box;-webkit-line-clamp: 4;-webkit-box-orient: vertical;overflow: hidden;font-family: 'Lato', sans-serif;}
#sh_corpomate_theme_section_315 .sh_image_text_13 .right_text a.btn_viewmore{background: $-color-Primary;color: #fff;font-size: 15px;border-radius: 0px;padding: 8px 30px;font-family: 'Lato', sans-serif;font-weight: bold;}

#sh_corpomate_theme_section_315 .left_image .behind_img{position: relative;}
#sh_corpomate_theme_section_315 .left_image .behind_img img{width: 100%;object-fit: cover;box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.15);}
#sh_corpomate_theme_section_315 .left_image .front_img_top{position: absolute;content: '';top: -21%;left: 10%;transform: translate(10px, 10px);}
#sh_corpomate_theme_section_315 .left_image .front_img_bottom{position: absolute;content: '';bottom: -17%;right: 12%;}

#sh_corpomate_theme_section_315 .left_image img.behind_img:hover{filter: brightness(45%);transition: all 1s ease;}
/*hover effect*/
#sh_corpomate_theme_section_315 .left_image{overflow: hidden;}
#sh_corpomate_theme_section_315 .left_image .behind_img img {-webkit-transform: scale(1);transform: scale(1);-webkit-transition: .8s ease-in-out;transition: .8s ease-in-out;}
#sh_corpomate_theme_section_315 .left_image .behind_img:hover img {-webkit-transform: scale(1.2);transform: scale(1.2);-webkit-filter: grayscale(70%);filter: grayscale(70%);}

@media only screen and (max-width: 920px) and (min-width: 376px){
	#sh_corpomate_theme_section_315 .sh_image_text_13 .right_text{padding-top: 100px;}
	#sh_corpomate_theme_section_315 {padding: 180px 0px 60px 0px;}
}
@media only screen and (max-width: 375px) and (min-width: 320px){
	#sh_corpomate_theme_section_315 .sh_image_text_13 .right_text{padding-top: 100px;}
	#sh_corpomate_theme_section_315 {padding: 100px 0px 60px 0px;}
}



/* snippet 316 */
#sh_corpomate_theme_section_316{padding: 40px 0px;}
#sh_corpomate_theme_section_316 .sh_image_gallery_13 img{width: 100%;object-fit: cover;height: 300px;filter: brightness(45%);transition: all 1s ease;}
#sh_corpomate_theme_section_316 .sh_image_gallery_13 .col-lg-3{padding-left: 0px;padding-right: 0px;}
/*hover efect on img*/
#sh_corpomate_theme_section_316 .sh_image_gallery_13 img {-webkit-transition: all .5s ease; -moz-transition: all .5s ease; -o-transition: all .5s ease;  transition: all .5s ease;}
#sh_corpomate_theme_section_316 .sh_image_gallery_13 img {padding: 0 !important; display: block; max-width: 100%;  outline: transparent solid 2px; outline-offset: 0px;}
#sh_corpomate_theme_section_316 .sh_image_gallery_13 img:hover,#sh_corpomate_theme_section_316 .sh_image_gallery_13 img:focus {opacity: 0.8; outline: #fff solid 2px; outline-offset: -15px;}

@media only screen and (max-width: 576px){
	#sh_corpomate_theme_section_316 .sh_image_gallery_13 .col-lg-3{padding-left: 15px;padding-right: 15px;}
}

/* Snippet 317 */
#sh_corpomate_theme_section_317{padding: 50px 0px;}
#sh_corpomate_theme_section_317 .sh_section_heading{text-align: center;font-family: 'Lato', sans-serif;}
#sh_corpomate_theme_section_317 .sh_section_heading h5{font-weight: bold;font-size: 18px;margin-bottom: 15px;color: $-color-Primary;font-family: 'Lato', sans-serif;}
#sh_corpomate_theme_section_317 .sh_section_heading h2{font-weight: bold;font-size: 30px;margin-bottom: 20px;color: #212121;font-family: 'Lato', sans-serif;}

#sh_corpomate_theme_section_317 .sh_service_13 .s_box{background: #ebebeb;margin: 20px 0px 30px 0px;text-align: center;font-family: 'Lato', sans-serif;padding: 30px 10px;box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.12);max-height: 263px;transition: all .8s;}
#sh_corpomate_theme_section_317 .sh_service_13 .s_box .icon{padding: 30px 10px;}
#sh_corpomate_theme_section_317 .sh_service_13 .s_box .icon span{font-size: 40px;color :$-color-Primary;}
#sh_corpomate_theme_section_317 .sh_service_13 .s_box .sh_content h4.title{color: #212121;font-size: 20px;font-weight: bold;margin-bottom: 20px;font-family: 'Lato', sans-serif;}
#sh_corpomate_theme_section_317 .sh_service_13 .s_box .sh_content p.para_text{color: $-color-secondary;font-size: 15px;font-weight: normal;margin-bottom: 5px;font-family: 'Lato', sans-serif;line-height:1.8;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;overflow: hidden;}

#sh_corpomate_theme_section_317 .sh_service_13 .s_box:hover{background: $-color-Primary;transition: all .8s;}

#sh_corpomate_theme_section_317 .sh_service_13 .s_box:hover > .icon span{color: #fff;font-size: 50px;transition: all .8s;}
#sh_corpomate_theme_section_317 .sh_service_13 .s_box:hover > .sh_content h4.title{color: #fff;transition: all .8s;}
#sh_corpomate_theme_section_317 .sh_service_13 .s_box:hover > .sh_content p.para_text{color: #fff;transition: all .8s;}



/* snippet 318 */
#sh_corpomate_theme_section_318{padding: 50px 0px;}
#sh_corpomate_theme_section_318 .sh_text_image_13{text-align: left;}
#sh_corpomate_theme_section_318 .sh_text_image_13 .left_text{padding-right: 20px;padding-top: 30px;}
#sh_corpomate_theme_section_318 .sh_text_image_13 .left_text h5{color: #616161;font-size: 25px;font-weight: normal;margin-bottom: 12px;font-family: 'Lato', sans-serif;}
#sh_corpomate_theme_section_318 .sh_text_image_13 .left_text h3{color: #212121;font-size: 32px;font-weight: bold;margin-bottom: 35px;font-family: 'Lato', sans-serif;}
#sh_corpomate_theme_section_318 .sh_text_image_13 .left_text p{color: $-color-secondary;font-size: 15px;margin-bottom: 35px;line-height:1.8;display: -webkit-box;-webkit-line-clamp: 4;-webkit-box-orient: vertical;overflow: hidden;font-family: 'Lato', sans-serif;}
#sh_corpomate_theme_section_318 .sh_text_image_13 .left_text a.btn_viewmore{background: $-color-Primary;color: #fff;font-size: 15px;border-radius: 0px;padding: 8px 30px;font-family: 'Lato', sans-serif;font-weight: bold;}
#sh_corpomate_theme_section_318 .right_image{transition: all .5s;}
#sh_corpomate_theme_section_318 .right_image .behind_img{position: relative;overflow: hidden;transition: all .5s;}
#sh_corpomate_theme_section_318 .right_image .behind_img img{width: 100%;object-fit: cover;box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.15);filter: brightness(55%);transform: scale(1);transition: all .5s;}
#sh_corpomate_theme_section_318 .right_image:hover > .behind_img img{transform: scale(1.1);transition: all .5s;}
#sh_corpomate_theme_section_318 .right_image .sh_video{position: absolute;content: '';top: 50%;left: 50%;transform: translate(-50%, -50%);}
#sh_corpomate_theme_section_318 .right_image .sh_video {width: 100%;}
#sh_corpomate_theme_section_318 .right_image .sh_video a {display: block;position: relative;margin: auto;width: 66px;height: 66px;border-radius: 50%;background: $-color-Primary;font-size: 18px;color: #fff;-webkit-animation: 1.6s playShadow ease-out infinite;animation: 1.6s playShadow ease-out infinite;display: -webkit-flex;display: flex;cursor: pointer;text-decoration: none;}
#sh_corpomate_theme_section_318 .right_image .sh_video a span {position: absolute;left: 50%;top: 50%;transform: translateY(-50%) translateX(-50%);}

@media only screen and (max-width: 920px){
	#sh_corpomate_theme_section_318{padding: 30px 0px 40px 0px;}
	#sh_corpomate_theme_section_318 .sh_text_image_13 .left_text{padding-bottom: 50px;}
}

/* snippet 319 */
#sh_corpomate_theme_section_319{margin-bottom: 0px;background: url(/sh_corpomate_theme/static/src/img/theme_13/6.png);background-position: center center;background-size: cover;background-repeat: no-repeat;position: relative;padding: 50px 0;margin-top: 50px;}
#sh_corpomate_theme_section_319:before{background: #212121;opacity: 0.6;content: "";height: 100%;left: 0;position: absolute;top: 0;width: 100%;}
#sh_corpomate_theme_section_319 .sh_counter{text-align: center;}
#sh_corpomate_theme_section_319 .sh_counter span{font-size: 25px;color: #fff;}
#sh_corpomate_theme_section_319 .sh_counter .sh_text{padding-bottom: 0px; margin: 0px 0px 10px;color: #fff;font-size: 15px;font-family: 'Lato', sans-serif;line-height:1.8;display: -webkit-box;-webkit-line-clamp: 1;-webkit-box-orient: vertical;overflow: hidden;}
#sh_corpomate_theme_section_319 .sh_counter .sh_count_num{font-size: 35px;display: block;color: #fff;font-weight: bold;margin: 10px 0px 0px;font-family: 'Lato', sans-serif;}

@media only screen and (max-width: 768px){
   #sh_corpomate_theme_section_319 .sh_counter{margin-bottom: 50px;}
   #sh_corpomate_theme_section_319{padding: 80px 0 30px;}
}



/* snippet 320 */
#sh_corpomate_theme_section_320{padding: 50px 0px;}
#sh_corpomate_theme_section_320 .sh_section_heading{text-align: center;font-family: 'Lato', sans-serif;}
#sh_corpomate_theme_section_320 .sh_section_heading h5{font-weight: bold;font-size: 18px;margin-bottom: 15px;color: $-color-Primary;font-family: 'Lato', sans-serif;}
#sh_corpomate_theme_section_320 .sh_section_heading h2{font-weight: bold;font-size: 30px;margin-bottom: 20px;color: #212121;font-family: 'Lato', sans-serif;}

#sh_corpomate_theme_section_320 .sh_team_13{padding: 30px 0px;}
#sh_corpomate_theme_section_320 .sh_team{text-align: center;overflow: hidden;position: relative;}
#sh_corpomate_theme_section_320 .sh_team img{width: 100%;object-fit:cover;transition: all 0.5s ease-in-out 0s;box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.12);}
#sh_corpomate_theme_section_320 .sh_team:hover img{filter: brightness(55%);}
#sh_corpomate_theme_section_320 .sh_team .social{list-style: none;margin: 0;border-radius: 0px;position: absolute;top: 7%;left: -50%;transition: all 0.4s ease-in-out 0s;}
#sh_corpomate_theme_section_320 .sh_team:hover .social{ left: 7%;}
#sh_corpomate_theme_section_320 .sh_team .social li{display: block;margin-bottom: 10px;background: $-color-Primary;padding: 5px 0px;}
#sh_corpomate_theme_section_320 .sh_team .social li a{text-decoration:none;display: block;font-size: 18px;color:#fff;transition: all 0.3s ease-in-out 0s;}
#sh_corpomate_theme_section_320 .sh_team .social li:first-child a{padding-top: 0;}
#sh_corpomate_theme_section_320 .sh_team .social li:last-child a{padding-bottom: 0;}
#sh_corpomate_theme_section_320 .sh_team .social li a:hover{}
#sh_corpomate_theme_section_320 .sh_team .sh_team_content{width: 100%;padding: 20px 10px;background: transparent;}
#sh_corpomate_theme_section_320 .sh_team .sh_team_content .title{font-size: 20px;font-weight: bold;color: #212121;margin: 0 0 10px 0;font-family: 'Lato', sans-serif;display: -webkit-box;-webkit-line-clamp: 1;-webkit-box-orient: vertical;overflow: hidden;}
#sh_corpomate_theme_section_320 .sh_team .sh_team_content .post{display: block;font-size: 15px;color: $-color-secondary;font-family: 'Lato', sans-serif;display: -webkit-box;-webkit-line-clamp: 1;-webkit-box-orient: vertical;overflow: hidden;}

@media only screen and (max-width:991px){
#sh_corpomate_theme_section_320 .sh_team{margin-top:30px;}
}
@media only screen and (max-width:800px){#sh_corpomate_theme_section_320 .container .col-xs-12{width:50%;}}
@media only screen and (max-width:540px){#sh_corpomate_theme_section_320 .container .col-xs-12{width:100%;}}


/* Snippet 321 */
#sh_corpomate_theme_section_321{padding: 50px 0px;}
#sh_corpomate_theme_section_321 .sh_section_heading{text-align: center;}
#sh_corpomate_theme_section_321 .sh_section_heading h5{font-weight: bold;font-size: 18px;margin-bottom: 15px;color: $-color-Primary;font-family: 'Lato', sans-serif;}
#sh_corpomate_theme_section_321 .sh_section_heading h2{font-weight: bold;font-size: 30px;margin-bottom: 20px;color: #212121;font-family: 'Lato', sans-serif;}

#sh_corpomate_theme_section_321 .sh_pricing{box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);text-align: center;transform: translateY(0);transition: all .4s;margin: 30px 0px;}
#sh_corpomate_theme_section_321 .sh_pricing .sh_top_part{background: #e1e1e1;padding: 30px 10px;transition: all .4s;}
#sh_corpomate_theme_section_321 .sh_pricing .sh_top_part h4{color: #414141;font-weight: 600;font-size: 18px;letter-spacing: 0.7px;font-family: 'Lato', sans-serif;}
#sh_corpomate_theme_section_321 .sh_pricing .sh_top_part h2{color: $-color-Primary;font-weight: 600;margin: 7px 0px 25px 0px;font-size: 40px;font-family: 'Lato', sans-serif;}
#sh_corpomate_theme_section_321 .sh_pricing .sh_top_part h2 sup{font-size: 20px;padding: 8px 0px;}
#sh_corpomate_theme_section_321 .sh_pricing .sh_top_part h2 span{font-size: 20px;padding-left: 3px}
#sh_corpomate_theme_section_321 .sh_pricing .sh_top_part .btn_buynow{margin: 0;color: #414141;font-weight: 600;font-size: 16px;padding: 10px 40px;background: transparent;border-radius: 0px;border: 2px solid #414141;}
#sh_corpomate_theme_section_321 .sh_pricing .sh_bottom_part{background: #ebebeb;}
#sh_corpomate_theme_section_321 .sh_pricing .sh_bottom_part ul{padding: 30px 0 30px;list-style: none;margin: 0;font-family: 'Lato', sans-serif;}
#sh_corpomate_theme_section_321 .sh_pricing .sh_bottom_part ul li{padding-bottom: 15px;font-weight: 600;font-size: 16px;color: #414141;line-height:1.8;display: -webkit-box;-webkit-line-clamp: 1;-webkit-box-orient: vertical;overflow: hidden;font-family: 'Lato', sans-serif;}
#sh_corpomate_theme_section_321 .sh_pricing:hover{transform: translateY(-10px);}
#sh_corpomate_theme_section_321 .sh_pricing:hover .sh_top_part{background: $-color-Primary;transition: all .5s;}
#sh_corpomate_theme_section_321 .sh_pricing:hover > .sh_top_part h4,#sh_corpomate_theme_section_321 .sh_pricing:hover > .sh_top_part h2{color: #fff;transition: all .5s;}

#sh_corpomate_theme_section_321 .sh_pricing:hover > .sh_top_part .btn_buynow{margin: 0;color: #fff;font-weight: 600;font-size: 16px;padding: 10px 30px;background: transparent;border-radius: 0px;border: 2px solid #fff;transition: all .5s;}


/* Snippet 322 */
#sh_corpomate_theme_section_322{background: url('/sh_corpomate_theme/static/src/img/theme_13/6.png');background-size: cover;background-position: center;background-repeat: no-repeat;position: relative;padding: 50px 0px 20px 0px;}
#sh_corpomate_theme_section_322:before{position: absolute;content: '';height: 100%;top: 0%;left: 0%;width: 100%;background: $-color-Primary;opacity: 0.9;}
#sh_corpomate_theme_section_322 .sh_content{padding: 20px 80px;text-align: center;}
#sh_corpomate_theme_section_322 .sh_content .sh_image{padding: 20px;}
#sh_corpomate_theme_section_322 .sh_content .sh_image img{border-radius: 50%;height: 100px;width: 100px;object-fit: cover;text-align: center;justify-content: center;margin: 0px auto;}
#sh_corpomate_theme_section_322 .sh_content h4{color: #fff;font-size: 25px;margin-bottom: 5px;font-weight: bold;display: -webkit-box;-webkit-line-clamp: 1;-webkit-box-orient: vertical;overflow: hidden;font-family: 'Lato', sans-serif;}
#sh_corpomate_theme_section_322 .sh_content .sh_description{padding: 20px 10px;}
#sh_corpomate_theme_section_322 .sh_content p,#sh_corpomate_theme_section_322 .sh_content .sh_description p{color: #fff;font-size: 15px;margin-bottom: 0px;line-height:1.8;display: -webkit-box;-webkit-line-clamp: 3;-webkit-box-orient: vertical;overflow: hidden;font-family: 'Lato', sans-serif;}

#sh_corpomate_theme_section_322 .owl-carousel .owl-nav{display: block;}
#sh_corpomate_theme_section_322 .owl-carousel .owl-nav .owl-prev:before{position: absolute;content: '\f053';top: 50%;left: 0%;color: #fff;font-size: 30px;font-family :fontAwesome;}
#sh_corpomate_theme_section_322 .owl-carousel .owl-nav .owl-next:after{position: absolute;content: '\f054';top: 50%;right: 0%;color: #fff;font-size: 30px;font-family :fontAwesome;}
#sh_corpomate_theme_section_322 .owl-carousel .owl-nav span{display: none;}


/* Snippet 323 */
#sh_corpomate_theme_section_323{padding: 50px 0px;}
#sh_corpomate_theme_section_323 .sh_section_heading{text-align: center;font-family: 'Lato', sans-serif;}
#sh_corpomate_theme_section_323 .sh_section_heading h5{font-weight: bold;font-size: 18px;margin-bottom: 15px;color: $-color-Primary;font-family: 'Lato', sans-serif;}
#sh_corpomate_theme_section_323 .sh_section_heading h2{font-weight: bold;font-size: 30px;margin-bottom: 20px;color: #212121;font-family: 'Lato', sans-serif;}
#sh_corpomate_theme_section_323 .sh_box{padding: 20px 0px;text-align: left;transition: all .5s;}
#sh_corpomate_theme_section_323 .sh_box:hover > .img img{filter: brightness(55%);transition: all .5s;}
#sh_corpomate_theme_section_323 .sh_box .img{margin-bottom: 10px;}
#sh_corpomate_theme_section_323 .sh_box .img img{object-fit: cover;width: 100%;height: 210px;box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);}
#sh_corpomate_theme_section_323 .sh_box .content{padding: 20px 0px;}
#sh_corpomate_theme_section_323 .sh_box .content h4{font-size: 25px;margin-bottom: 12px;color: #212121;font-weight: bold;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;overflow: hidden;font-family: 'Lato', sans-serif;}
#sh_corpomate_theme_section_323 .sh_box .content p{font-size: 15px;margin-bottom: 20px;color: $-color-secondary;font-weight: normal;display: -webkit-box;-webkit-line-clamp: 3;-webkit-box-orient: vertical;overflow: hidden;font-family: 'Lato', sans-serif;}
#sh_corpomate_theme_section_323 .sh_box .content a.btn_readmore{background: $-color-Primary;color: #fff;padding: 10px 30px;border-radius: 0px;font-size: 15px;font-family: 'Lato', sans-serif;}


/* Snippet 324 */
#sh_corpomate_theme_section_324{margin-bottom: 0px;background: url(/sh_corpomate_theme/static/src/img/theme_13/6.png);background-position: center center;background-size: cover;background-repeat: no-repeat;position: relative;padding: 80px 0;}
#sh_corpomate_theme_section_324:before{background: #212121;opacity: 0.8;content: "";height: 100%;left: 0;position: absolute;top: 0;width: 100%;}
#sh_corpomate_theme_section_324 .sh_banner{text-align: center;display: flex;justify-content: space-between;}
#sh_corpomate_theme_section_324 .sh_banner .sh_title h4{font-size: 40px;color: #fff;text-align: left;font-weight: bold;font-family: 'Lato', sans-serif;}
#sh_corpomate_theme_section_324 .sh_banner .sh_breadcrumb ul{padding-left: 0px;}
#sh_corpomate_theme_section_324 .sh_banner .sh_breadcrumb ul li{list-style-type: none;display: inline-block;font-family: 'Lato', sans-serif;}
#sh_corpomate_theme_section_324 .sh_banner .sh_breadcrumb ul li a{color: #fff;text-decoration: none;font-size: 22px;font-family: 'Lato', sans-serif;}

@media only screen and (max-width: 375px){
	#sh_corpomate_theme_section_324 .sh_banner .sh_title h4{font-size: 30px;}
	#sh_corpomate_theme_section_324 .sh_banner .sh_breadcrumb ul li a{font-size: 18px;}
}
@media only screen and (max-width: 576px){
	#sh_corpomate_theme_section_324 .sh_banner{align-items: center;vertical-align: middle;}
	#sh_corpomate_theme_section_324 .sh_banner .sh_breadcrumb ul{margin-bottom: 7px;}
}

/* snippet 325 */
#sh_corpomate_theme_section_325{padding: 60px 0px;}
#sh_corpomate_theme_section_325 .sh_text_image_13{text-align: left;}
#sh_corpomate_theme_section_325 .sh_text_image_13 .left_text{padding-right: 20px;padding-top: 10px;}
#sh_corpomate_theme_section_325 .sh_text_image_13 .left_text h5{color: #616161;font-size: 25px;font-weight: normal;margin-bottom: 12px;font-family: 'Lato', sans-serif;}
#sh_corpomate_theme_section_325 .sh_text_image_13 .left_text h3{color: #212121;font-size: 32px;font-weight: bold;margin-bottom: 35px;font-family: 'Lato', sans-serif;}
#sh_corpomate_theme_section_325 .sh_text_image_13 .left_text p{color: $-color-secondary;font-size: 15px;margin-bottom: 35px;line-height:1.8;display: -webkit-box;-webkit-line-clamp: 4;-webkit-box-orient: vertical;overflow: hidden;font-family: 'Lato', sans-serif;}
#sh_corpomate_theme_section_325 .sh_text_image_13 .left_text a.btn_viewmore{background: $-color-Primary;color: #fff;font-size: 15px;border-radius: 0px;padding: 8px 30px;font-family: 'Lato', sans-serif;font-weight: bold;}
#sh_corpomate_theme_section_325 .right_image{transition: all .4s;}
#sh_corpomate_theme_section_325 .right_image .behind_img{position: relative;overflow: hidden;transition: all .4s;}
#sh_corpomate_theme_section_325 .right_image .behind_img img{width: 100%;height: 550px;object-fit: cover;box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.15);filter: brightness(75%);transition: all .4s;}
#sh_corpomate_theme_section_325 .right_image:hover > .behind_img img{filter: brightness(45%);opacity: 0.8;transform: scale(1.1);transition: all .4s;}

@media only screen and (max-width: 920px){
	#sh_corpomate_theme_section_325 .sh_text_image_13 .left_text{padding-bottom: 30px;padding-right: 0px;}
}

/* Snippet 326 */
#sh_corpomate_theme_section_326{padding: 50px 0px;}
#sh_corpomate_theme_section_326 .sh_division .progress{height: 15px;border-radius: 0;}
#sh_corpomate_theme_section_326 .sh_division p{margin: 0;padding-bottom: 15px;font-weight: 600;color: #212121;font-size: 18px;font-family: 'Lato', sans-serif;}
#sh_corpomate_theme_section_326 .sh_division .sh_first_progress,
#sh_corpomate_theme_section_326 .sh_division .sh_sec_progress,
#sh_corpomate_theme_section_326 .sh_division .sh_third_progress,
#sh_corpomate_theme_section_326 .sh_division .sh_fourth_progress{margin-bottom: 60px;}

#sh_corpomate_theme_section_326 .sh_division p span{float: right;font-family: 'Lato', sans-serif;}
@media only screen and (max-width: 576px){
  #sh_corpomate_theme_section_326 .sh_division{padding-top: 20px;}
  #sh_corpomate_theme_section_326{padding: 20px 0px;}
}


/* snippet 327 */
#sh_corpomate_theme_section_327{margin-bottom: 0px;background: url(/sh_corpomate_theme/static/src/img/theme_13/6.png);background-position: center center;background-size: cover;background-repeat: no-repeat;position: relative;padding: 50px 0;margin-top: 50px;}
#sh_corpomate_theme_section_327:before{background: #212121;opacity: 0.6;content: "";height: 100%;left: 0;position: absolute;top: 0;width: 100%;}
#sh_corpomate_theme_section_327 .sh_counter{text-align: center;}
#sh_corpomate_theme_section_327 .sh_counter span{font-size: 25px;color: #fff;}
#sh_corpomate_theme_section_327 .sh_counter .sh_text{padding-bottom: 0px; margin: 0px 0px 10px;color: #fff;font-size: 15px;font-family: 'Lato', sans-serif;line-height:1.8;display: -webkit-box;-webkit-line-clamp: 1;-webkit-box-orient: vertical;overflow: hidden;}
#sh_corpomate_theme_section_327 .sh_counter .sh_count_num{font-size: 35px;display: block;color: #fff;font-weight: bold;margin: 10px 0px 0px;font-family: 'Lato', sans-serif;}

@media only screen and (max-width: 768px){
   #sh_corpomate_theme_section_327 .sh_counter{margin-bottom: 50px;}
   #sh_corpomate_theme_section_327{padding: 80px 0 30px;}
}


/* snippet 328 */
#sh_corpomate_theme_section_328{padding: 60px 0px;}
#sh_corpomate_theme_section_328 .sh_image_text_13{text-align: left;}
#sh_corpomate_theme_section_328 .sh_image_text_13 .right_text{padding-left: 20px;padding-top: 10px;}
#sh_corpomate_theme_section_328 .sh_image_text_13 .right_text h5{color: #616161;font-size: 25px;font-weight: normal;margin-bottom: 12px;font-family: 'Lato', sans-serif;}
#sh_corpomate_theme_section_328 .sh_image_text_13 .right_text h3{color: #212121;font-size: 32px;font-weight: bold;margin-bottom: 35px;font-family: 'Lato', sans-serif;}
#sh_corpomate_theme_section_328 .sh_image_text_13 .right_text p{color: $-color-secondary;font-size: 15px;margin-bottom: 35px;line-height:1.8;display: -webkit-box;-webkit-line-clamp: 4;-webkit-box-orient: vertical;overflow: hidden;font-family: 'Lato', sans-serif;}
#sh_corpomate_theme_section_328 .sh_image_text_13 .right_text a.btn_viewmore{background: $-color-Primary;color: #fff;font-size: 15px;border-radius: 0px;padding: 8px 30px;font-family: 'Lato', sans-serif;font-weight: bold;}
#sh_corpomate_theme_section_328 .left_image{transition: all .4s;}
#sh_corpomate_theme_section_328 .left_image .behind_img{position: relative;overflow: hidden;transition: all .4s;}
#sh_corpomate_theme_section_328 .left_image .behind_img img{width: 100%;height: 550px;object-fit: cover;box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.15);filter: brightness(75%);transition: all .4s;}
#sh_corpomate_theme_section_328 .left_image:hover > .behind_img img{filter: brightness(45%);opacity: 0.8;transform: scale(1.1);transition: all .4s;}

@media only screen and (max-width: 920px){
	#sh_corpomate_theme_section_328 .left_image .behind_img img{margin-bottom: 50px;}
	#sh_corpomate_theme_section_328 .sh_image_text_13 .right_text{padding-left: 0px;}
}

/* Snippet 329 */
#sh_corpomate_theme_section_329{margin-bottom: 0px;background: url(/sh_corpomate_theme/static/src/img/theme_13/6.png);background-position: center center;background-repeat: no-repeat;background-size: cover;position: relative;padding: 80px 0;}
#sh_corpomate_theme_section_329:before{background: #212121;opacity: 0.8;content: "";height: 100%;left: 0;position: absolute;top: 0;width: 100%;}
#sh_corpomate_theme_section_329 .sh_banner{text-align: center;display: flex;justify-content: space-between;}
#sh_corpomate_theme_section_329 .sh_banner .sh_title h4{font-size: 40px;color: #fff;text-align: left;font-weight: bold;font-family: 'Lato', sans-serif;}
#sh_corpomate_theme_section_329 .sh_banner .sh_breadcrumb ul{padding-left: 0px;}
#sh_corpomate_theme_section_329 .sh_banner .sh_breadcrumb ul li{list-style-type: none;display: inline-block;font-family: 'Lato', sans-serif;}
#sh_corpomate_theme_section_329 .sh_banner .sh_breadcrumb ul li a{color: #fff;text-decoration: none;font-size: 22px;font-family: 'Lato', sans-serif;}

@media only screen and (max-width: 375px){
	#sh_corpomate_theme_section_329 .sh_banner .sh_title h4{font-size: 30px;}
	#sh_corpomate_theme_section_329 .sh_banner .sh_breadcrumb ul li a{font-size: 18px;}
}
@media only screen and (max-width: 576px){
	#sh_corpomate_theme_section_329 .sh_banner{align-items: center;}
	#sh_corpomate_theme_section_329 .sh_banner .sh_breadcrumb ul{margin-bottom: 5px;}
}

/* Snippet 330 */
#sh_corpomate_theme_section_330{padding: 50px 0px;}
#sh_corpomate_theme_section_330 .sh_section_heading{text-align: center;font-family: 'Lato', sans-serif;}
#sh_corpomate_theme_section_330 .sh_section_heading h5{font-weight: bold;font-size: 18px;margin-bottom: 15px;color: $-color-Primary;font-family: 'Lato', sans-serif;}
#sh_corpomate_theme_section_330 .sh_section_heading h2{font-weight: bold;font-size: 30px;margin-bottom: 20px;color: #212121;font-family: 'Lato', sans-serif;}

#sh_corpomate_theme_section_330 .sh_service_13 .s_box{background: #ebebeb;margin: 20px 0px 30px 0px;text-align: center;font-family: 'Lato', sans-serif;padding: 30px 10px;box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.12);max-height: 263px;transition: all .5s;}
#sh_corpomate_theme_section_330 .sh_service_13 .s_box .icon{padding: 30px 10px;}
#sh_corpomate_theme_section_330 .sh_service_13 .s_box .icon span{font-size: 40px;color :$-color-Primary;}
#sh_corpomate_theme_section_330 .sh_service_13 .s_box .sh_content h4.title{color: #212121;font-size: 20px;font-weight: bold;margin-bottom: 20px;font-family: 'Lato', sans-serif;}
#sh_corpomate_theme_section_330 .sh_service_13 .s_box .sh_content p.para_text{color: $-color-secondary;font-size: 15px;font-weight: normal;margin-bottom: 5px;font-family: 'Lato', sans-serif;line-height:1.8;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;overflow: hidden;}

#sh_corpomate_theme_section_330 .sh_service_13 .s_box:hover{background: $-color-Primary;transition: .5s all;}

#sh_corpomate_theme_section_330 .sh_service_13 .s_box:hover > .icon span{color: #fff;font-size: 50px;transition: .8s all;}
#sh_corpomate_theme_section_330 .sh_service_13 .s_box:hover > .sh_content h4.title{color: #fff;}
#sh_corpomate_theme_section_330 .sh_service_13 .s_box:hover > .sh_content p.para_text{color: #fff;}


/* snippet 331 */
#sh_corpomate_theme_section_331{padding: 40px 0px;}
#sh_corpomate_theme_section_331 .sh_image_gallery_13 img{width: 100%;object-fit: cover;height: 300px;filter: brightness(45%);transition: all 1s ease;}
#sh_corpomate_theme_section_331 .sh_image_gallery_13 .col-lg-3{padding-left: 0px;padding-right: 0px;}
/*hover efect on img*/
#sh_corpomate_theme_section_331 .sh_image_gallery_13 img {-webkit-transition: all .5s ease; -moz-transition: all .5s ease; -o-transition: all .5s ease;  transition: all .5s ease;}
#sh_corpomate_theme_section_331 .sh_image_gallery_13 img {padding: 0 !important; display: block; max-width: 100%;  outline: transparent solid 2px; outline-offset: 0px;}
#sh_corpomate_theme_section_331 .sh_image_gallery_13 img:hover,#sh_corpomate_theme_section_316 .sh_image_gallery_13 img:focus {opacity: 0.8; outline: #fff solid 2px; outline-offset: -15px;}

@media only screen and (max-width: 576px){
	#sh_corpomate_theme_section_331 .sh_image_gallery_13 .col-lg-3{padding-left: 15px;padding-right: 15px;}
}


/* Snippet 332 */
#sh_corpomate_theme_section_332{margin-bottom: 0px;background: url(/sh_corpomate_theme/static/src/img/theme_13/6.png);background-position: center center;background-repeat: no-repeat;background-size: cover;position: relative;padding: 80px 0;}
#sh_corpomate_theme_section_332:before{background: #212121;opacity: 0.8;content: "";height: 100%;left: 0;position: absolute;top: 0;width: 100%;}
#sh_corpomate_theme_section_332 .sh_banner{text-align: center;display: flex;justify-content: space-between;}
#sh_corpomate_theme_section_332 .sh_banner .sh_title h4{font-size: 40px;color: #fff;text-align: left;font-weight: bold;font-family: 'Lato', sans-serif;}
#sh_corpomate_theme_section_332 .sh_banner .sh_breadcrumb ul{padding-left: 0px;}
#sh_corpomate_theme_section_332 .sh_banner .sh_breadcrumb ul li{list-style-type: none;display: inline-block;font-family: 'Lato', sans-serif;}
#sh_corpomate_theme_section_332 .sh_banner .sh_breadcrumb ul li a{color: #fff;text-decoration: none;font-size: 22px;font-family: 'Lato', sans-serif;}

@media only screen and (max-width :375px){
	#sh_corpomate_theme_section_332 .sh_banner .sh_title h4{font-size: 30px;}
	#sh_corpomate_theme_section_332 .sh_banner .sh_breadcrumb ul li a{font-size: 18px;}
}
@media only screen and (max-width: 576px){
	#sh_corpomate_theme_section_332 .sh_banner .sh_breadcrumb ul{margin-bottom: 5px;}
	#sh_corpomate_theme_section_332 .sh_banner{align-items: center;}
}

/* snippet 333 */
#sh_corpomate_theme_section_333{padding: 50px 0px;}
#sh_corpomate_theme_section_333 .sh_section_heading{text-align: center;font-family: 'Lato', sans-serif;}
#sh_corpomate_theme_section_333 .sh_section_heading h5{font-weight: bold;font-size: 18px;margin-bottom: 15px;color: $-color-Primary;font-family: 'Lato', sans-serif;}
#sh_corpomate_theme_section_333 .sh_section_heading h2{font-weight: bold;font-size: 30px;margin-bottom: 20px;color: #212121;font-family: 'Lato', sans-serif;}

#sh_corpomate_theme_section_333 .sh_team_13{padding: 30px 0px;}
#sh_corpomate_theme_section_333 .sh_team{text-align: center;overflow: hidden;position: relative;}
#sh_corpomate_theme_section_333 .sh_team img{width: 100%;object-fit:cover;transition: all 0.5s ease-in-out 0s;box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.12);}
#sh_corpomate_theme_section_333 .sh_team:hover img{filter: brightness(55%);}
#sh_corpomate_theme_section_333 .sh_team .social{list-style: none;margin: 0;border-radius: 0px;position: absolute;top: 7%;left: -50%;transition: all 0.4s ease-in-out 0s;}
#sh_corpomate_theme_section_333 .sh_team:hover .social{ left: 7%;}
#sh_corpomate_theme_section_333 .sh_team .social li{display: block;margin-bottom: 10px;background: $-color-Primary;padding: 5px 0px;}
#sh_corpomate_theme_section_333 .sh_team .social li a{text-decoration:none;display: block;font-size: 18px;color:#fff;transition: all 0.3s ease-in-out 0s;}
#sh_corpomate_theme_section_333 .sh_team .social li:first-child a{padding-top: 0;}
#sh_corpomate_theme_section_333 .sh_team .social li:last-child a{padding-bottom: 0;}
#sh_corpomate_theme_section_333 .sh_team .social li a:hover{}
#sh_corpomate_theme_section_333 .sh_team .sh_team_content{width: 100%;padding: 20px 10px;background: transparent;}
#sh_corpomate_theme_section_333 .sh_team .sh_team_content .title{font-size: 20px;font-weight: bold;color: #212121;margin: 0 0 10px 0;font-family: 'Lato', sans-serif;display: -webkit-box;-webkit-line-clamp: 1;-webkit-box-orient: vertical;overflow: hidden;}
#sh_corpomate_theme_section_333 .sh_team .sh_team_content .post{display: block;font-size: 15px;color: $-color-secondary;font-family: 'Lato', sans-serif;display: -webkit-box;-webkit-line-clamp: 1;-webkit-box-orient: vertical;overflow: hidden;}

@media only screen and (max-width:991px){
#sh_corpomate_theme_section_333 .sh_team{margin-top:30px;}
}
@media only screen and (max-width:800px){#sh_corpomate_theme_section_333 .container .col-xs-12{width:50%;}}
@media only screen and (max-width:540px){#sh_corpomate_theme_section_333 .container .col-xs-12{width:100%;}}
@media only screen and (max-width: 576px){
	#sh_corpomate_theme_section_333 .sh_section_heading h2{margin-bottom: 0px;}
	#sh_corpomate_theme_section_333 .sh_team_13{padding-top: 10px;}
}

/* Snippet 334 */
#sh_corpomate_theme_section_334{margin-bottom: 0px;background: url(/sh_corpomate_theme/static/src/img/theme_13/6.png);background-position: center center;background-repeat: no-repeat;background-size: cover;position: relative;padding: 80px 0;}
#sh_corpomate_theme_section_334:before{background: #212121;opacity: 0.8;content: "";height: 100%;left: 0;position: absolute;top: 0;width: 100%;}
#sh_corpomate_theme_section_334 .sh_banner{text-align: center;display: flex;justify-content: space-between;}
#sh_corpomate_theme_section_334 .sh_banner .sh_title h4{font-size: 40px;color: #fff;text-align: left;font-weight: bold;font-family: 'Lato', sans-serif;}
#sh_corpomate_theme_section_334 .sh_banner .sh_breadcrumb ul{padding-left: 0px;}
#sh_corpomate_theme_section_334 .sh_banner .sh_breadcrumb ul li{list-style-type: none;display: inline-block;font-family: 'Lato', sans-serif;}
#sh_corpomate_theme_section_334 .sh_banner .sh_breadcrumb ul li a{color: #fff;text-decoration: none;font-size: 22px;font-family: 'Lato', sans-serif;}

@media only screen and (max-width: 576px){
	#sh_corpomate_theme_section_334 .sh_banner .sh_title h4{font-size: 28px;}
	#sh_corpomate_theme_section_334 .sh_banner .sh_breadcrumb ul li a{font-size: 18px;}
	#sh_corpomate_theme_section_334 .sh_banner{align-items: center;}
	#sh_corpomate_theme_section_334 .sh_banner .sh_breadcrumb ul{margin-bottom: 7px;}
}


/* Snippet 335 */
#sh_corpomate_theme_section_335{padding: 50px 0px;}
#sh_corpomate_theme_section_335 iframe{width: 100%;object-fit: cover;filter: brightness(0.9);}

@media only screen and (max-width: 576px){
	#sh_corpomate_theme_section_335{padding: 30px 0px 0px 0px;}
}



/* Snippet 336 */
#sh_corpomate_theme_section_336{padding: 50px 0px;}
#sh_corpomate_theme_section_336 .sh_section_heading{text-align: center;font-family: 'Lato', sans-serif;}
#sh_corpomate_theme_section_336 .sh_section_heading h5{font-weight: bold;font-size: 18px;margin-bottom: 15px;color: $-color-Primary;font-family: 'Lato', sans-serif;}
#sh_corpomate_theme_section_336 .sh_section_heading h2{font-weight: bold;font-size: 30px;margin-bottom: 20px;color: #212121;font-family: 'Lato', sans-serif;}

#sh_corpomate_theme_section_336 .box{display: flex;padding: 20px 10px;}
#sh_corpomate_theme_section_336 .box .icon{margin-right: 20px;vertical-align: top;}
#sh_corpomate_theme_section_336 .box .icon span{color: $-color-Primary;font-size: 40px;}
#sh_corpomate_theme_section_336 .box .content{text-align: left;}
#sh_corpomate_theme_section_336 .box .content h3{color: #212121;font-size: 25px;margin-bottom: 10px;font-weight: bold;display: -webkit-box;-webkit-line-clamp: 1;-webkit-box-orient: vertical;overflow: hidden;font-family: 'Lato', sans-serif;}
#sh_corpomate_theme_section_336 .box .content p{color: $-color-secondary;font-size: 15px;line-height:1.5;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;overflow: hidden;font-family: 'Lato', sans-serif;margin-bottom: 0px;}
#sh_corpomate_theme_section_336 .box .content p a{text-decoration: none;color: $-color-secondary;}
#sh_corpomate_theme_section_336 .box .content .contact_address{color: $-color-secondary;font-size: 15px;font-family: 'Lato', sans-serif;margin-bottom: 0px;}
#sh_corpomate_theme_section_336 form .btn_submit{background: $-color-Primary;color: #fff;font-size: 15px;border-radius: 0px;padding: 10px 40px;font-family: 'Lato', sans-serif;}
#sh_corpomate_theme_section_336 form input,
#sh_corpomate_theme_section_336 form textarea{border: 1px solid $-color-Primary;border-radius: 0px;margin-bottom: 15px;}
#sh_corpomate_theme_section_336 form textarea{height: 150px;}
#sh_corpomate_theme_section_336 form input{height: 40px;}
#sh_corpomate_theme_section_336 form input::placeholder,#sh_corpomate_theme_section_336 form textarea::placeholder{color: #212121;}
#sh_corpomate_theme_section_336 form{padding-left: 10px;}
#sh_corpomate_theme_section_336 form{margin-top: 32px !important;}
   
   
#sh_corpomate_theme_section_336 form input:-webkit-autofill,
#sh_corpomate_theme_section_336 form input:-webkit-autofill:hover, 
#sh_corpomate_theme_section_336 form input:-webkit-autofill:focus,
#sh_corpomate_theme_section_336 form textarea:-webkit-autofill,
#sh_corpomate_theme_section_336 form textarea:-webkit-autofill:hover,
#sh_corpomate_theme_section_336 form textarea:-webkit-autofill:focus, {
  border: 1px solid $-color-Primary;
  transition: background-color 5000s ease-in-out 0s;
}


@media only screen and (max-width: 576px){
	#sh_corpomate_theme_section_336 form{padding-left: 0px;}
}

   
/* Snippet 337 */

#sh_corpomate_theme_section_337{padding: 30px 10px;background: $-color-Primary;}
#sh_corpomate_theme_section_337 .left_content{text-align: left;}
#sh_corpomate_theme_section_337 .left_content h3{color: #fff;font-size: 25px;font-weight: bold;margin-bottom: 0px;margin-top: 10px;}
#sh_corpomate_theme_section_337 .right_subscribe_box .input-group-append a.js_subscribe_btn{background: #911439;border-color: #911439;padding: 12px 20px;font-weight: 600;font-size: 15px;} 
#sh_corpomate_theme_section_337 .right_subscribe_box input[name="email"]{border-radius: 0px;background: #252525;border-color: #252525;color: #fff;padding: 5px;}
#sh_corpomate_theme_section_337 .right_subscribe_box .sub_box{padding: 5px;background: #252525;}

















