
<section class="sh_bg_cover" style="background:#e9e9eb;padding:1px 0em;margin-bottom: 2em;margin-top: 2em;">
   <div class="container">
      <div class="row">
         <div class="sh_span12 col-12" style="padding: 40px">
            <center class="sh_display" style="color:#1578b9;text-align: center;font-size: 2em;margin-top: 0px;line-height: 40px;"><b style="font-weight: bold;font-family: "Montserrat", sans-serif;>Coming Soon</b></center>
            <hr style="border: 1px solid #96969a;position:relative;width:40px;top:-10px;padding:0px;margin-bottom: 0px;">
            <p class="sh_description" align="center" style="color:#342f33e0;font-family: sans-serif!important;padding-top: 10px;margin-bottom:0px !important;text-align: center;">Don’t settle for a simple "Coming Soon" template when you could use one of these to get customers talking!here is a creative, modern, and vibrant “coming soon” template, and you can also customize the template like text, background image, etc.
         </div>
      </div>
   </div>
</section>

<!-- feature -->
<section class="sh_bg_cover" style="background:#e9e9eb;padding:1px 0em;margin-bottom: 2em;margin-top: 2em; padding: 40px">
   <div class="container">
      <div class="row">
         <div class="sh_spaced" style="width: 100%;">
            <div class="sh_span12 " style="padding: 0px 15px!important;">
               <h2 class="sh_display" style="color:#1578b9;text-align: center;font-size: 2em;margin-top: 0px;"><b style="font-weight: bold;font-family: " open="" sans="" sans-serif="">Features</b>
               </h2>
               <hr style="border: 1px solid #96969a;position:relative;width:40px;top:0px;padding:0px;margin-bottom: 2em;">
                <p class="sh_mb32" align="center" style="color:#342f33e0;font-family: sans-serif!important;padding-top: 10px;margin-bottom:0px !important;text-align: justify;padding: 7px 0px;border-bottom: 1px solid #bbbbbb;">
                  <i class="fa fa-hand-o-right"  style="margin-right: 1em;color: #1678b9;font-size: 1.4em;"></i>
 <b>After login admin can edit webpage easily.</b>

               </p>
               <p class="sh_mb32" align="center" style="color:#342f33e0;font-family: sans-serif!important;padding-top: 10px;margin-bottom:0px !important;text-align: justify;padding: 7px 0px;border-bottom: 1px solid #bbbbbb;">
                  <i class="fa fa-hand-o-right"  style="margin-right: 1em;color: #1678b9;font-size: 1.4em;"></i>
<b>We have added the HTML field for description so you can easily add the link, list, etc.</b>
               </p>
               <p class="sh_mb32" align="center" style="color:#342f33e0;font-family: sans-serif!important;padding-top: 10px;margin-bottom:0px !important;text-align: justify;padding: 7px 0px;border-bottom: 1px solid #bbbbbb;">
                  <i class="fa fa-hand-o-right"  style="margin-right: 1em;color: #1678b9;font-size: 1.4em;"></i>
                  In this module, we provide 25 different types of "Coming Soon" Templates.
               </p>
               <p class="sh_mb32" align="center" style="color:#342f33e0;font-family: sans-serif!important;padding-top: 10px;margin-bottom:0px !important;text-align: justify;padding: 7px 0px;border-bottom: 1px solid #bbbbbb;">
                  <i class="fa fa-hand-o-right"  style="margin-right: 1em;color: #1678b9;font-size: 1.4em;"></i>
                  Users can easily configure different styles and many more things.
               </p>
               <p class="sh_mb32" align="center" style="color:#342f33e0;font-family: sans-serif!important;padding-top: 10px;margin-bottom:0px !important;text-align: justify;padding: 7px 0px;border-bottom: 1px solid #bbbbbb;">
                  <i class="fa fa-hand-o-right"  style="margin-right: 1em;color: #1678b9;font-size: 1.4em;"></i>
                  Easily add description, title, background image, launch time, etc.
               </p>
               <p class="sh_mb32" align="center" style="color:#342f33e0;font-family: sans-serif!important;padding-top: 10px;margin-bottom:0px !important;text-align: justify;padding: 7px 0px;border-bottom: 1px solid #bbbbbb;">
                  <i class="fa fa-hand-o-right"  style="margin-right: 1em;color: #1678b9;font-size: 1.4em;"></i>
                 Time-saving and effortless solutions for favorite "Coming Soon" Template.
               </p>
               <p class="sh_mb32" align="center" style="color:#342f33e0;font-family: sans-serif!important;padding-top: 10px;margin-bottom:0px !important;text-align: justify;padding: 7px 0px;border-bottom: 1px solid #bbbbbb;">
                  <i class="fa fa-hand-o-right"  style="margin-right: 1em;color: #1678b9;font-size: 1.4em;"></i>
                  Used full to restrict access to end-user.
               </p>
               <p class="sh_mb32" align="center" style="color:#342f33e0;font-family: sans-serif!important;padding-top: 10px;margin-bottom:0px !important;text-align: justify;padding: 7px 0px;border-bottom: 1px solid #bbbbbb;">
                  <i class="fa fa-hand-o-right"  style="margin-right: 1em;color: #1678b9;font-size: 1.4em;"></i>
                  Web Backend access allows.
               </p>
               <p class="sh_mb32" align="center" style="color:#342f33e0;font-family: sans-serif!important;padding-top: 10px;margin-bottom:0px !important;text-align: justify;padding: 7px 0px;border-bottom: 1px solid #bbbbbb;">
                  <i class="fa fa-hand-o-right"  style="margin-right: 1em;color: #1678b9;font-size: 1.4em;"></i>
                  Only admin can enable/disable maintenance mode.
               </p>
               <p class="sh_mb32" align="center" style="color:#342f33e0;font-family: sans-serif!important;padding-top: 10px;margin-bottom:0px !important;text-align: justify;padding: 7px 0px;border-bottom: 1px solid #bbbbbb;">
                  <i class="fa fa-hand-o-right"  style="margin-right: 1em;color: #1678b9;font-size: 1.4em;"></i>
                   Very useful for the new website also for coming soon title.
               </p>
               <p class="sh_mb32" align="center" style="color:#342f33e0;font-family: sans-serif!important;padding-top: 10px;margin-bottom:0px !important;text-align: justify;padding: 7px 0px;border-bottom: 1px solid #bbbbbb;">
                  <i class="fa fa-hand-o-right"  style="margin-right: 1em;color: #1678b9;font-size: 1.4em;"></i>
                   This app is compatible with Odoo's Multi-Company Feature.
               </p>
            </div>
         </div>
      </div>
   </div>
</section>
<!-- version -->

<section class="sh_bg_cover" style="background:#e9e9eb;padding:1px 0em;margin-bottom: 2em;margin-top: 2em;padding: 40px;">
   <div class="container">
      <div class="sh_spaced">
         <div class="sh_span12 " style="padding: 0px!important;">
            <h2 class="sh_display" style="color:#1578b9;text-align: center;font-size: 2em;margin-top: 0px;"><b style="font-weight: bold;font-family: "open="" sans="" sans-serif="">Version</b>
            </h2>
            <hr style="border: 1px solid #96969a;position:relative;width:40px;top:0px;padding:0px;margin-bottom:15px;">
            <div class="sh_mb32" align="center" style="color:#342f33e0;font-family: sans-serif!important;padding-top: 10px;margin-bottom:0px !important;text-align: justify;padding: 7px 0px;font-weight: 600;margin:0px;">            	
               <i class="fa fa-hand-o-right"  style="margin-right: 1em;color: #1678b9;font-size: 1.4em;"></i>
               v14.0.1 (29<sup>th</sup> October 2020)
               <ul style="list-style-type: square;padding-left: 3em;border-bottom: 1px solid #bbbbbb;margin-bottom: 10px;padding-bottom: 10px;padding-top: 10px;">
                  <li style="list-style:none;font-weight: normal;"><i class="fa fa-caret-right"  style="color: #1678b9;"></i>
                     Initial Release
                  </li>
               </ul>
            </div>
         </div>
      </div>
   </div>
</section> 

<section class="text-center oe_container" style="padding: 20px 0;margin: 20px 0;">
   <div class="oe_spaced" style="margin: 0;">
      <h2 class="display-3 fw_extralight mb0" style="font-size: 20px;font-weight: 400;color: #1578b9;">
         In the settings enable "Website Coming Soon" and set title, description, background image, launch date & different styles. <br>
      <b>You can add the link, list, etc for description using the HTML field. </b>
      </h2>
      <hr style="border: 1px solid #96969a;position: relative; width: 40px;top: -10px;padding: 0px;margin-bottom: 0px;">
      <div style="margin:5px auto;">
         <img src="01.png" style="width:100%;">
      </div>
   </div>
</section>
<section class="text-center oe_container" style="padding: 20px 0;margin: 20px 0;">
   <div class="oe_spaced" style="margin: 0;">
      <h2 class="display-3 fw_extralight mb0" style="font-size: 20px;font-weight: 400;color: #1578b9;">
         Website Coming Soon looks like below.

      </h2>
      <hr style="border: 1px solid #96969a;position: relative; width: 40px;top: -10px;padding: 0px;margin-bottom: 0px;">
      <div style="margin:5px auto;">
         <img src="02.png" style="width:100%;"> 
      
      </div>
   </div>
</section>
<section class="text-center oe_container" style="padding: 20px 0;margin: 20px 0;">
   <div class="oe_spaced" style="margin: 0;">
      <h2 class="display-3 fw_extralight mb0" style="font-size: 20px;font-weight: 400;color: #1578b9;">
         Website Coming Soon looks like this.

      </h2>
      <hr style="border: 1px solid #96969a;position: relative; width: 40px;top: -10px;padding: 0px;margin-bottom: 0px;">
      <div style="margin:5px auto;">
        
         <img src="03.png" style="width:100%;">
      </div>
   </div>
</section>
<section class="text-center oe_container" style="padding: 20px 0;margin: 20px 0;">
   <div class="oe_spaced" style="margin: 0;">
      <h2 class="display-3 fw_extralight mb0" style="font-size: 20px;font-weight: 400;color: #1578b9;">
          The admin can edit the webpage after login.
      </h2>
      <hr style="border: 1px solid #96969a;position: relative; width: 40px;top: -10px;padding: 0px;margin-bottom: 0px;">
      <div style="margin:5px auto;">
         <img src="00.png" style="width:100%;">
      </div>
   </div>
</section>
<section class="text-center oe_container" style="padding: 20px 0;margin: 20px 0;">
   <div class="oe_spaced" style="margin: 0;">
      <h2 class="display-3 fw_extralight mb0" style="font-size: 20px;font-weight: 400;color: #1578b9;">
         Website Coming Soon Settings.
      </h2>
      <hr style="border: 1px solid #96969a;position: relative; width: 40px;top: -10px;padding: 0px;margin-bottom: 0px;">
      <div style="margin:5px auto;">
         <img src="c_1.png" style="width:100%;">
      </div>
   </div>
</section>
<section class="text-center oe_container" style="padding: 20px 0;margin: 20px 0;">
   <div class="oe_spaced" style="margin: 0;">
      <h2 class="display-3 fw_extralight mb0" style="font-size: 20px;font-weight: 400;color: #1578b9;">
         Website Coming Soon looks like below.
      </h2>
      <hr style="border: 1px solid #96969a;position: relative; width: 40px;top: -10px;padding: 0px;margin-bottom: 0px;">
      <div style="margin:5px auto;">
         <img src="c_2.png" style="width:100%;">
      </div>
   </div>
</section>
<section class="text-center oe_container" style="padding: 20px 0;margin: 20px 0;">
   <div class="oe_spaced" style="margin: 0;">
      <h2 class="display-3 fw_extralight mb0" style="font-size: 20px;font-weight: 400;color: #1578b9;">
         Multi website localhost and 0.0.0.0 below.
      </h2>
      <hr style="border: 1px solid #96969a;position: relative; width: 40px;top: -10px;padding: 0px;margin-bottom: 0px;">
      <div style="margin:5px auto;">
         <img src="c_3.png" style="width:100%;">
      </div>
   </div>
</section>
<section class="text-center oe_container" style="padding: 20px 0;margin: 20px 0;">
   <div class="oe_spaced" style="margin: 0;">
      <h2 class="display-3 fw_extralight mb0" style="font-size: 20px;font-weight: 400;color: #1578b9;">
         Website Coming Soon Settings in Localhost Website(Website 1).
      </h2>
      <hr style="border: 1px solid #96969a;position: relative; width: 40px;top: -10px;padding: 0px;margin-bottom: 0px;">
      <div style="margin:5px auto;">
         <img src="c_4.png" style="width:100%;">
      </div>
   </div>
</section>
<section class="text-center oe_container" style="padding: 20px 0;margin: 20px 0;">
   <div class="oe_spaced" style="margin: 0;">
      <h2 class="display-3 fw_extralight mb0" style="font-size: 20px;font-weight: 400;color: #1578b9;">
         Website Coming Soon displayed in Localhost Website(Website 1).
      </h2>
      <hr style="border: 1px solid #96969a;position: relative; width: 40px;top: -10px;padding: 0px;margin-bottom: 0px;">
      <div style="margin:5px auto;">
         <img src="c_5.png" style="width:100%;">
      </div>
   </div>
</section>
<section class="text-center oe_container" style="padding: 20px 0;margin: 20px 0;">
   <div class="oe_spaced" style="margin: 0;">
      <h2 class="display-3 fw_extralight mb0" style="font-size: 20px;font-weight: 400;color: #1578b9;">
         Website Coming Soon Settings in 0.0.0.0 Website(Website 2).
      </h2>
      <hr style="border: 1px solid #96969a;position: relative; width: 40px;top: -10px;padding: 0px;margin-bottom: 0px;">
      <div style="margin:5px auto;">
         <img src="c_6.png" style="width:100%;">
      </div>
   </div>
</section>
<section class="text-center oe_container" style="padding: 20px 0;margin: 20px 0;">
   <div class="oe_spaced" style="margin: 0;">
      <h2 class="display-3 fw_extralight mb0" style="font-size: 20px;font-weight: 400;color: #1578b9;">
         Website Coming Soon displayed in 0.0.0.0 Website(Website 2).
      </h2>
      <hr style="border: 1px solid #96969a;position: relative; width: 40px;top: -10px;padding: 0px;margin-bottom: 0px;">
      <div style="margin:5px auto;">
         <img src="c_7.png" style="width:100%;">
      </div>
   </div>
</section>

<section class="text-center oe_container" style="padding: 20px 0;margin: 20px 0;">
   <div class="oe_spaced" style="margin: 0;">
      <h2 class="display-3 fw_extralight mb0" style="font-size: 20px;font-weight: 400;color: #1578b9;">
         Style 1 looks like below.
      </h2>
      <hr style="border: 1px solid #96969a;position: relative; width: 40px;top: -10px;padding: 0px;margin-bottom: 0px;">
      <div style="margin:5px auto;">
         <img src="1.png" style="width:100%;">
      </div>
   </div>
</section>
<section class="text-center oe_container" style="padding: 20px 0;margin: 20px 0;">
   <div class="oe_spaced" style="margin: 0;">
      <h2 class="display-3 fw_extralight mb0" style="font-size: 20px;font-weight: 400;color: #1578b9;">
         Style 2 looks like below.
      </h2>
      <hr style="border: 1px solid #96969a;position: relative; width: 40px;top: -10px;padding: 0px;margin-bottom: 0px;">
      <div style="margin:5px auto;">
         <img src="2.png" style="width:100%;">
      </div>
   </div>
</section>
<section class="text-center oe_container" style="padding: 20px 0;margin: 20px 0;">
   <div class="oe_spaced" style="margin: 0;">
      <h2 class="display-3 fw_extralight mb0" style="font-size: 20px;font-weight: 400;color: #1578b9;">
         Style 3 looks like below.
      </h2>
      <hr style="border: 1px solid #96969a;position: relative; width: 40px;top: -10px;padding: 0px;margin-bottom: 0px;">
      <div style="margin:5px auto;">
         <img src="3.png" style="width:100%;">
      </div>
   </div>
</section>
<section class="text-center oe_container" style="padding: 20px 0;margin: 20px 0;">
   <div class="oe_spaced" style="margin: 0;">
      <h2 class="display-3 fw_extralight mb0" style="font-size: 20px;font-weight: 400;color: #1578b9;">
         Style 4 looks like below.
      </h2>
      <hr style="border: 1px solid #96969a;position: relative; width: 40px;top: -10px;padding: 0px;margin-bottom: 0px;">
      <div style="margin:5px auto;">
         <img src="4.png" style="width:100%;">
      </div>
   </div>
</section>
<section class="text-center oe_container" style="padding: 20px 0;margin: 20px 0;">
   <div class="oe_spaced" style="margin: 0;">
      <h2 class="display-3 fw_extralight mb0" style="font-size: 20px;font-weight: 400;color: #1578b9;">
         Style 5 looks like below.
      </h2>
      <hr style="border: 1px solid #96969a;position: relative; width: 40px;top: -10px;padding: 0px;margin-bottom: 0px;">
      <div style="margin:5px auto;">
         <img src="5.png" style="width:100%;">
      </div>
   </div>
</section>

<section class="text-center oe_container" style="padding: 20px 0;margin: 20px 0;">
   <div class="oe_spaced" style="margin: 0;">
      <h2 class="display-3 fw_extralight mb0" style="font-size: 20px;font-weight: 400;color: #1578b9;">
         Style 6 looks like below.
      </h2>
      <hr style="border: 1px solid #96969a;position: relative; width: 40px;top: -10px;padding: 0px;margin-bottom: 0px;">
      <div style="margin:5px auto;">
         <img src="6.png" style="width:100%;">
      </div>
   </div>
</section>
<section class="text-center oe_container" style="padding: 20px 0;margin: 20px 0;">
   <div class="oe_spaced" style="margin: 0;">
      <h2 class="display-3 fw_extralight mb0" style="font-size: 20px;font-weight: 400;color: #1578b9;">
         Style 7 looks like below.
      </h2>
      <hr style="border: 1px solid #96969a;position: relative; width: 40px;top: -10px;padding: 0px;margin-bottom: 0px;">
      <div style="margin:5px auto;">
         <img src="7.png" style="width:100%;">
      </div>
   </div>
</section>
<section class="text-center oe_container" style="padding: 20px 0;margin: 20px 0;">
   <div class="oe_spaced" style="margin: 0;">
      <h2 class="display-3 fw_extralight mb0" style="font-size: 20px;font-weight: 400;color: #1578b9;">
         Style 8 looks like below.
      </h2>
      <hr style="border: 1px solid #96969a;position: relative; width: 40px;top: -10px;padding: 0px;margin-bottom: 0px;">
      <div style="margin:5px auto;">
         <img src="8.png" style="width:100%;">
      </div>
   </div>
</section>
<section class="text-center oe_container" style="padding: 20px 0;margin: 20px 0;">
   <div class="oe_spaced" style="margin: 0;">
      <h2 class="display-3 fw_extralight mb0" style="font-size: 20px;font-weight: 400;color: #1578b9;">
         Style 9 looks like below.
      </h2>
      <hr style="border: 1px solid #96969a;position: relative; width: 40px;top: -10px;padding: 0px;margin-bottom: 0px;">
      <div style="margin:5px auto;">
         <img src="9.png" style="width:100%;">
      </div>
   </div>
</section>
<section class="text-center oe_container" style="padding: 20px 0;margin: 20px 0;">
   <div class="oe_spaced" style="margin: 0;">
      <h2 class="display-3 fw_extralight mb0" style="font-size: 20px;font-weight: 400;color: #1578b9;">
         Style 10 looks like below.
      </h2>
      <hr style="border: 1px solid #96969a;position: relative; width: 40px;top: -10px;padding: 0px;margin-bottom: 0px;">
      <div style="margin:5px auto;">
         <img src="10.png" style="width:100%;">
      </div>
   </div>
</section>

<section class="text-center oe_container" style="padding: 20px 0;margin: 20px 0;">
   <div class="oe_spaced" style="margin: 0;">
      <h2 class="display-3 fw_extralight mb0" style="font-size: 20px;font-weight: 400;color: #1578b9;">
         Style 11 looks like below.
      </h2>
      <hr style="border: 1px solid #96969a;position: relative; width: 40px;top: -10px;padding: 0px;margin-bottom: 0px;">
      <div style="margin:5px auto;">
         <img src="11.png" style="width:100%;">
      </div>
   </div>
</section>
<section class="text-center oe_container" style="padding: 20px 0;margin: 20px 0;">
   <div class="oe_spaced" style="margin: 0;">
      <h2 class="display-3 fw_extralight mb0" style="font-size: 20px;font-weight: 400;color: #1578b9;">
         Style 12 looks like below.
      </h2>
      <hr style="border: 1px solid #96969a;position: relative; width: 40px;top: -10px;padding: 0px;margin-bottom: 0px;">
      <div style="margin:5px auto;">
         <img src="12.png" style="width:100%;">
      </div>
   </div>
</section>
<section class="text-center oe_container" style="padding: 20px 0;margin: 20px 0;">
   <div class="oe_spaced" style="margin: 0;">
      <h2 class="display-3 fw_extralight mb0" style="font-size: 20px;font-weight: 400;color: #1578b9;">
         Style 13 looks like below.
      </h2>
      <hr style="border: 1px solid #96969a;position: relative; width: 40px;top: -10px;padding: 0px;margin-bottom: 0px;">
      <div style="margin:5px auto;">
         <img src="13.png" style="width:100%;">
      </div>
   </div>
</section>
<section class="text-center oe_container" style="padding: 20px 0;margin: 20px 0;">
   <div class="oe_spaced" style="margin: 0;">
      <h2 class="display-3 fw_extralight mb0" style="font-size: 20px;font-weight: 400;color: #1578b9;">
         Style 14 looks like below.
      </h2>
      <hr style="border: 1px solid #96969a;position: relative; width: 40px;top: -10px;padding: 0px;margin-bottom: 0px;">
      <div style="margin:5px auto;">
         <img src="14.png" style="width:100%;">
      </div>
   </div>
</section>
<section class="text-center oe_container" style="padding: 20px 0;margin: 20px 0;">
   <div class="oe_spaced" style="margin: 0;">
      <h2 class="display-3 fw_extralight mb0" style="font-size: 20px;font-weight: 400;color: #1578b9;">
         Style 15 looks like below.
      </h2>
      <hr style="border: 1px solid #96969a;position: relative; width: 40px;top: -10px;padding: 0px;margin-bottom: 0px;">
      <div style="margin:5px auto;">
         <img src="15.png" style="width:100%;">
      </div>
   </div>
</section>

<section class="text-center oe_container" style="padding: 20px 0;margin: 20px 0;">
   <div class="oe_spaced" style="margin: 0;">
      <h2 class="display-3 fw_extralight mb0" style="font-size: 20px;font-weight: 400;color: #1578b9;">
         Style 16 looks like below.
      </h2>
      <hr style="border: 1px solid #96969a;position: relative; width: 40px;top: -10px;padding: 0px;margin-bottom: 0px;">
      <div style="margin:5px auto;">
         <img src="16.png" style="width:100%;">
      </div>
   </div>
</section>
<section class="text-center oe_container" style="padding: 20px 0;margin: 20px 0;">
   <div class="oe_spaced" style="margin: 0;">
      <h2 class="display-3 fw_extralight mb0" style="font-size: 20px;font-weight: 400;color: #1578b9;">
         Style 17 looks like below.
      </h2>
      <hr style="border: 1px solid #96969a;position: relative; width: 40px;top: -10px;padding: 0px;margin-bottom: 0px;">
      <div style="margin:5px auto;">
         <img src="17.png" style="width:100%;">
      </div>
   </div>
</section>
<section class="text-center oe_container" style="padding: 20px 0;margin: 20px 0;">
   <div class="oe_spaced" style="margin: 0;">
      <h2 class="display-3 fw_extralight mb0" style="font-size: 20px;font-weight: 400;color: #1578b9;">
         Style 18 looks like below.
      </h2>
      <hr style="border: 1px solid #96969a;position: relative; width: 40px;top: -10px;padding: 0px;margin-bottom: 0px;">
      <div style="margin:5px auto;">
         <img src="18.png" style="width:100%;">
      </div>
   </div>
</section>
<section class="text-center oe_container" style="padding: 20px 0;margin: 20px 0;">
   <div class="oe_spaced" style="margin: 0;">
      <h2 class="display-3 fw_extralight mb0" style="font-size: 20px;font-weight: 400;color: #1578b9;">
         Style 19 looks like below.
      </h2>
      <hr style="border: 1px solid #96969a;position: relative; width: 40px;top: -10px;padding: 0px;margin-bottom: 0px;">
      <div style="margin:5px auto;">
         <img src="19.png" style="width:100%;">
      </div>
   </div>
</section>
<section class="text-center oe_container" style="padding: 20px 0;margin: 20px 0;">
   <div class="oe_spaced" style="margin: 0;">
      <h2 class="display-3 fw_extralight mb0" style="font-size: 20px;font-weight: 400;color: #1578b9;">
         Style 20 looks like below.
      </h2>
      <hr style="border: 1px solid #96969a;position: relative; width: 40px;top: -10px;padding: 0px;margin-bottom: 0px;">
      <div style="margin:5px auto;">
         <img src="20.png" style="width:100%;">
      </div>
   </div>
</section>

<section class="text-center oe_container" style="padding: 20px 0;margin: 20px 0;">
   <div class="oe_spaced" style="margin: 0;">
      <h2 class="display-3 fw_extralight mb0" style="font-size: 20px;font-weight: 400;color: #1578b9;">
         Style 21 looks like below.
      </h2>
      <hr style="border: 1px solid #96969a;position: relative; width: 40px;top: -10px;padding: 0px;margin-bottom: 0px;">
      <div style="margin:5px auto;">
         <img src="21.png" style="width:100%;">
      </div>
   </div>
</section>
<section class="text-center oe_container" style="padding: 20px 0;margin: 20px 0;">
   <div class="oe_spaced" style="margin: 0;">
      <h2 class="display-3 fw_extralight mb0" style="font-size: 20px;font-weight: 400;color: #1578b9;">
         Style 22 looks like below.
      </h2>
      <hr style="border: 1px solid #96969a;position: relative; width: 40px;top: -10px;padding: 0px;margin-bottom: 0px;">
      <div style="margin:5px auto;">
         <img src="22.png" style="width:100%;">
      </div>
   </div>
</section>
<section class="text-center oe_container" style="padding: 20px 0;margin: 20px 0;">
   <div class="oe_spaced" style="margin: 0;">
      <h2 class="display-3 fw_extralight mb0" style="font-size: 20px;font-weight: 400;color: #1578b9;">
         Style 23 looks like below.
      </h2>
      <hr style="border: 1px solid #96969a;position: relative; width: 40px;top: -10px;padding: 0px;margin-bottom: 0px;">
      <div style="margin:5px auto;">
         <img src="23.png" style="width:100%;">
      </div>
   </div>
</section>
<section class="text-center oe_container" style="padding: 20px 0;margin: 20px 0;">
   <div class="oe_spaced" style="margin: 0;">
      <h2 class="display-3 fw_extralight mb0" style="font-size: 20px;font-weight: 400;color: #1578b9;">
         Style 24 looks like below.
      </h2>
      <hr style="border: 1px solid #96969a;position: relative; width: 40px;top: -10px;padding: 0px;margin-bottom: 0px;">
      <div style="margin:5px auto;">
         <img src="24.png" style="width:100%;">
      </div>
   </div>
</section>
<section class="text-center oe_container" style="padding: 20px 0;margin: 20px 0;">
   <div class="oe_spaced" style="margin: 0;">
      <h2 class="display-3 fw_extralight mb0" style="font-size: 20px;font-weight: 400;color: #1578b9;">
         Style 25 looks like below.
      </h2>
      <hr style="border: 1px solid #96969a;position: relative; width: 40px;top: -10px;padding: 0px;margin-bottom: 0px;">
      <div style="margin:5px auto;">
         <img src="25.png" style="width:100%;">
      </div>
   </div>
</section>
<section id="sh_multi_language" style="margin: 50px 0;">
<div class="container">
<div class="sh_center text-center">
<h4 style="font-size: 30px;font-weight: 600;color: #212121;margin-bottom: 20px;">Multi-Languages</h4>
<hr style="width: 100px;border-width: 2px;border-color: #1976d2;" />

We have added predefined some languages(English, German / Deutsch, Arabic, Spanish / Español) in module, If you want to add other language you can contact us on <a href="mailto:support@softhealer.com">support@softhealer.com</a>. We use google translator tools for multi-languages so possible translations can be not accurate. we accept suggest to make more accurate translations also on <a href="mailto:support@softhealer.com">support@softhealer.com</a>.
<br/><br/>
</div>

<div class="row">
<div class="col-lg-12 col-md-12 col-sm-12 col-12">
<div class="img" style="text-align: center;">
<img src="eng.png" title="English" alt="english" style="object-fit: cover;margin: 10px 10px;" />
<img src="german.png" title="Germany" alt="germany" style="object-fit: cover;margin: 10px 10px;" />
<img src="aarab.png" title="Arab" alt="arab" style="object-fit: cover;margin: 10px 10px;" />
<img src="spanish.jpg" title="Spanish" alt="spanish" style="object-fit: cover;margin: 10px 10px;" />
</div>
</div>
</div>
</div>
</section>
<!--you may also like-->
<section class="oe_container oe_dark" style="background: #efefef00;">
<div class="oe_row oe_spaced">
<h2 class="display-3" style="color:#1578b9;text-align: center;font-size: 3.2rem;">You May <b style="font-weight: bold;font-family: " open="" sans",="" sans-serif;"=""> Also Like!</b></h2>
<hr style="border: 1px solid #96969a;position: relative; width: 40px;top: -10px;padding: 0px; margin-bottom: 10px;"/>
<div class="row">
<div class="col-md-4" align="center" style="margin-top: 1rem;">
<a href="https://apps.odoo.com/apps/modules/12.0/website_maintainance/">
<img src="image.jpeg" alt="Website Maintenance / Under Construction / Coming Soon" width="100%"> 

</a>

</div>
<div class="col-md-4" align="center" style="margin-top: 1rem;">
<a href="https://apps.odoo.com/apps/modules/12.0/sh_snippet_adv/">
<img src="image1.png" alt="Snippet Advance Settings" width="100%">
</a>

</div>
<div class="col-md-4" align="center" style="margin-top: 1rem;">
<a href="https://apps.odoo.com/apps/modules/12.0/sh_faq_snippet/">
<img src="image2.png" alt="FAQ Snippet" width="100%">
</a>

</div>

<div class="col-md-4" align="center" style="margin-top: 1rem;">
<a href="https://apps.odoo.com/apps/modules/12.0/sh_banner_snippet/">
<img src="image3.png" alt="Banner Snippet" width="100%">
</a>

</div>
<div class="col-md-4" align="center" style="margin-top: 1rem;">
<a href="https://apps.odoo.com/apps/modules/12.0/sh_offer_snipet/">
<img src="image4.png" alt="Offer Snippets" width="100%">
</a>

</div>
<div class="col-md-4" align="center" style="margin-top: 1rem;">
<a href="https://apps.odoo.com/apps/modules/12.0/sh_product_search_snippet/">
<img src="image5.png" alt="Product Search Snippets" width="100%">
</a>

</div>
<div class="col-md-4" align="center" style="margin-top: 1rem;">
<a href="https://apps.odoo.com/apps/modules/12.0/sh_product_filter_snippet/">
<img src="image6.png" alt="Dynamic Product Snippets" width="100%">
</a>

</div>
<div class="col-md-4" align="center" style="margin-top: 1rem;">
<a href="https://apps.odoo.com/apps/modules/12.0/sh_blog_filter_snippet/">
<img src="image7.png" alt="Dynamic blog Snippets" width="100%">
</a>

</div>
<div class="col-md-4" align="center" style="margin-top: 1rem;">
<a href="https://apps.odoo.com/apps/modules/12.0/sh_category_snippet/">
<img src="image8.png" alt="Category Snippet" width="100%">
</a>

</div>
<div class="col-md-4" align="center" style="margin-top: 1rem;">
<a href="https://apps.odoo.com/apps/modules/12.0/sh_ecommerce_snippet/">
<img src="image9.png" alt="Ecommerce Snippet" width="100%">
</a>

</div>
<div class="col-md-4" align="center" style="margin-top: 1rem;">
<a href="https://apps.odoo.com/apps/modules/12.0/sh_product_snippet/">
<img src="image10.png" alt="Dynamic Product Listing Snippets" width="100%">
</a>

</div>

<div class="col-md-4" align="center" style="margin-top: 1rem;">
<a href="https://apps.odoo.com/apps/modules/12.0/sh_snippet_builder/">
<img src="image12.png" alt="Snippet Builder" width="100%">
</a>

</div>
<div class="col-md-4" align="center" style="margin-top: 1rem;">
<a href="https://apps.odoo.com/apps/modules/12.0/sh_hovereffects_snippet/">
<img src="image13.png" alt="Hover effect Snippet" width="100%">
</a>

</div>
<div class="col-md-4" align="center" style="margin-top: 1rem;">
<a href="https://apps.odoo.com/apps/modules/12.0/sh_counter_snippet/">
<img src="image14.png" alt="Counter Snippet" width="100%">
</a>

</div>
<div class="col-md-4" align="center" style="margin-top: 1rem;">
<a href="https://apps.odoo.com/apps/modules/12.0/sh_heading_snippet/">
<img src="image15.png" alt="Heading Snippet" width="100%">
</a>

</div>
<div class="col-md-4" align="center" style="margin-top: 1rem;">
<a href="https://apps.odoo.com/apps/modules/12.0/sh_team_snippet/">
<img src="image16.png" alt="Team Snippets" width="100%">
</a>

</div>
<div class="col-md-4" align="center" style="margin-top: 1rem;">
<a href="https://apps.odoo.com/apps/modules/12.0/sh_timeline_snippet/">
<img src="image17.png" alt="Timeline Snippet" width="100%">
</a>

</div>
<div class="col-md-4" align="center" style="margin-top: 1rem;">
<a href="https://apps.odoo.com/apps/modules/12.0/sh_apps_snippet/">
<img src="image18.png" alt="Mobile Apps Snippets" width="100%">
</a>

</div>
<div class="col-md-4" align="center" style="margin-top: 1rem;">
<a href="https://apps.odoo.com/apps/modules/12.0/sh_comparision_snippet/">
<img src="image19.png" alt="Comparison Snippet" width="100%">
</a>

</div>
<div class="col-md-4" align="center" style="margin-top: 1rem;">
<a href="https://apps.odoo.com/apps/modules/12.0/sh_call_to_action_snippet/">
<img src="image20.png" alt="Call to action snippet" width="100%">
</a>

</div>
<div class="col-md-4" align="center" style="margin-top: 1rem;">
<a href="https://apps.odoo.com/apps/modules/12.0/sh_animated_snippets_2/">
<img src="image21.png" alt="Animated Snippets - 2" width="100%">
</a>

</div>
<div class="col-md-4" align="center" style="margin-top: 1rem;">
<a href="https://apps.odoo.com/apps/modules/12.0/sh_motorcycle_snippet/">
<img src="image22.png" alt="Auto Parts Search Snippet" width="100%">
</a>

</div>
<div class="col-md-4" align="center" style="margin-top: 1rem;">
<a href="https://apps.odoo.com/apps/modules/12.0/sh_attendance_snippet/">
<img src="image23.jpeg" alt="Weekly Attendance Snippet" width="100%">
</a>

</div>
<div class="col-md-4" align="center" style="margin-top: 1rem;">
<a href="https://apps.odoo.com/apps/modules/12.0/sh_notice_board/">
<img src="image24.png" alt="News Snippets" width="100%">
</a>

</div>
<div class="col-md-4" align="center" style="margin-top: 1rem;">
<a href="https://apps.odoo.com/apps/modules/12.0/sh_animated_snippets/">
<img src="image25.png" alt="Animated Snippets" width="100%">
</a>

</div>
<div class="col-md-4" align="center" style="margin-top: 1rem;">
<a href="https://apps.odoo.com/apps/modules/12.0/sh_content_box_snippet/">
<img src="image26.png" alt="Content Box Snippet" width="100%">
</a>

</div>
<div class="col-md-4" align="center" style="margin-top: 1rem;">
<a href="https://apps.odoo.com/apps/modules/12.0/sh_icon_snippet/">
<img src="image27.png" alt="Icon or Image Snippet" width="100%">
</a>

</div>

</div>
</div>
</section>
<br>
<section class="oe_container oe_dark">
<div class="oe_row oe_spaced">
<h2 class="oe_slogan" style="color:#2C0091;">Help & Support</h2>
<h3 class="oe_slogan">You will get free support for 90 days and assistance in case of any issues

</h3>
<br/>
<div class="text-center">
<a style="background: none 0% 0% repeat scroll #1A8CD9; color: white; border-color: rgb(3, 174, 228); position: relative; overflow: hidden;" class="btn btn-success btn-lg" rel="nofollow" href="mailto:support@softhealer.com"><span class="" style="height: 188px; width: 188px; top: -78.9844px; left: 11.6562px;" title="support[at]softhealer.com">Email</span></a>

</div>
</div>
</section>

