<hr />
<section>
    <div class="row mb-sm-4 justify-content-md-between justify-content-center">
        <div class="text-center ml-5">
            <a href="https://kanakinfosystems.com" target="_blank">
                <img src="logo.png" style="height: 55px;width: auto;" alt="kanakinfosystems-logo">
            </a>
            <div class="mt-3" style="font-size: 10px;">
                <a href="https://www.facebook.com/kanakinfosystems/" class="text-dark" target="_blank"> <i class="fa fa-facebook fa-2x"></i> </a>
                <a href="https://https://www.linkedin.com/company/kanak-infosystems-llp./" class="text-dark ml-3" target="_blank"> <i class="fa fa-linkedin fa-2x"></i> </a>
                <a href="https://www.instagram.com/kanakinfosystemsllp/" class="text-dark ml-3" target="_blank"> <i class="fa fa-instagram fa-2x" target="new"></i> </a>
                <a href="https://twitter.com/KanakInfosys" class="text-dark ml-3" target="_blank"> <i class="fa fa-twitter fa-2x"></i> </a>
            </div>
        </div>
        <div class="text-center" style="color: #113246;margin-left: 40px;">
            <h3 style="font-size: 40px;padding-top: 20px;">
                Captcha on Job Application<br/> Kanak
            </h3>
        </div>
        <div class="text-center mt-md-0 mr-3 pt-3">
            <h6 class="mb-0 mt-2" style="font-size: 14px;">Supported Editions</h6>
            <div class="d-flex align-items-center mr-3">
                <h6 class="mb-0 mt-2 mr4 text-left" style="font-size: 14px;min-width:90px;"><span class="badge badge-pill badge-light" style="color: #ffffff;background-color: #7c7bad;border-radius: 10rem;padding: 1.25em 0.4em;padding-right: 1.6em;padding-left: 1.6em; font-weight: bolder;"> Community </span></h6>
                <h6 class="mb-0 mt-2 text-right" style="font-size: 14px;min-width:90px"><span class="badge badge-pill badge-light" style="color: #ffffff;background-color: #007a77;border-radius: 10rem;padding: 1.25em 0.4em;padding-right: 1.6em;padding-left: 1.6em;font-weight: bolder;"> Enterprise </span></h6>
            </div>
        </div>
    </div>
</section>
<hr />
<section>
    <div class="oe_row">
        <div class="text-center py-4">
            <p style="font-size: 28px;color: #113246;border-width: 3px;border-style: solid;border-image: linear-gradient( to bottom, #113246, rgba(0, 0, 0, 0) ) 1 100%;" class="px-sm-4 p-2 pt-4">reCAPTCHA can be applied on login in job application form by using <b>Captcha on Job Application Kanak</b>
            </p>
        </div>
    </div>
</section>
<hr />
<section>
    <div class="oe_row">
        <div class="oe_span12">
            <div class="p-3 bg-white" style="text-align: center;border-radius: 10px;margin-bottom: 20px;margin-top: 20px;border-left: 11px solid #113246;border-right: 11px solid #113246;box-shadow: 0px 0px 7px 1px #113246;">
                <h2 class="oe_slogan" style="color: #113246;">Key Features</h2>
                <ul class="list-unstyled" style="font-size:15px;border-radius: 10px;padding-top: 15px;">
                    <li class="d-flex align-items-baseline mb-2">
                        <i class="fa fa-mail-forward" style="font-size:20px;color: #113246;padding-right: 10px;"></i><span style="padding-bottom: 3px;">reCAPTCHA applied on login job application.</span>
                    </li>
                    <li class="d-flex align-items-baseline mb-2">
                        <i class="fa fa-mail-forward" style="font-size:20px;color: #113246;padding-right: 10px;"></i><span style="padding-bottom: 3px;">Easily configured to reCAPTCHA.</span>
                    </li>
                    <li class="d-flex align-items-baseline mb-2">
                        <i class="fa fa-mail-forward" style="font-size:20px;color: #113246;padding-right: 10px;"></i><span style="padding-bottom: 3px;">Without reCAPTCHA, we can not submit job application.</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<hr />
<section>
    <div class="oe_row">
        <div class="oe_span12">
            <div class="p-3 bg-white" style="text-align: center;border-radius: 10px;margin-bottom: 20px;margin-top: 20px;border-left: 11px solid #113246;border-right: 11px solid #113246;box-shadow: 0px 0px 7px 1px #113246;">
                <h2 class="oe_slogan" style="color: #113246;">reCAPTCHA Configuration </h2>
                <ul class="list-unstyled" style="font-size:15px;border-radius: 10px;padding-top: 15px;">
                    <li class="d-flex align-items-baseline mb-2">
                        <i class="fa fa-mail-forward" style="font-size:20px;color: #113246;padding-right: 10px;"></i><span style="padding-bottom: 3px;">Navigate to the Website and click on the Configuration menu.</span>
                    </li>
                    <li class="d-flex align-items-baseline mb-2">
                        <i class="fa fa-mail-forward" style="font-size:20px;color: #113246;padding-right: 10px;"></i><span style="padding-bottom: 3px;">Now, open Settings and go to the reCAPTCHA Configuration section.</span> 
                    </li>
                    <li class="d-flex align-items-baseline mb-2">
                        <i class="fa fa-mail-forward" style="font-size:20px;color: #113246;padding-right: 10px;"></i><span style="padding-bottom: 3px;">Set reCAPTCHA Site Key & Private Key.</span> 
                    </li>
                </ul>
                <img src="config.png" class="oe_screenshot oe_centered" style="width: 100%;border: solid 1px black;margin-bottom: inherit;" /><br />
            </div>
        </div>
    </div>
</section>
<hr />
<section>
    <div class="oe_row">
        <div class="oe_span12">
            <div class="p-3 bg-white" style="text-align: center;border-radius: 10px;margin-bottom: 20px;margin-top: 20px;border-left: 11px solid #113246;border-right: 11px solid #113246;box-shadow: 0px 0px 7px 1px #113246;">
                <h2 class="oe_slogan" style="color: #113246;">Job Application</h2>
                <ul class="list-unstyled" style="font-size:15px;border-radius: 10px;padding-top: 15px;">
                    <li class="d-flex align-items-baseline mb-2">
                        <i class="fa fa-mail-forward" style="font-size:20px;color: #113246;padding-right: 10px;"></i><span style="padding-bottom: 3px;">Now, we open website and click on Jobs menu.</span>
                    </li>
                    <li class="d-flex align-items-baseline mb-2">
                        <i class="fa fa-mail-forward" style="font-size:20px;color: #113246;padding-right: 10px;"></i><span style="padding-bottom: 3px;">Here, we can see multiple Job Offers.</span>
                    </li>
                    <li class="d-flex align-items-baseline mb-2">
                        <i class="fa fa-mail-forward" style="font-size:20px;color: #113246;padding-right: 10px;"></i><span style="padding-bottom: 3px;">Select anyone job position to apply.</span>
                    </li>
                </ul>
                <img src="job_menu.png" class="oe_screenshot oe_centered" style="width: 100%;border: solid 1px black;margin-bottom: inherit;" /><br />
            </div>
            <div class="p-3 bg-white" style="text-align: center;border-radius: 10px;margin-bottom: 20px;margin-top: 20px;border-left: 11px solid #113246;border-right: 11px solid #113246;box-shadow: 0px 0px 7px 1px #113246;">
                <ul class="list-unstyled" style="font-size:15px;border-radius: 10px;padding-top: 15px;">
                    <li class="d-flex align-items-baseline mb-2">
                        <i class="fa fa-mail-forward" style="font-size:20px;color: #113246;padding-right: 10px;"></i><span style="padding-bottom: 3px;">Click Apply Now to fill our application.</span>
                    </li>
                </ul>
                <img src="apply_now.png" class="oe_screenshot oe_centered" style="width: 100%;border: solid 1px black;margin-bottom: inherit;" /><br />
            </div>
            <div class="p-3 bg-white" style="text-align: center;border-radius: 10px;margin-bottom: 20px;margin-top: 20px;border-left: 11px solid #113246;border-right: 11px solid #113246;box-shadow: 0px 0px 7px 1px #113246;">
                <ul class="list-unstyled" style="font-size:15px;border-radius: 10px;padding-top: 15px;">
                    <li class="d-flex align-items-baseline mb-2">
                        <i class="fa fa-mail-forward" style="font-size:20px;color: #113246;padding-right: 10px;"></i><span style="padding-bottom: 3px;">Fill application details and Submit button.</span>
                    </li>
                    <li class="d-flex align-items-baseline mb-2">
                        <i class="fa fa-mail-forward" style="font-size:20px;color: #113246;padding-right: 10px;"></i><span style="padding-bottom: 3px;">Without activate reCAPTCHA, application form will not submit.</span>
                    </li>
                </ul>
                <img src="application_form.png" class="oe_screenshot oe_centered" style="width: 100%;border: solid 1px black;margin-bottom: inherit;" /><br />
            </div>
            <div class="p-3 bg-white" style="text-align: center;border-radius: 10px;margin-bottom: 20px;margin-top: 20px;border-left: 11px solid #113246;border-right: 11px solid #113246;box-shadow: 0px 0px 7px 1px #113246;">
                <ul class="list-unstyled" style="font-size:15px;border-radius: 10px;padding-top: 15px;">
                    <li class="d-flex align-items-baseline mb-2">
                        <i class="fa fa-mail-forward" style="font-size:20px;color: #113246;padding-right: 10px;"></i><span style="padding-bottom: 3px;">After activate reCAPTCHA, application form will be submitted.</span>
                    </li>
                </ul>
                <img src="submit_form.png" class="oe_screenshot oe_centered" style="width: 100%;border: solid 1px black;margin-bottom: inherit;" /><br />
            </div>
            <div class="p-3 bg-white" style="text-align: center;border-radius: 10px;margin-bottom: 20px;margin-top: 20px;border-left: 11px solid #113246;border-right: 11px solid #113246;box-shadow: 0px 0px 7px 1px #113246;">
                <h4 class="oe_slogan" style="color: #113246;">Submission Message</h4>
                <img src="congratulation.png" class="oe_screenshot oe_centered" style="width: 100%;border: solid 1px black;margin-bottom: inherit;" /><br />
            </div>
        </div>
    </div>
</section>
<hr />
<section>
    <div class="oe_row">
        <div class="oe_span12">
            <div class="p-3 bg-white" style="text-align: center;border-radius: 10px;margin-bottom: 20px;margin-top: 20px;border-left: 11px solid #113246;border-right: 11px solid #113246;box-shadow: 0px 0px 7px 1px #113246;">
                <h2 class="oe_slogan" style="color: #113246;">Recruitment</h2>
                <ul class="list-unstyled" style="font-size:15px;border-radius: 10px;padding-top: 15px;">
                    <li class="d-flex align-items-baseline mb-2">
                        <i class="fa fa-mail-forward" style="font-size:20px;color: #113246;padding-right: 10px;"></i><span style="padding-bottom: 3px;">Navigate to Recruitment and open Job Positions and see our application.</span>
                    </li>
                </ul>
                <img src="requirtment.png" class="oe_screenshot oe_centered" style="width: 100%;border: solid 1px black;margin-bottom: inherit;" /><br />
            </div>
            <div class="p-3 bg-white" style="text-align: center;border-radius: 10px;margin-bottom: 20px;margin-top: 20px;border-left: 11px solid #113246;border-right: 11px solid #113246;box-shadow: 0px 0px 7px 1px #113246;">
                <h4 class="oe_slogan" style="color: #113246;">Our Application</h4>
                <img src="application_kanban.png" class="oe_screenshot oe_centered" style="width: 100%;border: solid 1px black;margin-bottom: inherit;" /><br />
            </div>
            <div class="p-3 bg-white" style="text-align: center;border-radius: 10px;margin-bottom: 20px;margin-top: 20px;border-left: 11px solid #113246;border-right: 11px solid #113246;box-shadow: 0px 0px 7px 1px #113246;">
                <h4 class="oe_slogan" style="color: #113246;">Application Details</h4>
                <img src="application_details.png" class="oe_screenshot oe_centered" style="width: 100%;border: solid 1px black;margin-bottom: inherit;" /><br />
            </div>
        </div>
    </div>
</section>
<hr />
<section>
    <div class="oe_row">
        <div class="container-fluid">
            <div class="row py-sm-5 px-1">
                <div class="col-md-12 text-center" style="padding-bottom: inherit;">
                    <img src="suggest.png" alt="suggest">
                </div>
                <div class="col-md-4 mt-4">
                    <a href="https://apps.odoo.com/apps/modules/12.0/website_logins" class="d-block" target="_blank" style="text-decoration: none;">
                        <div class="card" style="box-shadow: 0px 2px 9px 4px #d0cecb; border-radius: 10px;border: none;">
                            <img class="card-img-top" src="login.jpeg" alt="" style="border-top-left-radius: 10px; border-top-right-radius: 10px;">
                            <div class="card-body text-center">
                                <h5 class="card-text m-0 p-o" style="color: #424040;text-overflow: ellipsis;height: 17px;overflow: hidden;white-space: nowrap;">Website login</h5>
                                <td>
                                    <a href="https://apps.odoo.com/apps/modules/12.0/website_logins" target="_blank">
                                        <span class="badge bg-beta mr8" style="background-color: #06416b !important;font-size: 12px !important;">
                                            12.0
                                        </span>
                                    </a>
                                    <a href="https://apps.odoo.com/apps/modules/11.0/website_logins" target="_blank">
                                        <span class="badge bg-beta mr8" style="background-color: #06416b !important;font-size: 12px !important;">
                                            11.0
                                        </span>
                                    </a>
                                    <a href="https://apps.odoo.com/apps/modules/10.0/website_logins" target="_blank">
                                        <span class="badge bg-beta mr8" style="background-color: #06416b !important;font-size: 12px !important;">
                                            10.0
                                        </span>
                                    </a>
                                    <a href="https://apps.odoo.com/apps/modules/8.0/website_logins" target="_blank">
                                        <span class="badge bg-beta mr8" style="background-color: #06416b !important;font-size: 12px !important;">
                                            8.0
                                        </span>
                                    </a>
                                </td>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-4 mt-4">
                    <a href="https://apps.odoo.com/apps/modules/13.0/signup_tnc_kanak" class="d-block" target="_blank" style="text-decoration: none;">
                        <div class="card" style="box-shadow: 0px 2px 9px 4px #d0cecb; border-radius: 10px;border: none;">
                            <img class="card-img-top" src="signup.jpeg" alt="" style="border-top-left-radius: 10px; border-top-right-radius: 10px;">
                            <div class="card-body text-center">
                                <h5 class="card-text m-0 p-o" style="color: #424040;text-overflow: ellipsis;height: 17px;overflow: hidden;white-space: nowrap;">Signup Terms & Conditions</h5>
                                <td>
                                    <a href="https://apps.odoo.com/apps/modules/13.0/signup_tnc_kanak" target="_blank">
                                        <span class="badge bg-beta mr8" style="background-color: #06416b !important;font-size: 12px !important;">
                                            13.0
                                        </span>
                                    </a>
                                </td>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-4 mt-4">
                    <a href="https://apps.odoo.com/apps/modules/13.0/website_sale_cart_timeout" class="d-block" target="_blank" style="text-decoration: none;">
                        <div class="card" style="box-shadow: 0px 2px 9px 4px #d0cecb; border-radius: 10px;border: none;">
                            <img class="card-img-top" src="cart_time.jpeg" alt="" style="border-top-left-radius: 10px;    border-top-right-radius: 10px;">
                            <div class="card-body text-center">
                                <h5 class="card-text m-0 p-o" style="color: #424040;text-overflow: ellipsis;height: 17px;overflow: hidden;white-space: nowrap;">Website Sale Cart Timeout</h5>
                                <td>
                                    <a href="https://apps.odoo.com/apps/modules/13.0/website_sale_cart_timeout" target="_blank">
                                        <span class="badge bg-beta mr8" style="background-color: #06416b !important;font-size: 12px !important;">
                                            13.0
                                        </span>
                                    </a>
                                </td>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-4 mt-4">
                    <a href="https://apps.odoo.com/apps/modules/10.0/xero_connector_kanak" class="d-block" target="_blank" style="text-decoration: none;">
                        <div class="card" style="box-shadow: 0px 2px 9px 4px #d0cecb; border-radius: 10px;border: none;">
                            <img class="card-img-top" src="xero.jpeg" style="border-top-left-radius: 10px;    border-top-right-radius: 10px;">
                            <div class="card-body text-center">
                                <h5 class="card-text m-0 p-o" style="color: #424040;text-overflow: ellipsis;height: 17px;overflow: hidden;white-space: nowrap;">Xero Connector</h5>
                                <td>
                                    <a href="https://apps.odoo.com/apps/modules/10.0/xero_connector_kanak" target="_blank">
                                        <span class="badge bg-beta mr8" style="background-color: #06416b !important;font-size: 12px !important;">
                                            10.0
                                        </span>
                                    </a>
                                </td>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-4 mt-4">
                    <a href="https://apps.odoo.com/apps/modules/12.0/signup_login_by_mobile" class="d-block" target="_blank" style="text-decoration: none;">
                        <div class="card" style="box-shadow: 0px 2px 9px 4px #d0cecb; border-radius: 10px;border: none;">
                            <img class="card-img-top" src="login_mobile.jpeg" alt="" style="border-top-left-radius: 10px;    border-top-right-radius: 10px;">
                            <div class="card-body text-center">
                                <h5 class="card-text m-0 p-o" style="color: #424040;text-overflow: ellipsis;height: 17px;overflow: hidden;white-space: nowrap;">Signup Login by Mobile</h5>
                                <td>
                                    <a href="https://apps.odoo.com/apps/modules/12.0/signup_login_by_mobile" target="_blank">
                                        <span class="badge bg-beta mr8" style="background-color: #06416b !important;font-size: 12px !important;">
                                            12.0
                                        </span>
                                    </a>
                                    <a href="https://apps.odoo.com/apps/modules/11.0/signup_login_by_mobile" target="_blank">
                                        <span class="badge bg-beta mr8" style="background-color: #06416b !important;font-size: 12px !important;">
                                            11.0
                                        </span>
                                    </a>
                                </td>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-4 mt-4">
                    <a href="https://apps.odoo.com/apps/modules/12.0/quickbook_integration" class="d-block" target="_blank" style="text-decoration: none;">
                        <div class="card" style="box-shadow: 0px 2px 9px 4px #d0cecb; border-radius: 10px;border: none;">
                            <img class="card-img-top" src="quickbook.jpeg" alt="" style="border-top-left-radius: 10px;    border-top-right-radius: 10px;">
                            <div class="card-body text-center">
                                <h5 class="card-text m-0 p-o" style="color: #424040;text-overflow: ellipsis;height: 17px;overflow: hidden;white-space: nowrap;">QuickBook Integration</h5>
                                <td>
                                    <a href="https://apps.odoo.com/apps/modules/12.0/quickbook_integration" target="_blank">
                                        <span class="badge bg-beta mr8" style="background-color: #06416b !important;font-size: 12px !important;">
                                            12.0
                                        </span>
                                    </a>
                                    <a href="https://apps.odoo.com/apps/modules/11.0/quickbook_integration" target="_blank">
                                        <span class="badge bg-beta mr8" style="background-color: #06416b !important;font-size: 12px !important;">
                                            11.0
                                        </span>
                                    </a>
                                    <a href="https://apps.odoo.com/apps/modules/10.0/quickbook_integration" target="_blank">
                                        <span class="badge bg-beta mr8" style="background-color: #06416b !important;font-size: 12px !important;">
                                            10.0
                                        </span>
                                    </a>
                                    <a href="https://apps.odoo.com/apps/modules/8.0/quickbook_integration" target="_blank">
                                        <span class="badge bg-beta mr8" style="background-color: #06416b !important;font-size: 12px !important;">
                                            8.0
                                        </span>
                                    </a>
                                </td>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<hr />
<section class="oe_container" style="padding: 1% 0% 4% 3%;">
    <div class="py-sm-5 px-1">
        <div class="text-center" style="text-align: center;">
            <a href="https://kanakinfosystems.com" target="_blank"><img src="service.png" alt="service"></a>
        </div>
    </div>
    <div style="display:flex;margin-left: 220px;">
        <div style="flex-basis: 18%;">
            <a href="https://kanakinfosystems.com/odoo-development-services" target="_blank">
                <div>
                    <img src="odoo_devlop.png" alt="odoo_devlop">
                </div>
            </a>
        </div>
        <div style="flex-basis: 18%;">
            <a href="https://kanakinfosystems.com/odoo-customization-implementation-services" target="_blank">
                <div>
                    <img src="Odoo_Customization.png" alt="Odoo_Customization">
                </div>
            </a>
        </div>
        <div style="flex-basis: 18%;">
            <a href="https://kanakinfosystems.com/odoo-themes" target="_blank">
                <div>
                    <img src="odoo_themes.png" alt="">
                </div>
            </a>
        </div>
        <div style="flex-basis: 18%;">
            <a href="https://kanakinfosystems.com/odoo-integration-services" target="_blank">
                <div>
                    <img src="odoo_Integration.png" alt="odoo_Integration">
                </div>
            </a>
        </div>
    </div>
    <div style="display:flex;padding-top: 20px;margin-left: 220px;">
        <div style="flex-basis: 18%;">
            <a href="https://kanakinfosystems.com/odoo-installation-services" target="_blank">
                <div>
                    <img src="odoo_training.png" alt="odoo_training">
                </div>
            </a>
        </div>
        <div style="flex-basis: 18%;">
            <a href="https://kanakinfosystems.com/odoo-training" target="_blank">
                <div>
                    <img src="Odoo_Resources.png" alt="Odoo_Resources">
                </div>
            </a>
        </div>
        <div style="flex-basis: 18%;">
            <a href="https://kanakinfosystems.com/odoo-resources" target="_blank">
                <div>
                    <img src="odoo_Installation.png" alt="odoo_Installation">
                </div>
            </a>
        </div>
        <div style="flex-basis: 18%;">
            <a href="https://kanakinfosystems.com/hire-odoo-developer" target="_blank">
                <div>
                    <img src="Hire_odoo_Developer.png" alt="Hire_odoo_Developer">
                </div>
            </a>
        </div>
    </div>
</section>
<hr />
<section class="oe_container" style="background-repeat:no-repeat; background-size:100%;padding: 1% 0% 0% 0%;">
    <div class="oe_row">
        <div style="text-align: center">
            <a href="https://kanakinfosystems.com/contactus" target="_blank"><img src="need_a_support.png" alt="need_a_support"></a>
        </div>
        <div class="oe_slogan" style="margin-top:10px !important;margin-bottom: 0px;">
            <a href="mailto:info@kanakinfosystems.com" target="_blank" style="margin-right: -70px;"><img src="EMAILUS.png" alt="EMAILUS"></a>
            <a href="https://kanakinfosystems.com/contactus" target="_blank" style="margin-right: -80px;"><img src="CONT.png" alt="CONT"></a>
            <a href="https://kanakinfosystems.com/odoo-customization-implementation-services" target="_blank"><img src="request.png" alt="request"></a>
        </div>
        <br>
        <div>
            <div class="col-md-12 col-xs-12 col-sm-12 mt32 mb32 text-center">
                <img src="logo.png" style="height:100px;">
            </div>
        </div>
        <div class="col-md-12 col-xs-12 col-sm-12 mt32 mb32 text-center">
            <a href="https://twitter.com/KanakInfosys" target="_blank"><i class="fa fa-2x fa-twitter" style="color:white;background: #00a0d1;width:35px;height: 35px;padding-top: 7px;font-size: 21px;margin-right: 6px;border-radius: 100%;"></i></a>
            <a href="hhttps://www.linkedin.com/company/kanak-infosystems-llp./" target="_blank"><i class="fa fa-2x fa-linkedin" style="color:white;background: #31a3d6;width:35px;padding-left: 3px;height: 35px;padding-top: 7px;font-size: 21px;margin-right: 6px;border-radius: 100%;"></i></a>
            <a href="https://www.facebook.com/kanakinfosystems/" target="_blank"><i class="fa fa-2x fa-facebook" style="color:white;background: #3b5998;width:35px; ;height: 35px;padding-top: 7px;font-size: 21px;margin-right: 6px;border-radius: 100%;"></i></a>
            <a href="https://www.instagram.com/kanakinfosystemsllp/" target="_blank"><i class="fa fa-2x fa-instagram" style="color:white;background: #c53c2c;width:35px;padding-left: 3px;height: 35px;padding-top: 7px;font-size: 21px;margin-right: 6px;border-radius: 100%;"></i></a>
            <a href="https://in.pinterest.com/kanakinfosystemsllp/" target="_blank"><i class="fa fa-2x fa-pinterest" style="color:white;background: #ac0f18;width:35px;padding-left: 3px;height: 35px;padding-top: 7px;font-size: 21px;margin-right: 6px;border-radius: 100%;"></i></a>
            <a href="https://www.youtube.com/channel/UCfS_433Zx5ui2hZ8uPY371A" target="_blank"><i class="fa fa-2x fa-youtube" style="color:white;background: #ac0f18;width:35px;padding-left: 3px;height: 35px;padding-top: 7px;font-size: 21px;margin-right: 6px;border-radius: 100%;"></i></a>
        </div>
    </div>
</section>