body {
	font-family: 'Poppins', sans-serif;
	color: #0c0c0c;
	background-color: #ffffff;
  }
  
  .layout_padding {
	padding: 75px 0;
  }
  
  .layout_padding2 {
	padding: 45px 0;
  }
  
  .layout_padding2-top {
	padding-top: 45px;
  }
  
  .layout_padding2-bottom {
	padding-bottom: 45px;
  }
  
  .layout_padding-top {
	padding-top: 75px;
  }
  
  .layout_padding-bottom {
	padding-bottom: 75px;
  }
  
  .heading_container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
		-ms-flex-pack: center;
			justify-content: center;
  }
  
  .heading_container h2 {
	text-align: center;
  }
  
  .heading_container h2 span {
	font-weight: bold;
	color: #ff9f01;
  }
  
  /*header section*/
  .hero_area {
	height: 100vh;
	background-color: #111111;
	position: relative;
	font-family: "Roboto", sans-serif;
  }
  
  .hero_area::before {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	width: 275px;
	height: 100%;
	background-color: #ff9f01;
	z-index: 5;
  }
  
  .sub_page .hero_area {
	height: auto;
  }
  
  .sub_page .about_section {
	padding: 150px 0;
  }
  
  .sub_page .car_section {
	margin-bottom: 75px;
  }
  
  .hero_area.sub_pages {
	height: auto;
  }
  
  .header_section {
	padding: 15px 0;
	font-family: "Roboto", sans-serif;
  }
  
  .header_section .container-fluid {
	padding-right: 25px;
	padding-left: 25px;
  }
  
  .header_section .nav_container {
	margin: 0 auto;
  }
  
  .custom_nav-container.navbar-expand-lg .navbar-nav .nav-item .nav-link {
	padding: 0;
	margin: 0px 25px;
	color: #ffffff;
	text-align: center;
	text-transform: uppercase;
  }
  
  a,
  a:hover,
  a:focus {
	text-decoration: none;
  }
  
  a:hover,
  a:focus {
	color: initial;
  }
  
  .btn,
  .btn:focus {
	outline: none !important;
	-webkit-box-shadow: none;
			box-shadow: none;
  }
  
  .custom_nav-container .nav_search-btn {
	background-image: url(../images/search-icon.png);
	background-size: 17px;
	background-repeat: no-repeat;
	background-position-y: 7px;
	width: 35px;
	height: 35px;
	padding: 0;
	border: none;
  }
  
  .navbar-brand span {
	text-transform: uppercase;
	font-weight: bold;
	color: #ffffff;
  }
  
  .custom_nav-container {
	z-index: 99999;
	padding: 0;
  }
  
  .custom_nav-container .navbar-toggler {
	outline: none;
  }
  
  .custom_nav-container .navbar-toggler .navbar-toggler-icon {
	background-image: url(../images/menu.png);
	background-size: 55px;
  }
  
  .custom_nav-container .navbar-toggler .navbar-toggler-icon {
	background-image: url(../images/menu.png);
	background-size: 40px;
  }
  
  /*end header section*/
  /* slider section */
  .slider_section {
	color: #ffffff;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
		-ms-flex-direction: column;
			flex-direction: column;
	-webkit-box-pack: center;
		-ms-flex-pack: center;
			justify-content: center;
	height: 90%;
  }
  
  .slider_section .detail-box {
	margin: 0 auto;
  }
  
  .slider_section .detail-box h1 {
	font-weight: bold;
	margin-bottom: 25px;
	font-size: 3rem;
	text-transform: uppercase;
  }
  
  .slider_section .detail-box a {
	display: inline-block;
	padding: 8px 40px;
	background-color: #ff9f01;
	color: #ffffff;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
	border: none;
	margin: 35px 0 50px 0;
	text-transform: uppercase;
  }
  
  .slider_section .detail-box a:hover {
	background-color: #e78f00;
  }
  
  .slider_section .img-box img {
	width: 100%;
  }
  
  .slider_section #carouselExampleIndicators {
	position: unset;
  }
  
  .slider_section .carousel-control-prev,
  .slider_section .carousel-control-next {
	position: absolute;
	left: initial;
	top: 50%;
	right: 275px;
	width: 40px;
	height: 40px;
	border: 1.5px solid #ff9f01;
	border-radius: 100%;
	opacity: 1;
	background-repeat: no-repeat;
	background-size: 17px;
	background-position: center;
	background-color: #111111;
	background-position: center;
	z-index: 9;
  }
  
  .slider_section .carousel-control-prev:hover,
  .slider_section .carousel-control-next:hover {
	background-color: #ffffff;
  }
  
  .slider_section .carousel-control-prev {
	background-image: url(../images/prev.png);
	-webkit-transform: translate(50%, -60%);
			transform: translate(50%, -60%);
  }
  
  .slider_section .carousel-control-prev:hover {
	background-image: url(../images/prev-yellow.png);
  }
  
  .slider_section .carousel-control-next {
	background-image: url(../images/next.png);
	-webkit-transform: translate(50%, 60%);
			transform: translate(50%, 60%);
  }
  
  .slider_section .carousel-control-next:hover {
	background-image: url(../images/next-yellow.png);
  }
  
  .slider_section .indicator_box {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
		-ms-flex-align: center;
			align-items: center;
	position: absolute;
	bottom: 25px;
	right: 15px;
	z-index: 5;
  }
  
  .slider_section ol.carousel-indicators {
	position: unset;
	margin: 0;
  }
  
  .slider_section ol.carousel-indicators .indicator_container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
		-ms-flex-align: center;
			align-items: center;
  }
  
  .slider_section ol.carousel-indicators li {
	width: auto;
	height: auto;
	border-radius: 100%;
	text-indent: 0px;
	text-align: center;
	line-height: 55px;
	color: #ffffff;
	background-color: transparent;
	opacity: 1;
	border: none;
	display: none;
  }
  
  .slider_section ol.carousel-indicators li.active {
	display: list-item;
  }
  
  .find_section {
	-webkit-transform: translateY(-50%);
			transform: translateY(-50%);
	position: relative;
	z-index: 9;
  }
  
  .find_section .form_container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	background-color: #f3f3f3;
  }
  
  .find_section .form_container .box {
	-webkit-box-flex: 1;
		-ms-flex: 1;
			flex: 1;
  }
  
  .find_section .form_container .box.b-1 {
	-webkit-box-flex: 1.3;
		-ms-flex: 1.3;
			flex: 1.3;
  }
  
  .find_section .form_container .box.b-2 .form-control, .find_section .form_container .box.b-3 .form-control {
	text-align: center;
  }
  
  .find_section form {
	padding: 30px 45px;
	background-color: #ffffff;
	-webkit-box-shadow: 0px 0px 20px 11px rgba(0, 0, 0, 0.09);
	box-shadow: 0px 0px 20px 11px rgba(0, 0, 0, 0.09);
  }
  
  .find_section form .form-control {
	outline: none;
	-webkit-box-shadow: none;
			box-shadow: none;
	border-radius: 0;
	border: none;
	border-right: 1px solid #cacbcc;
	background-color: transparent;
	margin: 8px 0;
  }
  
  .find_section form select {
	-webkit-appearance: none;
	   -moz-appearance: none;
			appearance: none;
	background-image: url(../images/down-arrow.png);
	background-size: 15px;
	background-position: 97% center;
	background-repeat: no-repeat;
  }
  
  .find_section form .btn-box {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: end;
		-ms-flex-align: end;
			align-items: flex-end;
  }
  
  .find_section form .btn-box button {
	display: inline-block;
	padding: 14px 35px;
	background-color: #ff9f01;
	color: #ffffff;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
	border: none;
	width: 100%;
  }
  
  .find_section form .btn-box button:hover {
	background-color: #e78f00;
  }
  
  .job_section .handler_btn-box {
	margin-top: 45px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
		-ms-flex-pack: center;
			justify-content: center;
  }
  
  .job_section .handler_btn-box .nav-tabs {
	border: none;
  }
  
  .job_section .handler_btn-box .nav-link {
	width: 110px;
	padding: 10px 0;
	color: #ffffff;
	background-color: #111111;
	margin: 0 10px;
	border-radius: 25px;
	text-align: center;
	cursor: pointer;
	border: none;
	outline: none;
  }
  
  .job_section .handler_btn-box .nav-link.active {
	background-color: #ff9f01;
  }
  
  .job_section .job_board {
	-webkit-transition: none;
	transition: none;
  }
  
  .job_section .content-box .content {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
		-ms-flex-pack: center;
			justify-content: center;
	padding: 75px 0 50px 0;
	-ms-flex-wrap: wrap;
		flex-wrap: wrap;
  }
  
  .job_section .content-box .content .box {
	width: 225px;
	height: 300px;
	background-color: #252525;
	margin: 0px 10px 25px 10px;
	text-align: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
		-ms-flex-direction: column;
			flex-direction: column;
	padding: 15px;
	border-radius: 25px;
  }
  
  .job_section .content-box .content .box h3 {
	text-transform: uppercase;
	color: #ffffff;
	-webkit-box-flex: 1;
		-ms-flex-positive: 1;
			flex-grow: 1;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
		-ms-flex-align: center;
			align-items: center;
	-webkit-box-pack: center;
		-ms-flex-pack: center;
			justify-content: center;
  }
  
  .job_section .content-box .content .box a {
	text-transform: uppercase;
	color: #ff9f01;
  }
  
  .job_section .content-box .btn-box {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
		-ms-flex-pack: center;
			justify-content: center;
  }
  
  .job_section .content-box .btn-box a {
	display: inline-block;
	padding: 8px 35px;
	background-color: #ff9f01;
	color: #ffffff;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
	border: none;
  }
  
  .job_section .content-box .btn-box a:hover {
	background-color: #e78f00;
  }
  
  .feature_section {
	background-color: #ff9f01;
  }
  
  .feature_section .row {
	-webkit-box-align: center;
		-ms-flex-align: center;
			align-items: center;
  }
  
  .feature_section .detail-box {
	color: #ffffff;
	margin: 45px 0;
  }
  
  .feature_section .detail-box h2 {
	margin-bottom: 35px;
  }
  
  .feature_section .detail-box a {
	display: inline-block;
	padding: 8px 35px;
	background-color: #111111;
	color: #ffffff;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
	border: none;
	margin-top: 35px;
  }
  
  .feature_section .detail-box a:hover {
	background-color: #040404;
  }
  
  .feature_section .img-box img {
	width: 100%;
  }
  
  .people_section .people_container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
		-ms-flex-pack: center;
			justify-content: center;
  }
  
  .people_section .people_container.c-2 {
	padding-left: 20%;
  }
  
  .people_section .people_container .box {
	margin: 10px;
  }
  
  .people_section .people_container .box img {
	width: 100%;
  }
  
  .people_section .btn-box {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
		-ms-flex-pack: center;
			justify-content: center;
  }
  
  .people_section .btn-box a {
	display: inline-block;
	padding: 8px 35px;
	background-color: #ff9f01;
	color: #ffffff;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
	border: none;
  }
  
  .people_section .btn-box a:hover {
	background-color: #e78f00;
  }
  
  .client_section .box {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
		-ms-flex-direction: column;
			flex-direction: column;
	-webkit-box-align: center;
		-ms-flex-align: center;
			align-items: center;
	text-align: center;
	background-color: #ffffff;
	padding: 45px 15px;
  }
  
  .client_section .box .img-box {
	width: 150px;
  }
  
  .client_section .box .img-box img {
	width: 100%;
  }
  
  .client_section .box .detail-box {
	margin-top: 35px;
  }
  
  .client_section .box .detail-box h5 {
	text-transform: uppercase;
	color: #ff9f01;
  }
  
  .client_section .box .detail-box p {
	margin-top: 20px;
  }
  
  .client_section .carousel_btn-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
		-ms-flex-pack: center;
			justify-content: center;
	padding: 25px 0;
	border-bottom: 1px solid #acacac;
	margin: 0 -1.5px;
  }
  
  .client_section #carouselExampleControls {
	margin: 0 10%;
	border: 1px solid #acacac;
	margin-top: 45px;
  }
  
  .client_section .carousel-control-prev,
  .client_section .carousel-control-next {
	position: unset;
	width: 45px;
	height: 45px;
	border: none;
	opacity: 1;
	background-repeat: no-repeat;
	background-size: 10px;
	background-position: center;
	background-color: #ff9f01;
	background-position: center;
	border-radius: 100%;
	margin: 0 2.5px;
  }
  
  .client_section .carousel-control-prev:hover,
  .client_section .carousel-control-next:hover {
	background-color: #111111;
  }
  
  .client_section .carousel-control-prev {
	background-image: url(../images/prev-angle.png);
  }
  
  .client_section .carousel-control-next {
	left: initial;
	background-image: url(../images/next-angle.png);
  }
  
  /* info section */
  .info_section {
	position: relative;
	background-color: #252525;
  }
  
  .info_section h3 {
	text-transform: uppercase;
	font-weight: bold;
	color: #ffffff;
	margin-bottom: 35px;
  }
  
  .info_section .about_links h5 {
	border-bottom: 2px solid #ff9f01;
  }
  
  .info_section img {
	width: 100%;
  }
  
  .info_section ul {
	padding: 0;
  }
  
  .info_section ul li {
	list-style-type: none;
	margin: 10px 0;
  }
  
  .info_section ul li a,
  .info_section ul li a:hover {
	color: #fff;
  }
  
  .info_section h5 {
	margin-bottom: 12px;
	font-size: 22px;
	color: #fff;
	padding: 1px 3px;
  }
  
  .info_section .social-box {
	margin: 25px 0;
  }
  
  .info_section .social-box img {
	width: 35px;
	margin-right: 5px;
  }
  
  .form_container form {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
		-ms-flex-align: center;
			align-items: center;
  }
  
  .info_section .form_container label {
	margin: 0;
	font-size: 18px;
	text-transform: uppercase;
	color: #fff;
  }
  
  .info_section .form_container input {
	width: 300px;
	height: 40px;
	border: none;
	outline: none;
	padding-left: 15px;
	background-color: #fff;
	margin-left: 45px;
	margin-right: 10px;
  }
  
  .info_section .form_container button {
	display: inline-block;
	padding: 8px 50px;
	background-color: #ff9f01;
	color: #ffffff;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
	border: none;
	border: none;
	text-transform: uppercase;
  }
  
  .info_section .form_container button:hover {
	background-color: #e78f00;
  }
  
  .info_section .form_container button:hover {
	-webkit-transform: none;
			transform: none;
  }
  
  /* end info section */
  /* footer section*/
  .footer_section {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
		-ms-flex-pack: center;
			justify-content: center;
	background-color: #ffffff;
	padding: 20px;
  }
  
  .footer_section p {
	color: #292929;
	margin: 0;
	text-align: center;
  }
  
  .footer_section a {
	color: #292929;
  }
  
  /* end footer section*/
  /*# sourceMappingURL=style.css.map */