
.navbar-light{background: transparent !important;margin: 0 auto;padding: 0;}
.navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active{color:$hd-text}
.navbar-light .navbar-nav .nav-link{color: #fff;font-weight: 600;text-transform: capitalize;}
.navbar-light .navbar-nav .nav-link:hover,.navbar-light .navbar-nav .nav-link:active,
.navbar-light .navbar-nav .nav-link.active,.navbar-light .navbar-nav .nav-link:focus{color: #fff;border-bottom: 3px solid #fff;}

.navbar-light .navbar-nav .nav-link:hover{color: #fff;}
.navbar .nav-item{margin: 0px 5px;}
.navbar-light .navbar-nav .nav-link{padding: 15px 15px;text-transform: uppercase;}
header #top_menu_container:after {content: '';position: absolute;top: 5px;left: 5px;width: 0;height: 0;border-top: 25px solid #fff;border-right: 25px solid transparent; z-index: 1;}
header #top_menu_container:before {content: '';position: absolute;bottom: 5px;right: 5px;width: 0;height: 0;border-right: 25px solid #fff;border-top: 25px solid transparent;z-index: 1;}
header #top_menu_container{position: relative;}

#top_menu .nav-item.dropdown .dropdown-menu.js_usermenu{right: auto;}
#top_menu .nav-item.dropdown.o_extra_menu_items .dropdown-menu{min-width: 12rem;}
#top_menu .nav-item.dropdown.o_extra_menu_items .dropdown-menu li a{text-transform: capitalize;}
header .navbar-brand.logo{width: 0px;opacity: 0;margin-left: 0 !important;}
header .collapse > ul{margin-left: 0 !important;position: relative;width: 100%;}

.o_header_affixed{background: #fff;}


header .oe_structure.oe_structure_solo .s_text_block a{text-transform: uppercase;font-weight: 600;}

header#top{z-index: 1;}
header#top .container{background: $-color-Primary;position: relative;}
header#top .container:after{content: '';position: absolute;top: 5px;left: 5px;width: 0;height: 0;border-top: 25px solid #fff;border-right: 25px solid transparent; z-index: 1;}
header#top .container:before{content: '';position: absolute;bottom: 5px;right: 5px;width: 0;height: 0;border-right: 25px solid #fff;border-top: 25px solid transparent;z-index: 1;}


@media (min-width: 768px){ 
	header.o_header_affix.affix.affixed{background: $-color-Primary;}
	.navbar-light{padding: 0 !important;}
}
@media only screen and (max-width: 767px){

	.navbar-light .navbar-nav .nav-link.active span:before{display: none;}
	.o_affix_enabled .navbar-light .navbar-nav .nav-link.active span{color: #000;}
	.navbar-light{padding: 15px 10px !important;background: #fff !important;border-bottom: 1px solid #ccc;}
	header#top .container{background: transparent !important;}
	header#top .container:after,header#top .container:before{display: none;}
	header .navbar-brand.logo{width: auto;opacity: 1;}
	header#top{z-index: 2;}
}
@media only screen and (max-width: 576px){
	.navbar-light{background: #fff !important;border-bottom: 1px solid #ccc;}
	header .navbar-brand.logo{display: block !important;}
	header .navbar-brand.logo{width: auto; opacity: 1;}
	
	
}
