.navbar-light {
    background-color: #fff !important;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.05);
    transition: all 0.3s cubic-bezier(0.39, 0.575, 0.565, 1) 0s;
       padding: 10.3px 0 10.2px;
}
.navbar-light .navbar-nav .nav-link{color: $hd-text!important;border-radius: 5px;line-height: 1.3;font-weight: 600;padding: .2rem 1rem;margin: 0px 2px;text-transform: capitalize;}
.navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active{background-color: /*$-color-secondary*/ #000000;color:#fff!important}
.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus{
background-color: /*$-color-secondary*/ #000000;
color:#fff!important;
transition: all 300ms linear 0ms !important;
}
.navbar .nav-item{padding-top: 5px;}
header .navbar-brand, header .navbar-brand.logo{margin: auto;}
#top_menu .nav-item.dropdown.o_extra_menu_items ul.dropdown-menu li a span{text-transform: capitalize;}



@media(min-width:768px){
 .navbar > .container,.o_affix_enabled .navbar > .container-fluid{ display: block;}
 .navbar-brand.logo{justify-content: center;display: flex;}
.navbar-expand-md .navbar-collapse{justify-content: center;}
 .ml-auto{ margin-left: 0px !important;}
 .navbar-expand-md ul.nav > li.divider{display:none;}
 .dropdown-menu{margin: 0.6rem 0 0;border-radius: 0rem;border:0px;padding: 0rem 0;}
.dropdown-item{padding: 15px 30px;color: $hd-text;}
 .dropdown-item:hover,.o_affix_enabled .dropdown-item:focus{background: #2f2f2f;COLOR: #FFF;}
#top_menu .nav-item.dropdown.o_extra_menu_items .dropdown-menu{min-width: 12rem;}
}


#top_menu .nav-item.dropdown .dropdown-menu.js_usermenu {right: auto;}
@media only screen and (max-width: 768px){
    header .navbar-brand.logo{margin: 0;}
    .navbar-light .navbar-nav#top_menu .nav-link.active span,
    .navbar-light .navbar-nav .nav-link:hover span{color: #fff;}
    .navbar-light .navbar-nav .nav-link:hover span.dropdown-toggle::after{border-top: 0.3em solid #fff;}
    .navbar-light .navbar-nav#top_menu .nav-item.dropdown.show .nav-link.dropdown-toggle span{color: #fff;}
    .navbar-light .navbar-nav#top_menu .nav-item.show .nav-link.dropdown-toggle:after{border-top: 0.3em solid #fff;}
    .navbar-light .navbar-nav#top_menu .nav-item.dropdown.show .nav-link.dropdown-toggle:hover span{color: #fff;}
    .navbar-light .navbar-nav#top_menu .nav-item .nav-link:focus span {color: #fff;}
    
}

/* 24-12-2020 */
header#top{z-index: 3;}









