header .navbar a.navbar-brand{display: none;}
header.o_affix_enabled ul{margin-left: 0 !important;width: 100%;}
header .navbar{background-color: $-color-Primary !important;padding: 0 !important;}
header ul li > a{color: #fff !important;text-transform: capitalize;padding: 10px 22px !important;font-weight: 600;letter-spacing: 0.7px;}
header ul li > a.active,
header ul li > a:hover,
header ul li > a.show{background: $-color-secondary;}
header ul li:last-child .js_usermenu{right: auto;}
header ul li.o_extra_menu_items ul li a{color: #212529 !important;padding: 0.25rem 1.5rem !important;}
header ul li.o_extra_menu_items ul{min-width: 14rem;} 
header#top{width: 85%;margin: auto;margin-bottom: -41px;z-index: 2;}
header#top .navbar .container{padding: 0px;}


header ul li.o_extra_menu_items ul li a:focus,
header ul li.o_extra_menu_items ul li a:active,header ul li.o_extra_menu_items ul li a.active{color: #fff !important;}

@media (max-width: 768px){
  header#top{width: 100%;margin-bottom: 0px;}
  header .navbar a.navbar-brand{display: inline-block;}
  header .navbar{padding: 15px 10px !important;background: #fff !important;}
  header .navbar-light .navbar-nav .nav-link {color: rgba(0, 0, 0, 0.5) !important;}
}
