.navbar-light{padding: 1.2rem 1rem;}
.navbar-light{background: #ebebeb !important;padding: 0px;}
.navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active{color:$hd-text}
.navbar-light .navbar-nav .nav-link{color: #212121;font-weight: 600;text-transform: capitalize;padding: 12px 30px;}
.navbar-light .navbar-nav .nav-link:hover,.navbar-light .navbar-nav .nav-link:active,
.navbar-light .navbar-nav .nav-link.active,.navbar-light .navbar-nav .nav-link:focus{background: $-color-secondary;color: #fff;}

.navbar-light .navbar-nav .nav-link:hover{color: #fff;}
.navbar .nav-item{margin: 0px 5px;}
.navbar-expand-md .navbar-nav.ml-auto {
    margin-left: 0 !important;
}

#top_menu .nav-item.dropdown .dropdown-menu.js_usermenu{right: auto;}
#top_menu .nav-item.dropdown.o_extra_menu_items .dropdown-menu{min-width: 12rem;}
#top_menu .nav-item.dropdown.o_extra_menu_items .dropdown-menu li a{text-transform: capitalize;}
.navbar-light a.navbar-brand {width: 0;min-width: 0;opacity: 0;margin-right: 0 !important;}

@media only screen and (max-width: 768px){

	.navbar-light .navbar-nav .nav-link.active span:before{display: none;}
	.o_affix_enabled .navbar-light .navbar-nav .nav-link.active span{color: #000;}
}
@media only screen and (max-width: 576px){
	.navbar-light{background: rgba(0,0,0,0.0) !important;}
}



header#top .navbar #top_menu_collapse #top_menu .nav-item {opacity: 1 !important;}











