.navbar-light{background-color: $hd-primary!important;}
.navbar .nav-item{line-height: 40px;}
.navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active{background-color: $-color-Primary;color: #fff;}
.navbar-expand-md .navbar-nav .nav-link{padding-right: 0.7rem;padding-left: 0.7rem;line-height: 40px;color:$hd-text;font-weight:600;transition: all 300ms linear 0ms !important;    text-transform: capitalize;
}
.navbar-expand-md .navbar-nav .nav-link:hover{background-color: $-color-Primary;color: #fff;}
.navbar-expand-md ul.nav > li.divider{margin-top: 10px;}
@media(min-width:768px){
.navbar-light{padding-top:0px;padding-bottom:0px;}
}


#top_menu .nav-item.dropdown.o_extra_menu_items .dropdown-menu li a span{text-transform: capitalize;}
#top_menu .nav-item.dropdown.o_extra_menu_items .dropdown-menu{min-width: 12rem;}
#top_menu .nav-item.dropdown .dropdown-menu.js_usermenu{right: auto;}

header#top{z-index: 2;}

@media only screen and (max-width: 768px){
	
}