.demo-area{
    background:$color_invert_fg;
    border-radius:8px;
    padding:20px;
    section{
    padding-top:0;
    }
}

.demo-trigger {
    display: inline-block;
    width: 30%;
    float: left;
}

.detail {
    position: relative;
    width: 65%;
    margin-left: 5%;
    float: left;
    button{
      vertical-align:middle;
      opacity:.5;
      cursor:unset;
      background:$color_invert_chrome_tint;
      margin-left:1em;
    }
}


@media (max-width: 610px) {

  .detail, .demo-trigger {
    float: none;
  }

  .demo-trigger {
      display:block;
      width: 50%;
      max-width:200px;
      margin: 0 auto;
  }

  .detail {
      margin: 0;
      width: auto;
  }

  p {
    margin: 0 auto 1em;
  }

  .responsive-hint {
    display: none;
  }
  h3 {
    margin-top:20px;
  }
}