<section class="oe_container" style="background-color: #154577;">
    <div class="oe_row mt32 mb32">
        <div class="col-md-12">
            <h2 class="oe_slogan" style="color: #FFF;"><strong>Custom product labels</strong></h2>
            <h3 class="oe_slogan" style="color: #FFF;">Allows to print custom product labels on different paper formats.</h3>
        </div>
    </div>
</section>

<section class="container">
    <div class="oe_row" >
        <div class="col-md-12">
            <h4>This module allows to print product labels with the following parameters:</h4>
            <ul>
                <li>Label size: 57x35mm</li>
                <li>Paperformat: A4</li>
                <li>Labels on sheet: 21 pcs</li>
                <li>Labels per row: 3 pcs</li>
                <li>Number of rows per page: 7</li>
            </ul>
            <h4 class="mt16">Contact us if you need labels with other size or paperformat or design.</h4>
        </div>
    </div>
</section>

<section class="container mt32">
    <div class="oe_row">
        <div class="col-md-12">
            <h2 style="color: #154577;"><strong>How to use this module</strong></h2>
        </div>
    </div>
    <div class="oe_row">
        <div class="col-md-12" style="font-size: medium;">
            <h3 class="mb16"><b>CONFIGURATION</b></h3>
            <p>No configure needed.</p>
        </div>
    </div>
    <div class="oe_row">
        <div class="col-md-12" style="font-size: medium;">
            <h3 class="mb16"><b>USAGE</b></h3>
            <p>To use this module, you need to:</p>
            <ul>
                <li>Go to the product or product variants catalog.</li>
                <li>Select one or multiple products.</li>
                <li>Go to the <strong>Print</strong> menu and click on <strong>Custom Product Labels</strong>.</li>
            </ul>
            <div class="oe_centered mt32 mb32">
                <img class="oe_picture oe_screenshot" src="select_products.png">
            </div>
            <ul>
                <li>In the opened window:</li>
            </ul>
            <ol class="ml16">
                <li>Select a label template (templates can have different sizes and paperformats).</li>
                <li>Change the quantity of labels (if necessary).</li>
                <li>Click on <strong>Print</strong>.</li>
            </ol>
            <div class="oe_centered mt32 mb32">
                <img class="oe_picture oe_screenshot" src="print_wizard.png">
            </div>
            <ul>
                <li>Labels will be generated in the PDF format:</li>
            </ul>
            <div class="oe_centered mt32 mb32">
                <img class="oe_picture oe_screenshot" src="product-labels-57x35mm.png" style="max-height: 100%;">
            </div>
        </div>
    </div>
    <div class="oe_row">
        <div class="col-md-12" style="font-size: medium;">
            <h3 class="mb16"><b>CUSTOMIZATION</b></h3>
            <p>Contact us if you need labels with other size or paperformat or design.</p>
        </div>
    </div>
</section>

<section class="oe_container" style="background-color: #526378;">
    <div class="row mt32">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <h4 class="oe_slogan" style="color: #FFF;"><b>Support and development</b></h4>
                </div>
                <div class="col-md-12 text-center mb32" style="color: #FFF;">
                    <h4><b>Contact us:</b></h4>
                    <h4><a href="https://garazd.biz/page/contactus">https://www.10orbits.com/contact-us/</a></h4>
                </div>
            </div>
        </div>
    </div>
</section>
