<section class="oe_container">
  <div class="oe_row oe_spaced">
    <h2 class="oe_slogan" style="color:#875A7B;">Project SubTask - Search Filters </h2>
    <h3 class="oe_slogan">Filter Project Tasks </h3>
    <div class="oe_row_img oe_centered">
      <img class="oe_demo oe_picture oe_screenshot" src="screenshot-1.png">
    </div>
  </div>
</section>
