<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&amp;display=swap"
      rel="stylesheet"></link>
<section class="py-3">
    <div class="container" style="font-family: 'Open Sans', sans-serif;">
        <div class="p-5 bg-white"
             style="border-radius: 10px; box-shadow: -40px 40px 160px 0 rgb(0 0 0 / 8%), -8px 8px 15px 0 rgb(120 120 120 / 4%), 3px 3px 30px 0 rgb(0 0 0 / 4%) !important;">
            <h1 class="text-center" style="font-size: 48px;">
                Advanced List Search
            </h1>
            <h2 class="text-center"
                style="font-size: 20px; font-weight: 400;">
                Advanced list search is a convenient solution to ease the search process. There is
                no need to keep in mind all the column names - a sticky header is here for you.
            </h2>
            <div class="mt-4">
                <img class="w-100" style="border-radius: 10px;" src="3.png"/>
            </div>
        </div>

        <div class="mt-3 bg-white"
             style="font-family: 'Open Sans', sans-serif; border-radius: 10px; box-shadow: -40px 40px 160px 0 rgb(0 0 0 / 8%), -8px 8px 15px 0 rgb(120 120 120 / 4%), 3px 3px 30px 0 rgb(0 0 0 / 4%) !important;">
            <div class="pt-2">
                <ul class="nav nav-tabs justify-content-center bg-white pt-md-2"
                    role="tablist" style="border-bottom:1px solid #CFCFCF">
                    <li class="nav-item">
                        <a aria-controls="overview" aria-selected="true" class="nav-link active"
                           data-toggle="tab" href="#overview" id="overview-tab" role="tab"
                           style="font-size:14px">
                            Overview
                        </a>
                    </li>
                    <li class="nav-item">
                        <a aria-controls="releases" aria-selected="false" class="nav-link"
                           data-toggle="tab" href="#releases" id="releases-tab" role="tab"
                           style="font-size:14px">Releases
                        </a>
                    </li>
                </ul>
            </div>
            <div class="tab-content p-4">
                <div aria-labelledby="overview-tab" class="tab-pane fade active show" id="overview" role="tabpanel">
                    <div class="d-flex align-items-center flex-column flex-column-reverse flex-xl-row p-4 mb-4"
                         style="background-color: #f3f5f7; border-radius: 10px;">
                        <div style="flex: 3;">
                            <img class="shadow w-100" style="border-radius: 10px;" src="11.gif"/>
                        </div>
                        <div class="d-flex align-items-center justify-content-center mx-0 mx-xl-4 mb-2 mb-xl-0 text-center"
                             style="flex: 1; font-weight: 500;">
                            Advanced list search is easy to activate/deactivate for every user
                        </div>
                    </div>
                    <div class="d-flex align-items-center flex-column p-4 mb-4"
                         style="background-color: #f3f5f7; border-radius: 10px;">
                        <div class="d-flex align-items-center justify-content-center mb-2 text-center"
                             style="font-weight: 500;">
                            While activated, the selected filters in the search bar are applied to all system views
                        </div>
                        <div>
                            <img class="shadow w-100" style="border-radius: 10px;" src="12.gif"/>
                        </div>
                    </div>
                    <div class="d-flex flex-column p-4 mb-4"
                         style="background-color: #f3f5f7; border-radius: 10px;">
                        <div class="mb-4 text-center" style="font-size: 24px; font-weight: 500;">
                            Depending on the field type the Advanced list search works differently
                        </div>
                        <div class="d-flex align-items-stretch flex-column flex-xl-row">
                        <div class="d-flex flex-column flex-sm-row-reverse flex-xl-column w-100 mb-3 mb-sm-0"
                             style="border-radius: 10px;">
                            <div>
                                <img class="shadow w-100" style="border-radius: 10px;"
                                     src="field_1.png"/>
                            </div>
                            <div class="w-100 w-sm-75 w-xl-100 d-flex align-items-center justify-content-center mr-0 mt-2 mr-sm-4 mt-sm-0 mr-xl-0 mt-xl-2 text-center"
                                 style="font-weight: 500;">
                                For Text fields the search is conducted by any character that is present in the value
                            </div>
                        </div>
                        <div class="d-flex flex-column flex-sm-row flex-xl-column w-100 mx-0 mx-xl-4 mb-3 mb-sm-0"
                             style="border-radius: 10px;">
                            <div>
                                <img class="shadow w-100" style="border-radius: 10px;"
                                     src="field_2.png"/>
                            </div>
                            <div class="w-100 w-sm-75 w-xl-100 d-flex align-items-center justify-content-center ml-0 mt-2 ml-sm-4 mt-sm-0 ml-xl-0 mt-xl-2 text-center"
                                 style="font-weight: 500;">
                                For Numeric fields, the search is conducted by exact value
                            </div>
                        </div>
                        <div class="d-flex flex-column flex-sm-row-reverse flex-xl-column w-100 mb-3 mb-sm-0"
                             style="border-radius: 10px;">
                            <div>
                                <img class="shadow w-100" style="border-radius: 10px;"
                                     src="field_3.png"/>
                            </div>
                            <div class="w-100 w-sm-75 w-xl-100 d-flex align-items-center justify-content-center mr-0 mt-2 mr-sm-4 mt-sm-0 mr-xl-0 mt-xl-2 text-center"
                                 style="font-weight: 500;">
                                For Selection/Relation fields, the search is conducted by all available values for relation selection not limited to the data in the records. Multiple values can be selected.
                            </div>
                        </div>
                        </div>
                    </div>
                    <div class="d-flex align-items-center flex-column flex-column-reverse flex-xl-row p-4 mb-4"
                         style="background-color: #f3f5f7; border-radius: 10px;">
                        <div style="flex: 3;">
                            <img class="shadow w-100" style="border-radius: 10px;" src="4.gif"/>
                        </div>
                        <div class="d-flex align-items-center justify-content-center mx-0 mx-xl-4 mb-2 mb-xl-0 text-center"
                             style="flex: 1; font-weight: 500;">
                            Applied filters in the Advanced list search can be added to Favorites in order to save time
                            in the future and enjoy all the advantages of search
                        </div>
                    </div>
                    <div class="d-flex align-items-center flex-column p-4 mb-4"
                         style="background-color: #f3f5f7; border-radius: 10px;">
                        <div class="d-flex align-items-center justify-content-center flex-column mb-2 text-center">
                            <div style="font-weight: 500;">Sticky header - frozes the head of the table</div>
                            <div style="font-weight: 300;">Within Advanced list search module, it can be managed in the
                                Settings > General Settings > Advanced List Search
                            </div>
                        </div>
                        <div>
                            <img class="shadow w-100" style="border-radius: 10px;" src="5.gif"/>
                        </div>
                    </div>
                </div>
                <div aria-labelledby="releases-tab" class="tab-pane fade" id="releases" role="tabpanel">
                    <div class="px-2">
                        <div class="row">
                            <div class="col-lg-3">
                                <div style="font-weight: 500;">Release 1.1.0</div>
                                <div style="font-weight: 300;">Coming soon</div>
                            </div>
                            <div class="col-lg-9" style="color: #525c66;">
                                <ul>
                                    <li>
                                        Advanced list search widget for Date and Datetime fields
                                    </li>
                                    <li>
                                        Range search for numeric fields
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3">
                                <div style="font-weight: 500;">Release 1.0.0</div>
                                <div style="font-weight: 300;">14th September, 2022</div>
                            </div>
                            <div class="col-lg-9" style="color: #525c66;">
                                <ul>
                                    <li>
                                        Advanced list search widget for Char, Text, HTML, Integer, Float, Monetary,
                                        Selection, Many2one, Many2many fields
                                    </li>
                                    <li>
                                        Enable/disable on specific list view for each user
                                    </li>
                                    <li>
                                        Sticky header
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
