



<section class="oe_dark lead" style="overflow-wrap: break-word;text-align: center;">

  <h2 class="oe_slogan" style="color:#003366;">Use Facebook Dynamic Ads For Growth</h2>
  <!-- <h3 class="oe_slogan" style="color:#003366;">Grow Your Business With Google Shop Google Shop</h3> -->
  <h4 class="oe_slogan" style="margin-top: -25px;">Instant promulgation of your products to million of viewership on
    Facebook</h4>
  <h5 class="oe_slogan" style="color:#01003a">Advantage:-It will help to Sync the odoo products
    in facebook catalog for adveritsement </h5>
</section>
<section class="oe_container oe_dark">
  <div class="col-12 center" style="text-align: center">
    <center>
        <img src="banner1.png" class="img-border img-responsive thumbnail"/>
    </center>
  </div>
</section>


<section>
  <h3 class="oe_slogan" style="color:#003366;font-weight: 500;">
    <div> What Is Facebook Ads Campaign </div>
  </h3>
  <p style="font-size: 17px;">The right advert campaign can trigger a spurt of both visitors and revenue on your
    website.
    In comes Facebook Ads tool, which can open doors to the correct visitors.</p>

  <p style="font-size: 17px;">Dynamic ads from Facebook show relevant product recommendations to the users according to
    their intent, queries and search patterns on the internet.</p>

  <p style="font-size: 17px;"><strong>The Facebook Catalog manager and Ads manager are the tools to help you set up
      your Ads campaign on facebook.</strong></p>





  <h3 class="oe_slogan" style="color:#003366;font-weight: 500;">
    <div>What Does Facebook Catalog Integration Module Do?</div>
  </h3>
  <p style="font-size: 17px;">The module fastracks and automates the process of creating Facebook ad feeds of your Odoo
    products.</p>

  <p style="font-size: 17px;">The module is designed to quickly produce data feed of the products containing details
    such as product information, prices, availability, etc, which can then be uploaded directly to the Facebook catalog
    manager with a click.</p>


  <p style="font-size: 17px;">Generate feeds for your Odoo products in a few moments using Odoo Facebook Market module.</p>

  <p style="font-size: 17px;">The module reduces the arduous and monotonous effort involved in manually creating the
    XML file for the products information. It automatically renders an XML data feed for the chosen product or products
    in Odoo for the user.</p>

  <p style="font-size: 17px;">The User then just needs to add the file to the Facebook catalog manager to generate the
    Product feeds.</p>





  <h3 class="oe_slogan" style="color:#003366;font-weight: 500;">What Is Facebook Catalog manager</h3>


  <p style="font-size: 17px;">The Facebook catalog manager holds the information about your products, The information
    such as product information, prices, availability, etc. is stored in the Facebook Product catalog by the seller.</p>

  <p style="font-size: 17px;">The information is picked by Facebook to show the most relevant ads to users on Facebook,
    Instagram and Messenger according to your selected Ads campaign.</p>

  <p style="font-size: 17px;"> Different catalogs can be created for different types of products.</p>

  <p style="font-size: 17px;"> For more information click on the following link >> <a href="https://www.facebook.com/business/help/890714097648074"
      target="_blank">https://www.facebook.com/business/help/890714097648074 </a></p>


</section>
<section class="oe_container oe_dark lead">
  <div class="oe_row" style="max-width: 100%;">
    <h3 class="panel-title" style="font-size: 25px;">
      <i class="fa fa-mail-forward"></i>
      Features:
    </h3>


    <div style="display:flex;justify-content:center">


      <ul style="font-size:15px;color:black;text-align:left;" class="list-unstyled">

        <li><i class="fa fa-check text-primary" style="color: #00A09D;"></i>The module simplifies the process of
          creating product data feeds for Facebook catalog.</li>
        <li><i class="fa fa-check text-primary" style="color: #00A09D;"></i>The user can create the product Data Feed
          in the XML file format for Odoo products.</li>
        <li><i class="fa fa-check text-primary" style="color: #00A09D;"></i>The Data feeds can be created for and
          individual product, product categories, and product domain.</li>
        <li><i class="fa fa-check text-primary" style="color: #00A09D;"></i>The file can then be uploaded to the
          Facebook catalog manager.</li>
        <li><i class="fa fa-check text-primary" style="color: #00A09D;"></i>Multiple catalogs can be created for the
          products as per the requirements.</li>
        <li><i class="fa fa-check text-primary" style="color: #00A09D;"></i>Once uploaded, the catalog is saved in the
          Facebook catalog manager.</li>
        <li><i class="fa fa-check text-primary" style="color: #00A09D;"></i>The user can also add the standard Google
          product Categories to the Odoo products.</li>
        <li><i class="fa fa-check text-primary" style="color: #00A09D;"></i>The user can choose which product
          information fields to be included in the XML file.</li>
        <li><i class="fa fa-check text-primary" style="color: #00A09D;"></i>It also provides the option to select the
          language and pricelist in which you want to upload the data feed on Facebook.</li>
        <li><i class="fa fa-check text-primary" style="color: #00A09D;"></i>The data feeds can be created manually or
          using the Cron scheduler in Odoo.</li>
        <li><i class="fa fa-check text-primary" style="color: #00A09D;"></i>You can map the Google product categories
          with the Odoo product categories in Odoo.</li>
        <li><i class="fa fa-check text-primary" style="color: #00A09D;"></i>The Odoo product fields can also be mapped
          with those of Facebook product fields in Odoo backend for accurate data synchronization.</li>






      </ul>
    </div>

  </div>
  <div class="oe_row" style="max-width: 100%;">
    <h3 class="panel-title" style="font-size: 25px;">
      <i class="fa fa-mail-forward"></i>
      Newly Added Features:
    </h3>
    <div style="display:flex;justify-content:center">
      <ul style="font-size:15px;color:black;text-align:left;" class="list-unstyled">
        <li><i class="fa fa-check text-primary" style="color: #00A09D;"></i>Now, Important facebook attributes such as google product categories, Gtin, Brand and mpn are added to the product form.</li>
        <li><i class="fa fa-check text-primary" style="color: #00A09D;"></i><b>Product Feed Security Control</b> - You can now choose to update the product feeds on a catalogue manually or automatically to provide enhanced product feed security.
          in the XML file format for Odoo products.</li>
        <li><i class="fa fa-check text-primary" style="color: #00A09D;"></i>You can now Sync Multiple images of a product to the Facebook catalog manager.</li>
        <li><i class="fa fa-check text-primary" style="color: #00A09D;"></i>You can also sync product variants to the catalog manager from Odoo.</li>
      </ul>
    </div>
  </div>
</section>

<section>

  <center>
    <h2 class="oe_slogan" style="color:#003366;font-weight: 500;">Completely configure your Facebook Product Catalog
      Manager with Odoo
    </h2>
  </center>

  <div>
    <ul role="tablist" class="nav nav-tabs justify-content-center" data-tabs="tabs">
      <li class="nav-item">
        <a href="#home" data-toggle="tab" aria-expanded="true" class="active nav-link">Steps</a>
      </li>
      <li class="nav-item">
        <a href="#menu1" data-toggle="tab" aria-expanded="true" class="nav-link">Screenshots</a>
      </li>

    </ul>
  </div>
  <div class="tab-content">
    <div class="tab-pane show active" id="home">
      <div class="container">
        <center>
          <h3 class="oe_slogan" style="color:#003366;font-weight: 500;">Prerequisites for Using Facebook Catalog
            Manager</h3>
        </center>

        <ol>
          <li>
            <p style="font-size: 17px;">You need to create a Facebook Business account to manage your ads >> <a href="https://www.facebook.com/business/pages/set-up"
                target="_blank"> https://www.facebook.com/business/pages/set-up</a></p>
          </li>
          <li>
            <p style="font-size: 17px;">
              Next, you would also need a Facebook Ads Manager account >>
              <a href="https://www.facebook.com/business/tools/ads-manager" target="_blank">https://www.facebook.com/business/tools/ads-manager</a></p>
          </li>
          <li>
            <p style="font-size: 17px;">
              Once you have set up the Facebook Ads Manager, you can head to Facebook Catalog manager to upload the
              product data to the product catalog.

              To know more click on the following link >> <a href="https://www.facebook.com/business/help/1754901084745017"
                target="_blank">https://www.facebook.com/business/help/1754901084745017</a></p>
          </li>
        </ol>
        <center>
          <h3 class="oe_slogan" style="color:#003366;font-weight: 500;">
            Setting up the module
          </h3>
        </center>
        <ol>
        <li>
          Once you have set up your Facebook Business Console, create the Catalog
        </li>
        <li>
          Now, select the product to Add Product > Add New Products
        </li>
        <li>
          Then Select "Use Data Feeds" and click Next
        </li>
        <li>
          next, select "Set a Schedule" and select the time after that time the scheduler will automatically works
        </li>
        <li>
          Enter the URL created from the Catalos in the Addon
        </li>
        <li>
          Click the Create "Start Upload" button to start Uploading
        </li>
        <li>
          Then It will automatically start the scheduler
        </li>
        </ol>
      </div>

      <div>


        <center>
          <h3 class="oe_slogan" style="color:#003366;font-weight: 500;">
            Required Fields
          </h3>
        </center>
        <p style="font-size: 17px;">A number of other required and optional fields can be added to the file to append the amount of information you wish to display about the product to the customers in the dynamic Ads.
          <br />
          For more information, visit the following link >> <a href="https://developers.facebook.com/docs/marketing-api/catalog-feed-setup#microdata-tags" target="_blank">https://developers.facebook.com/docs/marketing-api/catalog-feed-setup#microdata-tags </a>
        <br />
        Map the Facebook product fields with that of Odoo product fields using the module you wish to include with the product data in the catalog.
        </p>
          <ol>
        <li>
          Id
        </li>
        <li>
          Availability
        </li>
        <li>
          Description
        </li>
        <li>
          Condition
        </li>
        <li>
          Image_link
        </li>
        <li>
          Link
        </li>
        <li>
          title
        </li>
        <li>
          Price
        </li>
        </ol>
        <p style="font-size: 17px;">Some of the product data fields are required to be added to the XML file to avoid warnings or errors while uploading the products in the facebook catalog manager.
          <br />
          Here is a list of some of the commonly required fields.</p>
      </div>




    </div>
    <div class="tab-pane" id="menu1">
      <div class="alert alert-info">
        Product fields recognized by Facebook mapped with Odoo Product fields
      </div>
      <a href="1.png" target="new">
        <img class="oe_picture oe_screenshot" src="1.png" alt="Catalog Fields" style="width:100%;" />
      </a>

      <div class="alert alert-info">
        Create feeds for different facebook shops in the odoo to upload the product to the Facebook Catalog.
      </div>
      <a href="2.png" target="new">
        <img class="oe_picture oe_screenshot" src="2.png" alt="Field Mapping" style="width:100%;" />
      </a>

      <div class="alert alert-info">
        Choose to sync Product multi images and product variants to the Facebook catalog manager from Odoo</div>
      <a href="3.png" target="new">
        <img class="oe_picture oe_screenshot" src="3.png" alt="Facebook Shop" style="width:100%;" />
      </a>
      <div class="alert alert-info">
        Choose Feed Security settings for uploading the product data - Manual or Automatic.
Also you can choose what product data you wish to upload based on domain, Manual or category
      </div>
      <a href="4.png" target="new">
        <img class="oe_picture oe_screenshot" src="4.png" alt="Field Mapping" style="width:100%;" />
      </a>
      <div class="alert alert-info">
        Facebook Attributes fields added at the product level to allow better product management
      </div>
      <a href="5.png" target="new">
        <img class="oe_picture oe_screenshot" src="5.png" alt="Field Mapping" style="width:100%;" />
      </a>
    </div>
  </div>
</section>

<section class="oe_container oe_dark">
  <div class=''>
    <div>
      <center>
        <h2 class='oe_slogan'>Complimentary Support</h2>
      </center>
      <p style="text-align:center;">
        You will get 90 days free support for any doubt, queries, and bug fixing (not including data recovery)
        or any type of issue related to this module.
      </p>
    </div>
  </div>
  <div class="oe_spaced">
    <div>
      <center>
        <h2 class="oe_slogan">Help and Support</h2>
      </center>
    </div>
    <center>
      <div class="oe_slogan oe_spaced">
        <img src="icon-help.png">
        <span><a onMouseOver="this.style.color='#AC1EE0'" onMouseOut="this.style.color='#7c7bad'" style="color:#7c7bad;"
            target="_blank" href="http://support.webkul.com/en/customer/create-ticket/">Help</a></span>
        <img src="icon-support.png">
        <span><a onMouseOver="this.style.color='#AC1EE0'" onMouseOut="this.style.color='#7c7bad'" style="color:#7c7bad;"
            target="_blank" href="http://support.webkul.com/en/customer/create-ticket/">Support</a></span>
        <img src="icon-features.png">
        <span><a onMouseOver="this.style.color='#AC1EE0'" onMouseOut="this.style.color='#7c7bad'" style="color:#7c7bad;"
            target="_blank" href="http://support.webkul.com/en/customer/create-ticket/">Request new Features</a></span>
      </div>
    </center>
  </div>
</section>



<section class="oe_container">
  <div>
    <!-- Piwik Image Tracker-->
    <!-- <img src="http://odooimg.webkul.com/analytics/piwik/piwik.php?idsite=3&rec=1&action_name=AFFILIATE-FAQ&url=https://apps.openerp.com/apps/modules/12.0/affiliate_faq&uid=affiliate_faq" style="border:0" alt="" /> -->
    <!-- End Piwik -->
  </div>
</section>
