.o_barcode_mobile {
    -webkit-mask: url('/backend_enterprise_theme/static/img/barcode.svg') center/contain no-repeat;
    mask: url('/backend_enterprise_theme/static/img/barcode.svg') center/contain no-repeat;
    background-color: $o-enterprise-primary-color;
    width: 26px;
    margin-left: 10px;
    border: 0;
}
