// Shared with web client and login screen
.o_home_menu_background {
    background: url(/backend_enterprise_theme/static/img/home-menu-bg-overlay.svg),
        linear-gradient(to right bottom, #77717e, #c9a8a9);
    background-size: cover;
}