.container
    {
        background-color: black;
        height:120px;
        display: grid;
        grid-template-columns:720px 720px 720px;
        grid-template-rows: 720px 720px
    }

.header
    {
        background-color: wheat;
        height: 120px;
    }