/* start of sh_website_coming_soon 1 */

#sh_website_coming_soon_section_1{background: url(http://live.envalab.com/html/enva/Style-2/img/body-bg.jpg);
  background-size: cover;background-repeat: no-repeat;}   
#sh_website_coming_soon_section_1 .sh_content{max-width:630px;margin:0 auto;color:#333;width: 100%;position:absolute;left:50%;transform:translate(-50%,0%);margin-top: 8%;text-align:center;}
#sh_website_coming_soon_section_1 .sh_content .sh_heading{color:#333;text-align:center;}
#sh_website_coming_soon_section_1 .sh_content .sh_heading h2{margin-bottom:20px;color:#fff;font-size:48px;font-weight:700;
text-transform:uppercase;}
#sh_website_coming_soon_section_1 .sh_content .sh_heading p{width:100%;font-weight:300;font-size:16px;color:#fff;}
#sh_website_coming_soon_section_1 .sh_counter{width:100%;display:inline-block;}
#sh_website_coming_soon_section_1 .sh_counter .days{display:inline-block;margin:0 2.5%;padding:28px 15px;width:19.5%;
margin-bottom:1%;line-height:1;background:rgba(142, 142, 142, 0.35);text-align:center;}
#sh_website_coming_soon_section_1 .sh_counter .hours{display:inline-block;margin:0 2.5%;padding:28px 15px;width:19.5%;
margin-bottom:1%;line-height:1;background:rgba(142, 142, 142, 0.35);text-align:center;}
#sh_website_coming_soon_section_1 .sh_counter .minutes{display:inline-block;margin:0 2.5%;padding:28px 15px;width:19.5%;
margin-bottom:1%;line-height:1;background:rgba(142, 142, 142, 0.35);text-align:center;}
#sh_website_coming_soon_section_1 .sh_counter .seconds{display:inline-block;margin:0 2.5%;padding:28px 15px;width:19.5%;
margin-bottom:1%;line-height:1;background:rgba(142, 142, 142, 0.35);text-align:center;}
#sh_website_coming_soon_section_1 .sh_counter .number{font-size:48px;font-weight:600;display:block;position:relative;
padding-bottom:20px;color:#fff;}
#sh_website_coming_soon_section_1 .sh_counter .label{font-size:16px;display:block;margin-top:20px;color:#fff}
#sh_website_coming_soon_section_1 .sh_counter .number:after{width:30px;content:"";position:absolute;height:1px;margin:0 auto;
background:#fff;top:100%;left:50%;transform:translate(-50%,-50%);}
@media only screen and (max-width:768px){
	#sh_website_coming_soon_section_1 .sh_content{margin-top:4%;}
  	#sh_website_coming_soon_section_1 .sh_counter .days{margin:0 2%;}
  	#sh_website_coming_soon_section_1 .sh_counter .hours{margin:0 2%;}
  	#sh_website_coming_soon_section_1 .sh_counter .minutes{margin:0 2%;}
 	#sh_website_coming_soon_section_1 .sh_counter .seconds{margin:0 2%;}
 	#sh_website_coming_soon_section_1 .sh_content .sh_heading h2{font-size:40px;}
}
@media only screen and (max-width:580px){
  #sh_website_coming_soon_section_1 .sh_counter .number{font-size:30px;}
  #sh_website_coming_soon_section_1 .sh_content .sh_heading h2{font-size:30px;}
}
@media only screen and (max-width:530px){
	#sh_website_coming_soon_section_1 .sh_content{margin-top:2%;}
  #sh_website_coming_soon_section_1 .sh_counter{margin:0 auto;text-align:center;}
  #sh_website_coming_soon_section_1 .sh_counter .days {width:40%;margin: 0% 2% 4% 2%;}
  #sh_website_coming_soon_section_1 .sh_counter .hours{width:40%;margin: 0% 2% 4% 2%;}
  #sh_website_coming_soon_section_1 .sh_counter .minutes{width:40%;margin: 0% 2% 0% 2%;}
  #sh_website_coming_soon_section_1 .sh_counter .seconds{width:40%;margin: 0% 2% 0% 2%;}
}
@media (max-width: 400px){
#sh_website_coming_soon_section_1{height:100%!important;}
}

/* 28-10-2020 */

#sh_website_coming_soon_section_1 .sh_content .sh_heading p{display: -webkit-box;-webkit-line-clamp: 3;-webkit-box-orient: vertical;overflow: hidden;text-overflow: ellipsis;color: #212121;}


/* end of sh_website_coming_soon 1 */


/* start of sh_website_coming_soon 2 */

	#sh_website_coming_soon_section_2{background-size: cover;background-repeat: no-repeat;height:100%}
	#sh_website_coming_soon_section_2 .sub_hed{position: absolute;left: 50%;transform: translate(-50%,0%);width:100%;margin-top:8%;}
 	#sh_website_coming_soon_section_2 .sh_bg{background: rgba(0,0,0,0.7);height: 100%;}
 	#sh_website_coming_soon_section_2 .sh_logo{text-align: left;}
 	#sh_website_coming_soon_section_2 .sh_logo img{max-width:100%;width: 200px;}
 	#sh_website_coming_soon_section_2 .sh_left_content{color: #fff;}
 	#sh_website_coming_soon_section_2 .sh_left_content .sh_hour{background: rgba(255,255,255,.2);text-align:center;padding:20px 0;
 		width:100%;}
 	#sh_website_coming_soon_section_2 .sh_left_content .sh_minutes{background: rgba(255,255,255,1);text-align:center;padding:20px 0;
 		width:100%;color: #005452;}	
 	#sh_website_coming_soon_section_2 .sh_left_content .sh_seconds{background-color: #005452;text-align:center;padding:20px 0;
 		width:100%;color: #fff;}		
 	#sh_website_coming_soon_section_2 .sh_left_content .sh_number{font-size:36px;font-weight: 600;}	
 	#sh_website_coming_soon_section_2 .sh_days{background: rgba(255,255,255,.2);padding: 18% 0 18.3% 0;text-align: center;
 		color: #fff;}
 	#sh_website_coming_soon_section_2 .sh_days .sh_number{font-size: 70px;font-weight: 600;color: #fff;}

 	#sh_website_coming_soon_section_2 .sh_right_content .sh_text h2{line-height: 1;margin-bottom: 0;text-transform: uppercase;
    font-size: 48px;font-weight: 600;color: #fff;position: relative;}
    #sh_website_coming_soon_section_2 .sh_right_content .sh_text h2:before{content: "";position: relative;display: block;
    width: 96px;height: 6px;background: #005452;margin-bottom: 36px;}
    #sh_website_coming_soon_section_2 .sh_right_content .sh_text{padding-left: 15%;}

    #sh_website_coming_soon_section_2 .sh_right_content .sh_text p{font-size: 24px;line-height: 1.4;font-family: serif;color: #fff;
    	margin-bottom: 30px;}
    #sh_website_coming_soon_section_2 .sh_right_content .sh_text .sh_description{font-size: 16px;color: #fff;}	
	#sh_website_coming_soon_section_2 .sh_right_content .sh_text .sh_description p{display: -webkit-box;-webkit-line-clamp: 5;-webkit-box-orient: vertical;overflow: hidden;text-overflow: ellipsis;width: 100%;}


    #sh_website_coming_soon_section_2 .sh_countdown{max-width: 100%;display: inline-block;width: 100%;}
    #sh_website_coming_soon_section_2 .sh_countdown .sh_countdown_left{width: 30%;display: inline-block;float:left;}
    #sh_website_coming_soon_section_2 .sh_countdown .sh_countdown_right{width:55%;display: inline-block;margin-top: 21.8%;}


    @media only screen and (max-width:1200px){
      #sh_website_coming_soon_section_2 .sh_countdown .sh_countdown_right{margin-top: 22%;}
    }

    @media only screen and (max-width: 991px){
      	#sh_website_coming_soon_section_2 .sh_countdown .sh_countdown_right{margin-top: 36%;}
		#sh_website_coming_soon_section_2 .sh_days{padding:29% 0 29% 0;}
    } 

    @media only screen and (max-width: 768px){
      #sh_website_coming_soon_section_2 .sh_countdown .sh_countdown_right{width: 60%;margin-top: 45%;}
      #sh_website_coming_soon_section_2 .sh_countdown .sh_countdown_left{width:35%;}
      #sh_website_coming_soon_section_2 .sh_left_content .sh_seconds{padding:15px 0;}
      #sh_website_coming_soon_section_2 .sh_left_content .sh_minutes{padding:15px 0;}
      #sh_website_coming_soon_section_2 .sh_left_content .sh_hour{padding: 15px 0;}
      #sh_website_coming_soon_section_2 .sh_days{padding: 43.5px 0;}
    }

    @media only screen and (max-width:615px){
      #sh_website_coming_soon_section_2 .sh_bg .container .row .col-12 {border-right:0 !important;max-width: 100%;flex: 0 0 100%;}
      #sh_website_coming_soon_section_2 .sh_countdown .sh_countdown_right{width: 65%;margin-top: 21.2%;}
      #sh_website_coming_soon_section_2 .sh_right_content{margin-top: 10%;}
    
    }

    @media only screen and (max-width:580px){
      #sh_website_coming_soon_section_2 .sh_countdown .sh_countdown_left{width: 100%;}
      #sh_website_coming_soon_section_2 .sh_countdown .sh_countdown_right{width:100%;margin-top: 0;}
    }
	@media only screen and (max-width:400px){
		#sh_website_coming_soon_section_2 {height:100% !important;}
	}
	
    
/* end of sh_website_coming_soon 2 */




/*-- start of coming soon 3 --*/
  #sh_website_coming_soon_section_3 .sh_bg{background: rgba(0,0,0,.45);position:relative;    height: 100%;}   
  #sh_website_coming_soon_section_3 .sh_logo img{width: 100%;max-width: 200px;margin-bottom: 25px;
  opacity:0.9;}
  #sh_website_coming_soon_section_3 .sh_content{position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%);}
  #sh_website_coming_soon_section_3 .sh_content span{font-size: 22px;color: #fff;font-weight: 100;letter-spacing: .15em;
  opacity:0.6;}
  #sh_website_coming_soon_section_3 .sh_content h1{color: #fff;margin-bottom: 40px;font-size: 40px;
  letter-spacing: .25em;text-transform:uppercase;font-weight:900;opacity:0.9;}
  #sh_website_coming_soon_section_3 .sh_content p{font-size: 13px;letter-spacing: .1em;font-weight: 300;color: rgba(255,255,255,.5);}
  #sh_website_coming_soon_section_3 .sh_date{font-size: 20px;font-weight: 500;color: #fff;letter-spacing: .35em;
  text-align:center;}
  #sh_website_coming_soon_section_3 .sh_time{position:absolute;left:50%;transform:translateX(-50%);font-size:18rem;
  top:0%;color:rgba(255,255,255,.1);} 
	#sh_website_coming_soon_section_3 .sh_bg .sh_content p{display: -webkit-box;-webkit-line-clamp: 5;-webkit-box-orient: vertical;overflow: hidden;text-overflow: ellipsis;width: 100%;}
  @media (max-width: 400px){
#sh_website_coming_soon_section_3{height:100%!important;}
}
/* end of coming soon 3 */




/* start of coming soon 4 */
  #sh_website_coming_soon_section_4{width:100%;    height: 100%;}
  #sh_website_coming_soon_section_4 .sh_bg_img{background:url(http://vibe.ncodeart.com/nc/images/bg-38.jpg);
  background-size:cover;    height: 100%;}
  #sh_website_coming_soon_section_4 .sh_bg_img .sh_bg_color{background:rgba(0,0,0,.5);   height: 100%;}
  #sh_website_coming_soon_section_4 .container{position: absolute;left: 50%;transform: translate(-50%,0%);margin-top:10%;}
  #sh_website_coming_soon_section_4 .sh_bg_color .sh_logo{text-align:center;}
  #sh_website_coming_soon_section_4 .sh_bg_color .sh_logo img{width:200px;}
  #sh_website_coming_soon_section_4 .sh_content_text{text-align:center;}
  #sh_website_coming_soon_section_4 .sh_bg_color h1{text-align: center;color:#fff;font-family:serif;font-size:40px;
  margin-bottom:5%;}
  #sh_website_coming_soon_section_4 .sh_content_text .sh_counter{display:inline-block;width:100%;}
  #sh_website_coming_soon_section_4 .sh_content_text .sh_days{width:23%;display:inline-block;color:#fff;
  border-right:1px solid rgba(255,255,255,.3);}
  #sh_website_coming_soon_section_4 .sh_content_text .sh_hours{width:23%;display:inline-block;color:#fff;
  border-right:1px solid rgba(255,255,255,.3);}
  #sh_website_coming_soon_section_4 .sh_content_text .sh_minutes{width:23%;display:inline-block;color:#fff;
  border-right:1px solid rgba(255,255,255,.3);}
  #sh_website_coming_soon_section_4 .sh_content_text .sh_seconds{width:23%;display:inline-block;color:#fff;}
  #sh_website_coming_soon_section_4 .sh_content_text .sh_counter .sh_number{color:#fff;font-size:5rem;font-weight:900;}
  #sh_website_coming_soon_section_4 .sh_content_text .sh_counter .sh_label{font-size:18px;font-weight:600;}
  #sh_website_coming_soon_section_4 .sh_bg_color p{font-size:16px;font-weight:500;text-align:center;color:#fff;
  letter-spacing:3px;padding-top:5%;}
  #sh_website_coming_soon_section_4 .sh_bg_img p{color:#000;display: -webkit-box;-webkit-line-clamp:3;-webkit-box-orient: vertical;overflow: hidden;text-overflow: ellipsis;width: 100%;}
	  
@media only screen and (max-width:991px){
    #sh_website_coming_soon_section_4 .sh_content_text .sh_counter .sh_number{font-size:4rem;}
  } 
  @media only screen and (max-width:768px){
    #sh_website_coming_soon_section_4 .sh_content_text .sh_counter .sh_number{font-size:2rem;}
  }
  @media only screen and (max-width:580px){
    #sh_website_coming_soon_section_4 .sh_bg_color .sh_logo{margin-bottom: 40px;}
  }
  @media only screen and (max-width:400px){
    #sh_website_coming_soon_section_4 .sh_content_text .sh_days{width:46%;}
    #sh_website_coming_soon_section_4 .sh_content_text .sh_hours{width:46%;border-right:0;}
    #sh_website_coming_soon_section_4 .sh_content_text .sh_minutes{width:46%;}
    #sh_website_coming_soon_section_4 .sh_content_text .sh_seconds{width:46%;}
  }
   @media only screen and (max-width:280px){
    #sh_website_coming_soon_section_4 .sh_content_text .sh_days{width:100%;border-right:0;padding: 20px 0;}
    #sh_website_coming_soon_section_4 .sh_content_text .sh_hours{width:100%;border-right:0;padding: 20px 0;}
    #sh_website_coming_soon_section_4 .sh_content_text .sh_minutes{width:100%;border-right:0;padding: 20px 0;}
    #sh_website_coming_soon_section_4 .sh_content_text .sh_seconds{width:100%;padding: 20px 0;}   
   }
  @media (max-width: 400px){
#sh_website_coming_soon_section_4{height:100%!important;}
}
  
/* end of coming soon 4 */



/* start of coming soon 5 */
    #sh_website_coming_soon_section_5{width:100%;height: 100%;background-repeat: no-repeat;background-size: cover;}
    #sh_website_coming_soon_section_5 .sh_bg_color{background:rgba(0,0,0,0.5);height:100%;}
    #sh_website_coming_soon_section_5 .sh_bg_color .sh_content{width:100%;display:inline-block;}
    #sh_website_coming_soon_section_5 .sh_logo{width:100%;text-align:left;}
    #sh_website_coming_soon_section_5 .sh_logo img{width:200px;}
    #sh_website_coming_soon_section_5 .sh_text{width:100%;margin-top:20px;}
    #sh_website_coming_soon_section_5 .sh_text h1{font-size:60px;font-weight:900;color:#fff;padding-top:3%;}
    #sh_website_coming_soon_section_5 .sh_text h1 span{color:#00a09d;}
    #sh_website_coming_soon_section_5 .sh_text p{max-width:800px;color:#fff;font-size:18px;opacity:.8;}
    #sh_website_coming_soon_section_5 .sh_counter{width:100%;display:inline-block;max-width:70%;}
    #sh_website_coming_soon_section_5 .sh_counter .sh_days{width:23%;display:inline-block;text-align:center;color:#fff;}
    #sh_website_coming_soon_section_5 .sh_counter .sh_hours{width:23%;display:inline-block;text-align:center;color:#fff;}
    #sh_website_coming_soon_section_5 .sh_counter .sh_minutes{width:23%;display:inline-block;text-align:center;color:#fff;}
    #sh_website_coming_soon_section_5 .sh_counter .sh_seconds{width:23%;display:inline-block;text-align:center;color:#fff;}
    #sh_website_coming_soon_section_5 .sh_counter .sh_number{font-size:50px;font-weight:600;}
    #sh_website_coming_soon_section_5 .sh_counter .sh_label{text-transform:uppercase;}
     #sh_website_coming_soon_section_5 .sh_content{position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%);padding-left: 50px;}
	sh_website_coming_soon_section_5 .container .text_para p{color:#000;display: -webkit-box;-webkit-line-clamp:3;-webkit-box-orient: vertical;overflow: hidden;text-overflow: ellipsis;width: 100%;}
    @media only screen and (max-width:580px){
      #sh_website_coming_soon_section_5 .sh_counter{max-width:100%;}
    }
    @media only screen and (max-width:400px){
		#sh_website_coming_soon_section_5{height:100%!important;}
      #sh_website_coming_soon_section_5 .sh_text h1{font-size:30px;}
      #sh_website_coming_soon_section_5 .sh_counter .sh_days{width:46%;}
      #sh_website_coming_soon_section_5 .sh_counter .sh_hours{width:46%;}
      #sh_website_coming_soon_section_5 .sh_counter .sh_minutes{width:46%;}
      #sh_website_coming_soon_section_5 .sh_counter .sh_seconds{width:46%;}
    }
	@media (max-width: 360px){
	#sh_website_coming_soon_section_5 .sh_bg_color .sh_content{padding-left:0px;}
	#sh_website_coming_soon_section_5 .sh_bg_color .sh_content .sh_text{padding-left:15px;}
	#sh_website_coming_soon_section_5 .sh_bg_color .sh_content .sh_logo{padding-left:15px;}
	#sh_website_coming_soon_section_5 .sh_bg_color .sh_counter{text-align:center;}
	}
/*end of coming soon 5 */

/* start of coming soon 6 */
   #sh_website_coming_soon_section_6{width:100%;height: 100%;background-repeat: no-repeat;background-size: cover;}
  #sh_website_coming_soon_section_6 .sh_content{text-align:center;position: absolute;top: 50%;left: 50%; transform: translate(-50%,-50%);width: 100%;}
  #sh_website_coming_soon_section_6 .sh_content .sh_logo{width:100%;padding-bottom:25px;}
  #sh_website_coming_soon_section_6 .sh_content .sh_logo img{width:188px;}
  #sh_website_coming_soon_section_6 .sh_content h1{color:#fff;font-size:35px;}
  #sh_website_coming_soon_section_6 .sh_content h1 span{font-weight:900;color:#00a09d;}
  #sh_website_coming_soon_section_6 .sh_content p{max-width: 600px;margin: 0 auto;color: #fff;font-size: 16px;}
  #sh_website_coming_soon_section_6 .sh_countdown{color:#fff;margin-top:30px;}
  #sh_website_coming_soon_section_6 .sh_countdown .sh_border{width:150px;height:150px;border:1px solid #fff;
  border-radius:50%;display:inline-block;margin:0 10px;}
  #sh_website_coming_soon_section_6 .sh_countdown .sh_border .sh_days{position: relative;top: 50%;
    transform: translateY(-50%);}
  #sh_website_coming_soon_section_6 .sh_countdown .sh_border .sh_hours{position: relative;top: 50%;
    transform: translateY(-50%);} 
  #sh_website_coming_soon_section_6 .sh_countdown .sh_border .sh_minutes{position: relative;top: 50%;
    transform: translateY(-50%);}   
  #sh_website_coming_soon_section_6 .sh_countdown .sh_border .sh_seconds{position: relative;top: 50%;
    transform: translateY(-50%);}
  #sh_website_coming_soon_section_6 .sh_countdown .sh_border .sh_number{font-size:30px;}
  #sh_website_coming_soon_section_6 .sh_countdown .sh_border .sh_label{text-transform:capitalize;}
	#sh_website_coming_soon_section_6 .sh_content p{color:#000;display: -webkit-box;-webkit-line-clamp:3;-webkit-box-orient: vertical;overflow: hidden;text-overflow: ellipsis;width: 100%;}
  @media only screen and (max-width:991px){
    #sh_website_coming_soon_section_6 .sh_countdown .sh_border{margin:0 5px;}
  }
  @media only screen and (max-width:768px){
    #sh_website_coming_soon_section_6 .sh_countdown .sh_border{margin:10px;}
  }
  @media only screen and (max-width:690px){
     #sh_website_coming_soon_section_6 .sh_countdown .sh_border{width:100px;height:100px;}
     #sh_website_coming_soon_section_6{height: auto;}   
     #sh_website_coming_soon_section_6 .sh_bg {height: auto !important;}
     #sh_website_coming_soon_section_6 .sh_content{position: unset;top: auto;left: auto;transform: unset;}
  }
  @media (max-width: 400px){
#sh_website_coming_soon_section_6{height:100%!important;}
}



/* end of coming soon 6 */



/* start of coming soon 7 */
#sh_website_coming_soon_section_7{width:100%;background-repeat: no-repeat;background-size: cover;height: 100%;}
#sh_website_coming_soon_section_7 .sh_bg{background:rgba(0,0,0,0.7);height:100%;}
#sh_website_coming_soon_section_7 .sh_content{text-align:center;position: absolute;left: 50%;top: 50%;transform: translate(-50% , -50%);    width: 100%;}
#sh_website_coming_soon_section_7 .sh_content .sh_logo img{max-width:100%;width:200px;}
#sh_website_coming_soon_section_7 .sh_content .sh_logo_title{font-size:24px;margin-top:25px;color:#fff;}
#sh_website_coming_soon_section_7 .sh_content .sh_counter .sh_days{color:#fff;display:inline-block;padding: 0 50px;
border-right:1px solid #676767;}
#sh_website_coming_soon_section_7 .sh_content .sh_counter .sh_number{font-size:50px;font-weight:600;color:#fff;}
#sh_website_coming_soon_section_7 .sh_content .sh_counter .sh_label{text-transform:capitalize;color:#fff;}
#sh_website_coming_soon_section_7 .sh_content .sh_counter .sh_hours{display:inline-block;padding: 0 50px;
border-right:1px solid #676767;}
#sh_website_coming_soon_section_7 .sh_content .sh_counter .sh_minutes{display:inline-block;padding: 0 50px;
border-right:1px solid #676767;}
#sh_website_coming_soon_section_7 .sh_content .sh_counter .sh_seconds{display:inline-block;padding: 0 50px;}
#sh_website_coming_soon_section_7 .sh_content .sh_counter{margin:70px 0;}
#sh_website_coming_soon_section_7 .sh_description h2{font-size: 30px;font-weight: 900;margin-bottom: 15px;
text-transform:uppercase;color:#fff;}
#sh_website_coming_soon_section_7 .sh_description h2 span{color:#00a09d;}
#sh_website_coming_soon_section_7 .sh_description p{max-width: 700px;margin: 0 auto;color: #d1d1d1;
    font-size: 16px;}
#sh_website_coming_soon_section_7 .sh_content .sh_description p{color:#000;display: -webkit-box;-webkit-line-clamp:3;-webkit-box-orient: vertical;overflow: hidden;text-overflow: ellipsis;width: 100%;}

@media only screen and (max-width:768px){
  #sh_website_coming_soon_section_7 .sh_content .sh_counter .sh_days{padding: 0 30px;}
  #sh_website_coming_soon_section_7 .sh_content .sh_counter .sh_hours{padding: 0 30px;}
  #sh_website_coming_soon_section_7 .sh_content .sh_counter .sh_minutes{padding: 0 30px;}
  #sh_website_coming_soon_section_7 .sh_content .sh_counter .sh_second{padding: 0 30px;}
}
@media only screen and (max-width:501px){
	#sh_website_coming_soon_section_7 .sh_content .sh_counter{margin:30px 0;}
}
@media (max-width: 400px){
#sh_website_coming_soon_section_7{height:100%!important;}
}
/* end of coming soon 7 */





/* start of coming soon 8 */
	#sh_website_coming_soon_section_8{width:100%;background-repeat: no-repeat;background-size: cover;height: 100%;
	}
	#sh_website_coming_soon_section_8 .sh_content .sh_logo img{width:200px;text-align:center;}
	#sh_website_coming_soon_section_8 .sh_content .sh_title h2{font-weight: 600;padding-bottom: 22px;padding-top: 10px;
	    font-size: 48px;color:#fff;margin-top:40px;}
	    #sh_website_coming_soon_section_8 .sh_content{text-align:center;width:100%;position: absolute;left: 50%;transform: translate(-50% , 0%);margin-top:8%;}
	#sh_website_coming_soon_section_8 .sh_content .sh_counter p{max-width: 600px;margin: 0 auto;color: #fff;
	   margin-top: 42px;display:inline-flex;font-weight:600;font-size:40px;}    
	#sh_website_coming_soon_section_8 .sh_content .sh_counter .sh_label{color: #fff;font-size: 16px;font-weight: 400;
	    vertical-align: bottom;margin-left: 6px;display:inline-block;}    
	#sh_website_coming_soon_section_8 .sh_content .sh_counter .sh_line{width: 10px;height: 2px;background: #fff;display: inline-block;margin-right: 28px;border-radius: 4px;}    
	#sh_website_coming_soon_section_8 .sh_content .sh_counter .sh_label_1{margin-right:28px;}
	#sh_website_coming_soon_section_8 .sh_content .sh_description p{width:100%;max-width:600px;margin:0 auto;
	color:#fff;font-size:15px;margin-top:40px;}
	#sh_website_coming_soon_section_8 .sh_content .sh_description p{display: -webkit-box;-webkit-line-clamp:3;-webkit-box-orient: vertical;overflow: hidden;text-overflow: ellipsis;width: 100%;}
 @media only screen and (max-width:768px){
   #sh_website_coming_soon_section_8 .sh_content .sh_counter .sh_label_1{margin-right: 5px;}
	#sh_website_coming_soon_section_8{height: 100% !important;}
 }
@media only screen and (max-width: 414px){
	#sh_website_coming_soon_section_8 .sh_content .sh_counter .sh_line{display: none;}
}
 /*@media only screen and (max-width:540px){
   #sh_website_coming_soon_section_8 .sh_content .sh_counter .sh_line:nth-child(even){display:none;} 
 }
*/
/* end of coming soon 8 */




/* start of coming soon 9 */
  #sh_website_coming_soon_section_9{width:100%;background:url(http://www.ncodeart.com/themeforest/nc-responsive-coming-soon-page/nc/Single-Background/images/01_bg.jpg);
 background-size:cover;background-repeat:no-repeat;background-position:center;height:100% !important;}
  #sh_website_coming_soon_section_9 .sh_bg{background:rgba(0,0,0,.7);height:100%;}
  #sh_website_coming_soon_section_9 .sh_bg .sh_content{text-align: center;position: absolute;left: 50%;transform: translate(-50% ,0%);width: 100%;}
  #sh_website_coming_soon_section_9 .container-fluid{padding-right:0;padding-left:0;}
  #sh_website_coming_soon_section_9 .sh_content .sh_logo{margin-bottom:30px;}
  #sh_website_coming_soon_section_9 .sh_content .sh_logo img{max-width:100%;    width: 200px;}
  #sh_website_coming_soon_section_9 .sh_content .sh_description h2{font-size: 50px;font-weight: 300;text-transform: uppercase;
    margin-bottom: 17px;display: inline-block;font-family: serif;color:#fff;}
  #sh_website_coming_soon_section_9 .sh_content .sh_description p{max-width:900px;color:#fff;margin:0 auto;
    text-align:center;font-size:16px;}
  #sh_website_coming_soon_section_9 .sh_content .sh_description{margin-bottom:70px;}
  #sh_website_coming_soon_section_9 .sh_content .sh_counter{max-width:700px;margin:0 auto;color:#fff;} 
  #sh_website_coming_soon_section_9 .sh_content .sh_days{width:24%;display:inline-block;}
  #sh_website_coming_soon_section_9 .sh_content .sh_hours{width:24%;display:inline-block;}
  #sh_website_coming_soon_section_9 .sh_content .sh_minutes{width:24%;display:inline-block;}
  #sh_website_coming_soon_section_9 .sh_content .sh_seconds{width:24%;display:inline-block;}
  #sh_website_coming_soon_section_9 .sh_content .sh_number{background: rgba(255,255,255,0.2);
    width: 100%;height: 100%;line-height: 160px;font-size: 80px;font-weight: 600;
    font-family: serif;}
  #sh_website_coming_soon_section_9 .sh_content .sh_counter_border{position:relative;}
  #sh_website_coming_soon_section_9 .sh_content .sh_label{font-size:20px;text-transform:capitalize;}  
  #sh_website_coming_soon_section_9 .sh_content .sh_counter_border:after{content:"";position:absolute;border:2px solid #fff;
    top:0;left:0;width:100%;}  
  #sh_website_coming_soon_section_9 .sh_content .sh_counter_border:before{content:"";position:absolute;border:2px solid #fff;
    bottom:15%;right:0;width:100%;}
#sh_website_coming_soon_section_9 .sh_content{margin-top:8%;}
  #sh_website_coming_soon_section_9 .sh_content .text_para p{display: -webkit-box;-webkit-line-clamp:2;-webkit-box-orient: vertical;overflow: hidden;text-overflow: ellipsis;width: 100%;}   
  @media only screen and (max-width:500px){
    #sh_website_coming_soon_section_9 .sh_content .sh_number{line-height:130px;font-size:50px;}
    #sh_website_coming_soon_section_9 .sh_content .sh_counter_border:before{bottom:21%;}
  }  
  @media only screen and (max-width:350px){
    #sh_website_coming_soon_section_9 .sh_content .sh_days{width:49%;}
    #sh_website_coming_soon_section_9 .sh_content .sh_hours{width:49%;}
    #sh_website_coming_soon_section_9 .sh_content .sh_minutes{width:49%;}
    #sh_website_coming_soon_section_9 .sh_content .sh_seconds{width:49%;}
    #sh_website_coming_soon_section_9 .sh_content .sh_counter_border:before{bottom:11%;}
   } 
/* end of coming soon 9 */




/* start of coming soon 10 */
#sh_website_coming_soon_section_10{background: radial-gradient(circle at center center, rgb(51, 192, 195) 0%, rgb(13, 66, 102) 100%);
width:100%;height:100% !important; background-size: cover;background-repeat: no-repeat;}
   #sh_website_coming_soon_section_10 .sh_bg{  
    position: absolute;
    left: 50%;
    transform: translate(-50% , 0%);
    width: 100%;
}
#sh_website_coming_soon_section_10 .container{max-width:940px;margin-top:5%;}
#sh_website_coming_soon_section_10 .sh_logo{width:100%;text-align:center;border-bottom:1px solid #fff;padding-bottom:15px;}
#sh_website_coming_soon_section_10 .sh_logo img{max-width:100%;width:200px}
#sh_website_coming_soon_section_10 .sh_counter{color:#fff;text-align:center;margin-top:20px;margin-bottom:30px;}
#sh_website_coming_soon_section_10 .sh_counter .sh_days{width:100%;display:inline-block;}
#sh_website_coming_soon_section_10 .sh_counter .sh_days .sh_label{float:left;transform:rotate(-90deg);font-size:3em;
width:30px;text-transform:uppercase;margin:130px 0 0 30px;}
#sh_website_coming_soon_section_10 .sh_counter .sh_days .sh_number{font-size:11em;opacity:0.8;display:inline-block;}
#sh_website_coming_soon_section_10 .sh_counter .sh_hours{display:inline-block;width:30%;}
#sh_website_coming_soon_section_10 .sh_counter .sh_minutes{display:inline-block;width:30%;}
#sh_website_coming_soon_section_10 .sh_counter .sh_seconds{display:inline-block;width:30%;}
#sh_website_coming_soon_section_10 .sh_counter .sh_hours .sh_number{font-size:4.5em;}
#sh_website_coming_soon_section_10 .sh_counter .sh_minutes .sh_number{font-size:4.5em;}
#sh_website_coming_soon_section_10 .sh_counter .sh_seconds .sh_number{font-size:4.5em;}
#sh_website_coming_soon_section_10 .sh_counter .sh_hours .sh_label{font-size:16px;text-transform:capitalize;}
#sh_website_coming_soon_section_10 .sh_counter .sh_minutes .sh_label{font-size:16px;text-transform:capitalize;}
#sh_website_coming_soon_section_10 .sh_counter .sh_seconds .sh_label{font-size:16px;text-transform:capitalize;}
#sh_website_coming_soon_section_10 .sh_divider{width: 100%;border-top: 1px solid #fff;}
#sh_website_coming_soon_section_10 .sh_left_border{border-right:2px solid #fff;}
#sh_website_coming_soon_section_10 .sh_right_text{text-align:center;padding:10% 0;}
#sh_website_coming_soon_section_10 .sh_right_text h2{color:#fff;opacity:0.8;font-size:3.7em;}
#sh_website_coming_soon_section_10 .sh_right_text h1{font-size:3.7em;margin:10px 0 10px;}
#sh_website_coming_soon_section_10 .sh_right_text p{margin: 10px 0;font-size: 1.5em;line-height: 1.5;
    opacity: .8;color: #fff;}
#sh_website_coming_soon_section_10 .sh_right_text span{font-size:1.5em;}
#sh_website_coming_soon_section_10 .container .text_para p{
	display: -webkit-box;-webkit-line-clamp:7;-webkit-box-orient: vertical;overflow: hidden;text-overflow: ellipsis;width: 100%;
}
@media (max-width:767px){
#sh_website_coming_soon_section_10 .sh_counter .sh_days .sh_number{font-size:8em;opacity:0.8;display:inline-block;}
#sh_website_coming_soon_section_10 .sh_right_text{padding:0px;}
#sh_website_coming_soon_section_10 .sh_counter .sh_hours .sh_number{font-size:3em;}
#sh_website_coming_soon_section_10 .sh_counter .sh_minutes .sh_number{font-size:3em;}
#sh_website_coming_soon_section_10 .sh_counter .sh_seconds .sh_number{font-size:3em;}
#sh_website_coming_soon_section_10 .sh_counter{margin-top:0px;margin-bottom:0px;}
#sh_website_coming_soon_section_10 .sh_right_text h1 {font-size: 3em;}
#sh_website_coming_soon_section_10 .sh_right_text p{font-size: 1em}
}
/* end of coming soon 10 */




/*-- start of coming soon 11 */
#sh_website_coming_soon_section_11{height: 100% !important;background-size: cover;background-repeat: no-repeat;}
#sh_website_coming_soon_section_11 .sh_bg{background:rgba(0,0,0,.5);    height: 100%;}
#sh_website_coming_soon_section_11 .sh_bg .col-md-6{text-align:center;margin:0 auto;position: absolute;top: 50%;left: 50%;width: 100%;transform: translate(-50%,-50%);}
#sh_website_coming_soon_section_11 .sh_bg .sh_content .sh_logo img{width:200px;}
#sh_website_coming_soon_section_11 .sh_bg .sh_text h2{text-align: center;font-family: 'Open Sans', sans-serif;
    font-size: 40px;color: #fff;letter-spacing: 1px;font-weight: 700; text-transform: uppercase;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);-webkit-animation: colorchange 20s infinite alternate;
    animation: colorchange 20s infinite alternate;padding-top:30px;}
@keyframes colorchange{0% {color: #ffffff;}10% {color: #FF00FF;}
20% {color: #CDCB00;}30% {color: #E96126;}40% {color: #FCC507;}50% {color: #ffffff;}60% {color: #86D2B5;}
70% {color: #CDCB00;}80% {color: #E96126;}90% {color: #FCC507;}100% {color: #66FF00;}
}
#sh_website_coming_soon_section_11 .sh_bg .sh_text p{text-align: center; font-family: 'Open Sans', sans-serif;
    font-size: 17px;color: #fff;letter-spacing: 1px;font-weight: 300;text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);}
#sh_website_coming_soon_section_11 .container .text_para p{display: -webkit-box;-webkit-line-clamp:8;-webkit-box-orient: vertical;overflow: hidden;text-overflow: ellipsis;width: 100%;}
/* end of coming soon 11 */



/* start of coming soon 12 */
 #sh_website_coming_soon_section_12{height: 100% !important;background-repeat: no-repeat;background-size: cover;}
 #sh_website_coming_soon_section_12 .span12{width: 100%;position: absolute;left: 50%;top: 50%;transform: translate(-50% , -50%);}
 #sh_website_coming_soon_section_12 .logo h1{margin-top:7px;padding-left:50px;font-family:Lobster,cursive;font-size:38px;font-weight:400;color:#555}
  #sh_website_coming_soon_section_12 .logo h1 span{color:#e75967}
  #sh_website_coming_soon_section_12 .logo a{color:#555;text-decoration:none;-o-transition:all .2s;-moz-transition:all .2s;-webkit-transition:all .2s;-ms-transition:all .2s}
  #sh_website_coming_soon_section_12 .logo a:hover{color:#e75967}
  #sh_website_coming_soon_section_12 .call-us{font-size:18px;text-align:right}
  #sh_website_coming_soon_section_12 .call-us p{margin-top:18px;padding-right:50px}
  #sh_website_coming_soon_section_12 .call-us p span{color:#888}
  #sh_website_coming_soon_section_12 .coming-soon{height:100%;text-align:center;color:#fff; background-repeat: no-repeat;background-size:cover}
  #sh_website_coming_soon_section_12 .inner-bg{height:100%;background:url(https://azmind.com/demo/alissa-coming-soon/assets/img/pattern-3.png);-moz-box-shadow:0 1px 5px 0 rgba(0,0,0,.3) inset;-webkit-box-shadow:0 1px 5px 0 rgba(0,0,0,.3) inset;box-shadow:0 1px 5px 0 rgba(0,0,0,.3) inset}
  #sh_website_coming_soon_section_12 .coming-soon h2{font-size:40px;font-weight:700;text-transform:uppercase;text-shadow:0 1px 7px rgba(0,0,0,.2)}
  #sh_website_coming_soon_section_12 .coming-soon p{margin-top:20px;font-size:18px;line-height:26px;text-shadow:0 1px 7px rgba(0,0,0,.2);}
  #sh_website_coming_soon_section_12 .timer{margin-top:40px;text-shadow:0 1px 5px rgba(0,0,0,.1)}
  #sh_website_coming_soon_section_12 .timer .sh_days, 
  #sh_website_coming_soon_section_12 .timer .sh_hours, 
  #sh_website_coming_soon_section_12 .timer .sh_minutes, 
  #sh_website_coming_soon_section_12 .timer .sh_seconds{display:inline-block;width:160px;height:160px;margin:0 10px;padding-top:20px;background:#2d2d2d;background:rgba(45,45,45,.7);font-size:18px;-moz-border-radius:80px;-webkit-border-radius:80px;border-radius:80px}#sh_website_coming_soon_section_12 .timer .days-wrapper:hover,#sh_website_coming_soon_section_12 .timer .hours-wrapper:hover,#sh_website_coming_soon_section_12 .timer .minutes-wrapper:hover,#sh_website_coming_soon_section_12 .timer .seconds-wrapper:hover{background:url(../img/pattern-2.png) #e75967;text-shadow:none}
  #sh_website_coming_soon_section_12 .timer .sh_number{font-size:80px;line-height:90px}
  #sh_website_coming_soon_section_12 .subscribe{margin-top:30px;text-align:center}
  #sh_website_coming_soon_section_12 .subscribe h3{font-size:32px;font-weight:400;color:#4d4d4d;line-height:40px;text-transform:uppercase;text-shadow:1px 2px 1px #fff}#sh_website_coming_soon_section_12 .subscribe p{font-size:18px;font-weight:400;line-height:36px}
  #sh_website_coming_soon_section_12 .subscribe form{margin-top:24px}
  #sh_website_coming_soon_section_12 .subscribe form button,
  #sh_website_coming_soon_section_12 .subscribe form input{height:46px;margin:0;font-family:Lato,Arial,sans-serif;line-height:46px;font-size:18px}
  #sh_website_coming_soon_section_12 .subscribe form input{width:310px;padding:0 10px;background:#fff;color:#888;border:0;-moz-border-radius:0;-webkit-border-radius:0;border-radius:0;-moz-box-shadow:0 1px 3px 0 rgba(0,0,0,.15);-webkit-box-shadow:0 1px 3px 0 rgba(0,0,0,.15);box-shadow:0 1px 3px 0 rgba(0,0,0,.15)}
  #sh_website_coming_soon_section_12 .subscribe form input:focus{-moz-box-shadow:0 1px 3px 0 rgba(0,0,0,.15);-webkit-box-shadow:0 1px 3px 0 rgba(0,0,0,.15);box-shadow:0 1px 3px 0 rgba(0,0,0,.15)}
  #sh_website_coming_soon_section_12 .subscribe form input:-moz-placeholder{color:#888}
  #sh_website_coming_soon_section_12 .subscribe form input:-ms-input-placeholder{color:#888}
  #sh_website_coming_soon_section_12 .subscribe form input::-webkit-input-placeholder{color:#888}
	#sh_website_coming_soon_section_12 .coming-soon #text_para{display: -webkit-box;-webkit-line-clamp:2;-webkit-box-orient: vertical;overflow: hidden;text-overflow: ellipsis;width: 100%;}
  #sh_website_coming_soon_section_12 .subscribe form button{width:130px;padding:0;background:#e75967;border:0;color:#fff;text-transform:uppercase;text-shadow:1px 1px 1px rgba(0,0,0,.3);-moz-border-radius:0;-webkit-border-radius:0;border-radius:0;-moz-box-shadow:0 1px 3px 0 rgba(0,0,0,.25);-webkit-box-shadow:0 1px 3px 0 rgba(0,0,0,.25);box-shadow:0 1px 3px 0 rgba(0,0,0,.25);-o-transition:all .3s;-moz-transition:all .3s;-webkit-transition:all .3s;-ms-transition:all .3s}
  #sh_website_coming_soon_section_12 .subscribe form button:active,
  #sh_website_coming_soon_section_12 .subscribe form button:hover{background:#e75967;color:#fff}
  #sh_website_coming_soon_section_12 .success-message,.error-message{font-size:18px}
  #sh_website_coming_soon_section_12 .error-message{color:#e75967}
  #sh_website_coming_soon_section_12 .social{margin-top:30px;padding-bottom:30px;text-align:center}
  #sh_website_coming_soon_section_12 .social a{display:inline-block;width:48px;height:48px;margin:3px}
  #sh_website_coming_soon_section_12 .timer .sh_days:hover, #sh_website_coming_soon_section_12 .timer .sh_hours:hover, #sh_website_coming_soon_section_12 .timer .sh_minutes:hover, #sh_website_coming_soon_section_12 .timer .sh_seconds:hover{background:#e75967}
	
	@media (min-width:768px) and (max-width:979px)
  {
  #sh_website_coming_soon_section_12 .logo h1{padding-left:0}
  #sh_website_coming_soon_section_12 .call-us p{padding-right:0}
  #sh_website_coming_soon_section_12 .timer .days-wrapper,
  #sh_website_coming_soon_section_12 .timer .hours-wrapper,
  #sh_website_coming_soon_section_12 .timer .minutes-wrapper,
  #sh_website_coming_soon_section_12 .timer .seconds-wrapper{width:140px;height:140px;margin:0 7px;padding-top:20px;-moz-border-radius:70px;-webkit-border-radius:70px;border-radius:70px}
  #sh_website_coming_soon_section_12 .timer .days,
  #sh_website_coming_soon_section_12 .timer .hours,
  #sh_website_coming_soon_section_12 .timer .minutes,
  #sh_website_coming_soon_section_12 .timer .seconds{font-size:60px;line-height:70px}
  }
 
  @media (min-width:1200px){
  
  #sh_website_coming_soon_section_12 [class*=span]{float:left;min-height:1px;}
  }
  @media (max-width:767px){
  #sh_website_coming_soon_section_12 .span12,.row-fluid .span12{width:100%;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}#sh_website_coming_soon_section_12 [class*=span],.row-fluid [class*=span],
  .uneditable-input[class*=span]{float:none;display:block;width:100%;margin-left:0;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
  #sh_website_coming_soon_section_12 .logo h1{padding-left:0;text-align:center}
  #sh_website_coming_soon_section_12 .call-us{padding-bottom:7px;text-align:center}
  #sh_website_coming_soon_section_12 .call-us p{padding-right:0}
  #sh_website_coming_soon_section_12 .inner-bg{padding:45px 0 50px}
  #sh_website_coming_soon_section_12 .coming-soon h2{font-size:36px;padding:0 20px}
  #sh_website_coming_soon_section_12 .coming-soon p{padding:0 20px}
  #sh_website_coming_soon_section_12 .timer .days-wrapper,
  #sh_website_coming_soon_section_12 .timer .hours-wrapper,
  #sh_website_coming_soon_section_12 .timer .minutes-wrapper,#sh_website_coming_soon_section_12 .timer .seconds-wrapper{width:140px;height:140px;margin:7px;padding-top:20px;-moz-border-radius:70px;-webkit-border-radius:70px;border-radius:70px}
  #sh_website_coming_soon_section_12 .timer .days,
  #sh_website_coming_soon_section_12 .timer .hours,#sh_website_coming_soon_section_12 .timer .minutes,
  #sh_website_coming_soon_section_12 .timer .seconds{font-size:60px;line-height:70px}
  #sh_website_coming_soon_section_12 .subscribe h3{padding:0 20px;font-size:28px}
  #sh_website_coming_soon_section_12 .subscribe p{padding:0 20px}
  #sh_website_coming_soon_section_12 .timer .sh_days, 
  #sh_website_coming_soon_section_12 .timer .sh_hours, 
  #sh_website_coming_soon_section_12 .timer .sh_minutes,
   #sh_website_coming_soon_section_12 .timer .sh_seconds{width:130px;height:130px;padding-top:5px;}
    #sh_website_coming_soon_section_12 .timer .sh_number{font-size:40px;line-height:90px;}
  }

  @media (min-width:576px){#sh_website_coming_soon_section_12 .container{max-width:100%}}
  
  @media (max-width:480px){
  #sh_website_coming_soon_section_12 .subscribe form{padding:0 20px}
  #sh_website_coming_soon_section_12 .subscribe form input{width:90%}
  #sh_website_coming_soon_section_12 .subscribe form button{width:90%;margin-top:10px}
  }
@media (max-width:360px){
	#sh_website_coming_soon_section_12 .timer .sh_days, 
  #sh_website_coming_soon_section_12 .timer .sh_hours, 
  #sh_website_coming_soon_section_12 .timer .sh_minutes,
   #sh_website_coming_soon_section_12 .timer .sh_seconds{margin-bottom:8px;}
}
/* end of coming soon 12 */



/*--sh_website_coming_soon_section_13--*/
#sh_website_coming_soon_section_13{height:100% !important}
#sh_website_coming_soon_section_13 .row.sh_sub{width:90%;position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%);}
#sh_website_coming_soon_section_13 #countdown_dashboard{padding-left:0;margin:0}
#sh_website_coming_soon_section_13 .bg-1{background-size:cover;background-attachment:fixed;height:100%}
#sh_website_coming_soon_section_13 .bg-gray{background:#f8f8f8}
#sh_website_coming_soon_section_13 .hero-area{display:grid;justify-content:center;align-items:center}
#sh_website_coming_soon_section_13 .hero-area h1{color:#fff;font-size:60px;text-transform:uppercase;font-weight:700;padding-bottom:19px;margin-top:30px}
#sh_website_coming_soon_section_13 .hero-area p{color:#fff;font-size:20px;line-height:1.3;display: -webkit-box;-webkit-line-clamp:3;-webkit-box-orient: vertical;overflow: hidden;text-overflow: ellipsis;width: 100%;}
#sh_website_coming_soon_section_13 .hero-area .counter{background:rgba(255,255,255,.2);padding:18px}
#sh_website_coming_soon_section_13 .hero-area .counter ul li{background-color:rgba(90, 44, 44, 0.35);color:#fff;display:inline-block;line-height:25px;padding:25px 28px 20px;text-align:center;width:49%;margin-bottom:3px}
#sh_website_coming_soon_section_13 .hero-area .counter ul li .sh_number{font-size:50px;font-weight:600}
#sh_website_coming_soon_section_13 .hero-area .counter ul li .sh_label{display:block;font-size:16px;font-weight:600;padding-top:15px}
#sh_website_coming_soon_section_13 .hero-area .counter ul li .digit{display:inline-block;font-size:50px;font-weight:700;line-height:50px;position:relative;overflow:hidden;height:60px}
@media (max-width:895px){
#sh_website_coming_soon_section_13 .hero-area h1{font-size:50px;}
#sh_website_coming_soon_section_13 .hero-area p{font-size:18px;}
}
@media (max-width:360px){
	#sh_website_coming_soon_section_13 .row.sh_sub{margin:0 auto;}
}
/*--sh_website_coming_soon_section_13--*/



/*--sh_website_coming_soon_section_14--*/
 #sh_website_coming_soon_section_14{height:100%}
#sh_website_coming_soon_section_14 #normal-countdown,.center-text,.right-section .footer-icons>li>a>i{text-align:center}
#sh_website_coming_soon_section_14 .logo img{width:200px;}
#sh_website_coming_soon_section_14 .display-table{display:table;height:100%;width:100%}
#sh_website_coming_soon_section_14 .display-table-cell{display:table-cell;vertical-align:middle}::-webkit-input-placeholder{font-size:.9em;letter-spacing:1px}::-moz-placeholder{font-size:.9em;letter-spacing:1px}:-ms-input-placeholder{font-size:.9em;letter-spacing:1px}:-moz-placeholder{font-size:.9em;letter-spacing:1px}
#sh_website_coming_soon_section_14 .full-height{height:100%}
#sh_website_coming_soon_section_14 .position-static{position:static}
#sh_website_coming_soon_section_14 .main-area{position:relative;height:100vh}
#sh_website_coming_soon_section_14 .left-section{    background-repeat: no-repeat;position:absolute;top:0;bottom:0;left:0;width:50%;background-size:cover}
#sh_website_coming_soon_section_14 #normal-countdown .sh_days,
#sh_website_coming_soon_section_14 #normal-countdown .sh_hours,
#sh_website_coming_soon_section_14 #normal-countdown .sh_minutes,
#sh_website_coming_soon_section_14 #normal-countdown .sh_seconds
{position:relative;display:inline-block;margin:2.5%;height:120px;width:120px;border-radius:100px;background:#fff;box-shadow:0 0 0 5px rgba(255,255,255,.4);color:#F84982}
#sh_website_coming_soon_section_14 #normal-countdown .sh_days .sh_number,
#sh_website_coming_soon_section_14 #normal-countdown .sh_hours .sh_number,
#sh_website_coming_soon_section_14 #normal-countdown .sh_minutes .sh_number,
#sh_website_coming_soon_section_14 #normal-countdown .sh_seconds .sh_number{font-weight:600;line-height:80px;font-size:40px;}
#sh_website_coming_soon_section_14 #normal-countdown .time-sec span{position:absolute;bottom:25px;left:50%;transform:translateX(-50%)}
#sh_website_coming_soon_section_14 .right-section{float:right;width:50%;position:relative;padding:0 60px;    background: #e4e4e4;}
#sh_website_coming_soon_section_14 .right-section .logo{position:absolute;top:40px;height:30px}
#sh_website_coming_soon_section_14 .right-section .logo img{height:100%;width:auto}
#sh_website_coming_soon_section_14 .right-section .main-content{padding:60px 40px 40px 0}
#sh_website_coming_soon_section_14 .main-content .title{margin-bottom:15px;font-size:3.5rem}
#sh_website_coming_soon_section_14 .main-content .email-input-area{margin:40px 0 20px;position:relative;width:400px;height:47px}
#sh_website_coming_soon_section_14 .main-content .email-input-area .email-input{width:100%;position:absolute;top:0;bottom:0;left:0;border-radius:2px;outline:0;padding:0 140px 0 25px;transition:all .2s;background:#F1F2F3;box-shadow:inset 0 0 1px rgba(0,0,0,.1);border:1px solid transparent}
#sh_website_coming_soon_section_14 .main-content .email-input-area .email-input:focus{border-color:#f89fbc}
#sh_website_coming_soon_section_14 .main-content .email-input-area .submit-btn{width:120px;text-align:center;position:absolute;top:0;bottom:0;right:0;font-size:.9em;outline:0;border-radius:0 2px 2px 0;transition:all .3s;background:#F84982;color:#fff}
#sh_website_coming_soon_section_14 .main-content .email-input-area .submit-btn:hover{background:#e40b52}
#sh_website_coming_soon_section_14 .main-content .post-desc{color:#999}
#sh_website_coming_soon_section_14 .right-section .footer-icons{position:absolute;bottom:30px}
#sh_website_coming_soon_section_14 .right-section .footer-icons>li>a{display:inline-block;font-size:1.07em;padding:0}
#sh_website_coming_soon_section_14 .right-section .footer-icons>li:first-child{margin-right:10px}
#sh_website_coming_soon_section_14 .right-section .footer-icons>li>a>i{display:inline-block;height:35px;line-height:33px;transition:all .2s;border-radius:40px;width:35px}
#sh_website_coming_soon_section_14 .right-section #text_para {display: -webkit-box;-webkit-line-clamp:8;-webkit-box-orient: vertical;overflow: hidden;text-overflow: ellipsis;width: 100%;}
@media only screen and (max-width:1200px){
	#sh_website_coming_soon_section_14 .date-countdown{width:100%}
}
@media only screen and (max-width:992px){
	#sh_website_coming_soon_section_14 .main-area{position:relative;height:200vh}
	#sh_website_coming_soon_section_14 .right-section{float:none;width:100%;height:50%}
	#sh_website_coming_soon_section_14 .right-section .main-content{padding:40px 0}
	#sh_website_coming_soon_section_14 .main-content .email-input-area{width:100%}
	#sh_website_coming_soon_section_14 .main-content .email-input-area .email-input{padding:0 115px 0 20px}
	#sh_website_coming_soon_section_14.main-content .email-input-area .submit-btn{width:100px}
	#sh_website_coming_soon_section_14.right-section .footer-icons>li>a>i{height:30px;line-height:28px;width:30px}
	#sh_website_coming_soon_section_14 .left-section{position:static;width:100%;height:50%}
	#sh_website_coming_soon_section_14 .date-countdown{width:100%}
	#sh_website_coming_soon_section_14 .date-countdown .time_circles>div>h4{font-size:.7em!important}
}
@media only screen and (max-width:767px){
	#sh_website_coming_soon_section_14 p{line-height:1.4}
	#sh_website_coming_soon_section_14 h1{font-size:2.8em;line-height:1}
	#sh_website_coming_soon_section_14 h2{font-size:2.2em;line-height:1.1}
	#sh_website_coming_soon_section_14 h3{font-size:1.8em}
}
@media only screen and (max-width:479px){
	#sh_website_coming_soon_section_14 body{font-size:12px}
	#sh_website_coming_soon_section_14 #normal-countdown .time-sec{height:100px;width:100px;margin:5%}
	#sh_website_coming_soon_section_14 #normal-countdown .time-sec .sh_number{line-height:80px}
	#sh_website_coming_soon_section_14 .right-section{padding:0 30px}
}
/*--sh_website_coming_soon_section_14--*/



/*--sh_website_coming_soon_section_15--*/
#sh_website_coming_soon_section_15{height: 100% !important;}
#sh_website_coming_soon_section_15 .row.sh_sub{position: absolute;left: 50%;top: 50%;transform: translate(-50% , -50%);width: 90%;}
#sh_website_coming_soon_section_15 .hss{background-size:cover;background-repeat:no-repeat;background-position: center;height: 100%;}
#sh_website_coming_soon_section_15 .product-showcase{margin:0 auto;background:#2d2d2d}
#sh_website_coming_soon_section_15 .product-showcase-pattern{margin:0 auto;background-image:url(https://azmind.com/demo/produkta/assets/img/pattern-2.png);-moz-box-shadow:0 1px 5px 0 rgba(0,0,0,.3) inset;-webkit-box-shadow:0 1px 5px 0 rgba(0,0,0,.3) inset;box-shadow:0 1px 5px 0 rgba(0,0,0,.3) inset}
#sh_website_coming_soon_section_15 .product-background{    height: 100%;background:#2d2d2d;background:rgba(45,45,45,.7);-moz-border-radius-topleft:8px;-moz-border-radius-topright:8px;-webkit-border-top-left-radius:8px;-webkit-border-top-right-radius:8px;border-top-left-radius:8px;border-top-right-radius:8px}
#sh_website_coming_soon_section_15 .product-background h1,.product-description{padding-right:40px;color:#fff;text-shadow:0 1px 7px rgba(0,0,0,.2)}
#sh_website_coming_soon_section_15 .product-background h1{margin-top:35px;font-size:48px;font-weight:400;line-height:58px}
#sh_website_coming_soon_section_15 .product-description{line-height:30px}.product-description-right{margin-top:25px;padding-left:0}
#sh_website_coming_soon_section_15 .timer{margin-top:20px;padding-bottom:30px}
#sh_website_coming_soon_section_15 .timer .sh_number{font-size:40px;display:inline-block}
#sh_website_coming_soon_section_15 .product-description form{margin-top:20px;margin-bottom:0}
#sh_website_coming_soon_section_15 .product-description form button,.product-description form input{margin-top:10px;font-family:'PT Sans',Helvetica,Arial,sans-serif;font-size:16px}
#sh_website_coming_soon_section_15 .product-description form input{margin-bottom:0;padding:12px 15px;border:1px solid #fff;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;-moz-box-shadow:0 1px 5px 0 rgba(0,0,0,.2);-webkit-box-shadow:0 1px 5px 0 rgba(0,0,0,.2);box-shadow:0 1px 5px 0 rgba(0,0,0,.2);color:#555}
#sh_website_coming_soon_section_15 .product-description form input:focus{border:1px solid #fff;-moz-box-shadow:0 1px 5px 0 rgba(0,0,0,.2);-webkit-box-shadow:0 1px 5px 0 rgba(0,0,0,.2);box-shadow:0 1px 5px 0 rgba(0,0,0,.2)}
#sh_website_coming_soon_section_15 .product-description form input:-moz-placeholder{color:#555}
#sh_website_coming_soon_section_15 .product-description form input:-ms-input-placeholder{color:#555}
#sh_website_coming_soon_section_15 .product-description form input::-webkit-input-placeholder{color:#555}
#sh_website_coming_soon_section_15 .product-description form button{padding:12px 25px;background:#518d8a;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;border:1px solid #73a3a1;-moz-box-shadow:0 25px 35px 0 rgba(255,255,255,.15) inset,0 1px 5px 0 rgba(0,0,0,.2);-webkit-box-shadow:0 25px 35px 0 rgba(255,255,255,.15) inset,0 1px 5px 0 rgba(0,0,0,.2);box-shadow:0 25px 35px 0 rgba(255,255,255,.15) inset,0 1px 5px 0 rgba(0,0,0,.2);text-transform:uppercase;text-shadow:1px 1px 1px rgba(0,0,0,.3);color:#fff;-o-transition:all .2s;-moz-transition:all .2s;-webkit-transition:all .2s;-ms-transition:all .2s}
#sh_website_coming_soon_section_15 .product-description form button:hover{color:#fff;-moz-box-shadow:0 15px 30px 0 rgba(255,255,255,.1) inset,0 1px 5px 0 rgba(0,0,0,.2);-webkit-box-shadow:0 15px 30px 0 rgba(255,255,255,.1) inset,0 1px 5px 0 rgba(0,0,0,.2);box-shadow:0 15px 30px 0 rgba(255,255,255,.1) inset,0 1px 5px 0 rgba(0,0,0,.2)}
#sh_website_coming_soon_section_15 .product-description form button:active{-moz-box-shadow:0 5px 8px 0 rgba(0,0,0,.1) inset,0 1px 4px 0 rgba(0,0,0,.1);-webkit-box-shadow:0 5px 8px 0 rgba(0,0,0,.1) inset,0 1px 4px 0 rgba(0,0,0,.1);box-shadow:0 5px 8px 0 rgba(0,0,0,.1) inset,0 1px 4px 0 rgba(0,0,0,.1);border:0}
#sh_website_coming_soon_section_15 .sh_days,
#sh_website_coming_soon_section_15 .sh_hours,
#sh_website_coming_soon_section_15 .sh_minutes,
#sh_website_coming_soon_section_15 .sh_seconds{display: inline-flex;padding-right:5px;}
#sh_website_coming_soon_section_15 .product-description{display: -webkit-box;-webkit-line-clamp:3;-webkit-box-orient: vertical;overflow: hidden;text-overflow: ellipsis;width: 100%;}
@media only screen and (max-width:360px){
	#sh_website_coming_soon_section_15 .row.sh_sub{margin:0 auto;}
	#sh_website_coming_soon_section_15 .sh_days,
	#sh_website_coming_soon_section_15 .sh_minutes{margin-right:15px;}
}
/*--sh_website_coming_soon_section_15--*/




/*--sh_website_coming_soon_section_16--*/
#sh_website_coming_soon_section_16{height: 100% !important;background-repeat: no-repeat;background-size: cover;}
#sh_website_coming_soon_section_16 .coming-soon{height:100%;margin:0 auto;position:relative;overflow:hidden;padding-bottom:32px}
#sh_website_coming_soon_section_16 .coming-soon:before{content: '';background-color: #1b1a1aa3; width: 79%;z-index: 0; height: 134%;position: absolute;left: -38%;-ms-transform: rotate(20deg);-webkit-transform: rotate(20deg);transform: rotate(160deg);}
#sh_website_coming_soon_section_16 .inner-bg{padding:75px 0 40px}
#sh_website_coming_soon_section_16 .coming-soon .logo{padding-bottom:20px;text-align: center;}
#sh_website_coming_soon_section_16 .coming-soon .logo h1{margin:0; text-align: center;}
#sh_website_coming_soon_section_16 .coming-soon .logo h1 img{width:200px;}
#sh_website_coming_soon_section_16  h1{margin-top: 10px;font-size: 42px;font-weight: 100;line-height: 54px;color: #fff;text-align: center;}
#sh_website_coming_soon_section_16  strong {font-weight: 800;}
#sh_website_coming_soon_section_16 .coming-soon .logo a img{display:inline-block;width:200px;text-indent:-99999px}
#sh_website_coming_soon_section_16 .coming-soon p{margin:60px 0 10px;padding:0 120px;font-size:20px;line-height:36px}
#sh_website_coming_soon_section_16 .timer{margin-top:60px;text-align: center;color: #fff;}
#sh_website_coming_soon_section_16 .timer .sh_days, #sh_website_coming_soon_section_16 .timer .sh_hours, #sh_website_coming_soon_section_16 .timer .sh_minutes, #sh_website_coming_soon_section_16 .timer .sh_seconds{display:inline-block;width:160px;margin:0 10px;font-size:18px;padding:25px 10px;background-color:rgba(255,255,255,.17);border-radius:0;border:1px solid rgba(255,255,255,.37);box-shadow:1px 0 4px #5F5F5F}
#sh_website_coming_soon_section_16 .timer .sh_number{font-size:80px;font-weight:100;line-height:90px}
@media (min-width: 768px) and (max-width: 991px) {
#sh_website_coming_soon_section_16 .coming-soon p { padding: 0; }
#sh_website_coming_soon_section_16 .timer .days-wrapper, #sh_website_coming_soon_section_16 .timer .hours-wrapper, #sh_website_coming_soon_section_16 .timer .minutes-wrapper, .timer .seconds-wrapper { width: 150px; }

}

@media (max-width: 767px) {
#sh_website_coming_soon_section_16 .coming-soon p { padding: 0; }
#sh_website_coming_soon_section_16 .timer .days-wrapper, .timer .hours-wrapper, .timer .minutes-wrapper, .timer .seconds-wrapper { width: 150px; }
#sh_website_coming_soon_section_16 .timer .slash { display: none; }
}

@media (max-width: 550px) {
#sh_website_coming_soon_section_16 .subscribe form input { width: 95%;}
#sh_website_coming_soon_section_16 .subscribe form button { width: 95%; margin-top: 10px; }
}

@media (max-width: 400px) {
#sh_website_coming_soon_section_16 h1{ font-size: 32px; }
}
@media (max-width: 360px) {
#sh_website_coming_soon_section_16 .timer .sh_days,
#sh_website_coming_soon_section_16 .timer .sh_hours,
#sh_website_coming_soon_section_16 .timer .sh_minutes,
#sh_website_coming_soon_section_16 .timer .sh_seconds{width:143px;}
}

/*--sh_website_coming_soon_section_16--*/


/*--sh_website_coming_soon_section_17--*/
#sh_website_coming_soon_section_17{height:100% !important}
#sh_website_coming_soon_section_17 .styled div,#sh_website_coming_soon_section_17 .styled div span{font-weight:400;text-align:center}
#sh_website_coming_soon_section_17 .countdown{text-align:center;margin-top:0;margin-bottom:50px}
#sh_website_coming_soon_section_17 .styled{margin-bottom:80px;width:100%}
#sh_website_coming_soon_section_17 .row.sh_sub{position: absolute;left: 50%;top: 50%;transform: translate(-50% , -50%);width:100%}
#sh_website_coming_soon_section_17 .styled .sh_days, #sh_website_coming_soon_section_17 .styled .sh_hours, #sh_website_coming_soon_section_17 .styled .sh_minutes, #sh_website_coming_soon_section_17 .styled .sh_seconds{display:inline-block;font-size:70px;margin:0 25px;text-shadow:none;vertical-align:middle;color:#fff}
#sh_website_coming_soon_section_17 .banner-container{background-repeat: no-repeat;background-size: cover;height:100%;}
#sh_website_coming_soon_section_17 .heading h2{color:#fff;font-size:54px}
#sh_website_coming_soon_section_17 .heading h3{font-size:36px;margin-top:67px}
#sh_website_coming_soon_section_17 .heading p{color:#fff;font-size:16px;font-weight:400}
#sh_website_coming_soon_section_17 .styled .sh_label{display:block;font-size:22px;margin-top:-29px}
#sh_website_coming_soon_section_17 .styled .sh_days, #sh_website_coming_soon_section_17 .styled .sh_hours, #sh_website_coming_soon_section_17 .styled .sh_minutes, #sh_website_coming_soon_section_17 .styled .sh_seconds{width:150px;height:150px;position:relative;padding:62px 0 0}
#sh_website_coming_soon_section_17 .styled .sh_days:after, #sh_website_coming_soon_section_17 .styled .sh_hours:after, #sh_website_coming_soon_section_17 .styled .sh_minutes:after, #sh_website_coming_soon_section_17 .styled .sh_seconds:after{content:'';width:150px;height:150px;display:table;border:1px solid #fff;margin:50px auto;-webkit-border-radius:15px;-moz-border-radius:15px;-ms-border-radius:15px;-o-border-radius:15px;border-radius:15px;-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-ms-transform:rotate(45deg);-o-transform:rotate(45deg);transform:rotate(45deg);position:absolute;top:0}
#sh_website_coming_soon_section_17 .text-center {text-align: center !important;width: 100%;}
#sh_website_coming_soon_section_17 .container #text_para{display: -webkit-box;-webkit-line-clamp:2;-webkit-box-orient: vertical;overflow: hidden;text-overflow: ellipsis;width: 100%;}
@media (max-width:815px){
#sh_website_coming_soon_section_17 .styled .sh_days, #sh_website_coming_soon_section_17 .styled .sh_hours, #sh_website_coming_soon_section_17 .styled .sh_minutes, #sh_website_coming_soon_section_17 .styled .sh_seconds{display:inline-block;font-size:35px;    width: 100px;
    height: 100px;
    position: relative;
    padding: 70px 0 0;}
#sh_website_coming_soon_section_17 .styled .sh_days:after, #sh_website_coming_soon_section_17 .styled .sh_hours:after, #sh_website_coming_soon_section_17 .styled .sh_minutes:after, #sh_website_coming_soon_section_17 .styled .sh_seconds:after{width: 100px;
    height: 100px;}
    #sh_website_coming_soon_section_17 .styled .sh_label{display:block;font-size:15px;margin-top:-15px}
   #sh_website_coming_soon_section_17 .heading h2 {font-size: 40px;}
   #sh_website_coming_soon_section_17 .heading p{    font-size: 14px;}
   #sh_website_coming_soon_section_17 .styled .sh_days, #sh_website_coming_soon_section_17 .styled .sh_hours, #sh_website_coming_soon_section_17 .styled .sh_minutes, #sh_website_coming_soon_section_17 .styled .sh_seconds{margin-top:0px;}
}
@media (max-width:780px){
	#sh_website_coming_soon_section_17 .styled .sh_days, #sh_website_coming_soon_section_17 .styled .sh_hours, #sh_website_coming_soon_section_17 .styled .sh_minutes, #sh_website_coming_soon_section_17 .styled .sh_seconds{margin-top:0px;margin-bottom:28px}
}
@media (max-width:360px){
#sh_website_coming_soon_section_17 .row.sh_sub{margin:0 auto;}
#sh_website_coming_soon_section_17 .styled .sh_days,
#sh_website_coming_soon_section_17 .styled .sh_hours{margin-bottom:40px;}
}
/*--sh_website_coming_soon_section_17--*/





/*--sh_website_coming_soon_section_18--*/
#sh_website_coming_soon_section_18{height:100% !important;background-size: cover;}
#sh_website_coming_soon_section_18 .center-content{left: 50%;position: absolute;width: 100%;transform: translate(-50% , 0%);margin-top:10%;}
#sh_website_coming_soon_section_18 .intro-content{display:inline-block;font-size:1.15em;margin:0;min-width:100%;min-height:100%;vertical-align:middle;}
#sh_website_coming_soon_section_18 .intro-title{font-family:latobold;font-size:3em;font-weight:400;margin:15px 0;text-transform:uppercase;color:#fff}
#sh_website_coming_soon_section_18 .obak{color:#2098f5}
#sh_website_coming_soon_section_18 .fa-spin{-webkit-animation:fa-spin 2s infinite linear;animation:fa-spin 2s infinite linear}
#sh_website_coming_soon_section_18 .fa-4x{font-size:4em;color:#fff}
#sh_website_coming_soon_section_18 .countdown{list-style:none;margin:20px 0;padding:0;display:block;text-align:center;font-family:BeonMedium;color:#fff}
#sh_website_coming_soon_section_18 .countdown li{display:inline-block}
#sh_website_coming_soon_section_18 .countdown li .sh_number{font-size:80px;font-weight:300;line-height:80px}
#sh_website_coming_soon_section_18 .countdown li p{color:#ddd;font-size:14px}
#sh_website_coming_soon_section_18 .countdown li.seperator{font-size:14px;margin-top:12px;line-height:30px;vertical-align:top}
@media (max-width:1024px){
	#sh_website_coming_soon_section_18 .center-content{margin-top:50%;}
}
@media (max-width:768px){
	#sh_website_coming_soon_section_18 .center-content{margin-top:42%;}
}
@media (max-width:360px){
	#sh_website_coming_soon_section_18 .center-content{margin-top:30%;}
}
/*--sh_website_coming_soon_section_18--*/




/*--sh_website_coming_soon_section_19--*/
#sh_website_coming_soon_section_19{height:100% !important;}
#sh_website_coming_soon_section_19 #home-page {height:100%;}
#sh_website_coming_soon_section_19 .text_para{display: -webkit-box;-webkit-line-clamp:2;-webkit-box-orient: vertical;overflow: hidden;text-overflow: ellipsis;width: 100%;}
#sh_website_coming_soon_section_19 #home-page {position: relative;background-position: 50% 0;background-repeat: no-repeat; background-size: cover;}
#sh_website_coming_soon_section_19 .home-bg {height: 100%;background-color: rgba(0,0,0,0.7);}
#sh_website_coming_soon_section_19 .main-logo {margin-bottom: 25px;}
#sh_website_coming_soon_section_19 .main-logo img{width:250px;}
#sh_website_coming_soon_section_19 h1{color: #48b4ff;font-size: 20px;width: 80%;margin: 0 auto;}
#sh_website_coming_soon_section_19 .home-page{text-align: center !important; position: absolute;left: 50%;top: 50%;transform: translate(-50% ,-50%);}
#sh_website_coming_soon_section_19 .home-page h2 {    margin-top: 20px;font-size: 40px;color: #ffffff;font-weight: 700;text-transform: uppercase;}
#sh_website_coming_soon_section_19 .tk-countdown {color: #fff; text-align: center;}
#sh_website_coming_soon_section_19 .tk-countdown div {display: inline-block;}
#sh_website_coming_soon_section_19 .submit-bt,
#sh_website_coming_soon_section_19 .social-shear a i,
#sh_website_coming_soon_section_19 .service i,
#sh_website_coming_soon_section_19 .member .member-img img,
#sh_website_coming_soon_section_19 .contact-form .submit-button,
#sh_website_coming_soon_section_19 .tk-countdown div.days,
#sh_website_coming_soon_section_19 .tk-countdown div.hours,
#sh_website_coming_soon_section_19 .tk-countdown div.minutes,
#sh_website_coming_soon_section_19 .tk-countdown div.seconds,
#sh_website_coming_soon_section_19 .subscribe-area .form-control,
#sh_website_coming_soon_section_19 .contact-form .form-control,
#sh_website_coming_soon_section_19 .service-aro-icon i{border-color: #48b4ff!important;}
#sh_website_coming_soon_section_19 .tk-countdown div.days{ border: 2px solid;border-radius: 20px 0px;width: 120px;height: 120px;padding-top: 15px; margin: 15px;}
#sh_website_coming_soon_section_19 .tk-countdown div .sh_number:first-child {height: 64px;font-family: 'Open Sans', sans-serif;font-weight: 300;font-size: 60px;line-height: 64px;color: #f7f7f7;}
#sh_website_coming_soon_section_19 .tk-countdown div  .sh_number {display: block;}
#sh_website_coming_soon_section_19 .tk-countdown div  .sh_number:last-child{color: #48b4ff;}
#sh_website_coming_soon_section_19 .tk-countdown div  .sh_number:last-child { height: 20px;font-family: 'Open Sans', sans-serif;font-weight: 300;font-size: 18px;line-height: 20px;}
#sh_website_coming_soon_section_19 .tk-countdown div.hours {border: 2px solid;border-radius: 20px 0px;width: 120px;height: 120px;padding-top: 15px;margin: 15px;}
#sh_website_coming_soon_section_19 .tk-countdown div.minutes {border: 2px solid;border-radius: 20px 0px;width: 120px;height: 120px;padding-top: 15px;margin: 15px;}
#sh_website_coming_soon_section_19 .tk-countdown div.seconds {border: 2px solid;border-radius: 20px 0px;width: 120px; height: 120px;padding-top: 15px; margin: 15px;}

@media (max-width:780px){
#sh_website_coming_soon_section_19 .main-logo img {width: 200px;}
#sh_website_coming_soon_section_19 h1 {font-size: 15px;}
#sh_website_coming_soon_section_19 .home-page h2{margin-top: 17px;font-size: 30px;}
}
/*--sh_website_coming_soon_section_19--*/




/*--sh_website_coming_soon_section_20--*/

#sh_website_coming_soon_section_20{height:100% !important;}

#sh_website_coming_soon_section_20 .banner-content{
   
    opacity:1;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    z-index:9;
    position:relative;
    -webkit-transition:opacity 1s,opacity 1s,-webkit-transform 1s;
    transition:opacity 1s,opacity 1s,-webkit-transform 1s;
    transition:opacity 1s,opacity 1s,transform 1s;
    transition:opacity 1s,opacity 1s,transform 1s,-webkit-transform 1s;
       background-size: cover;
    background-repeat: no-repeat;
        height: 100%;
}
#sh_website_coming_soon_section_20 .show-menu .banner-content{
    opacity:0;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    z-index:-9
}
#sh_website_coming_soon_section_20 .banner-text{
	height:100%;
    text-align:center;
    color:#fff;
}
#sh_website_coming_soon_section_20 .banner-text h2{
    font-size:42px;
    text-transform:uppercase;
    font-weight:700;
    letter-spacing:2px;
    margin-bottom:15px;
    color:#fff;
}
#sh_website_coming_soon_section_20 .banner-text p{
    font-size:18px;
    line-height:30px;
    padding:0 30px;
    color:#fff;
}
#sh_website_coming_soon_section_20 .clock-countdown{
    position:relative;
    max-width:100%;
    width:auto;
    margin:0 auto 40px;
    padding:20px 0
}
#sh_website_coming_soon_section_20 .clock-countdown .text{
    position:relative;
    width:100%;
    font-weight:400;
    letter-spacing:0;
    margin-top:.5em;
    display:block;
    text-transform:uppercase;
    color:#fff;
    text-align:center
}
#sh_website_coming_soon_section_20 .clock-countdown .block:last-child .days:after{
    display:none
}
#sh_website_coming_soon_section_20 .clock-countdown .days-counter{
    display:inline-block;
    position:relative;
    text-align:center;
    width:380px;
    top:0;
    bottom:0;
    margin-bottom:10px
}
#sh_website_coming_soon_section_20 .clock-countdown .days-counter .days{
    font-size:112px;
    letter-spacing:5px;
    line-height:1
}
#sh_website_coming_soon_section_20 .clock-countdown .days-counter .sh_label{
    font-size:16px;
    letter-spacing:2px;
    position:absolute;
    right:0;
    text-transform:uppercase;
    top:20px;
    width:auto;
    font-weight:400;
    
}
#sh_website_coming_soon_section_20 .clock-countdown .hour-counter{
    color:#fff;
    font-size:24px;
    font-weight:700;
    position:relative;
    text-align:center;
    width:100%;
    letter-spacing:2px;
    word-spacing:8px;
    background:rgba(0,0,0,.5);
    border-top:1px solid #ababab;
    padding:8px 0
}
#sh_website_coming_soon_section_20 .clock-countdown .hour-counter .normal{
    font-weight:400;
    font-size:18px
}
#sh_website_coming_soon_section_20 .clock-countdown .hour-counter:after,.clock-countdown .hour-counter:before{
    position:absolute;
    content:'';
    border-bottom:1px solid #ababab;
    height:1px;
    bottom:0
}
#sh_website_coming_soon_section_20 .clock-countdown .hour-counter:before{
    right:0;
    left:80%
}
#sh_website_coming_soon_section_20 .clock-countdown .hour-counter:after{
    left:0;
    right:80%
}
#sh_website_coming_soon_section_20 .clock-countdown .hour-counter .clock-border:after,.clock-countdown .hour-counter .clock-border:before{
    position:absolute;
    content:'';
    border:1px solid #ababab;
    width:20px;
    height:110px;
    bottom:0
}
#sh_website_coming_soon_section_20 .clock-countdown .hour-counter .clock-border:before{
    left:0;
    right:auto;
    border-right:none;
    border-bottom:none
}
#sh_website_coming_soon_section_20 .clock-countdown .hour-counter .clock-border:after{
    right:0;
    left:auto;
    border-left:none;
    border-bottom:none
}
#sh_website_coming_soon_section_20 .text_para{
	display: -webkit-box;-webkit-line-clamp:2;-webkit-box-orient: vertical;overflow: hidden;text-overflow: ellipsis;width: 100%;
}
@media (max-width:360px){
#sh_website_coming_soon_section_20 .clock-countdown .days-counter .sh_label{margin-right:22px;}
}
/*--sh_website_coming_soon_section_20--*/











/*--sh_website_coming_soon_section_21--*/
#sh_website_coming_soon_section_21{position: relative;
    z-index: -1;
      height: 100%;
    -ms-background-size: cover;
    background-size: cover;
    width: 100%;
    background-repeat: no-repeat;
    }
#sh_website_coming_soon_section_21 .main-container {
    position: relative;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.37);
    overflow: hidden;
    z-index: 2;
     height: 100%;
}
#sh_website_coming_soon_section_21 .contain-wrapper{
position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    }


#sh_website_coming_soon_section_21 .line {
    border-width: 200px;
    border-bottom: 2px solid #191919;
}
#sh_website_coming_soon_section_21 .line, .line-accent {
    width: 180px;
    margin: 0 auto;
}
#sh_website_coming_soon_section_21  .hero-section .hero-big-text {
    display: table;
    font-size: 3em;
    text-align: center;
    text-transform: uppercase;
    padding: 0 10%;
    margin: 20px auto!important;
    font-weight: 600;
}
#sh_website_coming_soon_section_21 .accent-text-color {
    color: #FFCE54!important;
}
#sh_website_coming_soon_section_21 .italic {
    font-style: italic!important;
}
#sh_website_coming_soon_section_21 .font-weight-500 {
    font-weight: 500!important;
}
#sh_website_coming_soon_section_21 .alt-font {
    font-family: Raleway,sans-serif!important;
}
#sh_website_coming_soon_section_21 .line-accent {
    border-bottom: 2px solid #FFCE54;
}
/*--sh_website_coming_soon_section_21--*/




/*--sh_website_coming_soon_section_22--*/
#sh_website_coming_soon_section_22  {
    
      height:100% !important;
      background-size: cover;
    background-repeat: no-repeat;
}
#sh_website_coming_soon_section_22 #home{
  position: absolute;
    top: 0%;
    left: 37%;
    transform: translate(-50% , -0%);
	margin-top:20%;
  }  

#sh_website_coming_soon_section_22 .brand-logo {

   
    width:250px;
}
#sh_website_coming_soon_section_22 #home .content {
    color:#fff;
    width: 100%;
    max-height: 111rem;
    text-align: left;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    opacity: 1;
    visibility: visible;
}
@media only screen and (max-width: 1600px){
#sh_website_coming_soon_section_22 h1 {
    font-size: 4rem;
    font-weight: 700;
}
}
#sh_website_coming_soon_section_22 div.text-intro {
    color: #fff;
    font-size: 1rem;
    font-weight: 300;
    margin-bottom: 3rem;
    line-height: 1.5;
	display: -webkit-box;-webkit-line-clamp:2;-webkit-box-orient: vertical;overflow: hidden;text-overflow: ellipsis;width: 100%;
}
#sh_website_coming_soon_section_22 strong, b {
    font-weight: 700;
}
#sh_website_coming_soon_section_22 #home span img{width:200px;}
@media (max-width:768px){
	#sh_website_coming_soon_section_22 #home{margin-top:50%;}
}
/*--sh_website_coming_soon_section_22--*/












/*--sh_website_coming_soon_section_23--*/
#sh_website_coming_soon_section_23{position: relative;
    z-index: -1;
    height:100% !important;
  background-position: center;
  background-size: cover;
  position: relative;
  
    }
#sh_website_coming_soon_section_23 .main-container {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    background: rgba(255,255,255,.6);
    overflow: hidden;
    z-index: 2;
    padding: 45px 0px;
}
#sh_website_coming_soon_section_23 .hero-section{height:100%;display: table;}
#sh_website_coming_soon_section_23 .contain-wrapper{display: table-cell;vertical-align: middle;}
#sh_website_coming_soon_section_23 .line {width: 80px;border-width: 200px;}
#sh_website_coming_soon_section_23  .home-big-text {display: block;font-size: 3.75em;width: 61%; white-space: pre-line;}
#sh_website_coming_soon_section_23 .font-weight-600 {
    font-weight: 600!important;
}
#sh_website_coming_soon_section_23 .text-uppercase {
    text-transform: uppercase;
}
#sh_website_coming_soon_section_23 .accent-text-color {
    color: #FFCE54!important;
}
#sh_website_coming_soon_section_23 .accent-text-color {
    color: #FFCE54!important;
}
#sh_website_coming_soon_section_23 .italic {
    font-style: italic!important;
}
#sh_website_coming_soon_section_23 .font-weight-500 {
    font-weight: 500!important;
}
#sh_website_coming_soon_section_23 .alt-font {
    font-family: Raleway,sans-serif!important;
}
#sh_website_coming_soon_section_23  .line-big1 {
    border-bottom: 2px solid #191919;
    width: 200px;

}
#sh_website_coming_soon_section_23  .line-accent1 {margin:0px;}
#sh_website_coming_soon_section_23  .line {
    border-bottom: 2px solid #191919;
}
#sh_website_coming_soon_section_23  .line {
    width: 80px;
  
    }

#sh_website_coming_soon_section_23 .margin-top-25 {
    margin-top: 25px!important;
}

/*--sh_website_coming_soon_section_23--*/





/*--sh_website_coming_soon_section_24--*/
#sh_website_coming_soon_section_24 .main-area {
    position: relative;
    height: 100vh;
    z-index: 1;
    padding: 0 20px;
    background-size: cover;
    color: #fff;
}
#sh_website_coming_soon_section_24 .main-area:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    opacity: .4;
    background: #000;
}
#sh_website_coming_soon_section_24 .center-text {
    text-align: center;
}
#sh_website_coming_soon_section_24 .display-table {
    display: table;
    height: 100%;
    width: 100%;
}
#sh_website_coming_soon_section_24 .display-table-cell {
    display: table-cell;
    vertical-align: middle;
}
#sh_website_coming_soon_section_24 .font-white {
    color: #fff;
}
#sh_website_coming_soon_section_24 h1 {
    font-size: 3.5em;
    line-height: 1;
}
#sh_website_coming_soon_section_24 .main-area .desc {
    margin: 20px auto;
    max-width: 500px;
	display: -webkit-box;
	-webkit-line-clamp:2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}

#sh_website_coming_soon_section_24 .main-area .notify-btn {
    padding: 13px 35px;
    border-radius: 50px;
    border: 2px solid #f84982;
    color: #fff;
    background: #f84982;
    text-decoration: none;
}
@media (max-width:360px){
	#sh_website_coming_soon_section_24 h1{font-size: 3.4em;}
}
/*--sh_website_coming_soon_section_24--*/









/*--sh_website_coming_soon_section_25--*/
#sh_website_coming_soon_section_25{height:100% !important;}
#sh_website_coming_soon_section_25 .bgimg {
  height:100% ;
  background-position: center;
  background-size: cover;
  position: relative;
  color: white;
  font-family: "Courier New", Courier, monospace;
  font-size: 25px;
}

#sh_website_coming_soon_section_25 .topleft {
  position: absolute;
  top: 5%;
  left: 16px;
 
}
#sh_website_coming_soon_section_25 .topleft img{ width: 200px;}

#sh_website_coming_soon_section_25 .bottomleft {
  position: absolute;
  bottom: 0;
  left: 16px;
}

#sh_website_coming_soon_section_25 .middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
#sh_website_coming_soon_section_25 p{ font-size: 16px;}
#sh_website_coming_soon_section_25 hr {
  margin: auto;
  width: 40%;
  border-top: 1px solid rgb(255, 252, 252);
}
#sh_website_coming_soon_section_25 #text_para{
	display: -webkit-box;
	-webkit-line-clamp:3;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}

/*--sh_website_coming_soon_section_25--*/






/*--sh_website_coming_soon_section_26--*/


#sh_website_coming_soon_section_26{height: 100% !important;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;}
#sh_website_coming_soon_section_26  .bg_img
  {
  	    height: 100%;
    background: #0000006e;
}
#sh_website_coming_soon_section_26  .social-nav {
    position: absolute;
    top: 0px;
    left: 40px;
}
#sh_website_coming_soon_section_26 .social-nav ul {
    margin: 0;
    padding: 0;
}
#sh_website_coming_soon_section_26 .social-nav ul li {
    list-style: none;
    display: block;
    float: left;
    background: #393939;
    padding: 100px 12px 5px 12px;
    margin: 1px;
    opacity: .5;
	cursor:pointer;
   
}
#sh_website_coming_soon_section_26 .social-nav ul li:hover {
    opacity: 1;
}
#sh_website_coming_soon_section_26 .social-nav a{color: #fff; font-size: 20px;    text-decoration: none;}


#sh_website_coming_soon_section_26 .sh_com {
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translate(-50%,-50%);
}

#sh_website_coming_soon_section_26 .sh_com  h1 {
    font-size: 63px;
    line-height: 70px;
    padding: 0;
    margin: 0;
    color: #fff;
}
#sh_website_coming_soon_section_26 .sh_com p{
font-size: 15px;
    line-height: 25px;
    padding: 0;
    margin: 0;
    color: #b7b7b7;
}
#sh_website_coming_soon_section_26 #logo {
    font-family: 'Coustard', serif;
    font-size: 49px;
    bottom: 40px;
    height: auto;
    left: 3%;
    position: absolute;
    z-index: 1000;
    color: #fff;
   
}
#sh_website_coming_soon_section_26 #logo img{width: 250px;}
#sh_website_coming_soon_section_26 .sh_com #text_para{
	display: -webkit-box;
	-webkit-line-clamp:3;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}
@media (max-width:550px){
#sh_website_coming_soon_section_26 .sh_com h1{font-size: 50px;}
}

/*--sh_website_coming_soon_section_26--*/




/*--sh_website_coming_soon_section_27--*/
#sh_website_coming_soon_section_27 {
	background-color: #444;
    height: 100% !important;
    background-position: center;
    background-size: cover;
}



#sh_website_coming_soon_section_27  .wrapper {
	position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);

}


#sh_website_coming_soon_section_27  h2 {
	font-size: 58px;
	width: 90%;
	color: #fff;
	text-align: center;
	margin:0px auto 20px;
	font-weight: 100;
}

#sh_website_coming_soon_section_27  p {
	text-align: center;
	width: 100%;
	margin: 20px 0px;
	line-height: 1.6;
	font-weight: 200;
	font-size: 18px;
	color: rgba(255, 255, 255, .75);
}

#sh_website_coming_soon_section_27  ul.countdown {
	margin: 45px auto;
	display: block;
	text-align: center;	
}

#sh_website_coming_soon_section_27  ul.countdown li {
	display: inline-block;
	height: 80px;
	margin: 0 5px 15px 5px;
	text-align: center;
	color: #fff;
	color: rgba(255, 255, 255, 0.5);
	font-size: 14px;
	line-height: 1;
	text-transform: uppercase;
	-webkit-border-radius: 499px;
	-moz-border-radius: 499px;
	border-radius: 499px;
	border: 1px solid #fff;
	font-weight: 200;
	width: 130px;
	height: 130px; padding-top: 30px;
}
#sh_website_coming_soon_section_27  ul.countdown li span {
 	display: block;
 	font-size: 46px;
 	color: rgba(255, 255, 255, 1);
 	font-weight: 100;
 }

#sh_website_coming_soon_section_27  .connect {
	width: 95%;
	margin: 100px 0;
}


#sh_website_coming_soon_section_27  .connect ul {
	    width: 100%;
    text-align: center;
    display: inline-block;

}
#sh_website_coming_soon_section_27  .connect ul li {
	width: 48px;
	height: 48px;
	display: inline-block;
	-webkit-border-radius: 499px;
	-moz-border-radius: 499px;
	border-radius: 499px;
	border: 1px solid #fff;
	margin: 0 5px;
}
 #sh_website_coming_soon_section_27  .connect ul li a{  
 	color: #fff;
    font-size: 25px;
    line-height: 40px;
    text-decoration:none;
    	opacity: 0.65;
}
#sh_website_coming_soon_section_27  .connect ul li a:hover {
	opacity: 1;
}

#sh_website_coming_soon_section_27  .connect ul li a:active {
	opacity: 0.8;
}


@media only screen and (max-width : 960px) {
	#sh_website_coming_soon_section_27  .wrapper {
		width: auto;
	}
	#sh_website_coming_soon_section_27  .connect {
		display: block;
		float: none;
		width: 348px;
		margin: 50px auto;
	}

	#sh_website_coming_soon_section_27  .connect ul {
		width: 340px;
		display:flex;
	}
	#sh_website_coming_soon_section_27  h2{
	font-size:45px;}

}

@media only screen and (max-width : 480px) {

	#sh_website_coming_soon_section_27  h1,
	ul.countdown {
		margin: 20px auto;
	}
	#sh_website_coming_soon_section_27  h2 {
		margin: 40px auto;
		font-size:45px;
	}

}

/*--sh_website_coming_soon_section_27--*/




/*--sh_website_coming_soon_section_28--*/
#sh_website_coming_soon_section_28{
    background-repeat:no-repeat;
    height: 100% !important;
    background-position: center;
    background-size: cover;
}
#sh_website_coming_soon_section_28 .sh_sub{position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50% ,-50%);
    }
#sh_website_coming_soon_section_28 .banner-container{height:100%}
#sh_website_coming_soon_section_28 .logo {
    font-size: 2.2em;
    text-shadow: none;
    margin: 8px 0 0 0;
}
#sh_website_coming_soon_section_28 .logo img{width:200px;}
#sh_website_coming_soon_section_28 .logo {
    width: auto;
    margin: 0 auto;
    padding: 16px;

}
#sh_website_coming_soon_section_28 .styled .sh_number{font-size:40px;}
#sh_website_coming_soon_section_28 .heading {
    padding: 3px 10px;
    padding-bottom: 15px;
    margin-bottom: 12px;
    display: block;
    
}
#sh_website_coming_soon_section_28 .heading h2 {
    color: #FFF;
    font-weight: 600;
    font-size: 45px;
}
#sh_website_coming_soon_section_28 .heading strong {
    color: #fff;
    font-size: 19px;
    font-weight: normal;
}
#sh_website_coming_soon_section_28 .styled {
    margin-bottom: 75px;
}
#sh_website_coming_soon_section_28 .countdown {
    text-align: center;
    margin-top: 40px;
}
#sh_website_coming_soon_section_28 .styled div:first-child {
    /* margin-left: 0; */
}
#sh_website_coming_soon_section_28 .styled div {
    width: 150px;
    height: 109px;
    background: rgba(255, 255, 255, 0.26);
    position: relative;
    color: #FFF;
    padding: 20px 0;
}
#sh_website_coming_soon_section_28 .styled div {
    width: 150px;
    height: 150px;
    position: relative;
    padding: 0 0 0 0;
}
#sh_website_coming_soon_section_28 .styled div {
    display: inline-block;
    margin-left: 10px;
    font-size: 55px;
    font-weight: normal;
    text-align: center;
    margin: 0 25px;
    height: 100px;
    text-shadow: none;
    vertical-align: middle;
    color: #fff;
    line-height: 53px;
}
#sh_website_coming_soon_section_28 .styled div:before {
    content: "";
    position: absolute;
    top: -30px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 75px solid transparent;
    border-right: 75px solid transparent;
    border-bottom: 30px solid rgba(255, 255, 255, 0.26);
}
#sh_website_coming_soon_section_28 .styled div span {
    display: block;
    font-size: 18px;
    margin-top: 5px;
    font-weight: normal;
    text-align: center;
}
#sh_website_coming_soon_section_28 .styled div:after {
    content: "";
    position: absolute;
    bottom: -30px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 75px solid transparent;
    border-right: 75px solid transparent;
    border-top: 30px solid rgba(255, 255, 255, 0.26);
    border-top-width: 30px;
    border-top-style: solid;
    border-top-color: rgba(255, 255, 255, 0.26);
}
#sh_website_coming_soon_section_28 .heading {
    padding: 3px 10px;
    padding-bottom: 15px;
    margin-bottom: 12px;
    display: block;
}
#sh_website_coming_soon_section_28 .sub {
    margin-top: 40px;
}
#sh_website_coming_soon_section_28 footer {
    padding: 0;
    margin-top: 30px;
}
#sh_website_coming_soon_section_28 .social a {
    font-size: 24px;
    margin: 0 10px;
    color: #fff;
    text-decoration:none;
}
#sh_website_coming_soon_section_28 .social a:hover {
    color: #145AC4;
}
 @media (max-width:991px){#sh_website_coming_soon_section_28 .styled div{margin:0px 5px;}}
 @media (max-width:780px){
  #sh_website_coming_soon_section_28 .styled div { margin-top: 20px;margin-bottom: 28px}
  #sh_website_coming_soon_section_28 .heading h2{font-size: 35px;}
  #sh_website_coming_soon_section_28 .heading strong{font-size: 15px;}
  #sh_website_coming_soon_section_28 .styled div {margin: 35px 5px;}
  #sh_website_coming_soon_section_28 .countdown{margin-top:0px;}
  #sh_website_coming_soon_section_28 .styled { margin-bottom:0px;}
  #sh_website_coming_soon_section_28 .heading{    margin-bottom: 0px;}
  #sh_website_coming_soon_section_28 .styled div:before{border-left: 60px solid transparent; border-right: 60px solid transparent;}
  #sh_website_coming_soon_section_28 .styled div:after{border-left: 60px solid transparent; border-right: 60px solid transparent;}
  #sh_website_coming_soon_section_28 .styled div{width:120px; height: 60px;    line-height: 35px;}
  
 }
 
 /*--sh_website_coming_soon_section_28--*/
 
 
 
 
 /*--sh_website_coming_soon_section_29--*/
 	#sh_website_coming_soon_section_29{    background-position: center;
    height: 100% !important;width: 100%;background:url(https://images.pexels.com/photos/1303081/pexels-photo-1303081.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);background-repeat: no-repeat;background-size: cover;}
	#sh_website_coming_soon_section_29 .sh_bg{background:rgba(0,0,0,.5);height:100%;}
	#sh_website_coming_soon_section_29 .sh_content{text-align: center; position: absolute;left: 50%;top: 50%;width:80%;transform: translate(-50% , -50%);}
    #sh_website_coming_soon_section_29 .sh_content .sh_logo{padding-bottom: 25px;}
    #sh_website_coming_soon_section_29 .sh_content .sh_logo img{max-width: 200px;}
    #sh_website_coming_soon_section_29 .sh_content .sh_content_text h2{margin-bottom: 20px;font-size: 60px;line-height: 1.5;
    font-family: "Work Sans", Arial, sans-serif;font-weight: 300;color: #fff;}
    #sh_website_coming_soon_section_29 .sh_content .sh_content_text p{font-size: 18px;color: #fff;letter-spacing: 2px;}
    #sh_website_coming_soon_section_29 .sh_content .sh_countdown .sh_days{display: inline-block;width: 110px;padding:30px 0;
    	background: rgba(0, 0, 0, 0.2);border-bottom: 4px solid rgba(250, 70, 89, 0.5);margin: 0 7px;position: relative;
    	animation: pulse 1.01s ease infinite;}
	@keyframes pulse{0% {transform: scale(1);}
	   50% {transform: scale(1.03);}
	   100% {transform: scale(1);}}
    #sh_website_coming_soon_section_29 .sh_content .sh_countdown .sh_hours{display: inline-block;width: 110px;padding:30px 0;
    	background: rgba(0, 0, 0, 0.2);border-bottom: 4px solid rgba(250, 70, 89, 0.5);margin: 0 7px;position: relative;
    	animation: pulse 1.01s ease infinite;}
    #sh_website_coming_soon_section_29 .sh_content .sh_countdown .sh_minutes{display: inline-block;width: 110px;padding:30px 0;
    	background: rgba(0, 0, 0, 0.2);border-bottom: 4px solid rgba(250, 70, 89, 0.5);margin: 0 7px;position: relative;
    	animation: pulse 1.01s ease infinite;}
    #sh_website_coming_soon_section_29 .sh_content .sh_countdown .sh_seconds{display: inline-block;width: 110px;padding:30px 0;
    	background: rgba(0, 0, 0, 0.2);border-bottom: 4px solid rgba(250, 70, 89, 0.5);margin: 0 7px;position: relative;
    	animation: pulse 1.01s ease infinite;}		
	
    #sh_website_coming_soon_section_29 .sh_content .sh_countdown .sh_number{font-size:40px; color: #fff;}
    #sh_website_coming_soon_section_29 .sh_content .sh_countdown .sh_label{font-size: 16px;color: #fff; }
    #sh_website_coming_soon_section_29 .sh_content  ul li{display: inline-block;width: 30px;margin-top: 50px;
    height: 30px;background: red;border-radius: 50%;text-align: center;line-height: 30px;margin: 50px 5px 0;}
    #sh_website_coming_soon_section_29  .sh_content  ul li a{text-decoration: none;color: #fff;}
	
 @media only screen and (max-width: 1015px){
 #sh_website_coming_soon_section_29 .sh_content .sh_content_text p {font-size: 14px;}
 #sh_website_coming_soon_section_29 .sh_content .sh_content_text h2 {margin-bottom: 5px;font-size:35px;}
 }
    @media only screen and (max-width: 560px){
#sh_website_coming_soon_section_29 .sh_content .sh_countdown .sh_days{    padding: 20px 0;}
#sh_website_coming_soon_section_29 .sh_content .sh_countdown .sh_hours{ padding: 20px 0;}
#sh_website_coming_soon_section_29 .sh_content .sh_countdown .sh_minutes{ padding: 20px 0;}
 #sh_website_coming_soon_section_29 .sh_content .sh_countdown .sh_seconds{ padding: 20px 0;}
}
@media only screen and (max-width: 360px){
	#sh_website_coming_soon_section_29 .sh_content  ul{padding-left:0;}
	#sh_website_coming_soon_section_29 .sh_content .sh_countdown .sh_days,
	#sh_website_coming_soon_section_29 .sh_content .sh_countdown .sh_hours{
		margin-bottom:5%;
	}
	#sh_website_coming_soon_section_29  .sh_content  ul li{margin-top:50px;}
}
     /*--sh_website_coming_soon_section_29--*/
    
 
     /*--sh_website_coming_soon_section_30--*/
 #sh_website_coming_soon_section_30{  
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100% !important;
    }
#sh_website_coming_soon_section_30 .overlay {
    background-color: rgba(39, 39, 39, 0.75);
    color: #fff;
    font-size: 40px;
    padding-top: 80px;
    width: 100%;
    height: 100%;
    min-height: 100%;
    position: fixed;
    overflow: auto;
}
 #sh_website_coming_soon_section_30 p{font-size:19px;}
 #sh_website_coming_soon_section_30 .text-section h1 {
    color: #fff;
    padding-bottom: 30px;
    font-size: 85px;
    font-weight: 600;
    text-transform: uppercase;

}
 #sh_website_coming_soon_section_30 .text-section{
     position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
 }
 #sh_website_coming_soon_section_30 .btn-facebook {
    background-color: #3b5998;
}
 #sh_website_coming_soon_section_30 .btn-social {
    color: white;
    opacity: 0.8;
}
 #sh_website_coming_soon_section_30 .btn-google {
    background-color: #c32f10;
}

#sh_website_coming_soon_section_30 .btn-twitter {
    background-color: #00aced;
}

#sh_website_coming_soon_section_30 .btn-linkedin {
    background-color: #0e76a8;
}

#sh_website_coming_soon_section_30 .btn-github {
    background-color: #2a2a2a;
}
#sh_website_coming_soon_section_30 .btn-instagram {
background: radial-gradient(circle at 30%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
}

#sh_website_coming_soon_section_30 .btn-social:hover {
    color: white;
    opacity: 1;
    text-decoration: none;
}
@media(max-width:653px){
#sh_website_coming_soon_section_30 .text-section h1 {
    color: #fff;
    padding-bottom: 30px;
    font-size: 55px;
    }
}

 /*--sh_website_coming_soon_section_30--*/



