@media screen and (max-width: 540px) {
    .hidden_mobile {
        display: none !important;
    }
}
@media screen and (min-width: 540px) and (max-width: 860px) {
    .hidden_tablet {
        display: none !important;
    }
}
.knowledge_base_hidden {
    display: none !important;
}
.knowledge_base_box {
    background-color: #2125291c  !important;
    /* box-shadow: inset 0 0 1px black; */
    padding: 15px 15px   !important;
    /* cursor: pointer; */
    border-radius: 8px   !important;
}
.knowledge_base_big_box {
    background-color: #2125291c  !important;
    /* box-shadow: inset 0 0 1px black; */
    padding: 15px 0px   !important;
    margin: 10px 0px   !important;
    border-radius: 20px   !important;
}
.knowledge_base_sides {
    padding-left: 10px;
}
.not_done_like {
   color: #8f8f8f !important;
}
.pluslink, .pluslink:visited,.pluslink:hover,.pluslink:active {
    text-decoration:none;
  }
.knowledge_base_sub_div{
    color: black !important;
}
.done_like {
   color: black !important;
}
/* Overload standard jstree styles */
div.knowledge_base_sections_js_tree > .jstree-default .jstree-hovered {
    background: transparent;
    border-radius: 0px;
    box-shadow: inset 0 0 1px #cccccc;
}
div.knowledge_base_sections_js_tree > .jstree-default .jstree-context {
    background: transparent;
    border-radius: 0px;
    box-shadow: inset 0 0 1px #cccccc;
}
div.knowledge_base_sections_js_tree > .jstree-default .jstree-clicked {
    background: transparent;
    border-radius: 0px;
    box-shadow: none;
}
div.knowToolTip {
    position: absolute;
    z-index: 1; 
    border: 2px groove grey; 
    background-color: white; 
    min-width: 600px; 
    max-width: 800px;
    overflow-wrap: break-word;
    overflow: hidden;
    white-space: normal;
    padding: 4px;
}
