
.pos .pos-receipt {
    text-align: left;
    width: 300px;
    background-color: white;
    /*margin: 20px;*/
    /*padding: 15px;*/
    /* padding-left: 0px; */
    font-size: 14px !important;
    /* padding-bottom:30px; */
    display: inline-block;
    font-family: inherit;
    border: solid 1px rgb(220,220,220);
    border-radius: 3px;
    overflow: hidden;
}
.pos .pos-receipt .company_card {
    border-bottom: 1px dashed; 
    padding-bottom: 3px;
    /* display: inline-block; */
}
.pos .pos-receipt .company_info {
    width: 55%; 
    float: left; 
    padding: 20px 0px 6px;
}
.pos .pos-receipt .company_info .company_name {
    font-size: 22px; 
    font-weight: bold;
}
.pos .pos-receipt .company_logo {
    width: 35%;
    float: right;
}

.pos_underline{
	text-decoration: underline;
	padding-top: 10px;
}


