
$-color-Primary:map-get($-palette-default, 'alpha');
$-color-Primary_user:map-get($o-user-theme-color-palette, 'alpha');
@if ($-color-Primary_user) {
$-color-Primary : $-color-Primary_user;
}

$-color-secondary:map-get($-palette-default, 'beta');
$-color-secondary_user:map-get($o-user-theme-color-palette, 'beta');
@if ($-color-secondary_user) {
$-color-secondary : $-color-secondary_user;
}







* {
    box-sizing: border-box;
}

#portfolio {
    /* background-color: #f1f1f1; */
    padding: 20px;
    font-family: Arial;
}

#portfolio body {
    background-color: #f1f1f1;
    padding: 20px;
    font-family: Arial;
}


/* Center website */

#portfolio .main {
    max-width: 1000px;
    margin: auto;
}

#portfolio h1 {
    font-size: 50px;
    word-break: break-all;
}

#portfolio .row {
    margin: 8px -16px;
}


/* Add padding BETWEEN each column (if you want) */

#portfolio .row,
#portfolio .row > .column {
    padding: 8px;
}


/* Create three equal columns that floats next to each other */

#portfolio .column {
    /* float: left;
    width: 33.33%; */
    display: none;
    /* Hide columns by default */
}


/* Clear floats after rows */

#portfolio .row:after {
    content: "";
    display: table;
    clear: both;
}


/* Content */

#portfolio .content {
    background-color: white;
    padding: 10px;
}


/* The "show" class is added to the filtered elements */

#portfolio .show {
    display: block;
}


/* Style the buttons */

#portfolio .btn {
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: white;
    cursor: pointer;
}


/* Add a grey background color on mouse-over */

#portfolio .btn:hover {
    background-color: #ddd;
}


/* Add a dark background color to the active button */

#portfolio .btn.active_port {
    background-color: #666;
    color: white;
}


/* custom code start here....*/

// Styling for the portfolio section
#portfolio {
   #sh_portfolio .portfolio-item {
        right: 0;
        margin: 0 0 15px;
       #sh_portfolio .portfolio-link {
            position: relative;
            display: block;
            max-width: 400px;
            margin: 0 auto;
            cursor: pointer;
           #sh_portfolio .portfolio-hover {
                position: absolute;
                width: 100%;
                height: 100%;
                -webkit-transition: all ease 0.5s;
                -moz-transition: all ease 0.5s;
                transition: all ease 0.5s;
                opacity: 0;
                background: fade-out($primary, .1);
                &:hover {
                    opacity: 1;
                }
               #sh_portfolio .portfolio-hover-content {
                    font-size: 20px;
                    position: absolute;
                    top: 50%;
                    width: 100%;
                    height: 20px;
                    margin-top: -12px;
                    text-align: center;
                    color: white;
                    i {
                        margin-top: -12px;
                    }
                    h3,
                    h4 {
                        margin: 0;
                    }
                }
            }
        }
       #sh_portfolio .portfolio-caption {
            max-width: 400px;
            margin: 0 auto;
            padding: 25px;
            text-align: center;
            background-color: $white;
          #sh_portfolio  h4 {
                margin: 0;
                text-transform: none;
            }
          #sh_portfolio  p {
                font-size: 16px;
                font-style: italic;
                margin: 0;
                //@include serif-font;
            }
        }
    }
    * {
        z-index: 2;
    }
}

@media(min-width:767px) {
    #portfolio {
        .portfolio-item {
            margin: 0 0 30px;
        }
    }
}

#sh_portfolio .portfolio-modal {
    padding-right: 0px !important;
    #sh_portfolio .modal-dialog {
        margin: 1rem;
        max-width: 100vw;
    }
    #sh_portfolio .modal-content {
        padding: 100px 0;
        text-align: center;
       #sh_portfolio h2 {
            font-size: 3em;
            margin-bottom: 15px;
        }
       #sh_portfolio p {
            margin-bottom: 30px;
        }
       #sh_portfolio p.item-intro {
            font-size: 16px;
            font-style: italic;
            margin: 20px 0 30px;
            //@include serif-font;
        }
       #sh_portfolio ul.list-inline {
            margin-top: 0;
            margin-bottom: 30px;
        }
       #sh_portfolio img {
            margin-bottom: 30px;
        }
       #sh_portfolio button {
            cursor: pointer;
        }
    }
   #sh_portfolio .close-modal {
        position: absolute;
        top: 25px;
        right: 25px;
        width: 75px;
        height: 75px;
        cursor: pointer;
        background-color: transparent;
        &:hover {
            opacity: 0.3;
        }
       #sh_portfolio .lr {
            /* Safari and Chrome */
            z-index: 1051;
            width: 1px;
            height: 75px;
            margin-left: 35px;
            /* IE 9 */
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
            background-color: $gray-900;
            .rl {
                /* Safari and Chrome */
                z-index: 1052;
                width: 1px;
                height: 75px;
                /* IE 9 */
                -webkit-transform: rotate(90deg);
                -ms-transform: rotate(90deg);
                transform: rotate(90deg);
                background-color: $gray-900;
            }
        }
    }
    #sh_portfolio .modal-backdrop {}
}

#portfolio .portfolio-item {
    right: 0;
    margin: 0 0 15px;
}

#portfolio .portfolio-item .portfolio-link {
    position: relative;
    display: block;
    max-width: 400px;
    margin: 0 auto;
    cursor: pointer;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    transition: all ease 0.5s;
    opacity: 0;
    background: rgba(254, 209, 54, 0.9);
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover:hover {
    opacity: 1;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
    font-size: 20px;
    position: absolute;
    top: 50%;
    width: 100%;
    height: 20px;
    margin-top: -12px;
    text-align: center;
    color: white;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content i {
    margin-top: -12px;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h3,
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h4 {
    margin: 0;
}

#portfolio .portfolio-item .portfolio-caption {
    max-width: 400px;
    margin: 0 auto;
    padding: 25px;
    text-align: center;
    background-color: #fff;
}

#portfolio .portfolio-item .portfolio-caption h4 {
    margin: 0;
    text-transform: none;
}

#portfolio .portfolio-item .portfolio-caption p {
    font-size: 16px;
    font-style: italic;
    margin: 0;
    font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#portfolio * {
    z-index: 2;
}

@media (min-width: 767px) {
    #portfolio .portfolio-item {
        margin: 0 0 30px;
    }
}

.portfolio-modal {
    padding-right: 0px !important;
}

.portfolio-modal .modal-dialog {
    margin: 1rem;
    max-width: 100vw;
}

.portfolio-modal .modal-content {
    padding: 100px 0;
    text-align: center;
}

.portfolio-modal .modal-content h2 {
    font-size: 3em;
    margin-bottom: 15px;
}

.portfolio-modal .modal-content p {
    margin-bottom: 30px;
}

.portfolio-modal .modal-content p.item-intro {
    font-size: 16px;
    font-style: italic;
    margin: 20px 0 30px;
    font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.portfolio-modal .modal-content ul.list-inline {
    margin-top: 0;
    margin-bottom: 30px;
}

.portfolio-modal .modal-content img {
    margin-bottom: 30px;
}

.portfolio-modal .modal-content button {
    cursor: pointer;
}

.portfolio-modal .close-modal {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 75px;
    height: 75px;
    cursor: pointer;
    background-color: transparent;
}

.portfolio-modal .close-modal:hover {
    opacity: 0.3;
}

.portfolio-modal .close-modal .lr {
    /* Safari and Chrome */
    z-index: 1051;
    width: 1px;
    height: 75px;
    margin-left: 35px;
    /* IE 9 */
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    background-color: #212529;
}

.portfolio-modal .close-modal .lr .rl {
    /* Safari and Chrome */
    z-index: 1052;
    width: 1px;
    height: 75px;
    /* IE 9 */
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    background-color: #212529;
}

#sh_portfolio {
    padding: 50px 0 35px;
}

.portfolio-modal .modal-dialog {
    width: 100% !important;
}


/*-------------
         PORTFOLIO strat
         --------------*/

#sh_portfolio .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: all .3s;
    //background-color: #0d0d0d82;
}

#sh_portfolio .item-wrap:hover .overlay {
    opacity: 1;
}

#sh_portfolio .icon {
    width: 100%;
    display: block;
    margin: 0 auto;
    line-height: 340px;
    font-size: 40px;
    color: #fff;
    z-index: 99;
    text-align: center;
}

#sh_portfolio .icon2 {
    color: #000;
    width: 40px;
    height: 40px;
    background: rgba(255, 255, 255, .8);
    line-height: 40px;
    position: absolute;
    top: 70px;
    right: 20px;
    z-index: 99;
    text-align: center;
}

#sh_portfolio .fa-user {
    font-size: 40px;
}

#sh_portfolio .fa-user:hover {
    color: #eee;
}

#sh_portfolio {
    float: left;
    width: 100%;
    position: relative;
}

#sh_portfolio .sub_portfolio {
    float: left;
    width: 100%;
}

#sh_portfolio .port_title {
    width: 100%;
    float: left;
    margin-bottom: 5px;
}

#sh_portfolio .port_title span {
    color: #5468ff;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}

#sh_portfolio .port_head {
    text-align: center;
}

#sh_portfolio .title {
    position: relative;
    float: left;
    width: 100%;
    margin-top: 0px;
}

#sh_portfolio .title span {
    font-size: 34px;
    font-weight: 600;
    margin-bottom: 20px;
    position: relative;
    width: 100%;
    float: left;
}



#sh_portfolio .port_dec {
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    line-height: 1.6;
    color: #838383;
    background-color: #fff;
    font-weight: 400;
}


/*--isolate-css--*/


/* Isotope Transitions--*/

#sh_portfolio.isotope,
.isotope .item {
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -ms-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;
}

#sh_portfolio.isotope {
    -webkit-transition-property: height, width;
    -moz-transition-property: height, width;
    -ms-transition-property: height, width;
    -o-transition-property: height, width;
    transition-property: height, width;
}

#sh_portfolio .isotope .item {
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property: -moz-transform, opacity;
    -ms-transition-property: -ms-transform, opacity;
    -o-transition-property: top, left, opacity;
    transition-property: transform, opacity;
}

#sh_portfolio .button-group {
    text-align: center;
}

#sh_portfolio .btn-primary {
    border-radius: 0;
    background: #fff;
    border: none;
    color: #222;
    font-weight: 600;
    font-size: 13px;
    font-family: "Roboto", sans-serif;
}

#sh_portfolio .btn-primary:hover {
    background: $-color-Primary;
    outline: none;
    color: #fff;
}

#sh_portfolio .btn-primary:active_port {
    background: $-color-Primary;
    color: #fff;
    border: none;
    outline: none;
    box-shadow: none;
}

#sh_portfolio .btn-primary:focus {
    background: $-color-Primary;
    color: #fff;
    outline: none;
    box-shadow: none;
}

#sh_portfolio .btn-primary:active_port:focus {
    background: $-color-Primary;
    color: #5468ff;
    outline: none;
}

#sh_portfolio .active_port,
#sh_portfolio .btn-primary:hover {
    background-color: $-color-Primary;
    color: #fff;
}

#sh_portfolio .item-wrap {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

#sh_portfolio .item-wrap img {
    width: 100%;
    object-fit: cover;
}

#sh_portfolio .load_more {
    float: left;
    width: 100%;
    text-align: center;
    margin: 30px 0px 20px;
}

#sh_portfolio .load_more li {
    list-style: none;
}

#sh_portfolio .load_biutton a {
    text-decoration: none;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    border: 1px solid #5468ff;
    background: #5468ff;
    display: inline-block;
    color: #fff;
    padding: 5px 15px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    -webkit-transition: all .35s;
    -o-transition: all .35s;
    transition: all .35s;
    -moz-transition: all .35s;
    -ms-transition: all .35s;
    line-height: 16px
}

#sh_portfolio .load_biutton a:hover {
    background: #fff;
    color: #5468ff
}

#sh_portfolio .item-wrap .img-responsive:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: scale(0.96);
    -ms-transform: scale(0.96);
    -o-transform: scale(0.96);
    transform: scale(0.96);
    z-index: 1;
    -webkit-transition: all .35s;
    -o-transition: all .35s;
    transition: all .35s;
    -moz-transition: all .35s;
    -ms-transition: all .35s;
}

#sh_portfolio .Concept_button {
    margin-top: 30px;
    text-align: center;
    float: left;
    width: 100%
}

#sh_portfolio .btn-theme {
    background: #337ab7;
    color: #fff;
    overflow: hidden;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    font-size: 12px;
    font-weight: 600;
    padding: 0 24px;
    position: relative;
    display: inline-block;
    line-height: 46px;
    z-index: 1;
    letter-spacing: 1px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    -webkit-box-shadow: 0 10px 30px 0 rgba(0, 0, 0, .15);
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, .15);
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    display: inline-block;
    margin: 0px 10px 0px 0px;
    padding-right: 36px;
}

#sh_portfolio .btn-theme:hover {
    color: #fff;
    background: #286090;
}

#sh_portfolio .btn-theme:after {
    content: '\f061';
    font-family: "FontAwesome";
    position: absolute;
    top: 17px;
    right: 14px;
    color: #fff;
    z-index: 1;
    line-height: 1;
    font-weight: 100;
}


/*--responsive-isolate--*/

#sh_portfolio .overlay .sh_text {
    position: absolute;
    bottom: 0;
    left: 20px;
    color: #fff;
}

@media (max-width: 1920px) {
    #sh_portfolio .img-responsive {
        height: 20em;
    }
}

@media screen and (min-width:991px) and (max-width:1200px) {
    #sh_portfolio .modal-dialog {
        max-width: 800px;
    }
    #sh_portfolio .img-responsive {
        height: 17em;
    }
    #sh_portfolio .icon {
        line-height: 310px;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    #sh_portfolio .modal-dialog {
        max-width: 680px !important;
    }
    #sh_portfolio .img-responsive {
        height: 13em;
    }
    #sh_portfolio .icon {
        line-height: 230px;
    }
}

@media (min-width: 320px) and (max-width: 767px) {
    #sh_portfolio .modal-dialog {
        max-width: 500px !important;
    }
    #sh_portfolio .img-responsive {
        height: 15em;
        width: 100%
    }
    #sh_portfolio .icon {
        line-height: 255px;
    }
}

@media (max-width: 576px) {
    #sh_portfolio .icon {
        line-height: 255px;
    }
}

@media (max-width: 415px) {
    #sh_portfolio .col-xs-6 {
        width: 100%!important
    }
}


/*--responsive-isolate--*/


/*-----------
         PORTFOLIO end
         ------------*/

#sh_portfolio .modal-dialog {
    max-width: 800px;
}

#sh_portfolio .modal {
    padding: 0 !important;
}

#sh_portfolio .modal-header {
    border-bottom: none;
}

#sh_portfolio .modal-header button {
    font-size: 30px;
}

#sh_portfolio .modal-content {
    padding: 0px !important;
}

#sh_portfolio .modal-body {
    text-align: center;
}

#sh_portfolio .modal-body h5 {
    text-transform: capitalize;
    margin-bottom: 20px;
    font-size: 26px;
}

#sh_portfolio .modal-body p {
    margin-top: 30px;
    padding: 0 30px;
}

#sh_portfolio .modal-footer {
    justify-content: center;
    padding: 0;
    padding-bottom: 2rem;
    border-top: none;
}

#sh_portfolio #posts {
    margin-top: 20px;
}

#sh_portfolio .modal-header .close {
    background-color: #fff !important;
    color: #000 !important;
    opacity: 1 !important;
    outline: none;
}

#sh_portfolio .modal-footer button.btn.btn-info{background-color: $-color-Primary;border-color: $-color-Primary;}
