

#wrap.js_blog website_blog .navbar-light{box-shadow: none !important;}






#o_wblog_posts_loop article{box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12) !important;}
#o_wblog_posts_loop article > div{padding: 0 10px;}
#o_wblog_posts_loop article div a.o_blog_post_title {font-weight: 600;}
.website_blog #o_wblog_posts_loop .o_wblog_normalize_font{display: -webkit-box;-webkit-line-clamp: 4;-webkit-box-orient: vertical;overflow: hidden;}
.website_blog .o_wblog_read_text ol li{font-size: 14px;}
#wrap.js_blog website_blog{background: red;}
#o_wblog_index_content article .o_wblog_post_short_tag_section .badge{padding: 0.5em 0.5em;}



