


*{
    box-sizing:border-box;
}
// style 2 start //






@media screen and (max-width:768px) {

    .sh_corpomate_main_navbar_section_style_2{
        position: fixed;
        bottom: 0;
        background: #fff;
        width: 100%;
        padding:10px 0px 0px 0px;
        z-index:1122;
        opacity: 1;
        border-radius: 10px;
        box-sizing: border-box;
        border-bottom-left-radius:0px;
        border-bottom-right-radius:0px;
        box-shadow: 0px -3px 10px #d7d7d7;
        display: flex;
    }
    
    .sh_corpomate_main_navbar_section_style_2 .sh_bottom_nav{
        // display: inline-flex;
        // justify-content:unset;
        // overflow: scroll;
        display: flex;
        justify-content: space-between;
        // overflow: auto;
         width: 100%;
    }


    .sh_corpomate_main_navbar_section_style_2 .sh_bottom_nav::-webkit-scrollbar {
        width: 0px;
        background-color:transparent;
        height: 0px;
    }


    
    .sh_corpomate_main_navbar_section_style_2 .sh_bottom_nav span{
        font-size: 20px;
        height: 50px;
        color:#c3c9d3;
        width:auto;
        text-align: center;
        line-height: 0px;
        border-radius: 4px;
        transition: 1s;
        margin: 0px 10px 0px 7px;
    }
   

    .sh_corpomate_main_navbar_section_style_2 .sh_bottom_nav .menu-text{
        font-size:12px;
        height: 50px;
        color:#c3c9d3;
        width: 50px;
        text-align: center;
        line-height:30px;
        border-radius: 4px;
        transition: 1s;
        text-transform:capitalize;
        white-space: pre;
    }
        
} 
.sh_corpomate_main_navbar_section_style_2 .no_text span{
    padding-top: 10px;
}

// .sh_corpomate_main_navbar_section_style_2 .sh_bottom_nav .nav-menu .navbar_lang_cl + .menu-text{
//     // line-height: 29px
// }

 .sh_corpomate_main_navbar_section_style_2 .js_language_selector  .sh_corpomate_flag_design{
    border: 2px solid $-color-Primary;;
    border-radius: 50px;
    padding: 2px;
}






 .o_rtl .sh_corpomate_main_navbar_section_style_2 .sh_bottom_nav .nav-menu .navbar_lang_cl + .menu-text{
    position: relative;
 }
.sh_corpomate_main_navbar_section_style_2 .sh_bottom_nav .menu-text1{
    font-size: 12px;
    height: 50px;
    color: #c3c9d3;
    width: auto;
    text-align: center;
    line-height: 20px;
    border-radius: 4px;
    transition: 1s;
    margin: 0px 10px 0px 7px;
}

.sh_corpomate_main_navbar_section_style_2 .sh_bottom_nav .nav-menu .navbar_lang_cl img{
    // float: left;
     margin-right:0px !important;
    height: 25px;
    width: 25px;
}













    .sh_corpomate_main_navbar_section_style_2 .sh_bottom_nav .nav-menu:hover span{
        color:$-color-Primary;
    }
    
    .sh_corpomate_main_navbar_section_style_2 .sh_bottom_nav  .navbar_custom_cl.active span{
        color:$-color-Primary;  
    }
    
    
    
    
    .sh_corpomate_main_navbar_section_style_2 .navbar_lang_cl span {
        padding-left:0px;
        color: #000 !important;
        font-size: 14px;
    
    }

    .sh_corpomate_main_navbar_section_style_2 .js_language_selector .btn-sm, .btn-group-sm > .btn {
        padding: 0.0625rem 13px;
        font-size: 0.75rem;
        line-height: 1.5;
        border-radius: 0.2rem;
        margin-bottom: -26px;
    }


    .o_rtl .sh_corpomate_main_navbar_section_style_2 .js_language_selector .btn-sm, .btn-group-sm > .btn{
        font-size: 0.75rem;
    line-height: 1.5;
    border-radius: 0.2rem;
    position: relative;
    right: -5px;
    height: 4px;
    width: 0px;
    display: grid;
    right: 10px;
    left: auto;
    margin-bottom: 17px;
    }


    .sh_corpomate_main_navbar_section_style_2 .js_language_selector .btn span{
        padding:0px;
        display: none;
    }
   
 
    // .sh_corpomate_main_navbar_section_style_2 .js_language_selector .show{
            
    //         top: auto !important;
    //         bottom:75px;
    // }


    .sh_corpomate_main_navbar_section_style_2 .js_language_selector .o_lang_flag {
        width: 20px;
        height: 20px;
        margin-left: 0.2em;
        border-radius: 50rem;
        /* position: absolute; */
        margin: 0px auto;
        /* text-align: center; */
        /* margin: 0px auto; */
        display: flex;
        justify-content: center;
        align-items: center;
        vertical-align: middle;
    }



    .sh_corpomate_main_navbar_section_style_2 .js_language_selector  .sh_corpomate_flag_design .o_lang_flag {
        width: 1.5em;
        height: 1.5em;
        margin-right: 0px !important;
        border-radius: 50rem;
    }

    
    .sh_corpomate_main_navbar_section_style_2 .sh_language_selector ul li:last-child{
        margin-bottom: 10px !important;
    }

    .sh_corpomate_main_navbar_section_style_2 ul.sh_corpomate_lang_dropdown_area li a img.img-responsive{
    margin-right: 10px !important;
        background-color: red;
    }


// 


.sh_corpomate_main_navbar_section_style_2 .js_language_selector.dropdown-menu .js_change_lang {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex!important;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
     padding: 10px !important;
}


.sh_corpomate_main_navbar_section_style_2 .sh_bottom_nav .nav-menu .navbar_lang_cl .dropdown-toggle{
    white-space:normal;
}




.btn-outline-secondary:not(:disabled):not(.o_wysiwyg_loader):not(.disabled):active, .btn-outline-secondary:not(:disabled):not(.o_wysiwyg_loader):not(.disabled).active, .show > .btn-outline-secondary.dropdown-toggle {
    /* color: #FFFFFF; */
    background-color: transparent;
     border-color:transparent;
}




    
    
    .sh_corpomate_main_navbar_section_style_2 .js_language_selector .btn-outline-secondary:hover {
         color: #FFFFFF;
         background-color:transparent;
         border-color:none !important;
         
    }
    .sh_corpomate_main_navbar_section_style_2 .js_language_selector .btn-outline-secondary:focus, .btn-outline-secondary.focus {
        box-shadow:none;
    }
    
    .sh_corpomate_main_navbar_section_style_2 .js_language_selector  .btn:focus, .btn.focus {
        outline: 0;
        box-shadow:none;
    }
    
    .sh_corpomate_main_navbar_section_style_2 .js_language_selector .btn-outline-secondary.dropdown-toggle:focus {
        box-shadow: none!important;
    }
    
    
    
    .sh_corpomate_main_navbar_section_style_2 .js_language_selector .btn-outline-secondary.dropdown-toggle:focus {
        color: #FFFFFF;
        background-color: #fff;
        border-color:transparent;
        box-shadow: none;
    }



    .sh_corpomate_main_navbar_section_style_2 .sh_bottom_nav  .navbar_lang_cl .img-responsive{
        float:none !important;
         margin-right:10px !important;
        height: 25px !important;
        width: 25px;
        border: 2px solid $-color-Primary;
        border-radius: 50%;
    }



    .sh_corpomate_main_navbar_section_style_2 .sh_language_selector .dropdown-menu.show{
        // bottom:-190px;
        // padding:0px;
        // top:auto !important;
        top: auto !important;
        bottom: 41px !important;
    }



  .sh_corpomate_main_navbar_section_style_2 .js_language_selector .dropdown-menu .js_change_lang span{ 
    display: flex;
    align-items: center;
    height: auto;
    width: auto;
    font-size: 13px;
  }
  .sh_corpomate_main_navbar_section_style_2 .js_language_selector .dropdown-menu .dropdown-item  .o_lang_flag {
    width: 1.5em;
    height: 1.5em;
    margin-right: 0.2em;
    border-radius: 50rem;
    border: 2px solid #647187;
}
    
    .sh_corpomate_main_navbar_section_style_2 .js_language_selector .dropdown-menu .dropdown-item {
        padding: 10px 5px !important;
        
    }
    .sh_corpomate_main_navbar_section_style_2 .js_language_selector .dropdown-menu a.active{
        border-left:5px solid black;
        background: #edf2fc;
    }
    
    
    .sh_corpomate_main_navbar_section_style_2 .js_language_selector .dropdown-menu .dropdown-menu.show {
        z-index: 3000;
    }
    .sh_corpomate_main_navbar_section_style_2 .navbar_lang_cl .dropdown-toggle::after {
        height:0;
        width:0;
        opacity:0;
      
    }

    
    .sh_corpomate_main_navbar_section_style_2 span.navbar_lang_cl{
        margin: -7px !important;
    }
     .o_rtl .sh_corpomate_main_navbar_section_style_2 span.navbar_lang_cl{
        margin: -24px !important;
    }



    // .sh_corpomate_main_navbar_section_style_2 .sh_language_selector ul li.active{
    //     border-left:5px solid black;
    //     background: #edf2fc;
    // }

    // .sh_corpomate_main_navbar_section_style_2 .sh_language_selector ul{
    //     padding-left:0px !important;
    // }
    

    


    
    

    @media screen and (max-width:360px) {
        .sh_corpomate_main_navbar_section_style_2 .sh_bottom_nav span{
            font-size: 20px;
            height: 50px;
            color:#c3c9d3;
            width:auto;
            text-align: center;
            line-height: 0px;
            border-radius: 4px;
            transition: 1s;
            margin: 0px 10px 0px 8px;
        }
    }



    .sh_corpomate_main_navbar_section_style_2 .sh_corpomate_max_line{
        justify-content: space-around;
    
    }

    // style 2 end //

// style 3 strat //


.sh_corpomate_main_navbar_section_style_3{
    position: fixed;
    opacity: 0;
    bottom: 0;
    background: #fff;
    width: 100%;
    left:0;
    padding: 0px 0px;
    z-index: 1;
    box-sizing: border-box;
    /* text-align: center; */
    display: flex;
    box-shadow: 0px -3px 5px #d7d7d7, 0px 5px 5px #d7d7d7;
    height: 56px;
}



  




    @media screen and (max-width:768px) {
    

       


        .sh_corpomate_main_navbar_section_style_3{
            position: fixed;
            opacity: 1;
            bottom: 0;
            background: #fff;
            width:100%;
            left:0;
            padding: 0px 0px;
            z-index: 1;
            box-sizing: border-box;
            display: flex;
            /* text-align: center; */
            box-shadow: 0px -3px 5px #d7d7d7, 0px 5px 5px #d7d7d7;
            height: 56px;
        }

        
        .sh_corpomate_main_navbar_section_style_3 .sh_bottom_nav  .navbar_lang_cl .img-responsive{
            float:none !important;
             margin-right:0px !important;
            height: 25px !important;
            width: 25px;
            border: 2px solid $-color-Primary;
            border-radius: 50%;
        }


        
        .sh_corpomate_main_navbar_section_style_3 .sh_bottom_nav{
            display: flex;
            justify-content:space-between;
            // overflow: scroll;
            width: 100%;
        
        }
        .sh_corpomate_main_navbar_section_style_3 .sh_bottom_nav::-webkit-scrollbar {
            width: 0px;
            background-color:transparent;
            height: 0px;
        }
    
        
        .sh_corpomate_main_navbar_section_style_3 .sh_bottom_nav span {
            font-size: 20px;
            height: 50px;
            color: #c3c9d3;
            width: 50px;
            text-align: center;
            line-height: 50px;
            border-radius: 4px;
            transition: 2s;
            margin: 0px 10px 0px 13.5px;
        }
        .sh_corpomate_main_navbar_section_style_3 .sh_bottom_nav span:hover{
            color:$-color-Primary;; 
            border-radius:50px;
        }
        
        .sh_corpomate_main_navbar_section_style_3 .sh_bottom_nav  .navbar_custom_cl.active i{
            color:$-color-Primary !important;
            // height: 50px;
            // width:50px;
        }
    }






















    

// style 2 start //

.sh_corpomate_main_navbar_section_style_2{
    position: fixed;
    bottom: 0;
    background: #fff;
    width: 100%;
    opacity: 0;
    padding:10px 0px 0px 0px;
    z-index:1122;
    border-radius: 10px;
    box-sizing: border-box;
    border-bottom-left-radius:0px;
    border-bottom-right-radius:0px;
    box-shadow: 0px -3px 10px #d7d7d7;
}






@media screen and (max-width:768px) {

    .sh_corpomate_main_navbar_section_style_2{
        position: fixed;
        bottom: 0;
        background: #fff;
        width: 100%;
        padding:10px 0px 0px 0px;
        z-index:1122;
        opacity: 1;
        border-radius: 10px;
        box-sizing: border-box;
        border-bottom-left-radius:0px;
        border-bottom-right-radius:0px;
        box-shadow: 0px -3px 10px #d7d7d7;
        display: flex;
    }
    
    .sh_corpomate_main_navbar_section_style_2 .sh_bottom_nav{
        // display: inline-flex;
        // justify-content:unset;
        // overflow: scroll;
        display: flex;
        justify-content: space-between;
         overflow: auto;
         width: 100%;
    }

    .sh_corpomate_main_navbar_section_style_2 .sh_bottom_nav::-webkit-scrollbar {
        width: 0px;
        background-color:transparent;
        height: 0px;
    }
    



    
    .sh_corpomate_main_navbar_section_style_2 .sh_bottom_nav span{
        font-size: 20px;
        height: 50px;
        color:#c3c9d3;
        width:auto;
        text-align: center;
        line-height: 0px;
        border-radius: 4px;
        transition: 1s;
        margin: 0px 10px 0px 7px;
    }
   

    .sh_corpomate_main_navbar_section_style_2 .sh_bottom_nav .menu-text{
        font-size:12px;
        height: 50px;
        color:#c3c9d3;
        width: 50px;
        text-align: center;
        line-height:30px;
        border-radius: 4px;
        transition: 1s;
        text-transform:capitalize;
        white-space: pre;
        
        
} 
.sh_corpomate_main_navbar_section_style_2 .no_text span{
    padding-top: 10px;
}


 .sh_corpomate_main_navbar_section_style_2 .js_language_selector  .sh_corpomate_flag_design{
    border: 2px solid $-color-Primary;;
    border-radius: 50px;
    padding: 2px;
}


.sh_corpomate_main_navbar_section_style_2 .sh_language_selector{
    position: fixed;
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
}

.sh_corpomate_main_navbar_section_style_2 .sh_language_selector .dropdown-menu.show {
    top: auto !important;
    bottom: 41px !important;
    width: 80% !important;
    left: 50% !important;
    transform: translateX(-50%) !important;
}





 .o_rtl .sh_corpomate_main_navbar_section_style_2 .sh_bottom_nav .nav-menu .navbar_lang_cl + .menu-text{
    position: relative;
 }
.sh_corpomate_main_navbar_section_style_2 .sh_bottom_nav .menu-text1{
    font-size: 12px;
    height: 50px;
    color: #c3c9d3;
    width: auto;
    text-align: center;
    line-height: 20px;
    border-radius: 4px;
    transition: 1s;
    margin: 0px 10px 0px 7px;
}

.sh_corpomate_main_navbar_section_style_2 .sh_bottom_nav .nav-menu .navbar_lang_cl img{
    // float: left;
     margin-right:0px !important;
    height: 25px;
    width: 25px;
}
.sh_corpomate_main_navbar_section_style_2 .navbar_lang_cl .js_cls_sh_corpomate_theme_flag_btn img.img-responsive{
    margin-right: -10px !important;
}


    .sh_corpomate_main_navbar_section_style_2 .js_language_selector.dropdown-menu .js_change_lang {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex!important;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
     padding: 10px !important;
   
    }


   







    .sh_corpomate_main_navbar_section_style_2 .sh_bottom_nav .nav-menu:hover span{
        color:$-color-Primary;; 
    }
    
    .sh_corpomate_main_navbar_section_style_2 .sh_bottom_nav  .navbar_custom_cl.active span{
        color:$-color-Primary;;  
    }
    
    
    
    
    .sh_corpomate_main_navbar_section_style_2 .navbar_lang_cl span {
        padding-left:0px;
        color: #000 !important;
        font-size: 14px;
    
    }

    .sh_corpomate_main_navbar_section_style_2 .js_language_selector .btn-sm, .btn-group-sm > .btn {
        padding: 0.0625rem 13px;
        font-size: 0.75rem;
        line-height: 1.5;
        border-radius: 0.2rem;
        margin-bottom: -26px;
    }


    .o_rtl .sh_corpomate_main_navbar_section_style_2 .js_language_selector .btn-sm, .btn-group-sm > .btn{
        font-size: 0.75rem;
    line-height: 1.5;
    border-radius: 0.2rem;
    position: relative;
    right: -5px;
    height: 4px;
    width: 0px;
    display: grid;
    right: 10px;
    left: auto;
    margin-bottom: 17px;
    }


    .sh_corpomate_main_navbar_section_style_2 .js_language_selector .btn span{
        padding:0px;
        display: none;
    }
   
    .sh_corpomate_main_navbar_section_style_2 .js_language_selector .o_lang_flag {
        width: 20px;
        height: 20px;
        margin-left: 0.2em;
        border-radius: 50rem;
        /* position: absolute; */
        margin: 0px auto;
        /* text-align: center; */
        /* margin: 0px auto; */
        display: flex;
        justify-content: center;
        align-items: center;
        vertical-align: middle;
    }



    .sh_corpomate_main_navbar_section_style_2 .js_language_selector  .sh_corpomate_flag_design .o_lang_flag {
        width: 1.5em;
        height: 1.5em;
        margin-right: 0px !important;
        border-radius: 50rem;
    }



    .sh_corpomate_main_navbar_section_style_2 .sh_language_selector ul li.active{
        border-left:5px solid black;
        background: #edf2fc;
    }

   
    .sh_corpomate_main_navbar_section_style_2 .sh_language_selector ul li a{
        display: block  !important;
        padding:5px;
    }
    .sh_corpomate_main_navbar_section_style_2 .sh_language_selector ul li:last-child{
        margin-bottom: 10px !important;
    }

    .sh_corpomate_main_navbar_section_style_2 ul.sh_corpomate_lang_dropdown_area li a img.img-responsive{
        margin-right: 10px !important;
        background-color: red;
    }
    .sh_corpomate_main_navbar_section_style_2 .sh_language_selector ul li.active{
        border-left:5px solid black;
        background: #edf2fc;
    }

    .sh_corpomate_main_navbar_section_style_2 .sh_language_selector ul{
        padding-left:0px !important;
    }






    .o_rtl .sh_corpomate_main_navbar_section_style_2 .sh_language_selector ul{
        padding: 0.5rem 0px !important;
    }


@media screen and (max-width:576px) {
     .sh_corpomate_main_navbar_section_style_2 .sh_language_selector ul .sh_corpomate_add_lang_option{
        display: none;
    }
}

    

    @media screen and (max-width:360px) {
        .sh_corpomate_main_navbar_section_style_2 .sh_bottom_nav span{
            font-size: 20px;
            height: 50px;
            color:#c3c9d3;
            width:auto;
            text-align: center;
            line-height: 0px;
            border-radius: 4px;
            transition: 1s;
            margin: 0px 10px 0px 8px;
        }
    }



    .sh_corpomate_main_navbar_section_style_2 .sh_corpomate_max_line{
        justify-content: space-around;
    
    }

    
        
        
}
    
    // style 2 end //

// style 3 strat //


.sh_corpomate_main_navbar_section_style_3{
    position: fixed;
    opacity: 0;
    bottom: 0;
    background: #fff;
    width: 100%;
    left:0;
    padding: 0px 0px;
    z-index: 1;
    box-sizing: border-box;
    /* text-align: center; */
    display: flex;
    height: 56px;
    box-shadow: 0px -3px 5px #d7d7d7, 0px 5px 5px #d7d7d7;
    
}






    @media screen and (max-width:768px) {
    




        .sh_corpomate_main_navbar_section_style_3{
            position: fixed;
            opacity: 1;
            bottom: 0;
            background: #fff;
            width:100%;
            left:0;
            padding: 0px 0px;
            z-index: 1;
            box-sizing: border-box;
            display: flex;
            height: 56px;
            /* text-align: center; */
            box-shadow: 0px -3px 5px #d7d7d7, 0px 5px 5px #d7d7d7;
            
        }

        
        .sh_corpomate_main_navbar_section_style_3 .sh_bottom_nav  .navbar_lang_cl .img-responsive{
            float:none !important;
             margin-right:0px !important;
            height: 25px !important;
            width: 25px;
            border: 2px solid $-color-Primary;
            border-radius: 50%;
        }


        
        .sh_corpomate_main_navbar_section_style_3 .sh_bottom_nav{
            display: flex;
            justify-content:space-between;
             overflow: scroll;
            width: 100%;
        
        }
        .sh_corpomate_main_navbar_section_style_3 .sh_language_selector{
            position: fixed;
            width: 80%;
            left: 50%;
            transform: translateX(-50%);
        }

        
        

        .sh_corpomate_main_navbar_section_style_3 .sh_bottom_nav::-webkit-scrollbar {
            width: 0px;
            background-color:transparent;
            height: 0px;
        }
        
        .sh_corpomate_main_navbar_section_style_3 .sh_bottom_nav span {
            font-size: 20px;
            height: 50px;
            color: #c3c9d3;
            width: 50px;
            text-align: center;
            line-height: 50px;
            border-radius: 4px;
            transition: 2s;
            margin: 0px 10px 0px 13.5px;
        }
        .sh_corpomate_main_navbar_section_style_3 .sh_bottom_nav span:hover{
            color:$-color-Primary;; 
            border-radius:50px;
        }
        
        .sh_corpomate_main_navbar_section_style_3 .sh_bottom_nav  .navbar_custom_cl.active i{
            color:$-color-Primary !important;
            // height: 50px;
            // width:50px;
            // border-radius: 50px;
            // line-height: 50px;  
        }
        
        .sh_corpomate_main_navbar_section_style_3 .navbar_lang_cl{
            margin:0px !important;
        } 
        
        


    .sh_corpomate_main_navbar_section_style_3 .sh_language_selector .dropdown-menu.show{
        // bottom:-190px;
        // padding:0px;
        // top:auto !important;
        top: auto !important;
        bottom: 64px !important;
        //transform: none !important;
}





        .sh_corpomate_main_navbar_section_style_3 .navbar_lang_cl span {
            padding-left:0px;
            color: #000;
            font-size: 14px;
            margin: 0px;
        
        }
        .sh_corpomate_main_navbar_section_style_3 .js_language_selector .btn span{
            padding:0px;
            display: none;
        }

        .sh_corpomate_main_navbar_section_style_3 .js_language_selector .btn-sm, .btn-group-sm > .btn {
            padding: 0.0625rem 16px;
             font-size: 0.75rem;
            line-height: 1.5;
            border-radius: 0.2rem;
            position: relative;
            top: 5px;
            left: -7px;
        }


        // .sh_corpomate_main_navbar_section_style_3 .js_language_selector .show{
        //     top: auto !important;
        //     bottom:86px;
        // }



            // .o_rtl .sh_corpomate_main_navbar_section_style_3 .dropdown-menu.show {
            //     width:auto  !important;
            //     top: auto !important;
            //     bottom: -174px;
              
            // }
        
            // .o_rtl .sh_corpomate_main_navbar_section_style_3 .sh_language_selector ul  a span{
            //     padding:0px 5px !important;
            // }
    
        




        .sh_corpomate_main_navbar_section_style_3 .js_language_selector .o_lang_flag {
            width: 1.5em;
            height: 1.5em;
            margin-right: 0.2em;
            border-radius: 50rem;
            margin: 0px auto;
        }

     
        .btn-outline-secondary:not(:disabled):not(.o_wysiwyg_loader):not(.disabled):active, .btn-outline-secondary:not(:disabled):not(.o_wysiwyg_loader):not(.disabled).active, .show > .btn-outline-secondary.dropdown-toggle {
            /* color: #FFFFFF; */
            background-color: transparent;
             border-color:transparent;
        }


        .sh_corpomate_main_navbar_section_style_3 .js_language_selector.dropdown-menu .js_change_lang{
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: row-reverse;
            padding:10px;
          }
        
          .sh_corpomate_main_navbar_section_style_3 .js_language_selector.dropdown-menu .js_change_lang span{ 
            display: flex;
            align-items: center;
            height: auto;
            width:auto;
            padding: 0px 10px;
            font-size: 12px;
            word-break: unset;
          }
          .sh_corpomate_main_navbar_section_style_3 .js_language_selector.dropdown-menu .dropdown-item  .o_lang_flag {
            width: 1.5em;
            height: 1.5em;
            margin-right: 0.2em;
            border-radius: 50rem;
            border: 2px solid #647187;
        position: relative;}

        .sh_corpomate_main_navbar_section_style_3 .sh_language_selector ul{
            padding:0px !important;
        }


        



         .o_rtl .sh_corpomate_main_navbar_section_style_3 .js_language_selector .btn-sm, .btn-group-sm > .btn {
            padding: 0.0625rem 16px;
            font-size: 0.75rem;
            line-height: 1.5;
            border-radius: 0.2rem;
            position: relative;
            top: 5px;
            right: -7px;
        }




        .sh_corpomate_main_navbar_section_style_3 .js_language_selector  .sh_corpomate_flag_design{
            border: 2px solid $-color-Primary;;
            border-radius: 50px;
            padding: 2px;
        }

        // .sh_corpomate_main_navbar_section_style_3 .js_language_selector img{
        //     // position: relative;
        // }

       
        
        
        .sh_corpomate_main_navbar_section_style_3 .js_language_selector .btn-outline-secondary:hover {
             color:transparent;
             background-color:transparent !important;
             border-color:none !important;
        }
        .sh_corpomate_main_navbar_section_style_3 .js_language_selector .btn-outline-secondary:focus, .btn-outline-secondary.focus {
            box-shadow:none;
        }
        
        .sh_corpomate_main_navbar_section_style_3 .js_language_selector  .btn:focus, .btn.focus {
            outline: 0;
            box-shadow:none;
        }
        
        .sh_corpomate_main_navbar_section_style_3 .js_language_selector .btn-outline-secondary.dropdown-toggle:focus {
            box-shadow: none!important;
        }
        
        
        
        .sh_corpomate_main_navbar_section_style_3 .js_lan.sh_corpomate_main_navbar_section_style_3 .sh_language_selector ul li.active{
            border-left:5px solid black;
            background: #edf2fc;
        }

        .sh_corpomate_main_navbar_section_style_3 .sh_language_selector ul{
            padding:0px !important;
        }
        .sh_corpomate_main_navbar_section_style_3 .sh_language_selector .btn-outline-secondary.dropdown-toggle:focus {
            color: #FFFFFF;
            background-color: #fff;
            border-color:transparent;
            box-shadow: none;
        }
        
        
        .sh_corpomate_main_navbar_section_style_3 .js_language_selector .dropdown-menu .dropdown-item {
            padding: 10px 10px !important;
        }
        
        
        .sh.sh_corpomate_main_navbar_section_style_3 .js_language_selector  .sh_corpomate_flag_design{
            border: 2px solid $-color-Primary;;
            border-radius: 50px;
            padding: 2px;
        }
        .sh_corpomate_main_navbar_section_style_3 .js_language_selector .dropdown-menu .dropdown-menu.show {
            z-index: 3000;
        }
        .sh_corpomate_main_navbar_section_style_3 .navbar_lang_cl .dropdown-toggle::after {
            height:0;
            width:0;
            opacity:0;
          
        }
        .sh_corpomate_main_navbar_section_style_3 .sh_language_selector .dropdown-menu.show {
            top: auto !important;
            bottom: 41px !important;
            width: 80% !important;
            left: 50% !important;
            transform: translateX(-50%) !important;
        }


    
        
        
        }


        @media screen and (max-width:576px) {
            .sh_corpomate_main_navbar_section_style_3 .sh_language_selector ul .sh_corpomate_add_lang_option{
               display: none;
           }
        }





        @media screen and (max-width:360px) {
            .sh_corpomate_main_navbar_section_style_3 .sh_bottom_nav span {
                font-size: 20px;
                height: 50px;
                color: #c3c9d3;
                width: 50px;
                text-align: center;
                line-height: 50px;
                border-radius: 4px;
                transition: 2s;
                margin: 0px 10px 0px 15.5px;
            }
        }
       

        .sh_corpomate_main_navbar_section_style_3 .sh_corpomate_max_line{
            justify-content: space-around;
        
        }

        // style 3 end //
        // style 3 end //
 
        .sh_corpomate_main_navbar_section_style_3 .navbar_lang_cl span {
            padding-left:0px;
            color: #000;
            font-size: 14px;
            margin: 0px;
        
        }
        .sh_corpomate_main_navbar_section_style_3 .js_language_selector .btn span{
            padding:0px;
            display: none;
        }

        .sh_corpomate_main_navbar_section_style_3 .js_language_selector .btn-sm, .btn-group-sm > .btn {
            padding: 0.0625rem 16px;
             font-size: 0.75rem;
            line-height: 1.5;
            border-radius: 0.2rem;
            position: relative;
            top: 5px;
            left: -7px;
        }


        // .sh_corpomate_main_navbar_section_style_3 .js_language_selector .show{
        //     top: auto !important;
        //     bottom:86px;
        // }



           
        
            // .o_rtl .sh_corpomate_main_navbar_section_style_3 .sh_language_selector ul  a span{
            //     padding:0px 5px !important;
            // }
    
        




        .sh_corpomate_main_navbar_section_style_3 .js_language_selector .o_lang_flag {
            width: 1.5em;
            height: 1.5em;
            margin-right: 0.2em;
            border-radius: 50rem;
            margin: 0px auto;
        }

     
        .btn-outline-secondary:not(:disabled):not(.o_wysiwyg_loader):not(.disabled):active, .btn-outline-secondary:not(:disabled):not(.o_wysiwyg_loader):not(.disabled).active, .show > .btn-outline-secondary.dropdown-toggle {
            /* color: #FFFFFF; */
            background-color: transparent;
             border-color:transparent;
        }


        .sh_corpomate_main_navbar_section_style_3 .js_language_selector.dropdown-menu .js_change_lang{
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: row-reverse;
            padding:10px;
          }
        
          .sh_corpomate_main_navbar_section_style_3 .js_language_selector.dropdown-menu .js_change_lang span{ 
            display: flex;
            align-items: center;
            height: auto;
            width:auto;
            padding: 0px 10px;
            font-size: 12px;
            word-break: unset;
          }
          .sh_corpomate_main_navbar_section_style_3 .js_language_selector.dropdown-menu .dropdown-item  .o_lang_flag {
            width: 1.5em;
            height: 1.5em;
            margin-right: 0.2em;
            border-radius: 50rem;
            border: 2px solid #647187;
        }

        .sh_corpomate_main_navbar_section_style_3 .sh_language_selector ul li.active{
            border-left:5px solid black;
            background: #edf2fc;
        }

        .sh_corpomate_main_navbar_section_style_3 .sh_language_selector ul{
            padding:0px !important;
        }


        



         .o_rtl .sh_corpomate_main_navbar_section_style_3 .js_language_selector .btn-sm, .btn-group-sm > .btn {
            padding: 0.0625rem 16px;
            font-size: 0.75rem;
            line-height: 1.5;
            border-radius: 0.2rem;
            position: relative;
            top: 5px;
            right: -7px;
        }




        .sh_corpomate_main_navbar_section_style_3 .js_language_selector  .sh_corpomate_flag_design{
            border: 2px solid $-color-Primary;;
            border-radius: 50px;
            padding: 2px;
        }

        // .sh_corpomate_main_navbar_section_style_3 .js_language_selector img{
        //     // position: relative;
        // }

       
        
        
        .sh_corpomate_main_navbar_section_style_3 .js_language_selector .btn-outline-secondary:hover {
             color:transparent;
             background-color:transparent !important;
             border-color:none !important;
        }
        .sh_corpomate_main_navbar_section_style_3 .js_language_selector .btn-outline-secondary:focus, .btn-outline-secondary.focus {
            box-shadow:none;
        }
        
        .sh_corpomate_main_navbar_section_style_3 .js_language_selector  .btn:focus, .btn.focus {
            outline: 0;
            box-shadow:none;
        }
        
        .sh_corpomate_main_navbar_section_style_3 .js_language_selector .btn-outline-secondary.dropdown-toggle:focus {
            box-shadow: none!important;
        }
        
        
        
        .sh_corpomate_main_navbar_section_style_3 .js_lan.sh_corpomate_main_navbar_section_style_3 .sh_language_selector ul li.active{
            border-left:5px solid black;
            background: #edf2fc;
        }

        .sh_corpomate_main_navbar_section_style_3 .sh_language_selector ul{
            padding:0px !important;
        }
        .sh_corpomate_main_navbar_section_style_3 .sh_language_selector .btn-outline-secondary.dropdown-toggle:focus {
            color: #FFFFFF;
            background-color: #fff;
            border-color:transparent;
            box-shadow: none;
        }
        
        
        .sh_corpomate_main_navbar_section_style_3 .js_language_selector .dropdown-menu .dropdown-item {
            padding: 10px 10px !important;
        }
        
        
        .sh.sh_corpomate_main_navbar_section_style_3 .js_language_selector  .sh_corpomate_flag_design{
            border: 2px solid $-color-Primary;;
            border-radius: 50px;
            padding: 2px;
        }
        .sh_corpomate_main_navbar_section_style_3 .js_language_selector .dropdown-menu .dropdown-menu.show {
            z-index: 3000;
        }
        .sh_corpomate_main_navbar_section_style_3 .navbar_lang_cl .dropdown-toggle::after {
            height:0;
            width:0;
            opacity:0;
          
        }

       

        .sh_corpomate_main_navbar_section_style_3 .sh_bottom_nav .nav-menu .navbar_lang_cl .dropdown-toggle{
            white-space:normal;
        }
        
        
        .sh_corpomate_main_navbar_section_style_3 .sh_language_selector .dropdown-menu.show {
            top: auto !important;
            bottom: 64px !important;
            width: 80% !important;
            left: 50% !important;
            transform: translateX(-50%) !important;
        }




        
        
    
        @media screen and (max-width:360px) {
            .sh_corpomate_main_navbar_section_style_3 .sh_bottom_nav span {
                font-size: 20px;
                height: 50px;
                color: #c3c9d3;
                width: 50px;
                text-align: center;
                line-height: 50px;
                border-radius: 4px;
                transition: 2s;
                margin: 0px 10px 0px 15.5px;
            }
        }
       

        .sh_corpomate_main_navbar_section_style_3 .sh_corpomate_max_line{
            justify-content: space-around;
        
        }

        // style 3 end //
        // style 3 enmatter


