.bg-200, .o_wevent_index .o_wevent_events_list.opt_event_list_cards_bg{background: #fff !important;}

.o_wevent_index .o_wevent_events_list .opt_events_list_columns header{border-radius: 0 !important;}
.o_wevent_index .o_wevent_sidebar_title{border: 0px !important;position: relative;color: $-color-Primary;font-size: 18px;}
.o_wevent_index .o_wevent_sidebar_title:before{content: '';position: absolute;bottom: 0;background: $-color-Primary;left: 0;width: 30px;height: 2px;}
.o_wevent_sidebar_block .country_events_list ul.list-group li.list-group-item{border-left: 0;border-right: 0;border-radius: 0 !important;}
#o_wevent_index_sidebar .o_wevent_sidebar_block.card .card-body{background: rgba(0, 0, 0, 0.03) !important;}


#o_wblog_post_content .o_wblog_post_content_field p{font-size: 14px;}
#o_wblog_post_content .o_wblog_post_content_field p.lead{font-size: 22px;}


#o_wevent_event_main_col .oe_structure h5{color: $-color-Primary;font-size: 22px;position: relative;padding-bottom: 10px;
    margin-bottom: 10px !important;}
#o_wevent_event_main_col .oe_structure > p.lead{font-size: 14px;}
#o_wevent_event_main_col .oe_structure > div.border-left{border-left-color: $-color-Primary !important;}
#o_wevent_event_main_col .oe_structure h5:before{content: '';position: absolute;bottom: 0;background: $-color-Primary;left: 0;width: 30px;height: 2px;}

.o_wevent_sidebar_block h6{color: #5967ef;font-size: 16px;position: relative;padding-bottom: 10px;margin-bottom: 10px !important;opacity: 1 !important;font-weight: 600;}
.o_wevent_sidebar_block h6:before{content: '';position: absolute;bottom: 0;background: $-color-Primary;left: 0;width: 30px;height: 2px;}

.o_wevent_events_list article{box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15) !important;border-radius: 0 !important;}
#o_wevent_index_sidebar .o_wevent_sidebar_block .badge {border-radius: 0;padding: 0.7rem 1rem;}
#o_wevent_index_sidebar .o_wevent_sidebar_block{margin: 0 0 1rem 0;}
#o_wevent_index_sidebar .o_wevent_sidebar_block.card .card-body p em{font-style: normal;}







