section.o_wforum_forum_card_bg{background: url('/sh_corpomate_theme/static/src/img/photo-1517245386807-bb43f82c33c4.jpeg') !important;background-size: cover;width: 100%;height: 100%;position: relative;padding: 70px 0 !important;}
section.o_wforum_forum_card_bg:before{content: '';position: absolute;top: 0;left: 0;background: rgba(0,0,0,0.5);z-index: 1;width: 100%;height: 100%;}
section.o_wforum_forum_card_bg .row.s_nb_column_fixed{z-index: 1;position: relative;}

.o_wprofile_email_validation_container .col .media{background: #f5f5f5;padding: 20px;border: 1px solid #ccc;}
.website_forum .o_wforum_nav .nav-link.active{background: $-color-Primary !important;color: #fff !important;border-radius: 0 !important;}
.o_wprofile_email_validation_container aside a.nav-link.rounded-pill i{color: $-color-Primary;opacity: 1 !important;}
