



#jobs_grid ul.list-unstyled li.media{display: inline-block; width: 33%;padding: 10px;vertical-align: top;margin-top: 1rem;}
#jobs_grid ul.list-unstyled li.media .media-body{padding: 20px;box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12) !important;min-height: 240px;}
#jobs_grid ul.list-unstyled li.media .media-body h3 a span{font-size: 18px;display: block;font-weight: 600;padding-bottom: 20px;}
#jobs_grid ul.list-unstyled li.media .media-body address{padding-bottom: 10px;}






#wrap.js_hr_recruitment section h1{font-size: 20px;font-weight: 600;padding: 15px 0;} 
#wrap.js_hr_recruitment section div.float-right a{border-radius: 25px;font-size: 14px;}
#wrap.js_hr_recruitment section h4 address div span{font-size: 14px;font-weight: 600;}
#wrap.js_hr_recruitment div section p.lead{font-size: 16px;}
#wrap.js_hr_recruitment section.o_tasks h5.fw_semibold {font-size: 18px;font-weight: 600;text-transform: capitalize !important;color: $-color-Primary;padding-bottom: 10px;position: relative;}
#wrap.js_hr_recruitment section.o_tasks h5.fw_semibold:before{content: '';position: absolute;bottom: 0;background: $-color-Primary;left: 0;width: 30px;height: 2px;}


#wrap.js_hr_recruitment section h3.display-4{font-size: 20px;font-weight: 600;margin-bottom: 15px;}
#wrap.js_hr_recruitment section h3.text-violet-dark{font-size: 20px;font-weight: 600;margin-bottom: 15px;}
#wrap.js_hr_recruitment section.o_job_bottom_bar a{border-radius: 25px;}


#wrap.js_hr_recruitment section h3.fw_light{font-size: 18px;font-weight: 600;text-transform: capitalize !important;color: #5967ef;padding-bottom: 10px;position: relative;}
#wrap.js_hr_recruitment section h3.fw_light:before{content: '';position: absolute;bottom: 0;background: $-color-Primary;left: 0;width: 30px;height: 2px;}
#wrap.js_hr_recruitment section .col-md-4 ul{padding: 0;padding-left: 15px;color: $-color-Primary;}


#wrap.js_hr_recruitment section.o_perk span{padding-bottom: 10px;}
#wrap.js_hr_recruitment section.o_perk h4{font-size: 18px;font-weight: 600;text-transform: capitalize !important;color: #5967ef;padding-bottom: 10px;position: relative;}
#wrap.js_hr_recruitment section.o_perk p{color: #777;}

#hr_recruitment_form .form-group a.o_website_form_send{border-radius: 25px;}
#hr_recruitment_form .form-group .offset-lg-3 {text-align: center;}


