//*{font-family: 'Titillium Web', sans-serif;}
/*-----top-bar---*/
$tp-primary:#2b47bd;
$tp-text:#fff;
/*-----top-bar---*/

/*-----header-bar---*/
$hd-primary:#fff;
$hd-text:#585b60;
$hd-primary-active:#3d60f4;
/*-----header-bar---*/

/*---coyright--*/
$cr-primary:#001529;
$cr-text:#fff;
/*---coyright--*/

/*---Language--*/
$sh_is_show_lang:False;
/*---Language--*/