<section class="oe_container oe_dark lead">
    <div class="oe_row oe_spaced">
         <h3 class="oe_slogan" style="color: black;"> Add WYSIWYG Editor in Website and Backend.</h3>
		</h3>
    </div>
   <div class="oe_row">
        <div class="oe_span12">
            <div class="panel panel-primary" id="wkid0">
                <div class="panel-heading" style="background-color: #3b5999;">
                    <center>
                    <h3 class="panel-title" style="font-size: 35px; color: white;">
                        <b>ERP Harbor Consulting Services</b>
                    </h3>
                    </center>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="oe_container oe_dark lead">
    <div class="oe_row">
        <div class="oe_span12">
            <div class="panel panel-primary" id="wkid2">
                
                <div class="panel-body">
                    <div class="alert alert-success"
                        style="padding: 8px; font-weight: 300; font-size: 20px; background-color: #3b5999;">
                        <i class="fa fa-cog" style="color: white;"></i> <b
                            style="color: white;">In Website :</b>
                    </div>
                    <p>
                        <img class="oe_picture oe_screenshot" src="one.png"
                            alt="ERP Harbor Consulting Services" width="850px" height="400px">
                    </p>
                    <p>
                        &nbsp;&nbsp;&nbsp;&nbsp; <i class="fa fa-check"></i>
                        Add summernote class in your Html tag and it shows WYSIWYG Editor in Website.
                    </p>
                    <p>&nbsp;</p>
                </div>
                
                <div class="panel-body">
                    <div class="alert alert-success"
                        style="padding: 8px; font-weight: 300; font-size: 20px; background-color: #3b5999;">
                        <i class="fa fa-cog" style="color: white;"></i> <b
                            style="color: white;"> In Backend :</b>
                    </div>
					<p>
                        <img class="oe_picture oe_screenshot" src="two.png"
                            alt="ERP Harbor Consulting Services" width="850px" height="400px">
                    </p>
					 <p>
                        &nbsp;&nbsp;&nbsp;&nbsp; <i class="fa fa-check"></i>
                        In your form view, add <b> widget="wysiwyg_html" </b> and it shows WYSIWYG Editor on form view with more features.
                    </p>
                    <p>&nbsp;</p>
				</div>
            </div>
        </div>
    </div>
</section>


<section class="s_call_to_action bg-200 pt48 pb24">
        <div class="container">
            <table
            style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;"
            width="100%" cellspacing="0" cellpadding="0" border="0">
            <tbody>
                <tr>
                    <td colspan="2"
                        style="font-size: 16px; color: #d74930; font-weight: bold; background-color: #3b5999;"
                        width="100%" align="center">
                        <center>
                            <a href="http://www.erpharbor.com/page/services" target="_blank"
                                style="color: white;">
                                <h2 style="margin-top: 10px; color: white;">
                                    <span  style="color: white;"><b>Our Odoo Services</b><span style="color: white;"></span></span>
                                </h2>
                            </a>
                        </center> 
                    </td>
                </tr>
            </tbody>
            <tbody>
                <tr>
                    <td colspan="2"
                        style="border: 10px solid transparent ">&nbsp;
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <table style="font-size: 13px; color: #697582; line-height: 25px;"
                            width="100%" cellspacing="0" cellpadding="0" border="0">
                            <tbody>
                                <tr>
                                    <td width="30%" > 
                                    <span style="color: #697582;"> 
                                        <a href="http://www.erpharbor.com/page/services"
                                            <i class="fa fa-graduation-cap"></i>
                                            <font size="3">Odoo Training</font>
                                            </a></span></td>

                                    <td width="30%" > 
                                    <span style="color: #697582;"> 
                                        <a href="http://www.erpharbor.com/page/services"
                                           <i class="fa fa-cogs"></i>
                                            <font size="3">Odoo
                                                Customization</font>
                                            </a></span></td>

                                    <td width="30%" > 
                                    <span style="color: #697582;"> 
                                        <a href="http://www.erpharbor.com/page/services"
                                           <i class="fa fa-refresh"></i>
                                            <font size="3">Odoo
                                                Migration</font>
                                            </a></span></td>
                                </tr>

                                <tr>
                                    <td width="30%" > 
                                    <span style="color: #697582;"> 
                                  <a href="http://www.erpharbor.com/page/services"
                                           <i class="fa fa-cog"></i>
                                            <font size="3">Odoo
                                                Integration</font>
                                            </a></span></td>

                                    <td width="30%"> 
                                    <span style="color: #697582;"> 
                                        <a href="http://www.erpharbor.com/page/services"
                                           <i class="fa fa-check"></i>
                                            <font size="3">Odoo
                                                Implementation</font>
                                            </a></span></td>
                                    
                                    <td width="30%"> 
                                    <span style="color: #697582;"> 
                                        <a href="http://www.erpharbor.com/page/services"
                                           <i class="fa fa-laptop"></i>
                                            <font size="3">Odoo
                                                Onsite/Offsite Developement</font>
                                         </a></span></td>                                                
                                </tr>

                                <tr>
                                    <td width="30%"> 
                                    <span style="color: #697582;"> 
                                        <a href="http://www.erpharbor.com/page/services"
                                           <i class="fa fa-users"></i>
                                            <font size="3">Odoo
                                                Consultancy</font>
                                            </a></span></td>                      
                                                
                                    <td width="30%"> 
                                    <span style="color: #697582;"> 
                                        <a href="http://www.erpharbor.com/page/services"
                                           <i class="fa fa-phone"></i>
                                            <font size="3">Odoo Support</font>
                                            </a></span></td>                      
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
        <br><br><br>
       
        <div class="container">
        <center>
            <div class="col-lg-9 pb24">
                <h2 class="o_default_snippet_text"><b class="o_default_snippet_text">Odoo Support Services</h2><p class="lead o_default_snippet_text">We are working towards make enterprise solutions available & easy for all small & medium organisations to grow them better with higher growth rate. We truly believe in Open Source culture so services we are providing, is only in open source products.</p></div>  
            </div>
        </center>
        </div>
       
       
        <center>
        <img class="oe_photo" src="logo.png"
                    alt="ERP Harbor Consulting Services" width="250px" height="90px"></center> <br>
        
        <center>
                        <a href="http://www.erpharbor.com/" target="_blank">
                            <i class="fa fa-1x fa-globe rounded shadow-sm"></i>
                        </a>&nbsp;
                        <a href="mailto:contact@erpharbor.com;" class="s_share_email">
                            <i class="fa fa-1x fa-envelope rounded shadow-sm"></i>
                        </a>&nbsp;
                        <a href="https://www.facebook.com/erpharborcs" class="s_share_facebook" target="_blank">
                            <i class="fa fa-1x fa-facebook rounded shadow-sm"></i>
                        </a>&nbsp;
                        <a href="https://twitter.com/ERPHarborCS" class="s_share_twitter" target="_blank">
                            <i class="fa fa-1x fa-twitter rounded shadow-sm"></i>
                        </a>&nbsp;
                        <a href="https://plus.google.com/+Odooapps" class="s_share_google" target="_blank">
                            <i class="fa fa-1x fa-google-plus rounded shadow-sm"></i>
                        </a>  &nbsp;    
        </center>
        <div class="text-center" itemscope="itemscope" itemtype="http://schema.org/Organization">
            <small>
                <span class="text-dark-blue" style="font-family:courier;">Copyright <i class="fa fa-copyright"/>  <span class="text-dark-green" itemprop="name">ERP Harbor Consulting Services</span><span class="text-dark-blue"> All Rights Reserved | <a href="http://www.erpharbor.com/page/privacy_policy"> Privacy Policy </a> </span></span>
            </small>
        </div>
</section>

